update.json
[{"id":"8d5a7804.52acf8","type":"tab","label":"Start","disabled":false,"info":""},{"id":"4d24a982.7bf068","type":"tab","label":"RPi Cam","disabled":false,"info":""},{"id":"9096e101.facd1","type":"tab","label":"External Cam","disabled":false,"info":""},{"id":"422031c2.453f9","type":"tab","label":"Smartphone","disabled":false,"info":""},{"id":"6fff9eb6.3efc2","type":"tab","label":"Settings","disabled":false,"info":""},{"id":"df305688.9bb948","type":"tab","label":"Update","disabled":false,"info":""},{"id":"f15aaf51.f4429","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"OpenScan Pi","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":6,"py":6}}},{"id":"c19e2c9e.f4b99","type":"ui_spacer","name":"spacer","group":"","order":8,"width":8,"height":1},{"id":"75afd9cb.6a3ed8","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"e49ddca1.744a","type":"ui_spacer","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"987b4012.f9a07","type":"ui_spacer","name":"spacer","group":"","order":5,"width":6,"height":1},{"id":"caea0d6c.4e75","type":"ui_spacer","name":"spacer","group":"","order":6,"width":1,"height":1},{"id":"3fadc6db.3997ea","type":"ui_spacer","name":"spacer","group":"","order":8,"width":1,"height":1},{"id":"f5864201.8e5ff","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"9c6a04ac.e760a8","type":"ui_spacer","name":"spacer","group":"","order":11,"width":1,"height":1},{"id":"bb5bfba5.b3b7b8","type":"ui_spacer","name":"spacer","group":"","order":11,"width":8,"height":1},{"id":"ffc3612c.3b02c","type":"ui_group","z":"","name":"Setup","tab":"661c6084.6c7d5","order":1,"disp":true,"width":8,"collapse":false},{"id":"d8365eb8.69ade","type":"ui_tab","z":"4d24a982.7bf068","name":"RPi Camera","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"661c6084.6c7d5","type":"ui_tab","z":"","name":"Smartphone","icon":"dashboard","order":4,"disabled":true,"hidden":false},{"id":"bed472d9.58f62","type":"ui_tab","z":"","name":"External Camera","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"f4e697fc.ee1608","type":"ui_tab","z":"","name":"Settings","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"8c6d898d.322588","type":"ui_group","z":"","name":"Position Setup","tab":"bed472d9.58f62","order":1,"disp":true,"width":"6","collapse":false},{"id":"ddd1a14a.d7351","type":"ui_group","z":"","name":"Settings","tab":"f4e697fc.ee1608","order":1,"disp":true,"width":"6","collapse":false},{"id":"79b73861.bb6048","type":"ui_spacer","name":"spacer","group":"","order":11,"width":8,"height":1},{"id":"aa12c1f4.a677e","type":"ui_group","z":"","name":"RPi Control","tab":"d8365eb8.69ade","order":1,"disp":true,"width":"6","collapse":false},{"id":"5d4ec914.9739e8","type":"ui_group","z":"","name":"Preview","tab":"d8365eb8.69ade","order":2,"disp":true,"width":12,"collapse":false},{"id":"15a4830f.a6167d","type":"ui_group","z":"","name":"Routine","tab":"d8365eb8.69ade","order":3,"disp":true,"width":"6","collapse":false},{"id":"1b24360b.f2e6da","type":"ui_spacer","name":"spacer","group":"ffc3612c.3b02c","order":8,"width":8,"height":1},{"id":"25d7a60d.1c651a","type":"ui_group","z":"","name":"Routine Settings","tab":"bed472d9.58f62","order":2,"disp":true,"width":"6","collapse":false},{"id":"a2b83ddb.6a2ee","type":"ui_group","z":"","name":"Camera Settings","tab":"bed472d9.58f62","order":3,"disp":true,"width":"6","collapse":false},{"id":"1ecaa9e9.4192e6","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"e58f9de6.10904","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"924edf62.f208d","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"1303ee2a.fd44f2","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"f2c6d19b.2d081","type":"ui_group","z":"","name":"Run","tab":"d8365eb8.69ade","order":4,"disp":true,"width":"6","collapse":false},{"id":"5d12f9cd.9c4a88","type":"ui_spacer","name":"spacer","group":"a2b83ddb.6a2ee","order":5,"width":6,"height":1},{"id":"35a0e31e.2cf06c","type":"ui_group","z":"","name":"Advanced Pin & Motor Settings","tab":"f4e697fc.ee1608","order":2,"disp":true,"width":"7","collapse":true},{"id":"b9933221.eac94","type":"ui_group","z":"","name":"Advanced Camera Parameters","tab":"f4e697fc.ee1608","order":3,"disp":true,"width":7,"collapse":true},{"id":"6bdd5033.f67e","type":"ui_group","z":"","name":"Node Red Update","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"88a2f658.ac2378","type":"ui_spacer","name":"spacer","group":"6bdd5033.f67e","order":3,"width":6,"height":1},{"id":"8abef8eb.32fed8","type":"ui_tab","z":"","name":"Start","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f7451b10.d6c048","type":"ui_group","z":"","name":"Start","tab":"8abef8eb.32fed8","order":2,"disp":false,"width":"6","collapse":false},{"id":"d25e08b4.5b27e8","type":"ui_tab","z":"","name":"Update & Info","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"ddbd496e.93a288","type":"ui_group","z":"","name":"Manage Updates","tab":"d25e08b4.5b27e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"42638d7.8e22174","type":"ui_spacer","name":"spacer","group":"ddd1a14a.d7351","order":3,"width":6,"height":1},{"id":"18543834.7679b8","type":"ui_spacer","name":"spacer","group":"ddd1a14a.d7351","order":6,"width":6,"height":1},{"id":"d9b53d8b.b4b16","type":"ui_spacer","name":"spacer","group":"ddd1a14a.d7351","order":8,"width":6,"height":1},{"id":"64e52a0.3fc2ad8","type":"ui_spacer","name":"spacer","group":"35a0e31e.2cf06c","order":2,"width":7,"height":1},{"id":"2e32db2c.754964","type":"ui_spacer","name":"spacer","group":"35a0e31e.2cf06c","order":11,"width":7,"height":1},{"id":"2d79d00a.dd214","type":"ui_spacer","name":"spacer","group":"b9933221.eac94","order":2,"width":7,"height":1},{"id":"3ce32450.e0cffc","type":"ui_group","z":"","name":"Changelog","tab":"d25e08b4.5b27e8","order":2,"disp":true,"width":6,"collapse":false},{"id":"ceb0b5fe.bdd2f8","type":"ui_group","z":"","name":"Background","tab":"8abef8eb.32fed8","order":3,"disp":false,"width":"1","collapse":false},{"id":"9528bd7.2dc5e4","type":"ui_group","z":"","name":"Background2","tab":"8abef8eb.32fed8","order":1,"disp":false,"width":"1","collapse":false},{"id":"191e6406.b089ec","type":"ui_group","z":"","name":"User Manual","tab":"d25e08b4.5b27e8","order":3,"disp":true,"width":"6","collapse":false},{"id":"bc3ab5bf.1268a8","type":"ui_spacer","name":"spacer","group":"aa12c1f4.a677e","order":7,"width":6,"height":1},{"id":"7ec3c3e3.bc1a4c","type":"ui_spacer","name":"spacer","group":"aa12c1f4.a677e","order":10,"width":6,"height":1},{"id":"e4f01e4c.2d22c","type":"ui_spacer","name":"spacer","group":"aa12c1f4.a677e","order":17,"width":6,"height":1},{"id":"58b17710.abacc8","type":"ui_spacer","name":"spacer","group":"191e6406.b089ec","order":3,"width":6,"height":1},{"id":"aa080c64.185f","type":"inject","z":"4d24a982.7bf068","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":73.00003051757812,"y":130.98959732055664,"wires":[["89b42406.891e78","f7a041a8.41502","a63925b0.b4c528","dd02e867.71f428","e10fd5cb.9bf6d8","e4ac8ab4.79c888","4bf7c649.c221f8","44c05737.97e0f8","ad447022.41698","53df6b4b.dc18e4"]]},{"id":"89b42406.891e78","type":"file in","z":"4d24a982.7bf068","name":"","filename":"/home/pi/shared/log/fotosperrotation.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":422.0000228881836,"y":224.98959040641785,"wires":[["758507f7.5e8be8"]]},{"id":"f7a041a8.41502","type":"file in","z":"4d24a982.7bf068","name":"","filename":"/home/pi/shared/log/verticalpositions.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":421.0000343322754,"y":276.9895839691162,"wires":[["9eb0e95b.e41148"]]},{"id":"a63925b0.b4c528","type":"file in","z":"4d24a982.7bf068","name":"","filename":"/home/pi/shared/log/startdeflection.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":411.0000457763672,"y":325.98960304260254,"wires":[["aa678c32.f8281"]]},{"id":"dd02e867.71f428","type":"file in","z":"4d24a982.7bf068","name":"","filename":"/home/pi/shared/log/camerabrightness.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":419.0000534057617,"y":373.989595413208,"wires":[["55751e65.01d96"]]},{"id":"f1cc2290.f1d05","type":"ui_button","z":"4d24a982.7bf068","name":"","group":"f2c6d19b.2d081","order":1,"width":0,"height":0,"passthru":true,"label":"Start Routine","tooltip":"","color":"","bgcolor":"","icon":"","payload":"starten","payloadType":"str","topic":"","x":573.0000286102295,"y":907.9902210235596,"wires":[["7f765dba.d95494"]]},{"id":"46ed09a7.f58668","type":"ui_button","z":"4d24a982.7bf068","name":"","group":"aa12c1f4.a677e","order":18,"width":6,"height":1,"passthru":false,"label":"Update Preview","tooltip":"press to show the effect of changed settings (takes one second to load)","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":107.00007247924805,"y":791.9903116226196,"wires":[["46879cf8.389c94"]]},{"id":"92aec26a.04d37","type":"ui_text","z":"4d24a982.7bf068","group":"aa12c1f4.a677e","order":11,"width":6,"height":1,"name":"","label":"Camera Brightness","format":"{{msg.payload}}","layout":"row-spread","x":1158.0000457763672,"y":373.989595413208,"wires":[]},{"id":"8c6a2d7e.99b41","type":"ui_button","z":"4d24a982.7bf068","name":"","group":"aa12c1f4.a677e","order":5,"width":2,"height":1,"passthru":false,"label":"⇐","tooltip":"","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"","x":610,"y":1060,"wires":[["90947eaa.b984c"]]},{"id":"95ba983a.a98368","type":"ui_button","z":"4d24a982.7bf068","name":"","group":"aa12c1f4.a677e","order":6,"width":2,"height":1,"passthru":false,"label":"⇒","tooltip":"","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"","x":610,"y":1100,"wires":[["cb95c656.48e408"]]},{"id":"6bce18e4.d174b8","type":"ui_button","z":"4d24a982.7bf068","name":"","group":"aa12c1f4.a677e","order":2,"width":2,"height":1,"passthru":false,"label":"⇑","tooltip":"","color":"","bgcolor":"","icon":"","payload":"500","payloadType":"num","topic":"","x":70,"y":1060,"wires":[["30b6f89b.4cffc8"]]},{"id":"68cefd2e.0b36a4","type":"ui_button","z":"4d24a982.7bf068","name":"","group":"aa12c1f4.a677e","order":3,"width":2,"height":1,"passthru":false,"label":"⇓","tooltip":"","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"","x":70,"y":1100,"wires":[["f99d6718.6a72f8"]]},{"id":"463fcc8b.3811e4","type":"ui_text","z":"4d24a982.7bf068","group":"aa12c1f4.a677e","order":4,"width":2,"height":1,"name":"","label":"Turntable","format":"{{\"\"}}","layout":"row-center","x":600,"y":1020,"wires":[]},{"id":"46c3c6d1.1efc68","type":"ui_text","z":"4d24a982.7bf068","group":"aa12c1f4.a677e","order":1,"width":2,"height":1,"name":"","label":"Rotor","format":"{{\"\"}}","layout":"row-center","x":70,"y":1020,"wires":[]},{"id":"a160f743.9899e8","type":"python3-function","z":"4d24a982.7bf068","name":"TT left","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"r\") as file:\n    state=file.read()\nif state!=\"--READY--\":\n    return\n\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/36\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n","outputs":1,"x":870,"y":1060,"wires":[["8d749c82.24383"]]},{"id":"46165b44.241bf4","type":"python3-function","z":"4d24a982.7bf068","name":"TT right","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"r\") as file:\n    state=file.read()\nif state!=\"--READY--\":\n    return\n\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/36\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n","outputs":1,"x":880,"y":1100,"wires":[["8d749c82.24383"]]},{"id":"fe819a33.f00998","type":"python3-function","z":"4d24a982.7bf068","name":"Rotor left","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"r\") as file:\n    state=file.read()\nif state!=\"--READY--\":\n    return\n    \nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/72\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg","outputs":1,"x":340,"y":1060,"wires":[["3be07558.7914ba"]]},{"id":"5cdbf3c9.3c019c","type":"python3-function","z":"4d24a982.7bf068","name":"Rotor right","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"r\") as file:\n    state=file.read()\nif state!=\"--READY--\":\n    return\n\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/72\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg","outputs":1,"x":350,"y":1100,"wires":[["3be07558.7914ba"]]},{"id":"7f765dba.d95494","type":"python3-function","z":"4d24a982.7bf068","name":"Run Routine","func":"import RPi.GPIO as GPIO\nimport time\nimport picamera\nfrom time import sleep\n# Zip-packer\nimport os\nimport shutil\nfrom os import path\nfrom zipfile import ZipFile\nfrom os import path\nfrom shutil import make_archive\nfrom PIL import Image\n\nwith open(\"/home/pi/shared/log/picamera_activation.log\", \"r\") as file:\n    picameraactivation=file.read()\nif picameraactivation==\"false\":\n    with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n        file.write(\"RPi Cam disabled\")\n    return msg\nwith open(\"/home/pi/shared/log/zoom.log\", \"r\") as file:\n    zoomfactor=file.read()\nzoomx=0.5-0.5/float(zoomfactor)    \nzoomy=zoomx\nzoomw=1/float(zoomfactor)\nzoomh=zoomw\nzoom=(zoomx, zoomy, zoomw, zoomh)\n\n\n#routine settings\nwith open(\"/home/pi/shared/log/fotosperrotation.log\", \"r\") as file:\n    fotosperrotation=int(file.read())\nwith open(\"/home/pi/shared/log/startdeflection.log\", \"r\") as file:\n    startdeflection=int(file.read())\nwith open(\"/home/pi/shared/log/verticalpositions.log\", \"r\") as file:\n    verticalpositions=int(file.read())\nwith open(\"/home/pi/shared/log/projectname.log\", \"r\") as file:\n    projectname=file.read()\n\n# cam settings\nwith open(\"/home/pi/shared/log/camera_resolution_x.log\", \"r\") as file:\n    resx=int(file.read())\nwith open(\"/home/pi/shared/log/camera_resolution_y.log\", \"r\") as file:\n    resy=int(file.read())\n\n\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    dirpinrotor=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    steppinrotor=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"r\") as file:\n    dirpintt=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"r\") as file:\n    steppintt=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    rotorspr=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"r\") as file:\n    ttspr=int(file.read())  \nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delayrotor=float(file.read())\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"r\") as file:\n    delaytt=float(file.read())    \n\n\n\n#dirpintt = 9  \n#steppintt = 11  \n#dirpinrotor = 5\n#steppinrotor = 6\n\nstartangle = rotorspr/360*startdeflection\nprojectcode =time.strftime(\"20%y-%m-%d %H.%M.%S - \")+projectname+'/'\ndirname='./shared/'+projectcode\nos.makedirs(dirname)  \n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(3, GPIO.OUT)\n\ndef ttrun(step_count):\n    GPIO.setup(dirpintt, GPIO.OUT)\n    GPIO.setup(steppintt, GPIO.OUT)\n    if (step_count>0):\n        GPIO.output(dirpintt, GPIO.HIGH)\n    if(step_count<0):\n        GPIO.output(dirpintt, GPIO.LOW)\n        step_count=-step_count\n    for x in range(step_count):\n        GPIO.output(steppintt, GPIO.HIGH)\n        sleep(delaytt)\n        GPIO.output(steppintt, GPIO.LOW)\n        sleep(delaytt)\n\ndef rotorrun(step_count):\n    GPIO.setup(dirpinrotor, GPIO.OUT)\n    GPIO.setup(steppinrotor, GPIO.OUT)\n    if (step_count>0):\n        GPIO.output(dirpinrotor, GPIO.HIGH)\n    if(step_count<0):\n        GPIO.output(dirpinrotor, GPIO.LOW)\n        step_count=-step_count\n    for x in range(step_count):\n        GPIO.output(steppinrotor, GPIO.HIGH)\n        sleep(delayrotor)\n        GPIO.output(steppinrotor, GPIO.LOW)\n        sleep(delayrotor)\n\ndef updatepreview():\n    with open(\"/home/pi/shared/log/updatepreview.log\", \"w\") as file:\n        file.write(time.strftime(\"20%y-%m-%d_%H-%M-%S\"))\n\ndef stoptest():\n    with open(\"/home/pi/shared/log/stopstate.log\", \"r\") as file:\n        if (file.read()!=\"stop\"):\n            return\n\n    with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n        file.write(\"creating zip file & stopping\")\n    shutil.make_archive('shared/ui/'+projectcode, 'zip', dirname+'/')\n    shutil.rmtree(dirname)\n\n    with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n        file.write(\"--READY--\")\n    with open(\"/home/pi/shared/log/stopstate.log\", \"w\") as file:\n        file.write(\"ready\")\n    end()     \n    # producing an error to stop the routine as exit() does not work\n    # need to find a better solution ;)\n\ndef takephoto():\n    stoptest()\n    with picamera.PiCamera() as camera:\n        with open(\"/home/pi/shared/log/cameracontrast.log\", \"r\") as file:\n            cameracontrast=int(file.read())\n        with open(\"/home/pi/shared/log/camerabrightness.log\", \"r\") as file:\n            camerabrightness=int(file.read())\n        camera.iso = 100\n        camera.brightness = camerabrightness\n        camera.contrast = cameracontrast\n        camera.resolution=(resx, resy)\n        camera.exposure_compensation = 0 \n        timestamp= time.strftime(\"20%y-%m-%d_%H-%M-%S\")\n        filepath = dirname+'/'+ timestamp + \".jpg\"\n        sleep(0.7)\n        camera.awb_mode = 'auto'\n        camera.exposure_mode = 'off'\n        camera.zoom=zoom\n        camera.capture(filepath, quality=100)\n        img = Image.open(filepath)\n        img = img.resize((600, 450))\n        img.save('./shared/ui/data/preview.jpg')\n        #sleep()\n        pass\n    updatepreview()\n\ndef turntablerotation():\n    for x in range (fotosperrotation):\n        with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n            file.write(\"Position: \"+str(vertpos)+\"/\"+str(verticalpositions)+\" Foto: \"+str(x+1)+\"/\"+str(fotosperrotation))\n        ttrun(ttspr/fotosperrotation)\n        takephoto()\n\nrotorrun(-startangle)\nfor x in range (verticalpositions-1):\n    vertpos = x+1\n    turntablerotation()\n    if (verticalpositions>1):\n        rotorrun(2*startangle/(verticalpositions-1))\nif (verticalpositions==1):\n    startangle=-startangle\nvertpos=verticalpositions\nturntablerotation()\nrotorrun(-startangle)\n\nwith open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n    file.write(\"creating zip file\")\nshutil.make_archive('shared/ui/'+projectcode, 'zip', dirname+'/')\nshutil.rmtree(dirname)\n\nwith open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n    file.write(\"--READY--\")\nreturn msg","outputs":1,"x":769.0000915527344,"y":907.9903678894043,"wires":[[]]},{"id":"55751e65.01d96","type":"ui_slider","z":"4d24a982.7bf068","name":"","label":" ","tooltip":"","group":"aa12c1f4.a677e","order":12,"width":6,"height":1,"passthru":true,"outs":"all","topic":"","min":"0","max":"100","step":1,"x":651.0000534057617,"y":373.989595413208,"wires":[["47222168.1202f","cbf16c9b.cb7f7"]]},{"id":"47222168.1202f","type":"file","z":"4d24a982.7bf068","name":"","filename":"/home/pi/shared/log/camerabrightness.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":882.0000305175781,"y":373.98959732055664,"wires":[["92aec26a.04d37"]]},{"id":"aa678c32.f8281","type":"ui_slider","z":"4d24a982.7bf068","name":"","label":"","tooltip":"set start deflection angle","group":"15a4830f.a6167d","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"0","max":"90","step":1,"x":651.0000457763672,"y":325.98960304260254,"wires":[["5d50b063.f2852"]]},{"id":"b9a906ef.6cc2f8","type":"ui_text","z":"4d24a982.7bf068","group":"15a4830f.a6167d","order":2,"width":0,"height":0,"name":"","label":"Start Deflection:","format":"{{msg.payload}}","layout":"row-spread","x":978,"y":325.9895935058594,"wires":[]},{"id":"9eb0e95b.e41148","type":"ui_slider","z":"4d24a982.7bf068","name":"","label":" ","tooltip":"set the number of vertical positions","group":"15a4830f.a6167d","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"1","max":"20","step":1,"x":651.0000343322754,"y":276.9895839691162,"wires":[["66ed42e5.a37fec"]]},{"id":"66ed42e5.a37fec","type":"file","z":"4d24a982.7bf068","name":"","filename":"/home/pi/shared/log/verticalpositions.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":883.0000305175781,"y":276.98958587646484,"wires":[["e8020a20.d7b948"]]},{"id":"e8020a20.d7b948","type":"ui_text","z":"4d24a982.7bf068","group":"15a4830f.a6167d","order":4,"width":0,"height":0,"name":"","label":"Vertical Positions:","format":"{{msg.payload}}","layout":"row-spread","x":1158.0000610351562,"y":276.9895706176758,"wires":[]},{"id":"758507f7.5e8be8","type":"ui_slider","z":"4d24a982.7bf068","name":"","label":"","tooltip":" set the number of photos per turntable rotation","group":"15a4830f.a6167d","order":7,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"1","max":"60","step":1,"x":651.0000343322754,"y":224.9895839691162,"wires":[["9ca3a0e2.cba84"]]},{"id":"9812f40b.935b08","type":"ui_text","z":"4d24a982.7bf068","group":"15a4830f.a6167d","order":6,"width":0,"height":0,"name":"","label":"Photos per Rotation:","format":"{{msg.payload}}","layout":"row-spread","x":1158.0000190734863,"y":224.98959350585938,"wires":[]},{"id":"9ca3a0e2.cba84","type":"file","z":"4d24a982.7bf068","name":"","filename":"/home/pi/shared/log/fotosperrotation.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":884,"y":224.98959255218506,"wires":[["9812f40b.935b08"]]},{"id":"e10fd5cb.9bf6d8","type":"function","z":"4d24a982.7bf068","name":"Reset Project Name","func":"msg.payload=\"default\"\nreturn msg;","outputs":1,"noerr":0,"x":364.0000457763672,"y":177.98959159851074,"wires":[["7b3f260d.ab9c68","26130dba.a0a212"]]},{"id":"7b3f260d.ab9c68","type":"ui_text_input","z":"4d24a982.7bf068","name":"","label":"Project Name","tooltip":"enter project name + press enter","group":"15a4830f.a6167d","order":1,"width":6,"height":1,"passthru":true,"mode":"text","delay":"300","topic":"","x":682.0000534057617,"y":176.9895896911621,"wires":[["26130dba.a0a212"]]},{"id":"26130dba.a0a212","type":"file","z":"4d24a982.7bf068","name":"","filename":"/home/pi/shared/log/projectname.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":928.999885559082,"y":175.98961448669434,"wires":[[]]},{"id":"99e1f05d.05a8a","type":"function","z":"4d24a982.7bf068","name":"timestamp pic file","func":"var d = new Date();\nvar n = d.getTime();\nmsg.payload = \"/ui/data/preview.jpg?ts=\" + n;\nreturn msg;","outputs":1,"noerr":0,"x":824.5058212280273,"y":791.0983123779297,"wires":[["ec4e7671.e2b8f8"]]},{"id":"ec4e7671.e2b8f8","type":"ui_template","z":"4d24a982.7bf068","group":"5d4ec914.9739e8","name":"preview","order":1,"width":12,"height":9,"format":"<div style=\"height:100%\" >\n<img ng-src= {{msg.payload}} </img>\n<a src=\"/data/preview.jpg\" </a>\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1018.3211784362793,"y":790.8141241073608,"wires":[[]]},{"id":"39f94499.73f76c","type":"python3-function","z":"4d24a982.7bf068","name":"Take Preview Shot","func":"import time\nimport picamera\nfrom time import sleep\n\nwith open(\"/home/pi/shared/log/picamera_activation.log\", \"r\") as file:\n    picameraactivation=file.read()\nif picameraactivation==\"false\":\n    with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n        file.write(\"RPi Cam disabled\")\n    return\n\nwith open(\"/home/pi/shared/log/zoom.log\", \"r\") as file:\n    zoomfactor=file.read()\nzoomx=0.5-0.5/float(zoomfactor)    \nzoomy=zoomx\nzoomw=1/float(zoomfactor)\nzoomh=zoomw\nzoom=(zoomx, zoomy, zoomw, zoomh)\n\n\nwith open(\"/home/pi/shared/log/camera_resolution_x.log\", \"r\") as file:\n    resx=int(file.read())\nwith open(\"/home/pi/shared/log/camera_resolution_y.log\", \"r\") as file:\n    resy=int(file.read())\nwith open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"r\") as file:\n    currentstatus=file.read()\n\nif currentstatus == \"--READY--\":\n    with picamera.PiCamera() as camera:\n        with open(\"/home/pi/shared/log/cameracontrast.log\", \"r\") as file:\n            cameracontrast=int(file.read())\n        with open(\"/home/pi/shared/log/camerabrightness.log\", \"r\") as file:\n            camerabrightness=int(file.read())\n        camera.iso = 100\n        camera.brightness = camerabrightness\n        camera.contrast = cameracontrast\n        camera.resolution=(resx, resy)\n        camera.exposure_compensation = 0 \n        sleep(0.4)\n        camera.awb_mode = 'auto'\n        camera.exposure_mode = 'off'\n        camera.zoom=zoom\n        camera.capture(\"./shared/ui/data/preview.jpg\",quality=100 ,resize=(600,450))\n        pass\n    return msg\nreturn","outputs":1,"x":597.0001525878906,"y":791.9902954101562,"wires":[["99e1f05d.05a8a"]]},{"id":"e4ac8ab4.79c888","type":"file in","z":"4d24a982.7bf068","name":"","filename":"/home/pi/shared/log/cameracontrast.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":420.01741790771484,"y":420.9999990463257,"wires":[["d36ee637.1d2b88"]]},{"id":"8768b6c.49f1748","type":"ui_text","z":"4d24a982.7bf068","group":"aa12c1f4.a677e","order":13,"width":6,"height":1,"name":"","label":"Camera Contrast","format":"{{msg.payload}}","layout":"row-spread","x":1158.0173377990723,"y":421.0000343322754,"wires":[]},{"id":"d36ee637.1d2b88","type":"ui_slider","z":"4d24a982.7bf068","name":"contrast","label":" ","tooltip":"","group":"aa12c1f4.a677e","order":14,"width":6,"height":1,"passthru":true,"outs":"all","topic":"","min":"-100","max":"100","step":"5","x":660.0174179077148,"y":420.9999990463257,"wires":[["74533ecf.46d6e","cbf16c9b.cb7f7"]]},{"id":"74533ecf.46d6e","type":"file","z":"4d24a982.7bf068","name":"","filename":"/home/pi/shared/log/cameracontrast.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":881.0174179077148,"y":420.9999952316284,"wires":[["8768b6c.49f1748"]]},{"id":"16998880.cfce58","type":"comment","z":"4d24a982.7bf068","name":"System","info":"","x":55,"y":3159.9936332702637,"wires":[]},{"id":"438ea820.0c8c48","type":"ui_template","z":"4d24a982.7bf068","group":"f2c6d19b.2d081","name":"Display File List","order":4,"width":6,"height":6,"format":"<script>\n \nthis.scope.action = function(opt) {\n var playFile = opt || \"no data passed to function\";\n// console.warn(playFile)\n return playFile; } \n</script>\n\n\n<div style=\"max-width:500px;\">\n <ul>\n <li ng-repeat=\"file in msg.files track by $index\" style=\"list-style-type: none;\">\n <label>\n <input type=\"radio\" ng-model=\"$parent.file\" name=\"data\" value=\"{{file}}\" required />{{file}}\n </label>\n </li>\n </ul>\n\n<md-button  style=\"width:100%; height:53px;\"  target=\"_blank\" ng-href=\"/ui/{{file}}\">\n <div class=\"center\" style=\"position: relative;\n    top: 30%;\">\n  Download File\n</div></md-button>\n\n</div>\n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":400,"y":1340,"wires":[["dbbdc72e.df0438"]]},{"id":"dbbdc72e.df0438","type":"fs-ops-dir","z":"4d24a982.7bf068","name":"/media/pi/","path":"path","pathType":"msg","filter":"*","filterType":"str","dir":"files","dirType":"msg","x":400,"y":1300,"wires":[["438ea820.0c8c48"]]},{"id":"ad49f2f3.87a59","type":"function","z":"4d24a982.7bf068","name":"","func":"msg.path = \"shared/ui\"\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":1300,"wires":[["dbbdc72e.df0438"]]},{"id":"b4885f84.f13d","type":"ui_switch","z":"4d24a982.7bf068","name":"","label":"Ringlight  (2)","tooltip":"","group":"aa12c1f4.a677e","order":9,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":490,"y":1220,"wires":[["50298899.41b198"]]},{"id":"d8833389.137a5","type":"python3-function","z":"4d24a982.7bf068","name":"Ringlight on/off","func":"from time import sleep\nimport RPi.GPIO as GPIO\n\nwith open(\"/home/pi/shared/log/pin_ringlight2.log\", \"r\") as file:\n    ringlightpin=int(file.read())\nwith open(\"/home/pi/shared/log/ringlightstatus2.log\", \"r\") as file:\n    state=file.read()\n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(ringlightpin, GPIO.OUT)\n\nif state == \"on\":\n    GPIO.output(ringlightpin, GPIO.HIGH)\nif state == \"off\":\n    GPIO.output(ringlightpin, GPIO.LOW)\n\nmsg['payload']=state\n\nreturn msg","outputs":1,"x":320,"y":1220,"wires":[["b4885f84.f13d"]]},{"id":"4bf7c649.c221f8","type":"python3-function","z":"4d24a982.7bf068","name":"blink + update preview","func":"from time import sleep\nimport RPi.GPIO as GPIO\n\nringlightpin = 17\nsleeptime = 0.05\n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(ringlightpin, GPIO.OUT)\n\nfor x in range(20):\n    GPIO.output(ringlightpin, GPIO.HIGH)\n    sleep(sleeptime)\n    GPIO.output(ringlightpin, GPIO.LOW)\n    sleep(sleeptime)\n\nreturn msg","outputs":1,"x":359.0174026489258,"y":465.1111946105957,"wires":[["cbf16c9b.cb7f7"]]},{"id":"8d441dd8.c95f8","type":"function","z":"4d24a982.7bf068","name":"Autoupdate on?","func":"if (global.get(\"autoupdate\") == \"on\"){\n    return msg\n}","outputs":1,"noerr":0,"x":342.00012969970703,"y":614.9897565841675,"wires":[["7427b232.c31cec"]]},{"id":"46879cf8.389c94","type":"delay","z":"4d24a982.7bf068","name":"","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":346.9999885559082,"y":791.9906053543091,"wires":[["39f94499.73f76c"]]},{"id":"44c05737.97e0f8","type":"exec","z":"4d24a982.7bf068","command":"sudo rm -rf -d /home/pi/shared/ui/preview.jpg","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":432.0000686645508,"y":132.48960494995117,"wires":[[],[],[]]},{"id":"ef7c02f9.25c28","type":"ui_switch","z":"4d24a982.7bf068","name":"","label":"Ringlight (1)","tooltip":"","group":"aa12c1f4.a677e","order":8,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":490,"y":1160,"wires":[["930cb5f2.f16388"]]},{"id":"838c098f.a6ef38","type":"inject","z":"4d24a982.7bf068","name":"repeat 1","topic":"Repeater","payload":"0.2","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"3","x":80,"y":1300,"wires":[["ad49f2f3.87a59"]]},{"id":"fe2ccc09.bf9ac","type":"python3-function","z":"4d24a982.7bf068","name":"Ringlight on/off","func":"from time import sleep\nimport RPi.GPIO as GPIO\n\nwith open(\"/home/pi/shared/log/pin_ringlight1.log\", \"r\") as file:\n    ringlightpin=int(file.read())\nwith open(\"/home/pi/shared/log/ringlightstatus1.log\", \"r\") as file:\n    state=file.read()\n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(ringlightpin, GPIO.OUT)\n\nif state == \"on\":\n    GPIO.output(ringlightpin, GPIO.HIGH)\nif state == \"off\":\n    GPIO.output(ringlightpin, GPIO.LOW)\n\nmsg['payload']=state\n\nreturn msg","outputs":1,"x":320,"y":1160,"wires":[["ef7c02f9.25c28"]]},{"id":"b613044c.b6ad58","type":"file in","z":"4d24a982.7bf068","name":"","filename":"/home/pi/shared/log/currentstatus_rpi.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":422.00001525878906,"y":657.9895448684692,"wires":[["f6eacedf.51649"]]},{"id":"f6eacedf.51649","type":"ui_text","z":"4d24a982.7bf068","group":"f2c6d19b.2d081","order":3,"width":0,"height":0,"name":"","label":"Current Status:","format":"{{msg.payload}}","layout":"row-spread","x":691.9999752044678,"y":657.9897985458374,"wires":[]},{"id":"2f5da1ab.679a6e","type":"inject","z":"4d24a982.7bf068","name":"","topic":"Repeater","payload":"0.5","payloadType":"str","repeat":"0.5","crontab":"","once":true,"onceDelay":"1","x":111.0000228881836,"y":614.9901962280273,"wires":[["b613044c.b6ad58","8d441dd8.c95f8","469848e0.bd2bd8"]]},{"id":"469848e0.bd2bd8","type":"file in","z":"4d24a982.7bf068","name":"","filename":"/home/pi/shared/log/updatepreview.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":411.01734161376953,"y":703.4448690414429,"wires":[["2ff71092.3dcb3"]]},{"id":"2ff71092.3dcb3","type":"function","z":"4d24a982.7bf068","name":"check preview mod","func":"if (msg.payload!=global.get(\"updatepreview\")){\n    return msg\n}\n","outputs":1,"noerr":0,"x":683.017333984375,"y":703.5557498931885,"wires":[["99e1f05d.05a8a","b0060bc4.ed8a78"]]},{"id":"846e506f.57c89","type":"ui_button","z":"4d24a982.7bf068","name":"","group":"f2c6d19b.2d081","order":2,"width":0,"height":0,"passthru":true,"label":"Stop Routine","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":98.01734924316406,"y":908.7783336639404,"wires":[["36bd607d.5c908"]]},{"id":"ea6345e6.047328","type":"link in","z":"4d24a982.7bf068","name":"Update Preview","links":["31d8912f.272b4e","6a935848.afa4d8","1ff265b8.a969fa","7c3dc728.5faa18","443b220.ef9a7e","7427b232.c31cec","8d749c82.24383","3be07558.7914ba","e99f482d.e65938","f5ee2b34.38c468","95ea4807.0665c8","cbf16c9b.cb7f7","298a2e98.e2ed42","a914a6e4.047c58","4bafeaee.da8274","cdc6c714.a50768"],"x":215,"y":840,"wires":[["46879cf8.389c94"]]},{"id":"7427b232.c31cec","type":"link out","z":"4d24a982.7bf068","name":"","links":["ea6345e6.047328"],"x":475.0174684524536,"y":614.6669492721558,"wires":[]},{"id":"8d749c82.24383","type":"link out","z":"4d24a982.7bf068","name":"","links":["ea6345e6.047328","cbe4bd92.d30af"],"x":975,"y":1080,"wires":[]},{"id":"3be07558.7914ba","type":"link out","z":"4d24a982.7bf068","name":"","links":["ea6345e6.047328","cbe4bd92.d30af"],"x":455,"y":1080,"wires":[]},{"id":"930cb5f2.f16388","type":"python3-function","z":"4d24a982.7bf068","name":"Ringlight on/off","func":"\nwith open(\"/home/pi/shared/log/ringlightstatus1.log\", \"r\") as file:\n    oldstate=file.read()\nnewstate =msg['payload']\n\nif newstate!=oldstate:\n    with open(\"/home/pi/shared/log/ringlightstatus1.log\", \"w\") as file:\n        file.write(newstate)\n    return msg\n","outputs":1,"x":660,"y":1160,"wires":[["f5ee2b34.38c468","fe2ccc09.bf9ac"]]},{"id":"50298899.41b198","type":"python3-function","z":"4d24a982.7bf068","name":"Ringlight on/off","func":"\nwith open(\"/home/pi/shared/log/ringlightstatus2.log\", \"r\") as file:\n    oldstate=file.read()\nnewstate =msg['payload']\n\nif newstate!=oldstate:\n    with open(\"/home/pi/shared/log/ringlightstatus2.log\", \"w\") as file:\n        file.write(newstate)\n    return msg\n","outputs":1,"x":660,"y":1220,"wires":[["f5ee2b34.38c468","d8833389.137a5"]]},{"id":"ad447022.41698","type":"python3-function","z":"4d24a982.7bf068","name":"set initial variables","func":"with open(\"/home/pi/shared/log/stopstate.log\", \"w\") as file:\n    file.write(\"run\")\nwith open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n    file.write(\"--READY--\")\nwith open(\"/home/pi/shared/log/updatepreview.log\", \"w\") as file:\n    file.write(\"start\")\nwith open(\"/home/pi/shared/log/ringlightstatus1.log\", \"w\") as file:\n    file.write(\"off\")\nwith open(\"/home/pi/shared/log/ringlightstatus2.log\", \"w\") as file:\n    file.write(\"off\")\n","outputs":1,"x":344.01399993896484,"y":514.1215858459473,"wires":[[]]},{"id":"36bd607d.5c908","type":"python3-function","z":"4d24a982.7bf068","name":"set stop state variables","func":"with open(\"/home/pi/shared/log/stopstate.log\", \"w\") as file:\n    file.write(\"stop\")\nwith open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n    file.write(\"--stopping--\")","outputs":1,"x":320.0174026489258,"y":908.8890519142151,"wires":[[]]},{"id":"f5ee2b34.38c468","type":"link out","z":"4d24a982.7bf068","name":"","links":["ea6345e6.047328","cbe4bd92.d30af"],"x":815,"y":1220,"wires":[]},{"id":"b0060bc4.ed8a78","type":"change","z":"4d24a982.7bf068","name":"","rules":[{"t":"set","p":"updatepreview","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":953.0139236450195,"y":704.236231803894,"wires":[[]]},{"id":"cbf16c9b.cb7f7","type":"link out","z":"4d24a982.7bf068","name":"","links":["ea6345e6.047328","cbe4bd92.d30af"],"x":755,"y":460,"wires":[]},{"id":"3c31fe48.03eeb2","type":"exec","z":"6fff9eb6.3efc2","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":497.9630699157715,"y":85.01041507720947,"wires":[[],[],[]]},{"id":"32bd88f0.7d1838","type":"exec","z":"6fff9eb6.3efc2","command":"sudo shutdown -h now","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":527.9630470275879,"y":173.01041889190674,"wires":[[],[],[]]},{"id":"633d82dc.00a8ec","type":"ui_button","z":"6fff9eb6.3efc2","name":"","group":"ddd1a14a.d7351","order":5,"width":6,"height":1,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":76.96307754516602,"y":85.01052474975586,"wires":[["4dcdb482.ed48cc","d166c44e.c867d8"]]},{"id":"667f3070.97a5d","type":"ui_button","z":"6fff9eb6.3efc2","name":"","group":"ddd1a14a.d7351","order":4,"width":6,"height":1,"passthru":false,"label":"Shutdown","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":79.96308135986328,"y":173.01030158996582,"wires":[["62458b17.346244","d166c44e.c867d8"]]},{"id":"6480d78d.6ac6e8","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/ssh.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":754.9631004333496,"y":287.01006603240967,"wires":[[]]},{"id":"c46002a5.5dd54","type":"ui_switch","z":"6fff9eb6.3efc2","name":"","label":"SSH Off/On","tooltip":"","group":"ddd1a14a.d7351","order":2,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":534.9631004333496,"y":287.01006603240967,"wires":[["6480d78d.6ac6e8","6f8cb648.a50838"]]},{"id":"8fe6db74.5ea568","type":"exec","z":"6fff9eb6.3efc2","command":"sudo /etc/init.d/ssh stop ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":991.9631080627441,"y":370.0100679397583,"wires":[[],[],[]]},{"id":"6f8cb648.a50838","type":"function","z":"6fff9eb6.3efc2","name":"Load Variables","func":"if (msg.payload === true){\n    return [msg,null]\n}\nif (msg.payload ===false){\n    return [null,msg]\n}","outputs":2,"noerr":0,"x":715.963077545166,"y":325.01012134552,"wires":[["838902c8.42b6a"],["8fe6db74.5ea568"]]},{"id":"838902c8.42b6a","type":"exec","z":"6fff9eb6.3efc2","command":"sudo /etc/init.d/ssh start","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":991.9631233215332,"y":318.01006412506104,"wires":[[],[],[]]},{"id":"fae1dc2d.cd5b2","type":"inject","z":"6fff9eb6.3efc2","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":77.96310043334961,"y":288.01006603240967,"wires":[["547cfb38.d723d4","69ec4569.690bbc","7cd43f24.495df"]]},{"id":"3a5b4087.2cea8","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/samba.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":812.9631309509277,"y":448.13168239593506,"wires":[[]]},{"id":"afc70835.da4208","type":"ui_switch","z":"6fff9eb6.3efc2","name":"","label":"Samba Off/On","tooltip":"","group":"ddd1a14a.d7351","order":1,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":559.9630737304688,"y":447.13165283203125,"wires":[["3a5b4087.2cea8","6ac47145.2a1ad"]]},{"id":"67497290.47af0c","type":"exec","z":"6fff9eb6.3efc2","command":"sudo /etc/init.d/smbd stop","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1055.9631080627441,"y":533.1317663192749,"wires":[[],[],[]]},{"id":"6ac47145.2a1ad","type":"function","z":"6fff9eb6.3efc2","name":"Load Variables","func":"if (msg.payload === true){\n    return [msg,null]\n}\nreturn [null,msg]\n","outputs":2,"noerr":0,"x":767.9631233215332,"y":487.13154888153076,"wires":[["83cadd1d.0be53"],["67497290.47af0c"]]},{"id":"83cadd1d.0be53","type":"exec","z":"6fff9eb6.3efc2","command":"sudo /etc/init.d/smbd start","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1056.9631080627441,"y":481.1316022872925,"wires":[[],[],[]]},{"id":"62458b17.346244","type":"delay","z":"6fff9eb6.3efc2","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":287.98047256469727,"y":172.90950775146484,"wires":[["32bd88f0.7d1838"]]},{"id":"4dcdb482.ed48cc","type":"delay","z":"6fff9eb6.3efc2","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":288.97705078125,"y":84.81916332244873,"wires":[["3c31fe48.03eeb2"]]},{"id":"d166c44e.c867d8","type":"python3-function","z":"6fff9eb6.3efc2","name":"blink","func":"from time import sleep\nimport RPi.GPIO as GPIO\n\nringlightpin = 17\nsleeptime = 0.05\n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(ringlightpin, GPIO.OUT)\n\nwith open(\"/home/pi/shared/log/ringlightstatus1.log\", \"w\") as file:\n    file.write(\"off\")\nwith open(\"/home/pi/shared/log/ringlightstatus2.log\", \"w\") as file:\n    file.write(\"off\")\n\nfor x in range(10):\n    GPIO.output(ringlightpin, GPIO.HIGH)\n    sleep(sleeptime)\n    GPIO.output(ringlightpin, GPIO.LOW)\n    sleep(sleeptime)\n","outputs":1,"x":258.9805450439453,"y":127.02120113372803,"wires":[[]]},{"id":"2b642170.72db5e","type":"ui_switch","z":"6fff9eb6.3efc2","name":"","label":"Auto Update Preview","tooltip":"","group":"b9933221.eac94","order":5,"width":7,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":507.9631004333496,"y":595.0100660324097,"wires":[["e30d6e32.3cdec"]]},{"id":"e30d6e32.3cdec","type":"change","z":"6fff9eb6.3efc2","name":"","rules":[{"t":"set","p":"autoupdate","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":741.9631004333496,"y":596.0100660324097,"wires":[[]]},{"id":"547cfb38.d723d4","type":"function","z":"6fff9eb6.3efc2","name":"turn autoupdate off","func":"msg.payload=\"off\"\nreturn msg","outputs":1,"noerr":0,"x":283.9631004333496,"y":595.0100660324097,"wires":[["2b642170.72db5e"]]},{"id":"96299e43.1a782","type":"ui_dropdown","z":"6fff9eb6.3efc2","name":"","label":" Pin - rotor direction","tooltip":"standard value: 5","place":" ","group":"35a0e31e.2cf06c","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"2","type":"str"},{"label":"","value":"3","type":"str"},{"label":"","value":"4","type":"str"},{"label":"","value":"5","type":"str"},{"label":"","value":"6","type":"str"},{"label":"","value":"7","type":"str"},{"label":"","value":"9","type":"str"},{"label":"","value":"10","type":"str"},{"label":"","value":"11","type":"str"},{"label":"","value":"12","type":"str"},{"label":"","value":"13","type":"str"},{"label":"","value":"14","type":"str"},{"label":"","value":"15","type":"str"},{"label":"","value":"16","type":"str"},{"label":"","value":"17","type":"str"},{"label":"","value":"18","type":"str"},{"label":"","value":"19","type":"str"},{"label":"","value":"20","type":"str"},{"label":"","value":"21","type":"str"},{"label":"","value":"22","type":"str"},{"label":"","value":"23","type":"str"},{"label":"","value":"24","type":"str"},{"label":"","value":"25","type":"str"},{"label":"","value":"26","type":"str"},{"label":"","value":"27","type":"str"}],"payload":"","topic":"","x":644.5590505599976,"y":830.9723405838013,"wires":[["cdc127c0.001268"]]},{"id":"e89c2a55.a9c018","type":"ui_text","z":"6fff9eb6.3efc2","group":"35a0e31e.2cf06c","order":1,"width":0,"height":0,"name":"","label":"Be absolutely sure, when making any changes! Modification will be instantly saved and might damage external or internal hardware if not properly handled!","format":"{{msg.payload}}","layout":"row-spread","x":661,"y":737.5763139724731,"wires":[]},{"id":"fabbed08.2211","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_rotor_dir.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":299.99996852874756,"y":831.465124130249,"wires":[["96299e43.1a782"]]},{"id":"cdc127c0.001268","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_rotor_dir.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1026.999945640564,"y":831.4651288986206,"wires":[[]]},{"id":"3130b40d.6399ac","type":"inject","z":"6fff9eb6.3efc2","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":67.99999237060547,"y":690.4654216766357,"wires":[["9608945a.6d2808"]]},{"id":"de984644.f4beb8","type":"ui_dropdown","z":"6fff9eb6.3efc2","name":"","label":" Pin - rotor step","tooltip":"standard value: 6","place":" ","group":"35a0e31e.2cf06c","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"2","type":"str"},{"label":"","value":"3","type":"str"},{"label":"","value":"4","type":"str"},{"label":"","value":"5","type":"str"},{"label":"","value":"6","type":"str"},{"label":"","value":"7","type":"str"},{"label":"","value":"9","type":"str"},{"label":"","value":"10","type":"str"},{"label":"","value":"11","type":"str"},{"label":"","value":"12","type":"str"},{"label":"","value":"13","type":"str"},{"label":"","value":"14","type":"str"},{"label":"","value":"15","type":"str"},{"label":"","value":"16","type":"str"},{"label":"","value":"17","type":"str"},{"label":"","value":"18","type":"str"},{"label":"","value":"19","type":"str"},{"label":"","value":"20","type":"str"},{"label":"","value":"21","type":"str"},{"label":"","value":"22","type":"str"},{"label":"","value":"23","type":"str"},{"label":"","value":"24","type":"str"},{"label":"","value":"25","type":"str"},{"label":"","value":"26","type":"str"},{"label":"","value":"27","type":"str"}],"payload":"","topic":"","x":634.5417318344116,"y":883.4651880264282,"wires":[["46ade5d3.718cac"]]},{"id":"7169e93e.116f38","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_rotor_step.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":298.9826498031616,"y":883.957971572876,"wires":[["de984644.f4beb8"]]},{"id":"46ade5d3.718cac","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_rotor_step.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1025.982626914978,"y":883.9579763412476,"wires":[[]]},{"id":"9b571d59.8abd6","type":"ui_dropdown","z":"6fff9eb6.3efc2","name":"","label":" Pin - turntable direction","tooltip":"standard value: 9","place":" ","group":"35a0e31e.2cf06c","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"2","type":"str"},{"label":"","value":"3","type":"str"},{"label":"","value":"4","type":"str"},{"label":"","value":"5","type":"str"},{"label":"","value":"6","type":"str"},{"label":"","value":"7","type":"str"},{"label":"","value":"9","type":"str"},{"label":"","value":"10","type":"str"},{"label":"","value":"11","type":"str"},{"label":"","value":"12","type":"str"},{"label":"","value":"13","type":"str"},{"label":"","value":"14","type":"str"},{"label":"","value":"15","type":"str"},{"label":"","value":"16","type":"str"},{"label":"","value":"17","type":"str"},{"label":"","value":"18","type":"str"},{"label":"","value":"19","type":"str"},{"label":"","value":"20","type":"str"},{"label":"","value":"21","type":"str"},{"label":"","value":"22","type":"str"},{"label":"","value":"23","type":"str"},{"label":"","value":"24","type":"str"},{"label":"","value":"25","type":"str"},{"label":"","value":"26","type":"str"},{"label":"","value":"27","type":"str"}],"payload":"","topic":"","x":664.5590505599976,"y":934.4654321670532,"wires":[["a30a9b3b.06d488"]]},{"id":"a50976f2.42b7c8","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_turntable_dir.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":309.99996852874756,"y":934.958215713501,"wires":[["9b571d59.8abd6"]]},{"id":"a30a9b3b.06d488","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_turntable_dir.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1036.999945640564,"y":934.9582204818726,"wires":[[]]},{"id":"11160a2f.1ab386","type":"ui_dropdown","z":"6fff9eb6.3efc2","name":"","label":" Pin - turntable step","tooltip":"standard value: 11","place":" ","group":"35a0e31e.2cf06c","order":7,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"2","type":"str"},{"label":"","value":"3","type":"str"},{"label":"","value":"4","type":"str"},{"label":"","value":"5","type":"str"},{"label":"","value":"6","type":"str"},{"label":"","value":"7","type":"str"},{"label":"","value":"9","type":"str"},{"label":"","value":"10","type":"str"},{"label":"","value":"11","type":"str"},{"label":"","value":"12","type":"str"},{"label":"","value":"13","type":"str"},{"label":"","value":"14","type":"str"},{"label":"","value":"15","type":"str"},{"label":"","value":"16","type":"str"},{"label":"","value":"17","type":"str"},{"label":"","value":"18","type":"str"},{"label":"","value":"19","type":"str"},{"label":"","value":"20","type":"str"},{"label":"","value":"21","type":"str"},{"label":"","value":"22","type":"str"},{"label":"","value":"23","type":"str"},{"label":"","value":"24","type":"str"},{"label":"","value":"25","type":"str"},{"label":"","value":"26","type":"str"},{"label":"","value":"27","type":"str"}],"payload":"","topic":"","x":644.5417318344116,"y":986.9582796096802,"wires":[["c9aabf7e.b6ec6"]]},{"id":"67fcc5ac.581e9c","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_turntable_step.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":318.9826498031616,"y":987.4510631561279,"wires":[["11160a2f.1ab386"]]},{"id":"c9aabf7e.b6ec6","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_turntable_step.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1045.982626914978,"y":987.4510679244995,"wires":[[]]},{"id":"297e0f0f.26c77","type":"ui_button","z":"6fff9eb6.3efc2","name":"","group":"35a0e31e.2cf06c","order":3,"width":0,"height":0,"passthru":false,"label":"Reset all Pin Parameters","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":260.9999694824219,"y":779.9097261428833,"wires":[["af6c2c9f.c26ce"]]},{"id":"af6c2c9f.c26ce","type":"python3-function","z":"6fff9eb6.3efc2","name":"set initial variables","func":"with open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"w\") as file:\n    file.write(\"5\")\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"w\") as file:\n    file.write(\"6\")\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"w\") as file:\n    file.write(\"9\")\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"w\") as file:\n    file.write(\"11\")\nwith open(\"/home/pi/shared/log/pin_ringlight1.log\", \"w\") as file:\n    file.write(\"17\")\nwith open(\"/home/pi/shared/log/pin_ringlight2.log\", \"w\") as file:\n    file.write(\"27\")\nwith open(\"/home/pi/shared/log/pin_externalcam.log\", \"w\") as file:\n    file.write(\"10\")\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"w\") as file:\n    file.write(\"17067\")\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"w\") as file:\n    file.write(\"3200\")    \nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"w\") as file:\n    file.write(\"0.0005\")\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"w\") as file:\n    file.write(\"0.0005\")    \n\nreturn msg","outputs":1,"x":529.9999465942383,"y":779.9098825454712,"wires":[["f2a99628.d77318"]]},{"id":"49a0c7a0.1bad88","type":"link in","z":"6fff9eb6.3efc2","name":"Reset Parameters","links":["f2a99628.d77318","9608945a.6d2808","abe47719.de9b18"],"x":33.000000953674316,"y":830.8643503189087,"wires":[["fabbed08.2211","7169e93e.116f38","a50976f2.42b7c8","67fcc5ac.581e9c","c963cf06.f6323","4c3bdd1.355aa24","5c30193b.1a92f8","b4144dc5.2d066","52cdcb8b.19a914","8b489f2b.c4511","6c09fd1d.3f4324"]]},{"id":"f2a99628.d77318","type":"link out","z":"6fff9eb6.3efc2","name":"","links":["49a0c7a0.1bad88","5bb62d67.946384","ae34bfeb.259d6","388eec5a.240ea4"],"x":739.9965515136719,"y":779.7742357254028,"wires":[]},{"id":"9608945a.6d2808","type":"link out","z":"6fff9eb6.3efc2","name":"","links":["49a0c7a0.1bad88","5bb62d67.946384","ae34bfeb.259d6","388eec5a.240ea4"],"x":194.99998474121094,"y":690.9096164703369,"wires":[]},{"id":"dc34b571.4ed628","type":"ui_dropdown","z":"6fff9eb6.3efc2","name":"","label":" Pin - ringlight1","tooltip":"standard value: 17","place":" ","group":"35a0e31e.2cf06c","order":8,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"2","type":"str"},{"label":"","value":"3","type":"str"},{"label":"","value":"4","type":"str"},{"label":"","value":"5","type":"str"},{"label":"","value":"6","type":"str"},{"label":"","value":"7","type":"str"},{"label":"","value":"9","type":"str"},{"label":"","value":"10","type":"str"},{"label":"","value":"11","type":"str"},{"label":"","value":"12","type":"str"},{"label":"","value":"13","type":"str"},{"label":"","value":"14","type":"str"},{"label":"","value":"15","type":"str"},{"label":"","value":"16","type":"str"},{"label":"","value":"17","type":"str"},{"label":"","value":"18","type":"str"},{"label":"","value":"19","type":"str"},{"label":"","value":"20","type":"str"},{"label":"","value":"21","type":"str"},{"label":"","value":"22","type":"str"},{"label":"","value":"23","type":"str"},{"label":"","value":"24","type":"str"},{"label":"","value":"25","type":"str"},{"label":"","value":"26","type":"str"},{"label":"","value":"27","type":"str"}],"payload":"","topic":"","x":634.5417327880859,"y":1035.687388420105,"wires":[["65b5fce2.5f6214"]]},{"id":"c963cf06.f6323","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_ringlight1.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":298.98265075683594,"y":1036.1801719665527,"wires":[["dc34b571.4ed628"]]},{"id":"65b5fce2.5f6214","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_ringlight1.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1025.9826278686523,"y":1036.1801767349243,"wires":[[]]},{"id":"896b384b.f15078","type":"ui_dropdown","z":"6fff9eb6.3efc2","name":"","label":" Pin - ringlight2","tooltip":"standard value: 27","place":" ","group":"35a0e31e.2cf06c","order":9,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"2","type":"str"},{"label":"","value":"3","type":"str"},{"label":"","value":"4","type":"str"},{"label":"","value":"5","type":"str"},{"label":"","value":"6","type":"str"},{"label":"","value":"7","type":"str"},{"label":"","value":"9","type":"str"},{"label":"","value":"10","type":"str"},{"label":"","value":"11","type":"str"},{"label":"","value":"12","type":"str"},{"label":"","value":"13","type":"str"},{"label":"","value":"14","type":"str"},{"label":"","value":"15","type":"str"},{"label":"","value":"16","type":"str"},{"label":"","value":"17","type":"str"},{"label":"","value":"18","type":"str"},{"label":"","value":"19","type":"str"},{"label":"","value":"20","type":"str"},{"label":"","value":"21","type":"str"},{"label":"","value":"22","type":"str"},{"label":"","value":"23","type":"str"},{"label":"","value":"24","type":"str"},{"label":"","value":"25","type":"str"},{"label":"","value":"26","type":"str"},{"label":"","value":"27","type":"str"}],"payload":"","topic":"","x":634.5590515136719,"y":1086.68763256073,"wires":[["4172f59a.72faac"]]},{"id":"4c3bdd1.355aa24","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_ringlight2.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":298.9999694824219,"y":1087.1804161071777,"wires":[["896b384b.f15078"]]},{"id":"4172f59a.72faac","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_ringlight2.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1026.9999465942383,"y":1087.1804208755493,"wires":[[]]},{"id":"8079ed8c.10942","type":"ui_dropdown","z":"6fff9eb6.3efc2","name":"","label":" Pin - external camera","tooltip":"standard value: 10","place":" ","group":"35a0e31e.2cf06c","order":10,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"2","type":"str"},{"label":"","value":"3","type":"str"},{"label":"","value":"4","type":"str"},{"label":"","value":"5","type":"str"},{"label":"","value":"6","type":"str"},{"label":"","value":"7","type":"str"},{"label":"","value":"9","type":"str"},{"label":"","value":"10","type":"str"},{"label":"","value":"11","type":"str"},{"label":"","value":"12","type":"str"},{"label":"","value":"13","type":"str"},{"label":"","value":"14","type":"str"},{"label":"","value":"15","type":"str"},{"label":"","value":"16","type":"str"},{"label":"","value":"17","type":"str"},{"label":"","value":"18","type":"str"},{"label":"","value":"19","type":"str"},{"label":"","value":"20","type":"str"},{"label":"","value":"21","type":"str"},{"label":"","value":"22","type":"str"},{"label":"","value":"23","type":"str"},{"label":"","value":"24","type":"str"},{"label":"","value":"25","type":"str"},{"label":"","value":"26","type":"str"},{"label":"","value":"27","type":"str"}],"payload":"","topic":"","x":653.5417327880859,"y":1139.180480003357,"wires":[["9af5fac.c3daf08"]]},{"id":"5c30193b.1a92f8","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_externalcam.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":308.98265075683594,"y":1139.6732635498047,"wires":[["8079ed8c.10942"]]},{"id":"9af5fac.c3daf08","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_externalcam.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1035.9826278686523,"y":1139.6732683181763,"wires":[[]]},{"id":"5fcbb415.49e4dc","type":"ui_text_input","z":"6fff9eb6.3efc2","name":"","label":"","tooltip":"standard value: 17067","group":"35a0e31e.2cf06c","order":13,"width":2,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","x":613.5555419921875,"y":1213.7221117019653,"wires":[["e4ce141e.3e61f8"]]},{"id":"b4144dc5.2d066","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/rotor_stepsperrotation.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":329.99999237060547,"y":1213.9096097946167,"wires":[["5fcbb415.49e4dc"]]},{"id":"e4ce141e.3e61f8","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/rotor_stepsperrotation.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1054.9999618530273,"y":1212.9096097946167,"wires":[[]]},{"id":"a62e45ee.423a78","type":"ui_text","z":"6fff9eb6.3efc2","group":"35a0e31e.2cf06c","order":12,"width":5,"height":1,"name":"","label":"Rotor - Steps per Rotation","format":"{{msg.payload}}","layout":"row-spread","x":260,"y":1180.909665107727,"wires":[]},{"id":"31d5fee7.394692","type":"ui_text_input","z":"6fff9eb6.3efc2","name":"","label":"","tooltip":"standard value: 3200","group":"35a0e31e.2cf06c","order":17,"width":2,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","x":613.5381927490234,"y":1283.909556388855,"wires":[["a9117594.69d148"]]},{"id":"52cdcb8b.19a914","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/turntable_stepsperrotation.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":338.9826431274414,"y":1284.0970544815063,"wires":[["31d5fee7.394692"]]},{"id":"a9117594.69d148","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/turntable_stepsperrotation.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1063.9826126098633,"y":1283.0970544815063,"wires":[[]]},{"id":"cb791ef.c9ecce","type":"ui_text","z":"6fff9eb6.3efc2","group":"35a0e31e.2cf06c","order":16,"width":5,"height":1,"name":"","label":"Turntable - Steps per Rotation","format":"{{msg.payload}}","layout":"row-spread","x":279.98265075683594,"y":1251.0971097946167,"wires":[]},{"id":"1258cd70.ea9eb3","type":"ui_text_input","z":"6fff9eb6.3efc2","name":"","label":"","tooltip":"standard value: 0.0005","group":"35a0e31e.2cf06c","order":15,"width":2,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","x":611.9999694824219,"y":1353.909556388855,"wires":[["5f5e018d.3ce0c"]]},{"id":"8b489f2b.c4511","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/rotor_delay.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":289.44441986083984,"y":1354.0970544815063,"wires":[["1258cd70.ea9eb3"]]},{"id":"5f5e018d.3ce0c","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/rotor_delay.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1012.4443893432617,"y":1353.0970544815063,"wires":[[]]},{"id":"237b49ef.b7ff56","type":"ui_text","z":"6fff9eb6.3efc2","group":"35a0e31e.2cf06c","order":14,"width":5,"height":1,"name":"","label":"Rotor - Delay (s)","format":"{{msg.payload}}","layout":"row-spread","x":233.44442749023438,"y":1321.0971097946167,"wires":[]},{"id":"c127637a.4302a","type":"ui_text_input","z":"6fff9eb6.3efc2","name":"","label":"","tooltip":"standard value: 0.0005","group":"35a0e31e.2cf06c","order":19,"width":2,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","x":610.9999694824219,"y":1422.909556388855,"wires":[["9ab63e6f.9736c"]]},{"id":"6c09fd1d.3f4324","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/turntable_delay.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":308.44441986083984,"y":1423.0970544815063,"wires":[["c127637a.4302a"]]},{"id":"9ab63e6f.9736c","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/turntable_delay.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1030.4443893432617,"y":1422.0970544815063,"wires":[[]]},{"id":"41a82d6e.ed8294","type":"ui_text","z":"6fff9eb6.3efc2","group":"35a0e31e.2cf06c","order":18,"width":5,"height":1,"name":"","label":"Turntable - Delay (s)","format":"{{msg.payload}}","layout":"row-spread","x":250.44442749023438,"y":1390.0971097946167,"wires":[]},{"id":"7b377f40.d6cc3","type":"ui_text","z":"6fff9eb6.3efc2","group":"b9933221.eac94","order":6,"width":5,"height":1,"name":"","label":"RPi Cam Resolution x","format":"{{msg.payload}}","layout":"row-spread","x":245.4444351196289,"y":1564.0969686508179,"wires":[]},{"id":"ce962be8.4432f8","type":"ui_text","z":"6fff9eb6.3efc2","group":"b9933221.eac94","order":1,"width":0,"height":0,"name":"","label":"Be absolutely sure, when making any changes! Modification will be instantly saved and might damage external or internal hardware if not properly handled!","format":"{{msg.payload}}","layout":"row-spread","x":655.9825973510742,"y":1474.797706604004,"wires":[]},{"id":"e653bca7.ff121","type":"ui_button","z":"6fff9eb6.3efc2","name":"","group":"b9933221.eac94","order":3,"width":7,"height":1,"passthru":false,"label":"Reset all Cam Parameters","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":265.9825973510742,"y":1517.1313524246216,"wires":[["c172e7d3.ad5698"]]},{"id":"c172e7d3.ad5698","type":"python3-function","z":"6fff9eb6.3efc2","name":"set initial variables","func":"with open(\"/home/pi/shared/log/picamera_activation.log\", \"w\") as file:\n    file.write(\"true\")\nwith open(\"/home/pi/shared/log/camera_resolution_x.log\", \"w\") as file:\n    file.write(\"3280\")\nwith open(\"/home/pi/shared/log/camera_resolution_y.log\", \"w\") as file:\n    file.write(\"2464\")    \n    \nreturn msg","outputs":1,"x":524.9825744628906,"y":1517.1315088272095,"wires":[["abe47719.de9b18"]]},{"id":"abe47719.de9b18","type":"link out","z":"6fff9eb6.3efc2","name":"","links":["49a0c7a0.1bad88","5bb62d67.946384","ae34bfeb.259d6","388eec5a.240ea4"],"x":734.9791793823242,"y":1516.995862007141,"wires":[]},{"id":"df7c8146.e71cd","type":"ui_text_input","z":"6fff9eb6.3efc2","name":"","label":"","tooltip":"standard value: 3280","group":"b9933221.eac94","order":7,"width":2,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","x":610.0173578262329,"y":1600.5660333633423,"wires":[["7f035112.1d4b3"]]},{"id":"28b18cff.cc6d24","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/camera_resolution_x.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":314.4618082046509,"y":1600.7535314559937,"wires":[["df7c8146.e71cd"]]},{"id":"7f035112.1d4b3","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/camera_resolution_x.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1042.4617776870728,"y":1599.7535314559937,"wires":[[]]},{"id":"64babe66.abd5d","type":"ui_text_input","z":"6fff9eb6.3efc2","name":"","label":"","tooltip":"standard value: 2464","group":"b9933221.eac94","order":9,"width":2,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","x":608.0173578262329,"y":1668.7882013320923,"wires":[["75a48f15.89f61"]]},{"id":"6be936e1.35bf68","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/camera_resolution_y.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":312.4618082046509,"y":1668.9756994247437,"wires":[["64babe66.abd5d"]]},{"id":"75a48f15.89f61","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/camera_resolution_y.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1040.4617776870728,"y":1667.9756994247437,"wires":[[]]},{"id":"6184278c.394148","type":"ui_text","z":"6fff9eb6.3efc2","group":"b9933221.eac94","order":8,"width":5,"height":1,"name":"","label":"RPi Cam Resolution y","format":"{{msg.payload}}","layout":"row-spread","x":242.4618158340454,"y":1635.975754737854,"wires":[]},{"id":"388eec5a.240ea4","type":"link in","z":"6fff9eb6.3efc2","name":"Reset Parameters","links":["3de3afc6.4755e","a7f0bc18.40ee","c46b984d.ed3f18","f2a99628.d77318","9608945a.6d2808","abe47719.de9b18"],"x":20.000008583068848,"y":1600.4546575546265,"wires":[["28b18cff.cc6d24","6be936e1.35bf68","3b5480c5.817ab"]]},{"id":"3b5480c5.817ab","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/picamera_activation.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":310.0173273086548,"y":1722.6665630340576,"wires":[["d9784bb5.6ad548"]]},{"id":"d9784bb5.6ad548","type":"ui_switch","z":"6fff9eb6.3efc2","name":"","label":"RPi Cam Off/On","tooltip":"","group":"b9933221.eac94","order":4,"width":7,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":620.0173044204712,"y":1722.6664552688599,"wires":[["e5c4a60f.ea7408"]]},{"id":"e5c4a60f.ea7408","type":"python3-function","z":"6fff9eb6.3efc2","name":"set initial variables","func":"with open(\"/home/pi/shared/log/picamera_activation.log\", \"w\") as file:\n    file.write(msg['payload'])\nif msg['payload']==\"false\":\n    with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n        file.write(\"RPi Cam disabled\")  \nif msg['payload']==\"true\":\n    with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n        file.write(\"--READY--\")  \nreturn msg","outputs":1,"x":959.0173349380493,"y":1721.4547567367554,"wires":[["4bafeaee.da8274"]]},{"id":"4bafeaee.da8274","type":"link out","z":"6fff9eb6.3efc2","name":"","links":["ea6345e6.047328","cbe4bd92.d30af"],"x":1094.0173540115356,"y":1721.4549741744995,"wires":[]},{"id":"b6e6ea28.86ddb8","type":"ui_button","z":"9096e101.facd1","name":"","group":"8c6d898d.322588","order":5,"width":2,"height":1,"passthru":false,"label":"⇐","tooltip":"","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"","x":84.01956176757812,"y":106.0103588104248,"wires":[["d1ed981b.63f978"]]},{"id":"12862cfa.4ecfb3","type":"ui_button","z":"9096e101.facd1","name":"","group":"8c6d898d.322588","order":6,"width":2,"height":1,"passthru":false,"label":"⇒","tooltip":"","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"","x":84.01956176757812,"y":146.0103588104248,"wires":[["b6ffcd54.c020e"]]},{"id":"ffd9e0b7.730ec","type":"ui_button","z":"9096e101.facd1","name":"","group":"8c6d898d.322588","order":2,"width":2,"height":1,"passthru":false,"label":"⇑","tooltip":"","color":"","bgcolor":"","icon":"","payload":"500","payloadType":"num","topic":"","x":424.0195617675781,"y":106.0103588104248,"wires":[["f9258193.1f2b7"]]},{"id":"1cac2fe4.ca7e4","type":"ui_button","z":"9096e101.facd1","name":"","group":"8c6d898d.322588","order":3,"width":2,"height":1,"passthru":false,"label":"⇓","tooltip":"","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"","x":424.0195617675781,"y":146.0103588104248,"wires":[["4ddc6604.be3db8"]]},{"id":"f241a022.75fbf","type":"ui_text","z":"9096e101.facd1","group":"8c6d898d.322588","order":4,"width":2,"height":1,"name":"","label":"Turntable","format":"{{\"\"}}","layout":"row-center","x":94.01956176757812,"y":66.0103588104248,"wires":[]},{"id":"2e36a582.88836a","type":"ui_text","z":"9096e101.facd1","group":"8c6d898d.322588","order":1,"width":2,"height":1,"name":"","label":"Rotor","format":"{{\"\"}}","layout":"row-center","x":424.0195617675781,"y":66.0103588104248,"wires":[]},{"id":"d1ed981b.63f978","type":"python3-function","z":"9096e101.facd1","name":"TT left","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/36\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n","outputs":1,"x":226.01740646362305,"y":105.68392133712769,"wires":[[]]},{"id":"b6ffcd54.c020e","type":"python3-function","z":"9096e101.facd1","name":"TT right","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/36\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n","outputs":1,"x":240.01739501953125,"y":145.68398809432983,"wires":[[]]},{"id":"f9258193.1f2b7","type":"python3-function","z":"9096e101.facd1","name":"Rotor left","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/72\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg","outputs":1,"x":622.017391204834,"y":106.68389987945557,"wires":[[]]},{"id":"4ddc6604.be3db8","type":"python3-function","z":"9096e101.facd1","name":"Rotor right","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/72\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg","outputs":1,"x":632.017391204834,"y":146.68389987945557,"wires":[[]]},{"id":"892c2a7c.2202d8","type":"file in","z":"9096e101.facd1","name":"","filename":"/home/pi/shared/log/fotosperrotation_ext.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":370.0173091888428,"y":235.01694869995117,"wires":[["5f28ba7b.f143f4"]]},{"id":"87563887.c4d708","type":"file in","z":"9096e101.facd1","name":"","filename":"/home/pi/shared/log/verticalpositions_ext.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":371.017333984375,"y":283.01676750183105,"wires":[["4802bfa3.218a6"]]},{"id":"e1cdabdf.8daec8","type":"file in","z":"9096e101.facd1","name":"","filename":"/home/pi/shared/log/startdeflection_ext.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":360.0173149108887,"y":331.0168523788452,"wires":[["3358f6ac.53540a"]]},{"id":"3358f6ac.53540a","type":"ui_slider","z":"9096e101.facd1","name":"","label":"","tooltip":"set start deflection angle","group":"25d7a60d.1c651a","order":6,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"0","max":"90","step":1,"x":615.0173072814941,"y":331.0167713165283,"wires":[["305ffb55.acbc74"]]},{"id":"a969cef8.508bb","type":"ui_text","z":"9096e101.facd1","group":"25d7a60d.1c651a","order":5,"width":0,"height":0,"name":"","label":"Start Deflection:","format":"{{msg.payload}}","layout":"row-spread","x":1134.0172500610352,"y":331.01668548583984,"wires":[]},{"id":"305ffb55.acbc74","type":"file","z":"9096e101.facd1","name":"","filename":"/home/pi/shared/log/startdeflection_ext.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":851.0173034667969,"y":331.01695823669434,"wires":[["a969cef8.508bb"]]},{"id":"4802bfa3.218a6","type":"ui_slider","z":"9096e101.facd1","name":"","label":" ","tooltip":"set the number of vertical positions","group":"25d7a60d.1c651a","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"1","max":"10","step":1,"x":615.0173072814941,"y":283.01676750183105,"wires":[["f066d510.86f4d8"]]},{"id":"f066d510.86f4d8","type":"file","z":"9096e101.facd1","name":"","filename":"/home/pi/shared/log/verticalpositions_ext.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":861.0173034667969,"y":283.01695442199707,"wires":[["92e66855.71d768"]]},{"id":"92e66855.71d768","type":"ui_text","z":"9096e101.facd1","group":"25d7a60d.1c651a","order":3,"width":0,"height":0,"name":"","label":"Vertical Positions:","format":"{{msg.payload}}","layout":"row-spread","x":1144.017276763916,"y":283.01684379577637,"wires":[]},{"id":"5f28ba7b.f143f4","type":"ui_slider","z":"9096e101.facd1","name":"","label":"","tooltip":" set the number of photos per turntable rotation","group":"25d7a60d.1c651a","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"1","max":"60","step":1,"x":615.0173206329346,"y":235.01694226264954,"wires":[["9b32f881.4bf4d8"]]},{"id":"8469bc93.c9a6d","type":"ui_text","z":"9096e101.facd1","group":"25d7a60d.1c651a","order":1,"width":0,"height":0,"name":"","label":"Fotos per Rotation:","format":"{{msg.payload}}","layout":"row-spread","x":1144.017339706421,"y":235.01671242713928,"wires":[]},{"id":"9b32f881.4bf4d8","type":"file","z":"9096e101.facd1","name":"","filename":"/home/pi/shared/log/fotosperrotation_ext.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":862.0173091888428,"y":235.01704049110413,"wires":[["8469bc93.c9a6d"]]},{"id":"9153a91c.807158","type":"inject","z":"9096e101.facd1","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":85.00003051757812,"y":234.6732006072998,"wires":[["892c2a7c.2202d8","87563887.c4d708","e1cdabdf.8daec8","878b3afd.e5b008","8cc4d0ca.e688c","a464627d.14ea2"]]},{"id":"686e72c4.b5de1c","type":"file","z":"9096e101.facd1","name":"","filename":"/home/pi/shared/log/timeperfoto_ext.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":852.0000495910645,"y":378.6731586456299,"wires":[["620145cf.f0472c"]]},{"id":"878b3afd.e5b008","type":"file in","z":"9096e101.facd1","name":"","filename":"/home/pi/shared/log/timeperfoto_ext.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":358.0000305175781,"y":378.6732425689697,"wires":[["22319dc.8a29462"]]},{"id":"22319dc.8a29462","type":"ui_slider","z":"9096e101.facd1","name":"","label":" ","tooltip":"","group":"a2b83ddb.6a2ee","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"0.5","max":"3","step":"0.1","x":616.0000228881836,"y":378.67319107055664,"wires":[["686e72c4.b5de1c"]]},{"id":"620145cf.f0472c","type":"ui_text","z":"9096e101.facd1","group":"a2b83ddb.6a2ee","order":1,"width":0,"height":0,"name":"","label":"Time per Foto (s)","format":"{{msg.payload}}","layout":"row-spread","x":1144.0000801086426,"y":378.6733150482178,"wires":[]},{"id":"992c81f2.84af5","type":"ui_button","z":"9096e101.facd1","name":"","group":"a2b83ddb.6a2ee","order":6,"width":0,"height":0,"passthru":false,"label":"Start Routine","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":93.01738357543945,"y":583.5726633071899,"wires":[["b702652a.3437d8"]]},{"id":"70d18318.87a3ac","type":"file","z":"9096e101.facd1","name":"","filename":"/home/pi/shared/log/releasetime_ext.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":850.0000648498535,"y":425.57225036621094,"wires":[["d8445de0.755aa"]]},{"id":"8cc4d0ca.e688c","type":"file in","z":"9096e101.facd1","name":"","filename":"/home/pi/shared/log/releasetime_ext.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":359.00004959106445,"y":425.57230377197266,"wires":[["a4a656b1.c25028"]]},{"id":"a4a656b1.c25028","type":"ui_slider","z":"9096e101.facd1","name":"","label":" ","tooltip":"","group":"a2b83ddb.6a2ee","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"10","max":"200","step":"10","x":616.0000419616699,"y":425.57225227355957,"wires":[["70d18318.87a3ac"]]},{"id":"d8445de0.755aa","type":"ui_text","z":"9096e101.facd1","group":"a2b83ddb.6a2ee","order":3,"width":0,"height":0,"name":"","label":"Release time (ms)","format":"{{msg.payload}}","layout":"row-spread","x":1142.0000495910645,"y":425.57226181030273,"wires":[]},{"id":"8ed14fe4.d8249","type":"inject","z":"9096e101.facd1","name":"","topic":"Repeater","payload":"0.1","payloadType":"str","repeat":"0.1","crontab":"","once":true,"onceDelay":"5","x":101.01741790771484,"y":528.7954235076904,"wires":[["69c3ea1.0b73514"]]},{"id":"69c3ea1.0b73514","type":"file in","z":"9096e101.facd1","name":"","filename":"/home/pi/shared/log/currentstatus_ext.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":515.0173492431641,"y":527.7948274612427,"wires":[["256bd75b.285898"]]},{"id":"256bd75b.285898","type":"ui_text","z":"9096e101.facd1","group":"a2b83ddb.6a2ee","order":8,"width":0,"height":0,"name":"","label":"Current Status:","format":"{{msg.payload}}","layout":"row-spread","x":816.0173492431641,"y":527.7950658798218,"wires":[]},{"id":"b702652a.3437d8","type":"python3-function","z":"9096e101.facd1","name":"Run Routine","func":"import RPi.GPIO as GPIO\nimport time\nimport picamera\nfrom time import sleep\n\n#recieve global variables\nwith open(\"/home/pi/shared/log/fotosperrotation_ext.log\", \"r\") as file:\n    fotosperrotation=int(file.read())\nwith open(\"/home/pi/shared/log/startdeflection_ext.log\", \"r\") as file:\n    startdeflection=int(file.read())\nwith open(\"/home/pi/shared/log/verticalpositions_ext.log\", \"r\") as file:\n    verticalpositions=int(file.read())\nwith open(\"/home/pi/shared/log/releasetime_ext.log\", \"r\") as file:\n    releasetime_ext=int(file.read())\nwith open(\"/home/pi/shared/log/timeperfoto_ext.log\", \"r\") as file:\n    timeperfoto_ext=float(file.read())\n\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    dirpinrotor=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    steppinrotor=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"r\") as file:\n    dirpintt=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"r\") as file:\n    steppintt=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    rotorspr=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"r\") as file:\n    ttspr=int(file.read())  \nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delayrotor=float(file.read())\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"r\") as file:\n    delaytt=float(file.read())   \nwith open(\"/home/pi/shared/log/pin_externalcam.log\", \"r\") as file:\n    photopin=int(file.read())   \n\nstartangle = rotorspr/360*startdeflection\n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(3, GPIO.OUT)\n\n\ndef ttrun(step_count):\n    GPIO.setup(dirpintt, GPIO.OUT)\n    GPIO.setup(steppintt, GPIO.OUT)\n    if (step_count>0):\n        GPIO.output(dirpintt, GPIO.HIGH)\n    if(step_count<0):\n        GPIO.output(dirpintt, GPIO.LOW)\n        step_count=-step_count\n    for x in range(step_count):\n        GPIO.output(steppintt, GPIO.HIGH)\n        sleep(delaytt)\n        GPIO.output(steppintt, GPIO.LOW)\n        sleep(delaytt)\n\ndef rotorrun(step_count):\n    GPIO.setup(dirpinrotor, GPIO.OUT)\n    GPIO.setup(steppinrotor, GPIO.OUT)\n    if (step_count>0):\n        GPIO.output(dirpinrotor, GPIO.HIGH)\n    if(step_count<0):\n        GPIO.output(dirpinrotor, GPIO.LOW)\n        step_count=-step_count\n    for x in range(step_count):\n        GPIO.output(steppinrotor, GPIO.HIGH)\n        sleep(delayrotor)\n        GPIO.output(steppinrotor, GPIO.LOW)\n        sleep(delayrotor)\n\ndef stoptest():\n    with open(\"/home/pi/shared/log/stopstate_ext.log\", \"r\") as file:\n        if (file.read()!=\"stop\"):\n            return\n    with open(\"/home/pi/shared/log/stopstate_ext.log\", \"w\") as file:\n        file.write(\"--stopping--\")\n    with open(\"/home/pi/shared/log/currentstatus_ext.log\", \"w\") as file:\n        file.write(\"--READY--\")\n    exit\n\ndef takephoto():\n    stoptest()\n    GPIO.setup(photopin, GPIO.OUT)\n    GPIO.output(photopin, GPIO.HIGH)\n    sleep(releasetime_ext*0.001)\n    GPIO.output(photopin, GPIO.LOW)\n    sleep(timeperfoto_ext)\n    stoptest()\n\ndef turntablerotation():\n    for x in range (fotosperrotation):\n        with open(\"/home/pi/shared/log/currentstatus_ext.log\", \"w\") as file:\n            file.write(\"Position: \"+str(vertpos)+\"/\"+str(verticalpositions)+\" Foto: \"+str(x+1)+\"/\"+str(fotosperrotation))\n        ttrun(ttspr/fotosperrotation)\n        takephoto()\n\nrotorrun(-startangle)\nfor x in range (verticalpositions-1):\n    vertpos = x+1\n    turntablerotation()\n    if (verticalpositions>1):\n        rotorrun(2*startangle/(verticalpositions-1))\nif (verticalpositions==1):\n    startangle=-startangle\nvertpos=verticalpositions\nturntablerotation()\nrotorrun(-startangle)\n\nwith open(\"/home/pi/shared/log/currentstatus_ext.log\", \"w\") as file:\n    file.write(\"--READY--\")\nreturn msg","outputs":1,"x":285.017333984375,"y":584.3502712249756,"wires":[[]]},{"id":"aacb9271.9a06a","type":"ui_button","z":"9096e101.facd1","name":"","group":"a2b83ddb.6a2ee","order":7,"width":0,"height":0,"passthru":true,"label":"Stop Routine","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":92.0173568725586,"y":635.6836910247803,"wires":[["30f31a5b.44d476"]]},{"id":"30f31a5b.44d476","type":"python3-function","z":"9096e101.facd1","name":"set stop state variables","func":"with open(\"/home/pi/shared/log/stopstate_ext.log\", \"w\") as file:\n    file.write(\"stop\")\nwith open(\"/home/pi/shared/log/currentstatus_ext.log\", \"w\") as file:\n    file.write(\"--stopping--\")","outputs":1,"x":314.0174102783203,"y":635.7944092750549,"wires":[[]]},{"id":"a464627d.14ea2","type":"python3-function","z":"9096e101.facd1","name":"set initial variables","func":"with open(\"/home/pi/shared/log/stopstate_ext.log\", \"w\") as file:\n    file.write(\"run\")\nwith open(\"/home/pi/shared/log/currentstatus_ext.log\", \"w\") as file:\n    file.write(\"--READY--\")\n","outputs":1,"x":288.01734161376953,"y":468.3501148223877,"wires":[[]]},{"id":"9cdf0b68.8b9528","type":"ui_switch","z":"422031c2.453f9","name":"","label":"Bluetooth on/off","tooltip":"","group":"ffc3612c.3b02c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":106.0173568725586,"y":80.01041412353516,"wires":[[]]},{"id":"bc2d3bfb.df7358","type":"ui_button","z":"422031c2.453f9","name":"","group":"ffc3612c.3b02c","order":6,"width":2,"height":1,"passthru":false,"label":"⇐","tooltip":"","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"","x":77.03691864013672,"y":175.01444244384766,"wires":[["e80ea9a3.dff558"]]},{"id":"60dfdc80.fb18a4","type":"ui_button","z":"422031c2.453f9","name":"","group":"ffc3612c.3b02c","order":7,"width":2,"height":1,"passthru":false,"label":"⇒","tooltip":"","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"","x":77.03691864013672,"y":215.01444244384766,"wires":[["7a6aadfb.a690b4"]]},{"id":"c9c4582a.a3de08","type":"ui_button","z":"422031c2.453f9","name":"","group":"ffc3612c.3b02c","order":3,"width":2,"height":1,"passthru":false,"label":"⇑","tooltip":"","color":"","bgcolor":"","icon":"","payload":"500","payloadType":"num","topic":"","x":417.0369186401367,"y":175.01444244384766,"wires":[["a5de3a6f.cf0ff8"]]},{"id":"2e14b30e.f0b17c","type":"ui_button","z":"422031c2.453f9","name":"","group":"ffc3612c.3b02c","order":4,"width":2,"height":1,"passthru":false,"label":"⇓","tooltip":"","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"","x":417.0369186401367,"y":215.01444244384766,"wires":[["f4b6ec56.0f717"]]},{"id":"561e8d64.460cb4","type":"ui_text","z":"422031c2.453f9","group":"ffc3612c.3b02c","order":5,"width":4,"height":1,"name":"","label":"Turntable","format":"{{\"\"}}","layout":"row-center","x":87.03691864013672,"y":135.01444244384766,"wires":[]},{"id":"6ff43a30.8c7c64","type":"ui_text","z":"422031c2.453f9","group":"ffc3612c.3b02c","order":2,"width":4,"height":1,"name":"","label":"Rotor","format":"{{\"\"}}","layout":"row-center","x":417.0369186401367,"y":135.01444244384766,"wires":[]},{"id":"e80ea9a3.dff558","type":"python3-function","z":"422031c2.453f9","name":"TT left","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/36\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n","outputs":1,"x":217.03691864013672,"y":175.01444244384766,"wires":[[]]},{"id":"7a6aadfb.a690b4","type":"python3-function","z":"422031c2.453f9","name":"TT right","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/36\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n","outputs":1,"x":227.03691864013672,"y":215.01444244384766,"wires":[[]]},{"id":"a5de3a6f.cf0ff8","type":"python3-function","z":"422031c2.453f9","name":"Rotor left","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/72\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg","outputs":1,"x":567.0369186401367,"y":175.01444244384766,"wires":[[]]},{"id":"f4b6ec56.0f717","type":"python3-function","z":"422031c2.453f9","name":"Rotor right","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/72\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg","outputs":1,"x":577.0369186401367,"y":215.01444244384766,"wires":[[]]},{"id":"543b8cc6.11f404","type":"link in","z":"6fff9eb6.3efc2","name":"reboot","links":["ac9852eb.d953f","ed6f5b97.ee2618","bbcfb7fb.1b0768","c032ad41.5e9de","5c25fee5.5ce95"],"x":33.01562309265137,"y":36.953125,"wires":[["d166c44e.c867d8","4dcdb482.ed48cc"]]},{"id":"a0aa92dd.f911c","type":"ui_text","z":"8d5a7804.52acf8","group":"f7451b10.d6c048","order":1,"width":6,"height":2,"name":"","label":"","format":"{{msg.payload}}","layout":"row-right","x":410,"y":240,"wires":[]},{"id":"ccedd0d4.f1bcb","type":"link in","z":"8d5a7804.52acf8","name":"New Update Note","links":["c986d5f5.bba4f8","edf1402c.a1828","a25ccb8e.3ce208"],"x":75,"y":240,"wires":[["6d67cba7.9da414"]]},{"id":"67811932.5b76e8","type":"ui_text","z":"df305688.9bb948","group":"ddbd496e.93a288","order":2,"width":0,"height":0,"name":"update text","label":"","format":"{{msg.payload}}","layout":"row-center","x":152.54401206970215,"y":27.581358909606934,"wires":[]},{"id":"169ac8d.12a7937","type":"ui_button","z":"df305688.9bb948","name":"","group":"ddbd496e.93a288","order":3,"width":0,"height":0,"passthru":false,"label":"Check for Updates","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":95,"y":211.35918426513672,"wires":[["901adc79.dbe8c","ad5a0b05.dd4d98"]]},{"id":"9141f91a.7a5b98","type":"link in","z":"df305688.9bb948","name":"update","links":["c803000f.cec2e","babe2a6.c6c27d8","29352168.95ba2e","d33997e3.7b5128","1a32f672.50fafa","629556b9.c99758","e4b7a78b.af9278","b039b421.71ff38","1a6a31bf.aebc3e","c84fc680.407268","bac9b0cb.79a11","55abd9ad.c9f658","fe3a8da5.0476d","946280a5.09db7"],"x":36.000003814697266,"y":27.555655479431152,"wires":[["67811932.5b76e8"]]},{"id":"69ec4569.690bbc","type":"python3-function","z":"6fff9eb6.3efc2","name":"check ssh","func":"\nwith open(\"/home/pi/shared/log/ssh.log\", \"r\") as file:\n    state=file.read()\nmsg['payload']=False\nif state==\"true\":\n    msg['payload']=True\nreturn msg","outputs":1,"x":259.01737213134766,"y":287.01040267944336,"wires":[["c46002a5.5dd54"]]},{"id":"4fa693d9.d0e41c","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/samba.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":331.0173645019531,"y":506.0104064941406,"wires":[[]]},{"id":"7cd43f24.495df","type":"python3-function","z":"6fff9eb6.3efc2","name":"check samba","func":"\nwith open(\"/home/pi/shared/log/samba.log\", \"r\") as file:\n    state=file.read()\nmsg['payload']=False\nif state==\"true\":\n    msg['payload']=True\nreturn msg","outputs":1,"x":265.0173645019531,"y":448.0104064941406,"wires":[["afc70835.da4208"]]},{"id":"8b0b91c6.39b0b","type":"comment","z":"8d5a7804.52acf8","name":"Temporäre Änderungen","info":"","x":160,"y":460,"wires":[]},{"id":"721da5fe.81ce3c","type":"inject","z":"8d5a7804.52acf8","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"1","x":140,"y":520,"wires":[["30de8cce.456de4","913680ae.80458","f0e6f605.1df218","3d6b4ed1.0b8342","ee37a4f8.b25c98","1b10290.b9641d7"]]},{"id":"5914a2db.24e03c","type":"ui_template","z":"df305688.9bb948","group":"191e6406.b089ec","name":"Open Manual (EN)","order":1,"width":6,"height":1,"format":"<md-button style=\"width:100%; height:100%;\"   target=\"_blank\" ng-href=\"/ui/data/Manual_en.pdf\">\n <div class=\"center\" style=\"position: relative;\n    top: 30%;\">\n  Manual (EN)\n</div></md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":110,"y":980,"wires":[[]]},{"id":"31a54691.55d54a","type":"exec","z":"df305688.9bb948","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"get changelog","x":680,"y":200,"wires":[[],[],["35f74c10.5b3484"]]},{"id":"35f74c10.5b3484","type":"python3-function","z":"df305688.9bb948","name":"Compare Versions","func":"msg['payload']=\"you are up to date\"\n\nwith open(\"/home/pi/shared/ui/data/update.log\", \"r\") as file:\n    versionserver=str(file.read())[:16]\nwith open(\"/home/pi/shared/log/currentversion.log\", \"r\") as file:\n    versionpi=str(file.read())[:16]\nwith open(\"/home/pi/shared/log/currentserverversion.log\", \"w\") as file:\n    file.write(versionserver)\n\nif versionpi!=versionserver:\n    msg['payload']=\"new updates available\"\nreturn msg","outputs":1,"x":910,"y":200,"wires":[["1ab82558.09e6eb"]]},{"id":"19756bee.025074","type":"python3-function","z":"df305688.9bb948","name":"autoupdate checker","func":"\nwith open(\"/home/pi/shared/log/autoupdatestate.log\", \"r\") as file:\n    autoupdate=file.read()\nmsg['payload']=False\nif autoupdate==\"true\":\n    msg['payload']=True\nreturn msg","outputs":1,"x":348.0173645019531,"y":117.56606674194336,"wires":[["f542d30c.9cff7"]]},{"id":"f542d30c.9cff7","type":"ui_switch","z":"df305688.9bb948","name":"","label":"Auto-check for updates","tooltip":"","group":"ddbd496e.93a288","order":1,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":590.0000152587891,"y":117.34388732910156,"wires":[["b19566bb.93bb88"]]},{"id":"b19566bb.93bb88","type":"file","z":"df305688.9bb948","name":"","filename":"/home/pi/shared/log/autoupdatestate.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":889.9999542236328,"y":117.34395599365234,"wires":[[]]},{"id":"75fe4e62.ddb4d","type":"inject","z":"df305688.9bb948","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":92,"y":116.45484924316406,"wires":[["19756bee.025074","d65be819.1aa198","a7869a81.9576f8"]]},{"id":"d65be819.1aa198","type":"python3-function","z":"df305688.9bb948","name":"update check on?","func":"\nwith open(\"/home/pi/shared/log/autoupdatestate.log\", \"r\") as file:\n    autoupdate=file.read()\nif autoupdate==\"true\":\n    msg['payload']=\"on\"\n    return msg\n","outputs":1,"x":347.0173568725586,"y":160.67719841003418,"wires":[["ad5a0b05.dd4d98"]]},{"id":"1a6a31bf.aebc3e","type":"link out","z":"df305688.9bb948","name":"","links":["9141f91a.7a5b98"],"x":895,"y":280,"wires":[]},{"id":"901adc79.dbe8c","type":"function","z":"df305688.9bb948","name":"msg","func":"msg.payload =\"checking for updates\"\nreturn msg;","outputs":1,"noerr":0,"x":333.0174102783203,"y":257.67728424072266,"wires":[["c84fc680.407268"]]},{"id":"c84fc680.407268","type":"link out","z":"df305688.9bb948","name":"","links":["9141f91a.7a5b98"],"x":452.002384185791,"y":257.67090606689453,"wires":[]},{"id":"5b32b8de.9b1cd8","type":"ui_text","z":"df305688.9bb948","group":"3ce32450.e0cffc","order":1,"width":0,"height":0,"name":"Your version:","label":"Your version:","format":"{{msg.payload}}","layout":"row-spread","x":328.01739501953125,"y":393.7883334159851,"wires":[]},{"id":"36cd0cf2.0341f4","type":"ui_text","z":"df305688.9bb948","group":"3ce32450.e0cffc","order":2,"width":0,"height":0,"name":"","label":"Most recent version:","format":"{{msg.payload}}","layout":"row-spread","x":356.0173873901367,"y":432.7883081436157,"wires":[]},{"id":"b7cde8a9.169868","type":"python3-function","z":"df305688.9bb948","name":"msg","func":"\nwith open(\"/home/pi/shared/log/currentversion.log\", \"r\") as file:\n    msg['payload']=file.read()\nreturn msg","outputs":1,"x":171.03478240966797,"y":393.89946937561035,"wires":[["5b32b8de.9b1cd8"]]},{"id":"31c48f35.4ed32","type":"python3-function","z":"df305688.9bb948","name":"msg","func":"\nwith open(\"/home/pi/shared/log/currentserverversion.log\", \"r\") as file:\n    msg['payload']=file.read()\nreturn msg","outputs":1,"x":170.01738739013672,"y":432.788197517395,"wires":[["36cd0cf2.0341f4"]]},{"id":"c1bf25f8.d56848","type":"function","z":"df305688.9bb948","name":"msg","func":"msg.payload =\"installing new version\"\nreturn msg\n\n","outputs":1,"noerr":0,"x":250,"y":780,"wires":[["55abd9ad.c9f658"]]},{"id":"aae83605.ee4cc8","type":"exec","z":"df305688.9bb948","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"install update","x":270,"y":660,"wires":[[],[],[]]},{"id":"55abd9ad.c9f658","type":"link out","z":"df305688.9bb948","name":"","links":["9141f91a.7a5b98"],"x":355,"y":780,"wires":[]},{"id":"fe3a8da5.0476d","type":"link out","z":"df305688.9bb948","name":"","links":["9141f91a.7a5b98"],"x":435,"y":720,"wires":[]},{"id":"56409400.e910fc","type":"python3-function","z":"df305688.9bb948","name":"msg","func":"from time import sleep\nwith open(\"/home/pi/shared/log/currentversion.log\", \"w\") as file:\n    file.write(msg['payload2'])\n\nsleep(2)\nmsg['payload']=\"rebooting...\"\nreturn msg","outputs":1,"x":250,"y":720,"wires":[["fe3a8da5.0476d","9030dcdf.8ccb9","c032ad41.5e9de"]]},{"id":"a25ccb8e.3ce208","type":"link out","z":"df305688.9bb948","name":"","links":["ccedd0d4.f1bcb"],"x":895,"y":360,"wires":[]},{"id":"c032ad41.5e9de","type":"link out","z":"df305688.9bb948","name":"","links":["543b8cc6.11f404"],"x":435.0000286102295,"y":762.1108918190002,"wires":[]},{"id":"d9bf8944.8fe258","type":"ui_template","z":"8d5a7804.52acf8","group":"ceb0b5fe.bdd2f8","name":"Background","order":1,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"/ui/data/logosmall.jpg\");\n  background-repeat: no-repeat;\n  background-attachment: fixed;\n  background-position: center;\n\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":130,"y":340,"wires":[[]]},{"id":"30de8cce.456de4","type":"python3-function","z":"8d5a7804.52acf8","name":"background","func":"import os.path\nimport os\n# Download background\nfile = '/home/pi/shared/ui/data/logosmall.jpg'\nurl = 'https://raw.githubusercontent.com/OpenScanEu/OpenScan/master/temp/Logosmall.jpg'\n\nif(os.path.exists(file)==False):\n    msg['payload']=\"sudo wget -O \"+file+\" \"+url\n    return msg\n\nstatinfo=os.stat(file)\nif(statinfo.st_size==0):\n    msg['payload']=\"sudo wget -O \"+file+\" \"+url\n    return msg\n\n","outputs":1,"x":370,"y":640,"wires":[["6cb177fa.bc3738"]]},{"id":"913680ae.80458","type":"python3-function","z":"8d5a7804.52acf8","name":"/ui/data","func":"import os.path\n\npath = '/home/pi/shared/ui/data'\n\nif(os.path.exists(path)==False):\n    msg['payload']=\"sudo mkdir \"+path\n    return msg\n\n","outputs":1,"x":360,"y":520,"wires":[["656a1816.ae5c18"]]},{"id":"6cb177fa.bc3738","type":"exec","z":"8d5a7804.52acf8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"download","x":580,"y":640,"wires":[[],[],[]]},{"id":"656a1816.ae5c18","type":"exec","z":"8d5a7804.52acf8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"create path","x":590,"y":520,"wires":[[],[],[]]},{"id":"5d50b063.f2852","type":"python3-function","z":"4d24a982.7bf068","name":"Run Routine","func":"deflection=str(msg['payload'])\nwith open(\"/home/pi/shared/log/startdeflection.log\", \"w\") as file:\n    file.write(deflection)\nmsg['payload']=deflection+'°'\nreturn msg","outputs":1,"x":807,"y":326,"wires":[["b9a906ef.6cc2f8"]]},{"id":"37c8219e.10e43e","type":"ui_button","z":"4d24a982.7bf068","name":"Delete old files","group":"f2c6d19b.2d081","order":5,"width":6,"height":1,"passthru":false,"label":"{{msg.payload}}","tooltip":"This can not be undone","color":"red","bgcolor":"lightblue","icon":"","payload":"","payloadType":"date","topic":"","x":680,"y":1400,"wires":[["d4705b92.1d3fd8"]]},{"id":"e9d7fc48.f2732","type":"exec","z":"4d24a982.7bf068","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":990,"y":1400,"wires":[[],[],[]]},{"id":"9c594f7b.4ae9d","type":"ui_ui_control","z":"8d5a7804.52acf8","name":"","events":"all","x":420,"y":280,"wires":[[]]},{"id":"6d67cba7.9da414","type":"function","z":"8d5a7804.52acf8","name":"hide/show text","func":"var oldmsg={payload:msg.payload};\n\n\nif (msg.payload===\"\"){\n    msg.payload={\"group\":{\"hide\":[\"Start_Start\"]}};\n    return [oldmsg,msg];}\nelse{\n    msg.payload={\"group\":{\"show\":[\"Start_Start\"]}};\n}\nreturn [oldmsg,msg];\n","outputs":2,"noerr":0,"x":220,"y":240,"wires":[["a0aa92dd.f911c"],["9c594f7b.4ae9d"]]},{"id":"d4705b92.1d3fd8","type":"python3-function","z":"4d24a982.7bf068","name":"check if busy","func":"with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"r\") as file:\n    state=file.read()\nif state==\"--READY--\":\n    msg['payload']=\"sudo rm -rf -d /home/pi/shared/ui/*.zip && sudo rm -rf  /home/pi/shared/2019*/\"\n    return msg\nreturn","outputs":1,"x":850,"y":1400,"wires":[["e9d7fc48.f2732"]]},{"id":"eba43f10.e0b0c","type":"exec","z":"4d24a982.7bf068","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":390,"y":1400,"wires":[["6432e7e.5021618"],[],[]]},{"id":"d34c3f62.695b1","type":"inject","z":"4d24a982.7bf068","name":"repeat 10","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":90,"y":1400,"wires":[["2456d9e3.8eee16"]]},{"id":"6432e7e.5021618","type":"python3-function","z":"4d24a982.7bf068","name":"","func":"msg['payload']=\"Delete all images (space used: \"+msg['payload'][-3:]+\"%)\"\nreturn msg","outputs":1,"x":530,"y":1400,"wires":[["37c8219e.10e43e"]]},{"id":"2456d9e3.8eee16","type":"python3-function","z":"4d24a982.7bf068","name":"check if busy","func":"with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"r\") as file:\n    state=file.read()\nif state==\"--READY--\":\n    msg['payload']=\"df| awk -F '%' 'NR==2{print $1}'\"\n    return msg\nreturn","outputs":1,"x":250,"y":1400,"wires":[["eba43f10.e0b0c"]]},{"id":"3922bcf2.829a94","type":"ui_template","z":"df305688.9bb948","group":"191e6406.b089ec","name":"Open Manual (DE)","order":2,"width":6,"height":1,"format":"<md-button style=\"width:100%; height:100%;\"   target=\"_blank\" ng-href=\"/ui/data/Manual_de.pdf\">\n <div class=\"center\" style=\"position: relative;\n    top: 30%;\">\n  Manual (DE)\n</div></md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":110,"y":1040,"wires":[[]]},{"id":"c8e3363.481efc8","type":"comment","z":"8d5a7804.52acf8","name":"--------------------------------- TO DO ---------------------------------","info":"since last update:\n-- delay times for rotor/tt\n\nto do:\n-- transfer changes to external cam\n\n\nadd tooltip everywhere\n\nsettings menu --> add cam parameters\n    camera orientation\n    color shift?!?\n    \nbluetooth functionality","x":215,"y":70,"wires":[]},{"id":"f0e6f605.1df218","type":"python3-function","z":"8d5a7804.52acf8","name":"manual en","func":"import os\n# Download manual\n\nfile = '/home/pi/shared/ui/data/Manual_en.pdf'\nurl = ' https://github.com/OpenScanEu/OpenScan/raw/master/Manual_en.pdf'\n\nif(os.path.exists(file)==False):\n    msg['payload']=\"sudo wget -O \"+file+\" \"+url\n    return msg\n\nstatinfo=os.stat(file)\nif(statinfo.st_size==0):\n    msg['payload']=\"sudo wget -O \"+file+\" \"+url\n    return msg\n\n\n\n","outputs":1,"x":370,"y":700,"wires":[["6cb177fa.bc3738"]]},{"id":"3d6b4ed1.0b8342","type":"python3-function","z":"8d5a7804.52acf8","name":"manual de","func":"import os\n# Download manual\n\nfile = '/home/pi/shared/ui/data/Manual_de.pdf'\nurl = ' https://github.com/OpenScanEu/OpenScan/raw/master/Manual_de.pdf'\n\nif(os.path.exists(file)==False):\n    msg['payload']=\"sudo wget -O \"+file+\" \"+url\n    return msg\n\nstatinfo=os.stat(file)\nif(statinfo.st_size==0):\n    msg['payload']=\"sudo wget -O \"+file+\" \"+url\n    return msg\n\n\n\n\n","outputs":1,"x":370,"y":760,"wires":[["6cb177fa.bc3738"]]},{"id":"982dd8a1.d13208","type":"python3-function","z":"df305688.9bb948","name":"manual en","func":"import os.path\n\nfile = '/home/pi/shared/ui/data/Manual_en.pdf'\nurl = ' https://github.com/OpenScanEu/OpenScan/raw/master/Manual_en.pdf'\n\nmsg['payload']=\"sudo wget -O \"+file+\" \"+url\nreturn msg\n\n\n\n","outputs":1,"x":640.9826354980469,"y":1109.100712299347,"wires":[["551d488f.356f48"]]},{"id":"8a75df6a.8f507","type":"python3-function","z":"df305688.9bb948","name":"manual de","func":"import os.path\n\nfile = '/home/pi/shared/ui/data/Manual_de.pdf'\nurl = ' https://github.com/OpenScanEu/OpenScan/raw/master/Manual_de.pdf'\n\nmsg['payload']=\"sudo wget -O \"+file+\" \"+url\nreturn msg\n\n\n\n","outputs":1,"x":643.9826354980469,"y":1161.100712299347,"wires":[["551d488f.356f48"]]},{"id":"551d488f.356f48","type":"exec","z":"df305688.9bb948","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"download","x":817.982608795166,"y":1161.1007614135742,"wires":[[],[],["d6b9951b.b4cd88"]]},{"id":"710ba55d.55ae8c","type":"ui_button","z":"df305688.9bb948","name":"","group":"191e6406.b089ec","order":4,"width":0,"height":0,"passthru":false,"label":"Update Manual","tooltip":"","color":"","bgcolor":"","icon":"","payload":"downloading manual","payloadType":"str","topic":"","x":95.98262023925781,"y":1112.100733757019,"wires":[["e58bc361.0ddf6"]]},{"id":"141c810a.ecc36f","type":"ui_text","z":"df305688.9bb948","group":"191e6406.b089ec","order":5,"width":0,"height":0,"name":"update text","label":"","format":"{{msg.payload}}","layout":"row-center","x":653.9826126098633,"y":1227.1007661819458,"wires":[]},{"id":"d6b9951b.b4cd88","type":"python3-function","z":"df305688.9bb948","name":"msg","func":"msg['payload']=\"download done\"\n\nreturn msg","outputs":1,"x":948.9826049804688,"y":1174.1007776260376,"wires":[["141c810a.ecc36f"]]},{"id":"ee37a4f8.b25c98","type":"exec","z":"8d5a7804.52acf8","command":"sudo chmod a+rwx /home/pi/shared/ui/data/","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"set privileges","x":370,"y":820,"wires":[[],[],[]]},{"id":"517122a1.3657fc","type":"file","z":"4d24a982.7bf068","name":"","filename":"/home/pi/shared/log/zoom.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":649.0000228881836,"y":562.0000085830688,"wires":[["cdc6c714.a50768","706cb03e.d3c14"]]},{"id":"cdc6c714.a50768","type":"link out","z":"4d24a982.7bf068","name":"","links":["ea6345e6.047328","cbe4bd92.d30af"],"x":827.0173416137695,"y":562.0104322433472,"wires":[]},{"id":"53df6b4b.dc18e4","type":"python3-function","z":"4d24a982.7bf068","name":"msg","func":"\nmsg['payload']=\"1\"\nreturn msg","outputs":1,"x":299.0173797607422,"y":561.1215190887451,"wires":[[]]},{"id":"932686ba.41ded8","type":"function","z":"df305688.9bb948","name":"t/f","func":"if (msg.payload === true){\n    msg.payload=\"downloading manual\"\n    return [msg,null]\n}\nmsg.payload=\"no internet connection\"\nreturn [null,msg]\n","outputs":2,"noerr":0,"x":473.0000457763672,"y":1111.5556225776672,"wires":[["982dd8a1.d13208","8a75df6a.8f507","141c810a.ecc36f"],["141c810a.ecc36f"]]},{"id":"a162aa1a.426708","type":"function","z":"df305688.9bb948","name":"t/f","func":"if (msg.payload === true){\n    msg.payload=\"sudo wget -O /home/pi/shared/ui/data/update_new.log https://raw.githubusercontent.com/OpenScanEu/OpenScan/master/update.log && sudo mv -f /home/pi/shared/ui/data/update_new.log /home/pi/shared/ui/data/update.log\"\n    return [msg,null]\n}\nmsg.payload=\"no internet connection\"\nreturn [null,msg]\n","outputs":2,"noerr":0,"x":490,"y":212,"wires":[["31a54691.55d54a"],["c84fc680.407268"]]},{"id":"dc1a9162.48483","type":"link in","z":"df305688.9bb948","name":"Version","links":["e4d3a1d9.32503","a7869a81.9576f8","9030dcdf.8ccb9"],"x":35.02775192260742,"y":392.97222995758057,"wires":[["b7cde8a9.169868","31c48f35.4ed32","43372241.cb8f6c"]]},{"id":"e4d3a1d9.32503","type":"link out","z":"df305688.9bb948","name":"","links":["dc1a9162.48483","3a8b7430.734eec","d3eaeac4.a1c968"],"x":895,"y":320,"wires":[]},{"id":"a7869a81.9576f8","type":"link out","z":"df305688.9bb948","name":"","links":["dc1a9162.48483","3a8b7430.734eec","d3eaeac4.a1c968"],"x":189.0173397064209,"y":154.01042366027832,"wires":[]},{"id":"43372241.cb8f6c","type":"python3-function","z":"df305688.9bb948","name":"display changelog","func":"with open(\"/home/pi/shared/ui/data/update.log\", \"r\") as file:\n    text=file.read()\nmsg['payload']=text\nreturn msg","outputs":1,"x":210.01734924316406,"y":491.0104064941406,"wires":[["963639de.108878"]]},{"id":"963639de.108878","type":"ui_template","z":"df305688.9bb948","group":"3ce32450.e0cffc","name":"changelog","order":3,"width":6,"height":5,"format":"<style>\n    #mylog {\n        min-height: 100px;\n        padding: 0;\n        white-space: pre;\n    }\n</style>\n\n<div id=\"mylog\" ng-bind=\"msg.payload\">\n    <!-- file contents will go here -->\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":425.0173797607422,"y":490.79165840148926,"wires":[[]]},{"id":"498c1826.8043d8","type":"inject","z":"df305688.9bb948","name":"","topic":"Repeater","payload":"0.1","payloadType":"str","repeat":"5","crontab":"","once":true,"onceDelay":"0.1","x":110.017333984375,"y":558.0104312896729,"wires":[["c51f8fb0.6f78e"]]},{"id":"c51f8fb0.6f78e","type":"function","z":"df305688.9bb948","name":"","func":"msg.path = \"shared/ui/data/old_flows\"\n\nreturn msg;","outputs":1,"noerr":0,"x":284.01728439331055,"y":557.7877168655396,"wires":[["cacdf08c.f174d"]]},{"id":"cacdf08c.f174d","type":"fs-ops-dir","z":"df305688.9bb948","name":"/media/pi/","path":"path","pathType":"msg","filter":"*","filterType":"str","dir":"files","dirType":"msg","x":465.0172882080078,"y":557.7877168655396,"wires":[["393a126e.979afe"]]},{"id":"393a126e.979afe","type":"ui_template","z":"df305688.9bb948","group":"ddbd496e.93a288","name":"File List + Install Version","order":4,"width":6,"height":6,"format":"<script>\n \nthis.scope.action = function(opt) {\n var playFile = opt || \"no data passed to function\";\n// console.warn(playFile)\n return playFile; } \n</script>\n\n\n<div style=\"max-width:500px;\">\n <ul>\n <li ng-repeat=\"file in msg.files track by $index\" style=\"list-style-type: none;\">\n <label>\n <input type=\"radio\" ng-model=\"$parent.file\" name=\"data\" value=\"{{file}}\" required />{{file}}\n </label>\n </li>\n </ul>\n\n<md-button   style=\"width:100%; height:53px;color:red;background-color:lightblue;\"  ng-click=\"send({file})\">\n <div class=\"center\" style=\"position: relative;\n    top: 30%;\">\n  install version\n</div></md-button>\n\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":470,"y":620,"wires":[["cacdf08c.f174d","caec59f9.a54488"]]},{"id":"14896430.60af9c","type":"exec","z":"df305688.9bb948","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"download update","x":1170,"y":400,"wires":[[],[],["91dfab0.574d558"]]},{"id":"f518239d.02604","type":"python3-function","z":"df305688.9bb948","name":"initial. exec P3","func":"msg['payload'] =\"sudo wget -O /home/pi/.node-red/flows_raspberrypi_download.json https://raw.githubusercontent.com/OpenScanEu/OpenScan/master/update.json\"\nreturn msg","outputs":1,"x":960,"y":400,"wires":[["14896430.60af9c"]]},{"id":"1ab82558.09e6eb","type":"function","z":"df305688.9bb948","name":"f/t","func":"var msg2 = { payload:\"\" };\nvar msg3 = { payload:null};\n\nif (msg.payload==\"new updates available\"){\n    msg2.payload=msg.payload\n    msg3.payload=\"install exec\"\n    return [msg,msg2,msg3]\n}\n\nreturn [msg,msg2,null]\n","outputs":3,"noerr":0,"x":710,"y":300,"wires":[["e4d3a1d9.32503","1a6a31bf.aebc3e"],["a25ccb8e.3ce208","f518239d.02604"],[]]},{"id":"91dfab0.574d558","type":"python3-function","z":"df305688.9bb948","name":"init exec+rn version","func":"with open(\"/home/pi/shared/ui/data/update.log\", \"r\") as file:\n    versionserver=str(file.read())[:16]\nwith open(\"/home/pi/shared/log/currentserverversion.log\", \"w\") as file:\n    file.write(versionserver)\n\nmsg['payload']=\"sudo mv -f /home/pi/.node-red/flows_raspberrypi_download.json /home/pi/shared/ui/data/old_flows/\"+versionserver+\".json\"\n\nreturn msg\n\n","outputs":1,"x":950,"y":480,"wires":[["f5691a6d.df5c58"]]},{"id":"f5691a6d.df5c58","type":"exec","z":"df305688.9bb948","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"move update","x":1150,"y":480,"wires":[[],[],[]]},{"id":"caec59f9.a54488","type":"python3-function","z":"df305688.9bb948","name":"init exec","func":"payload=msg['file']\nif payload==\"saved.json\":\n    msg['payload']=\"sudo \\cp /home/pi/shared/ui/data/old_flows/\"+payload+\" /home/pi/.node-red/flows_raspberrypi.json\"\nelse:\n    msg['payload']=\"sudo \\cp /home/pi/.node-red/flows_raspberrypi.json  /home/pi/shared/ui/data/old_flows/saved.json && sudo \\cp /home/pi/shared/ui/data/old_flows/\"+payload+\" /home/pi/.node-red/flows_raspberrypi.json\"\n\nmsg['payload2']=payload[:16]\nreturn msg\n\n","outputs":1,"x":100,"y":660,"wires":[["aae83605.ee4cc8","56409400.e910fc","c1bf25f8.d56848"]]},{"id":"9030dcdf.8ccb9","type":"link out","z":"df305688.9bb948","name":"","links":["dc1a9162.48483","3a8b7430.734eec","d3eaeac4.a1c968"],"x":434.9826431274414,"y":678.989176273346,"wires":[]},{"id":"1b10290.b9641d7","type":"python3-function","z":"8d5a7804.52acf8","name":"ui/data/old_flows","func":"import os.path\n\npath = '/home/pi/shared/ui/data/old_flows'\n\nif(os.path.exists(path)==False):\n    msg['payload']=\"sudo mkdir \"+path\n    return msg\n\n","outputs":1,"x":390,"y":580,"wires":[["867478dc.d834f8"]]},{"id":"867478dc.d834f8","type":"exec","z":"8d5a7804.52acf8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"create path","x":590,"y":580,"wires":[[],[],[]]},{"id":"e58bc361.0ddf6","type":"is online","z":"df305688.9bb948","name":"","url":"www.google.com","action":"0","x":295.0035858154297,"y":1112.5732431411743,"wires":[["932686ba.41ded8"]]},{"id":"ad5a0b05.dd4d98","type":"is online","z":"df305688.9bb948","name":"","url":"www.google.com","action":"0","x":341.02087783813477,"y":212.02804374694824,"wires":[["a162aa1a.426708"]]},{"id":"a58c1345.a280d","type":"ui_template","z":"df305688.9bb948","group":"3ce32450.e0cffc","name":"Syslog","order":5,"width":6,"height":1,"format":"<md-button ng-disabled=\"msg.disable\" style=\"background-color:{{msg.backgroundcolor}};color:{{msg.color}};width:100%; height:100%;\"   target=\"_blank\" ng-href=\"/ui/data/syslog.txt\">\n <div class=\"center\" style=\"position: relative;\n    top: 30%;\">\n  Download Syslog\n</div></md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":930,"y":860,"wires":[[]]},{"id":"a7d9444d.127ef8","type":"ui_switch","z":"df305688.9bb948","name":"","label":"Open Syslog","tooltip":"","group":"3ce32450.e0cffc","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":410,"y":880,"wires":[["a91a3a1a.16f838"]]},{"id":"a91a3a1a.16f838","type":"function","z":"df305688.9bb948","name":"","func":"var msg2 = { payload: \"sudo \\cp /var/log/syslog /home/pi/shared/ui/data/syslog.txt && sudo chmod a+rwx /home/pi/shared/ui/data/syslog.txt\"};\nif (msg.payload===true){\n    msg.color = \"white\"\n    msg.backgroundcolor=\"default\"\n    msg.disable=false\n    return [msg,msg2];\n}\nmsg.color = \"white\"\nmsg.backgroundcolor =\"white\"\nmsg.disable=true\nreturn [msg,null];","outputs":2,"noerr":0,"x":570,"y":880,"wires":[["92120e6c.94323"],["b6a25062.b315b"]]},{"id":"b6a25062.b315b","type":"exec","z":"df305688.9bb948","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"get syslog","x":580,"y":940,"wires":[[],[],["1fd53d0f.69c623"]]},{"id":"92120e6c.94323","type":"delay","z":"df305688.9bb948","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":860,"wires":[["a58c1345.a280d"]]},{"id":"1fd53d0f.69c623","type":"python3-function","z":"df305688.9bb948","name":"msg","func":"\nwith open(\"/home/pi/shared/log/currentversion.log\", \"r\") as file:\n    msg['payload']=\">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Version in use: \"+file.read()\nreturn msg","outputs":1,"x":730,"y":940,"wires":[["1c8f53b7.e8499c"]]},{"id":"1c8f53b7.e8499c","type":"file","z":"df305688.9bb948","name":"","filename":"/home/pi/shared/ui/data/syslog.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":960,"y":940,"wires":[[]]},{"id":"8dc14241.f8cd4","type":"function","z":"df305688.9bb948","name":"","func":"msg.payload=false\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":880,"wires":[["a7d9444d.127ef8"]]},{"id":"325e8577.48589a","type":"inject","z":"df305688.9bb948","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":100,"y":880,"wires":[["8dc14241.f8cd4"]]},{"id":"b9e917cd.b9b2a8","type":"ui_slider","z":"4d24a982.7bf068","name":"zoom","label":" ","tooltip":"","group":"aa12c1f4.a677e","order":16,"width":6,"height":1,"passthru":true,"outs":"all","topic":"","min":"1","max":"5","step":"0.1","x":430,"y":560,"wires":[["517122a1.3657fc"]]},{"id":"706cb03e.d3c14","type":"ui_text","z":"4d24a982.7bf068","group":"aa12c1f4.a677e","order":15,"width":6,"height":1,"name":"","label":"Zoom","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":520,"wires":[]},{"id":"30b6f89b.4cffc8","type":"delay","z":"4d24a982.7bf068","name":"lmt 0.2/s","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":1060,"wires":[["fe819a33.f00998"]]},{"id":"f99d6718.6a72f8","type":"delay","z":"4d24a982.7bf068","name":"lmt 0.2/s","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":1100,"wires":[["5cdbf3c9.3c019c"]]},{"id":"90947eaa.b984c","type":"delay","z":"4d24a982.7bf068","name":"lmt 0.2/s","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":740,"y":1060,"wires":[["a160f743.9899e8"]]},{"id":"cb95c656.48e408","type":"delay","z":"4d24a982.7bf068","name":"lmt 0.2/s","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":740,"y":1100,"wires":[["46165b44.241bf4"]]},{"id":"a3b19be7.b771f8","type":"inject","z":"4d24a982.7bf068","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":120,"y":1160,"wires":[["fe2ccc09.bf9ac","d8833389.137a5"]]},{"id":"65816a3f.731da4","type":"ui_button","z":"df305688.9bb948","name":"","group":"ddbd496e.93a288","order":5,"width":0,"height":0,"passthru":false,"label":"Save current Version","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":840,"y":620,"wires":[["975808e4.c9afc8"]]},{"id":"975808e4.c9afc8","type":"python3-function","z":"df305688.9bb948","name":"Run Routine","func":"import time\nimport shutil\ntimestamp =time.strftime(\"20%y-%m-%d_%H.%M.\")\nsource = \"/home/pi/.node-red/flows_raspberrypi.json\"\ndestination = \"/home/pi/shared/ui/data/old_flows/saved-\"+timestamp+\"json\"\ndest = shutil.copyfile(source, destination) \n","outputs":1,"x":1110,"y":620,"wires":[[]]}]
