update.json
[{"id":"8d5a7804.52acf8","type":"tab","label":"Start","disabled":false,"info":""},{"id":"f3531383.b49ea","type":"tab","label":"Camera Main","disabled":false,"info":""},{"id":"422031c2.453f9","type":"tab","label":"Smartphone","disabled":false,"info":""},{"id":"9096e101.facd1","type":"tab","label":"External Cam","disabled":false,"info":""},{"id":"bfd53ca5.067f5","type":"tab","label":"GPhoto2","disabled":false,"info":""},{"id":"4d24a982.7bf068","type":"tab","label":"RPi Cam","disabled":false,"info":""},{"id":"6fff9eb6.3efc2","type":"tab","label":"Settings","disabled":false,"info":""},{"id":"df305688.9bb948","type":"tab","label":"Update","disabled":false,"info":""},{"id":"e4b4ade8.5763e","type":"subflow","name":"List Files","info":"","in":[{"x":180,"y":80,"wires":[{"id":"5024ed86.4c84c4"}]}],"out":[{"x":680,"y":60,"wires":[{"id":"d0eb6be8.eda228","port":0}]}]},{"id":"449b7301.e9f22c","type":"subflow","name":"FIle Upload (3)","info":"","category":"","in":[],"out":[{"x":840,"y":320,"wires":[{"id":"bd8f9e38.c27a1","port":0}]}],"env":[{"name":"UPLOAD_DIR","type":"str","value":"."}]},{"id":"f15aaf51.f4429","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"OpenScan Pi","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":37,"sy":37,"gx":6,"gy":6,"cx":4,"cy":4,"px":3,"py":3}}},{"id":"c19e2c9e.f4b99","type":"ui_spacer","name":"spacer","group":"","order":8,"width":8,"height":1},{"id":"75afd9cb.6a3ed8","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"e49ddca1.744a","type":"ui_spacer","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"987b4012.f9a07","type":"ui_spacer","name":"spacer","group":"","order":5,"width":6,"height":1},{"id":"caea0d6c.4e75","type":"ui_spacer","name":"spacer","group":"","order":6,"width":1,"height":1},{"id":"3fadc6db.3997ea","type":"ui_spacer","name":"spacer","group":"","order":8,"width":1,"height":1},{"id":"f5864201.8e5ff","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"9c6a04ac.e760a8","type":"ui_spacer","name":"spacer","group":"","order":11,"width":1,"height":1},{"id":"bb5bfba5.b3b7b8","type":"ui_spacer","name":"spacer","group":"","order":11,"width":8,"height":1},{"id":"f4e697fc.ee1608","type":"ui_tab","z":"","name":"Settings","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"ddd1a14a.d7351","type":"ui_group","z":"","name":"Settings","tab":"f4e697fc.ee1608","order":1,"disp":true,"width":"6","collapse":false},{"id":"79b73861.bb6048","type":"ui_spacer","name":"spacer","group":"","order":11,"width":8,"height":1},{"id":"a2b83ddb.6a2ee","type":"ui_group","z":"","name":"Camera Settings","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"1ecaa9e9.4192e6","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"e58f9de6.10904","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"924edf62.f208d","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"1303ee2a.fd44f2","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"5d12f9cd.9c4a88","type":"ui_spacer","name":"spacer","group":"a2b83ddb.6a2ee","order":5,"width":6,"height":1},{"id":"35a0e31e.2cf06c","type":"ui_group","z":"","name":"Advanced Pin & Motor Settings","tab":"f4e697fc.ee1608","order":2,"disp":true,"width":9,"collapse":true},{"id":"b9933221.eac94","type":"ui_group","z":"","name":"Advanced Camera Parameters","tab":"f4e697fc.ee1608","order":3,"disp":true,"width":9,"collapse":true},{"id":"6bdd5033.f67e","type":"ui_group","z":"","name":"Node Red Update","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"88a2f658.ac2378","type":"ui_spacer","name":"spacer","group":"6bdd5033.f67e","order":3,"width":6,"height":1},{"id":"8abef8eb.32fed8","type":"ui_tab","z":"","name":"Start","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f7451b10.d6c048","type":"ui_group","z":"","name":"Start","tab":"8abef8eb.32fed8","order":1,"disp":false,"width":"6","collapse":false},{"id":"d25e08b4.5b27e8","type":"ui_tab","z":"","name":"Update & Info","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"ddbd496e.93a288","type":"ui_group","z":"","name":"Manage Updates","tab":"d25e08b4.5b27e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"3ce32450.e0cffc","type":"ui_group","z":"","name":"Changelog","tab":"d25e08b4.5b27e8","order":2,"disp":true,"width":16,"collapse":false},{"id":"ceb0b5fe.bdd2f8","type":"ui_group","z":"","name":"Background","tab":"8abef8eb.32fed8","order":2,"disp":false,"width":"1","collapse":false},{"id":"191e6406.b089ec","type":"ui_group","z":"","name":"User Manual","tab":"d25e08b4.5b27e8","order":3,"disp":true,"width":"6","collapse":false},{"id":"6c07aa26.f11494","type":"ui_group","z":"","name":"Preview","tab":"","order":2,"disp":true,"width":11,"collapse":false},{"id":"8a897c8e.d858c","type":"ui_group","z":"","name":"Run","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"436c5312.8bd37c","type":"ui_spacer","name":"spacer","group":"6c07aa26.f11494","order":2,"width":3,"height":1},{"id":"76c2902a.e0813","type":"ui_spacer","name":"spacer","group":"6c07aa26.f11494","order":4,"width":3,"height":1},{"id":"e3c989ac.ead728","type":"ui_spacer","name":"spacer","group":"8a897c8e.d858c","order":4,"width":6,"height":1},{"id":"739bb3d8.c525bc","type":"ui_tab","z":"","name":"Camera","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"3aee2d1a.bc7412","type":"ui_group","z":"","name":"Main","tab":"739bb3d8.c525bc","order":1,"disp":false,"width":"6","collapse":false},{"id":"a0313e96.486fc","type":"ui_group","z":"","name":"Settings RPi","tab":"739bb3d8.c525bc","order":2,"disp":false,"width":"6","collapse":false},{"id":"b0cc7e63.5b5b3","type":"ui_group","z":"","name":"Preview RPi","tab":"739bb3d8.c525bc","order":6,"disp":false,"width":15,"collapse":false},{"id":"71843631.f4d5f8","type":"ui_group","z":"","name":"Preview GPhoto2","tab":"739bb3d8.c525bc","order":7,"disp":false,"width":15,"collapse":false},{"id":"56fe100.930a8f","type":"ui_group","z":"","name":"Settings Gphoto2","tab":"739bb3d8.c525bc","order":3,"disp":false,"width":6,"collapse":false},{"id":"66fc75c9.2e33fc","type":"ui_group","z":"","name":"Settings External Camera","tab":"739bb3d8.c525bc","order":4,"disp":false,"width":"6","collapse":false},{"id":"3e00b4d5.2a3f8c","type":"ui_group","z":"","name":"Settings Smartphone","tab":"739bb3d8.c525bc","order":5,"disp":false,"width":13,"collapse":false},{"id":"e76adf89.87655","type":"ui_group","z":"","name":"Data","tab":"739bb3d8.c525bc","order":8,"disp":false,"width":"6","collapse":false},{"id":"d8910e38.d12d1","type":"ui_group","z":"","name":"File upload","tab":"4c2d09a1.024848","order":4,"disp":true,"width":"6","collapse":false},{"id":"4c2d09a1.024848","type":"ui_tab","z":"","name":"File Upload","icon":"dashboard","order":2},{"id":"b9e9bd43.5257f","type":"ui_spacer","name":"spacer","group":"d77de880.1a5308","order":3,"width":1,"height":1},{"id":"b91253a8.cc75a","type":"ui_spacer","name":"spacer","group":"ddd1a14a.d7351","order":3,"width":6,"height":1},{"id":"d37e1a8b.b47528","type":"ui_spacer","name":"spacer","group":"35a0e31e.2cf06c","order":9,"width":9,"height":1},{"id":"b4ca7149.53afd","type":"ui_spacer","name":"spacer","group":"3ce32450.e0cffc","order":4,"width":6,"height":1},{"id":"288716db.3a179a","type":"ui_spacer","name":"spacer","group":"3ce32450.e0cffc","order":6,"width":5,"height":1},{"id":"ea6116ec.6e1d88","type":"ui_spacer","name":"spacer","group":"3ce32450.e0cffc","order":7,"width":6,"height":1},{"id":"e40d2c4d.f28d3","type":"ui_spacer","name":"spacer","group":"3ce32450.e0cffc","order":9,"width":5,"height":1},{"id":"ff7641e2.35825","type":"ui_spacer","name":"spacer","group":"191e6406.b089ec","order":3,"width":6,"height":1},{"id":"136ab1be.7c283e","type":"ui_spacer","name":"spacer","group":"3aee2d1a.bc7412","order":2,"width":6,"height":1},{"id":"efd13bcf.813dc8","type":"ui_spacer","name":"spacer","group":"3aee2d1a.bc7412","order":9,"width":6,"height":1},{"id":"a98d18aa.c44c58","type":"ui_spacer","name":"spacer","group":"3aee2d1a.bc7412","order":12,"width":6,"height":1},{"id":"5675e6bc.4d2818","type":"ui_spacer","name":"spacer","group":"3aee2d1a.bc7412","order":19,"width":6,"height":1},{"id":"71503fb1.d2381","type":"ui_spacer","name":"spacer","group":"66fc75c9.2e33fc","order":2,"width":6,"height":1},{"id":"8178674d.39e328","type":"ui_spacer","name":"spacer","group":"66fc75c9.2e33fc","order":7,"width":6,"height":1},{"id":"260f77ad.289f48","type":"ui_spacer","name":"spacer","group":"b0cc7e63.5b5b3","order":2,"width":4,"height":1},{"id":"78a143c0.33608c","type":"ui_spacer","name":"spacer","group":"b0cc7e63.5b5b3","order":4,"width":4,"height":1},{"id":"549cf215.11359c","type":"ui_spacer","name":"spacer","group":"b0cc7e63.5b5b3","order":5,"width":4,"height":1},{"id":"b2e384f.1c11978","type":"ui_spacer","name":"spacer","group":"b0cc7e63.5b5b3","order":7,"width":4,"height":1},{"id":"74857456.fa9e2c","type":"ui_spacer","name":"spacer","group":"71843631.f4d5f8","order":2,"width":6,"height":1},{"id":"d477a757.e53158","type":"ui_spacer","name":"spacer","group":"71843631.f4d5f8","order":4,"width":4,"height":1},{"id":"aa080c64.185f","type":"inject","z":"4d24a982.7bf068","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":80,"y":100,"wires":[["dd02e867.71f428","e10fd5cb.9bf6d8","e4ac8ab4.79c888","44c05737.97e0f8","ad447022.41698","53df6b4b.dc18e4","658b57c8.951d08"]]},{"id":"dd02e867.71f428","type":"file in","z":"4d24a982.7bf068","name":"","filename":"/home/pi/shared/log/camerabrightness.log","format":"","chunk":false,"sendError":false,"encoding":"none","x":340,"y":240,"wires":[["55751e65.01d96"]]},{"id":"f1cc2290.f1d05","type":"ui_button","z":"4d24a982.7bf068","name":"","group":"a0313e96.486fc","order":11,"width":0,"height":0,"passthru":true,"label":"Start Routine","tooltip":"","color":"","bgcolor":"","icon":"","payload":"starten","payloadType":"str","topic":"","x":573.9999752044678,"y":774.0006256103516,"wires":[["7f765dba.d95494","2bfcb97b.3f1386"]]},{"id":"46ed09a7.f58668","type":"ui_button","z":"4d24a982.7bf068","name":"","group":"b0cc7e63.5b5b3","order":3,"width":7,"height":1,"passthru":false,"label":"Update Preview","tooltip":"press to show the effect of changed settings (takes one second to load)","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":108.00001907348633,"y":658.0007162094116,"wires":[["46879cf8.389c94"]]},{"id":"92aec26a.04d37","type":"ui_text","z":"4d24a982.7bf068","group":"a0313e96.486fc","order":3,"width":6,"height":1,"name":"","label":"Camera Brightness","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":240,"wires":[]},{"id":"7f765dba.d95494","type":"python3-function","z":"4d24a982.7bf068","name":"Run Routine","func":"import RPi.GPIO as GPIO\nimport time\nimport picamera\nfrom time import sleep\n# Zip-packer\nimport os\nimport shutil\nfrom os import path\nfrom zipfile import ZipFile\nfrom os import path\nfrom shutil import make_archive\nfrom PIL import Image\n\nfrom zipfile import ZipFile\n\nwith open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"r\") as file:\n    test=file.read()\nif test!=\"no camera found\" and test!=\"--READY--\":\n    return\n\nwith open(\"/home/pi/shared/log/zoom.log\", \"r\") as file:\n    zoomfactor=file.read()\nzoomx=0.5-0.5/float(zoomfactor)    \nzoomy=zoomx\nzoomw=1/float(zoomfactor)\nzoomh=zoomw\nzoom=(zoomx, zoomy, zoomw, zoomh)\n\n\n#routine settings\nwith open(\"/home/pi/shared/log/fotosperrotation.log\", \"r\") as file:\n    fotosperrotation=int(file.read())\nwith open(\"/home/pi/shared/log/startdeflection.log\", \"r\") as file:\n    startdeflection=int(file.read())\nwith open(\"/home/pi/shared/log/verticalpositions.log\", \"r\") as file:\n    verticalpositions=int(file.read())\nwith open(\"/home/pi/shared/log/projectname.log\", \"r\") as file:\n    projectname=file.read()\n\n# cam settings\nwith open(\"/home/pi/shared/log/camera_resolution_x.log\", \"r\") as file:\n    resx=int(file.read())\nwith open(\"/home/pi/shared/log/camera_resolution_y.log\", \"r\") as file:\n    resy=int(file.read())\n\n\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    dirpinrotor=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    steppinrotor=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"r\") as file:\n    dirpintt=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"r\") as file:\n    steppintt=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    rotorspr=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"r\") as file:\n    ttspr=int(file.read())  \nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delayrotor=float(file.read())\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"r\") as file:\n    delaytt=float(file.read())    \n\nstartangle = rotorspr/360*startdeflection\nprojectcode =time.strftime(\"20%y-%m-%d %H.%M.%S - \")+projectname+'/'\ndirname='./shared/'+projectcode\nos.makedirs(dirname)  \n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(3, GPIO.OUT)\n\n\n\ndef ttrun(step_count):\n    GPIO.setup(dirpintt, GPIO.OUT)\n    GPIO.setup(steppintt, GPIO.OUT)\n    if (step_count>0):\n        GPIO.output(dirpintt, GPIO.HIGH)\n    if(step_count<0):\n        GPIO.output(dirpintt, GPIO.LOW)\n        step_count=-step_count\n    for x in range(step_count):\n        GPIO.output(steppintt, GPIO.HIGH)\n        sleep(delaytt)\n        GPIO.output(steppintt, GPIO.LOW)\n        sleep(delaytt)\n\ndef rotorrun(step_count):\n    GPIO.setup(dirpinrotor, GPIO.OUT)\n    GPIO.setup(steppinrotor, GPIO.OUT)\n    if (step_count>0):\n        GPIO.output(dirpinrotor, GPIO.HIGH)\n    if(step_count<0):\n        GPIO.output(dirpinrotor, GPIO.LOW)\n        step_count=-step_count\n    for x in range(step_count):\n        GPIO.output(steppinrotor, GPIO.HIGH)\n        sleep(delayrotor)\n        GPIO.output(steppinrotor, GPIO.LOW)\n        sleep(delayrotor)\n\ndef updatepreview():\n    with open(\"/home/pi/shared/log/updatepreview.log\", \"w\") as file:\n        file.write(time.strftime(\"20%y-%m-%d_%H-%M-%S\"))\n\ndef stoptest():\n    with open(\"/home/pi/shared/log/stopstate.log\", \"r\") as file:\n        if (file.read()!=\"stop\"):\n            return\n    saveparameters()\n    with open(\"/home/pi/shared/log/stopstate.log\", \"w\") as file:\n        file.write(\"ready\")\n    end()     \n    # producing an error to stop the routine as exit() does not work\n    # need to find a better solution ;)\n\ndef takephoto():\n    stoptest()\n    with picamera.PiCamera() as camera:\n        with open(\"/home/pi/shared/log/cameracontrast.log\", \"r\") as file:\n            cameracontrast=int(file.read())\n        with open(\"/home/pi/shared/log/camerabrightness.log\", \"r\") as file:\n            camerabrightness=int(file.read())\n        with open(\"/home/pi/shared/log/shutterspeed.log\", \"r\") as file:\n            shutterspeed=int(file.read())*100\n        camera.iso = 100\n        camera.brightness = camerabrightness\n        camera.contrast = cameracontrast\n        camera.resolution=(resx, resy)\n        camera.exposure_compensation = 0 \n        timestamp= time.strftime(\"20%y-%m-%d_%H-%M-%S\")\n        filepath = dirname+'/'+ timestamp + \".jpg\"\n        sleep(0.7)\n        camera.awb_mode = 'auto'\n        camera.exposure_mode = 'off'\n        camera.zoom=zoom\n        camera.shutter_speed = shutterspeed\n        camera.capture(filepath, quality=100)\n        img = Image.open(filepath)\n        img = img.resize((600, 450))\n        img.save('./shared/ui/data/preview.jpg')\n        zip(filepath)\n        pass\n    updatepreview()\n\ndef turntablerotation():\n    for x in range (fotosperrotation):\n        with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n            file.write(\"Position: \"+str(vertpos)+\"/\"+str(verticalpositions)+\" Foto: \"+str(x+1)+\"/\"+str(fotosperrotation))\n        if fotosperrotation!=1:\n            ttrun(ttspr/fotosperrotation)\n        takephoto()\n\ndef saveparameters():\n    os.mknod(dirname+\"/parameters.txt\")\n\n    with open(\"/home/pi/shared/log/cameracontrast.log\", \"r\") as file:\n        cameracontrast=int(file.read())\n    with open(\"/home/pi/shared/log/camerabrightness.log\", \"r\") as file:\n        camerabrightness=int(file.read())\n    with open(\"/home/pi/shared/log/shutterspeed.log\", \"r\") as file:\n        shutterspeed=int(file.read())\n\n    with open(dirname+\"/parameters.txt\", \"w\") as file:\n        file.write(\"Settings for OpenScanPi;\\n\")\n        file.write(\"projectname;\"+str(projectname)+\"\\n\")\n        file.write(\"fotosperrotation;\"+str(fotosperrotation)+\"\\n\")\n        file.write(\"startdeflection;\"+str(startdeflection)+\"\\n\")\n        file.write(\"verticalpositions;\"+str(verticalpositions)+\"\\n\")\n        file.write(\"camerabrightness;\"+str(camerabrightness)+\"\\n\")\n        file.write(\"shutterspeed;\"+str(shutterspeed)+\"\\n\")\n        file.write(\"cameracontrast;\"+str(cameracontrast)+\"\\n\")\n        file.write(\"zoomfactor;\"+str(zoomfactor)+\"\\n\")\n    \n    zip(dirname+\"/parameters.txt\")\n\n    shutil.move('shared/temp.zip','shared/ui/'+projectcode[:-1]+'.zip')\n    shutil.rmtree(dirname)\n    \n    with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n        file.write(\"--READY--\")\n\ndef zip(filepath):\n    with ZipFile(\"/home/pi/shared/temp.zip\", \"a\") as zip:\n        zip.write(filepath, os.path.basename(filepath))\n    os.remove(filepath)\n    \n\nrotorrun(-startangle)\nfor x in range (verticalpositions-1):\n    vertpos = x+1\n    turntablerotation()\n    if (verticalpositions>1):\n        rotorrun(2*startangle/(verticalpositions-1))\nif (verticalpositions==1):\n    startangle=-startangle\nvertpos=verticalpositions\nturntablerotation()\n\nrotorrun(-startangle)\n\nsaveparameters()\n\nreturn msg","outputs":1,"x":771,"y":740,"wires":[["8cb8acc8.daecc"]]},{"id":"55751e65.01d96","type":"ui_slider","z":"4d24a982.7bf068","name":"","label":" ","tooltip":"","group":"a0313e96.486fc","order":4,"width":6,"height":1,"passthru":true,"outs":"all","topic":"","min":"0","max":"100","step":1,"x":590,"y":240,"wires":[["47222168.1202f"]]},{"id":"47222168.1202f","type":"file","z":"4d24a982.7bf068","name":"","filename":"/home/pi/shared/log/camerabrightness.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":840,"y":240,"wires":[["92aec26a.04d37","cbf16c9b.cb7f7"]]},{"id":"e10fd5cb.9bf6d8","type":"function","z":"4d24a982.7bf068","name":"Reset Project Name","func":"msg.payload=\"default\"\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":200,"wires":[["7b3f260d.ab9c68","26130dba.a0a212"]]},{"id":"7b3f260d.ab9c68","type":"ui_text_input","z":"4d24a982.7bf068","name":"project n","label":"Project Name","tooltip":"enter project name + press enter","group":"a0313e96.486fc","order":2,"width":6,"height":1,"passthru":true,"mode":"text","delay":"300","topic":"","x":600,"y":200,"wires":[["26130dba.a0a212"]]},{"id":"26130dba.a0a212","type":"file","z":"4d24a982.7bf068","name":"","filename":"/home/pi/shared/log/projectname.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":830,"y":200,"wires":[[]]},{"id":"99e1f05d.05a8a","type":"function","z":"4d24a982.7bf068","name":"timestamp pic file","func":"var d = new Date();\nvar n = d.getTime();\nmsg.payload = \"/ui/data/preview.jpg?ts=\" + n;\nreturn msg;","outputs":1,"noerr":0,"x":825.5057678222656,"y":657.1087169647217,"wires":[["ec4e7671.e2b8f8"]]},{"id":"ec4e7671.e2b8f8","type":"ui_template","z":"4d24a982.7bf068","group":"b0cc7e63.5b5b3","name":"preview","order":1,"width":15,"height":11,"format":"<div align=\"center\" >\n<img ng-src= {{msg.payload}} style=\"width: auto; height: auto;max-width: 580px;max-height: 420px\"</img>\n<a src=\"/data/preview.jpg\" </a>\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1019.3211250305176,"y":656.8245286941528,"wires":[[]]},{"id":"39f94499.73f76c","type":"python3-function","z":"4d24a982.7bf068","name":"Take Preview Shot","func":"import time\nimport picamera\nfrom time import sleep\nimport subprocess\n\nwith open(\"/home/pi/shared/log/camera.log\", \"r\") as file:\n    if file.read()!=\"RPi Camera\":\n        return\n\nwith open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"r\") as file:\n    if file.read()==\"creating zip file\":\n        return\n\nif subprocess.check_output([\"vcgencmd\",\"get_camera\"])[-2:-1]==\"0\":\n    with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n        file.write(\"no camera found\")\n    return\n\nwith open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n        file.write(\"--READY--\")\n\nwith open(\"/home/pi/shared/log/zoom.log\", \"r\") as file:\n    zoomfactor=file.read()\nzoomx=0.5-0.5/float(zoomfactor)    \nzoomy=zoomx\nzoomw=1/float(zoomfactor)\nzoomh=zoomw\nzoom=(zoomx, zoomy, zoomw, zoomh)\n\nwith open(\"/home/pi/shared/log/shutterspeed.log\", \"r\") as file:\n    shutterspeed=int(file.read())*100\n\n\nwith open(\"/home/pi/shared/log/camera_resolution_x.log\", \"r\") as file:\n    resx=int(file.read())\nwith open(\"/home/pi/shared/log/camera_resolution_y.log\", \"r\") as file:\n    resy=int(file.read())\nwith open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"r\") as file:\n    currentstatus=file.read()\n\nif currentstatus == \"--READY--\":\n    with picamera.PiCamera() as camera:\n        with open(\"/home/pi/shared/log/cameracontrast.log\", \"r\") as file:\n            cameracontrast=int(file.read())\n        with open(\"/home/pi/shared/log/camerabrightness.log\", \"r\") as file:\n            camerabrightness=int(file.read())\n        camera.iso = 100\n        camera.brightness = camerabrightness\n        camera.contrast = cameracontrast\n        camera.resolution=(resx, resy)\n        camera.exposure_compensation = 0 \n        sleep(0.4)\n        camera.awb_mode = 'auto'\n        camera.exposure_mode = 'off'\n        camera.zoom=zoom\n        camera.shutter_speed = shutterspeed\n        camera.capture(\"./shared/ui/data/preview.jpg\",quality=100 ,resize=(600,440))\n        pass\n    return msg\nreturn","outputs":1,"x":598.0000991821289,"y":658.0006999969482,"wires":[["99e1f05d.05a8a"]]},{"id":"e4ac8ab4.79c888","type":"file in","z":"4d24a982.7bf068","name":"","filename":"/home/pi/shared/log/cameracontrast.log","format":"","chunk":false,"sendError":false,"encoding":"none","x":340,"y":280,"wires":[["d36ee637.1d2b88"]]},{"id":"8768b6c.49f1748","type":"ui_text","z":"4d24a982.7bf068","group":"a0313e96.486fc","order":7,"width":6,"height":1,"name":"","label":"Camera Contrast","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":280,"wires":[]},{"id":"d36ee637.1d2b88","type":"ui_slider","z":"4d24a982.7bf068","name":"contrast","label":" ","tooltip":"","group":"a0313e96.486fc","order":8,"width":6,"height":1,"passthru":true,"outs":"all","topic":"","min":"-100","max":"100","step":"5","x":600,"y":280,"wires":[["74533ecf.46d6e"]]},{"id":"74533ecf.46d6e","type":"file","z":"4d24a982.7bf068","name":"","filename":"/home/pi/shared/log/cameracontrast.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":840,"y":280,"wires":[["8768b6c.49f1748","cbf16c9b.cb7f7"]]},{"id":"16998880.cfce58","type":"comment","z":"4d24a982.7bf068","name":"System","info":"","x":55,"y":3159.9936332702637,"wires":[]},{"id":"8d441dd8.c95f8","type":"function","z":"4d24a982.7bf068","name":"Autoupdate on?","func":"if (global.get(\"autoupdate\") == \"on\"){\n    return msg\n}","outputs":1,"noerr":0,"x":343.0000762939453,"y":481.0001611709595,"wires":[["7427b232.c31cec"]]},{"id":"46879cf8.389c94","type":"delay","z":"4d24a982.7bf068","name":"","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":347.9999351501465,"y":658.0010099411011,"wires":[["39f94499.73f76c"]]},{"id":"44c05737.97e0f8","type":"exec","z":"4d24a982.7bf068","command":"sudo rm -rf -d /home/pi/shared/ui/data/preview.jpg","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":370,"y":100,"wires":[[],[],[]]},{"id":"b613044c.b6ad58","type":"file in","z":"4d24a982.7bf068","name":"","filename":"/home/pi/shared/log/currentstatus_rpi.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":420,"y":520,"wires":[["42ec3977.fabbf8"]]},{"id":"f6eacedf.51649","type":"ui_text","z":"4d24a982.7bf068","group":"a0313e96.486fc","order":1,"width":0,"height":0,"name":"","label":"Current Status:","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":900,"y":520,"wires":[]},{"id":"2f5da1ab.679a6e","type":"inject","z":"4d24a982.7bf068","name":"","topic":"Repeater","payload":"0.5","payloadType":"str","repeat":"0.5","crontab":"","once":true,"onceDelay":"1","x":111.99996948242188,"y":481.00060081481934,"wires":[["b613044c.b6ad58","8d441dd8.c95f8","469848e0.bd2bd8"]]},{"id":"469848e0.bd2bd8","type":"file in","z":"4d24a982.7bf068","name":"","filename":"/home/pi/shared/log/updatepreview.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":410,"y":560,"wires":[["2ff71092.3dcb3"]]},{"id":"2ff71092.3dcb3","type":"function","z":"4d24a982.7bf068","name":"check preview mod","func":"if (msg.payload!=global.get(\"updatepreview\")){\n    return msg\n}\n","outputs":1,"noerr":0,"x":690,"y":560,"wires":[["99e1f05d.05a8a","b0060bc4.ed8a78"]]},{"id":"846e506f.57c89","type":"ui_button","z":"4d24a982.7bf068","name":"","group":"a0313e96.486fc","order":12,"width":0,"height":0,"passthru":true,"label":"Stop Routine","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":99.01729583740234,"y":774.7887382507324,"wires":[["36bd607d.5c908"]]},{"id":"ea6345e6.047328","type":"link in","z":"4d24a982.7bf068","name":"Update Preview RPi","links":["4bafeaee.da8274","73a1669f.672bd8","7427b232.c31cec","937ee9b4.255528","cbf16c9b.cb7f7","cdc6c714.a50768","f5ee2b34.38c468","7a27d702.0a80d8","d64e2b3b.73da28","8cb8acc8.daecc"],"x":215.99994659423828,"y":706.010404586792,"wires":[["46879cf8.389c94"]]},{"id":"7427b232.c31cec","type":"link out","z":"4d24a982.7bf068","name":"","links":["ea6345e6.047328"],"x":476.0174150466919,"y":480.67735385894775,"wires":[]},{"id":"ad447022.41698","type":"python3-function","z":"4d24a982.7bf068","name":"set initial variables","func":"import subprocess\n\nwith open(\"/home/pi/shared/log/stopstate.log\", \"w\") as file:\n    file.write(\"run\")\nwith open(\"/home/pi/shared/log/updatepreview.log\", \"w\") as file:\n    file.write(\"start\")\nwith open(\"/home/pi/shared/log/ringlightstatus1.log\", \"w\") as file:\n    file.write(\"off\")\nwith open(\"/home/pi/shared/log/ringlightstatus2.log\", \"w\") as file:\n    file.write(\"off\")\n\nif subprocess.check_output([\"vcgencmd\",\"get_camera\"])[-2:-1]==\"0\":\n    with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n        file.write(\"no camera found\")\n    return\nwith open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n        file.write(\"--READY--\")","outputs":1,"x":270,"y":440,"wires":[[]]},{"id":"36bd607d.5c908","type":"python3-function","z":"4d24a982.7bf068","name":"set stop state variables","func":"with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"r\") as file:\n    test=file.read()\nif test==\"no camera found\" or test==\"--READY--\":\n    return\n\nwith open(\"/home/pi/shared/log/stopstate.log\", \"w\") as file:\n    file.write(\"stop\")\nwith open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n    file.write(\"--stopping--\")","outputs":1,"x":321.01734924316406,"y":774.8994565010071,"wires":[[]]},{"id":"b0060bc4.ed8a78","type":"change","z":"4d24a982.7bf068","name":"","rules":[{"t":"set","p":"updatepreview","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":560,"wires":[[]]},{"id":"cbf16c9b.cb7f7","type":"link out","z":"4d24a982.7bf068","name":"","links":["ea6345e6.047328","cbe4bd92.d30af"],"x":1075,"y":420,"wires":[]},{"id":"3c31fe48.03eeb2","type":"exec","z":"6fff9eb6.3efc2","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":497.9630699157715,"y":85.01041507720947,"wires":[[],[],[]]},{"id":"32bd88f0.7d1838","type":"exec","z":"6fff9eb6.3efc2","command":"sudo shutdown -h now","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":527.9630470275879,"y":173.01041889190674,"wires":[[],[],[]]},{"id":"633d82dc.00a8ec","type":"ui_button","z":"6fff9eb6.3efc2","name":"","group":"ddd1a14a.d7351","order":5,"width":6,"height":1,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":76.96307754516602,"y":85.01052474975586,"wires":[["4dcdb482.ed48cc","d166c44e.c867d8"]]},{"id":"667f3070.97a5d","type":"ui_button","z":"6fff9eb6.3efc2","name":"","group":"ddd1a14a.d7351","order":4,"width":6,"height":1,"passthru":false,"label":"Shutdown","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":79.96308135986328,"y":173.01030158996582,"wires":[["62458b17.346244","d166c44e.c867d8"]]},{"id":"6480d78d.6ac6e8","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/ssh.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":754.9631004333496,"y":287.01006603240967,"wires":[[]]},{"id":"c46002a5.5dd54","type":"ui_switch","z":"6fff9eb6.3efc2","name":"","label":"SSH Off/On","tooltip":"","group":"ddd1a14a.d7351","order":2,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":534.9631004333496,"y":287.01006603240967,"wires":[["6480d78d.6ac6e8","6f8cb648.a50838"]]},{"id":"8fe6db74.5ea568","type":"exec","z":"6fff9eb6.3efc2","command":"sudo /etc/init.d/ssh stop ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":991.9631080627441,"y":370.0100679397583,"wires":[[],[],[]]},{"id":"6f8cb648.a50838","type":"function","z":"6fff9eb6.3efc2","name":"Load Variables","func":"if (msg.payload === true){\n    return [msg,null]\n}\nif (msg.payload ===false){\n    return [null,msg]\n}","outputs":2,"noerr":0,"x":715.963077545166,"y":325.01012134552,"wires":[["838902c8.42b6a"],["8fe6db74.5ea568"]]},{"id":"838902c8.42b6a","type":"exec","z":"6fff9eb6.3efc2","command":"sudo /etc/init.d/ssh start","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":991.9631233215332,"y":318.01006412506104,"wires":[[],[],[]]},{"id":"fae1dc2d.cd5b2","type":"inject","z":"6fff9eb6.3efc2","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":77.96310043334961,"y":288.01006603240967,"wires":[["69ec4569.690bbc","7cd43f24.495df"]]},{"id":"3a5b4087.2cea8","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/samba.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":812.9631309509277,"y":448.13168239593506,"wires":[[]]},{"id":"afc70835.da4208","type":"ui_switch","z":"6fff9eb6.3efc2","name":"","label":"Samba Off/On","tooltip":"","group":"ddd1a14a.d7351","order":1,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":559.9630737304688,"y":447.13165283203125,"wires":[["3a5b4087.2cea8","6ac47145.2a1ad"]]},{"id":"67497290.47af0c","type":"exec","z":"6fff9eb6.3efc2","command":"sudo /etc/init.d/smbd stop","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1055.9631080627441,"y":533.1317663192749,"wires":[[],[],[]]},{"id":"6ac47145.2a1ad","type":"function","z":"6fff9eb6.3efc2","name":"Load Variables","func":"if (msg.payload === true){\n    return [msg,null]\n}\nreturn [null,msg]\n","outputs":2,"noerr":0,"x":767.9631233215332,"y":487.13154888153076,"wires":[["83cadd1d.0be53"],["67497290.47af0c"]]},{"id":"83cadd1d.0be53","type":"exec","z":"6fff9eb6.3efc2","command":"sudo /etc/init.d/smbd start","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1056.9631080627441,"y":481.1316022872925,"wires":[[],[],[]]},{"id":"62458b17.346244","type":"delay","z":"6fff9eb6.3efc2","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":287.98047256469727,"y":172.90950775146484,"wires":[["32bd88f0.7d1838"]]},{"id":"4dcdb482.ed48cc","type":"delay","z":"6fff9eb6.3efc2","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":288.97705078125,"y":84.81916332244873,"wires":[["3c31fe48.03eeb2"]]},{"id":"d166c44e.c867d8","type":"python3-function","z":"6fff9eb6.3efc2","name":"blink","func":"from time import sleep\nimport RPi.GPIO as GPIO\n\nsleeptime = 0.05\n\nwith open(\"/home/pi/shared/log/pin_ringlight1.log\", \"r\") as file:\n    ringlightpin=int(file.read())\n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(ringlightpin, GPIO.OUT)\n\nwith open(\"/home/pi/shared/log/ringlightstatus1.log\", \"w\") as file:\n    file.write(\"off\")\nwith open(\"/home/pi/shared/log/ringlightstatus2.log\", \"w\") as file:\n    file.write(\"off\")\n\nfor x in range(10):\n    GPIO.output(ringlightpin, GPIO.HIGH)\n    sleep(sleeptime)\n    GPIO.output(ringlightpin, GPIO.LOW)\n    sleep(sleeptime)\n","outputs":1,"x":258.9805450439453,"y":127.02120113372803,"wires":[[]]},{"id":"96299e43.1a782","type":"ui_dropdown","z":"6fff9eb6.3efc2","name":"","label":" Pin - rotor direction","tooltip":"standard value: 5","place":" ","group":"35a0e31e.2cf06c","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"2","type":"str"},{"label":"","value":"3","type":"str"},{"label":"","value":"4","type":"str"},{"label":"","value":"5","type":"str"},{"label":"","value":"6","type":"str"},{"label":"","value":"7","type":"str"},{"label":"","value":"9","type":"str"},{"label":"","value":"10","type":"str"},{"label":"","value":"11","type":"str"},{"label":"","value":"12","type":"str"},{"label":"","value":"13","type":"str"},{"label":"","value":"14","type":"str"},{"label":"","value":"15","type":"str"},{"label":"","value":"16","type":"str"},{"label":"","value":"17","type":"str"},{"label":"","value":"18","type":"str"},{"label":"","value":"19","type":"str"},{"label":"","value":"20","type":"str"},{"label":"","value":"21","type":"str"},{"label":"","value":"22","type":"str"},{"label":"","value":"23","type":"str"},{"label":"","value":"24","type":"str"},{"label":"","value":"25","type":"str"},{"label":"","value":"26","type":"str"},{"label":"","value":"27","type":"str"}],"payload":"","topic":"","x":644.5590505599976,"y":830.9723405838013,"wires":[["cdc127c0.001268"]]},{"id":"fabbed08.2211","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_rotor_dir.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":299.99996852874756,"y":831.465124130249,"wires":[["96299e43.1a782"]]},{"id":"cdc127c0.001268","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_rotor_dir.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1026.999945640564,"y":831.4651288986206,"wires":[[]]},{"id":"3130b40d.6399ac","type":"inject","z":"6fff9eb6.3efc2","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":67.99999237060547,"y":690.4654216766357,"wires":[["9608945a.6d2808"]]},{"id":"de984644.f4beb8","type":"ui_dropdown","z":"6fff9eb6.3efc2","name":"","label":" Pin - rotor step","tooltip":"standard value: 6","place":" ","group":"35a0e31e.2cf06c","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"2","type":"str"},{"label":"","value":"3","type":"str"},{"label":"","value":"4","type":"str"},{"label":"","value":"5","type":"str"},{"label":"","value":"6","type":"str"},{"label":"","value":"7","type":"str"},{"label":"","value":"9","type":"str"},{"label":"","value":"10","type":"str"},{"label":"","value":"11","type":"str"},{"label":"","value":"12","type":"str"},{"label":"","value":"13","type":"str"},{"label":"","value":"14","type":"str"},{"label":"","value":"15","type":"str"},{"label":"","value":"16","type":"str"},{"label":"","value":"17","type":"str"},{"label":"","value":"18","type":"str"},{"label":"","value":"19","type":"str"},{"label":"","value":"20","type":"str"},{"label":"","value":"21","type":"str"},{"label":"","value":"22","type":"str"},{"label":"","value":"23","type":"str"},{"label":"","value":"24","type":"str"},{"label":"","value":"25","type":"str"},{"label":"","value":"26","type":"str"},{"label":"","value":"27","type":"str"}],"payload":"","topic":"","x":634.5417318344116,"y":883.4651880264282,"wires":[["46ade5d3.718cac"]]},{"id":"7169e93e.116f38","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_rotor_step.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":298.9826498031616,"y":883.957971572876,"wires":[["de984644.f4beb8"]]},{"id":"46ade5d3.718cac","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_rotor_step.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1025.982626914978,"y":883.9579763412476,"wires":[[]]},{"id":"9b571d59.8abd6","type":"ui_dropdown","z":"6fff9eb6.3efc2","name":"","label":" Pin - turntable direction","tooltip":"standard value: 9","place":" ","group":"35a0e31e.2cf06c","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"2","type":"str"},{"label":"","value":"3","type":"str"},{"label":"","value":"4","type":"str"},{"label":"","value":"5","type":"str"},{"label":"","value":"6","type":"str"},{"label":"","value":"7","type":"str"},{"label":"","value":"9","type":"str"},{"label":"","value":"10","type":"str"},{"label":"","value":"11","type":"str"},{"label":"","value":"12","type":"str"},{"label":"","value":"13","type":"str"},{"label":"","value":"14","type":"str"},{"label":"","value":"15","type":"str"},{"label":"","value":"16","type":"str"},{"label":"","value":"17","type":"str"},{"label":"","value":"18","type":"str"},{"label":"","value":"19","type":"str"},{"label":"","value":"20","type":"str"},{"label":"","value":"21","type":"str"},{"label":"","value":"22","type":"str"},{"label":"","value":"23","type":"str"},{"label":"","value":"24","type":"str"},{"label":"","value":"25","type":"str"},{"label":"","value":"26","type":"str"},{"label":"","value":"27","type":"str"}],"payload":"","topic":"","x":664.5590505599976,"y":934.4654321670532,"wires":[["a30a9b3b.06d488"]]},{"id":"a50976f2.42b7c8","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_turntable_dir.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":309.99996852874756,"y":934.958215713501,"wires":[["9b571d59.8abd6"]]},{"id":"a30a9b3b.06d488","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_turntable_dir.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1036.999945640564,"y":934.9582204818726,"wires":[[]]},{"id":"11160a2f.1ab386","type":"ui_dropdown","z":"6fff9eb6.3efc2","name":"","label":" Pin - turntable step","tooltip":"standard value: 11","place":" ","group":"35a0e31e.2cf06c","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"2","type":"str"},{"label":"","value":"3","type":"str"},{"label":"","value":"4","type":"str"},{"label":"","value":"5","type":"str"},{"label":"","value":"6","type":"str"},{"label":"","value":"7","type":"str"},{"label":"","value":"9","type":"str"},{"label":"","value":"10","type":"str"},{"label":"","value":"11","type":"str"},{"label":"","value":"12","type":"str"},{"label":"","value":"13","type":"str"},{"label":"","value":"14","type":"str"},{"label":"","value":"15","type":"str"},{"label":"","value":"16","type":"str"},{"label":"","value":"17","type":"str"},{"label":"","value":"18","type":"str"},{"label":"","value":"19","type":"str"},{"label":"","value":"20","type":"str"},{"label":"","value":"21","type":"str"},{"label":"","value":"22","type":"str"},{"label":"","value":"23","type":"str"},{"label":"","value":"24","type":"str"},{"label":"","value":"25","type":"str"},{"label":"","value":"26","type":"str"},{"label":"","value":"27","type":"str"}],"payload":"","topic":"","x":644.5417318344116,"y":986.9582796096802,"wires":[["c9aabf7e.b6ec6"]]},{"id":"67fcc5ac.581e9c","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_turntable_step.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":318.9826498031616,"y":987.4510631561279,"wires":[["11160a2f.1ab386"]]},{"id":"c9aabf7e.b6ec6","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_turntable_step.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1045.982626914978,"y":987.4510679244995,"wires":[[]]},{"id":"297e0f0f.26c77","type":"ui_button","z":"6fff9eb6.3efc2","name":"","group":"35a0e31e.2cf06c","order":1,"width":0,"height":0,"passthru":false,"label":"Reset all Pin Parameters","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":260.9999694824219,"y":779.9097261428833,"wires":[["af6c2c9f.c26ce"]]},{"id":"af6c2c9f.c26ce","type":"python3-function","z":"6fff9eb6.3efc2","name":"set initial variables","func":"with open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"w\") as file:\n    file.write(\"5\")\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"w\") as file:\n    file.write(\"6\")\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"w\") as file:\n    file.write(\"9\")\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"w\") as file:\n    file.write(\"11\")\nwith open(\"/home/pi/shared/log/pin_ringlight1.log\", \"w\") as file:\n    file.write(\"17\")\nwith open(\"/home/pi/shared/log/pin_ringlight2.log\", \"w\") as file:\n    file.write(\"27\")\nwith open(\"/home/pi/shared/log/pin_externalcam.log\", \"w\") as file:\n    file.write(\"10\")\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"w\") as file:\n    file.write(\"17067\")\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"w\") as file:\n    file.write(\"3200\")    \nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"w\") as file:\n    file.write(\"0.0005\")\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"w\") as file:\n    file.write(\"0.0005\")    \n\nreturn msg","outputs":1,"x":529.9999465942383,"y":779.9098825454712,"wires":[["f2a99628.d77318"]]},{"id":"49a0c7a0.1bad88","type":"link in","z":"6fff9eb6.3efc2","name":"Reset Parameters","links":["f2a99628.d77318","9608945a.6d2808","abe47719.de9b18"],"x":33.000000953674316,"y":830.8643503189087,"wires":[["fabbed08.2211","7169e93e.116f38","a50976f2.42b7c8","67fcc5ac.581e9c","c963cf06.f6323","4c3bdd1.355aa24","5c30193b.1a92f8","b4144dc5.2d066","52cdcb8b.19a914","8b489f2b.c4511","6c09fd1d.3f4324"]]},{"id":"f2a99628.d77318","type":"link out","z":"6fff9eb6.3efc2","name":"","links":["49a0c7a0.1bad88","5bb62d67.946384","ae34bfeb.259d6","388eec5a.240ea4"],"x":739.9965515136719,"y":779.7742357254028,"wires":[]},{"id":"9608945a.6d2808","type":"link out","z":"6fff9eb6.3efc2","name":"","links":["49a0c7a0.1bad88","5bb62d67.946384","ae34bfeb.259d6","388eec5a.240ea4"],"x":194.99998474121094,"y":690.9096164703369,"wires":[]},{"id":"dc34b571.4ed628","type":"ui_dropdown","z":"6fff9eb6.3efc2","name":"","label":" Pin - ringlight1","tooltip":"standard value: 17","place":" ","group":"35a0e31e.2cf06c","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"2","type":"str"},{"label":"","value":"3","type":"str"},{"label":"","value":"4","type":"str"},{"label":"","value":"5","type":"str"},{"label":"","value":"6","type":"str"},{"label":"","value":"7","type":"str"},{"label":"","value":"9","type":"str"},{"label":"","value":"10","type":"str"},{"label":"","value":"11","type":"str"},{"label":"","value":"12","type":"str"},{"label":"","value":"13","type":"str"},{"label":"","value":"14","type":"str"},{"label":"","value":"15","type":"str"},{"label":"","value":"16","type":"str"},{"label":"","value":"17","type":"str"},{"label":"","value":"18","type":"str"},{"label":"","value":"19","type":"str"},{"label":"","value":"20","type":"str"},{"label":"","value":"21","type":"str"},{"label":"","value":"22","type":"str"},{"label":"","value":"23","type":"str"},{"label":"","value":"24","type":"str"},{"label":"","value":"25","type":"str"},{"label":"","value":"26","type":"str"},{"label":"","value":"27","type":"str"}],"payload":"","topic":"","x":634.5417327880859,"y":1035.687388420105,"wires":[["65b5fce2.5f6214"]]},{"id":"c963cf06.f6323","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_ringlight1.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":298.98265075683594,"y":1036.1801719665527,"wires":[["dc34b571.4ed628"]]},{"id":"65b5fce2.5f6214","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_ringlight1.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1025.9826278686523,"y":1036.1801767349243,"wires":[[]]},{"id":"896b384b.f15078","type":"ui_dropdown","z":"6fff9eb6.3efc2","name":"","label":" Pin - ringlight2","tooltip":"standard value: 27","place":" ","group":"35a0e31e.2cf06c","order":7,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"2","type":"str"},{"label":"","value":"3","type":"str"},{"label":"","value":"4","type":"str"},{"label":"","value":"5","type":"str"},{"label":"","value":"6","type":"str"},{"label":"","value":"7","type":"str"},{"label":"","value":"9","type":"str"},{"label":"","value":"10","type":"str"},{"label":"","value":"11","type":"str"},{"label":"","value":"12","type":"str"},{"label":"","value":"13","type":"str"},{"label":"","value":"14","type":"str"},{"label":"","value":"15","type":"str"},{"label":"","value":"16","type":"str"},{"label":"","value":"17","type":"str"},{"label":"","value":"18","type":"str"},{"label":"","value":"19","type":"str"},{"label":"","value":"20","type":"str"},{"label":"","value":"21","type":"str"},{"label":"","value":"22","type":"str"},{"label":"","value":"23","type":"str"},{"label":"","value":"24","type":"str"},{"label":"","value":"25","type":"str"},{"label":"","value":"26","type":"str"},{"label":"","value":"27","type":"str"}],"payload":"","topic":"","x":634.5590515136719,"y":1086.68763256073,"wires":[["4172f59a.72faac"]]},{"id":"4c3bdd1.355aa24","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_ringlight2.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":298.9999694824219,"y":1087.1804161071777,"wires":[["896b384b.f15078"]]},{"id":"4172f59a.72faac","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_ringlight2.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1026.9999465942383,"y":1087.1804208755493,"wires":[[]]},{"id":"8079ed8c.10942","type":"ui_dropdown","z":"6fff9eb6.3efc2","name":"","label":" Pin - external camera","tooltip":"standard value: 10","place":" ","group":"35a0e31e.2cf06c","order":8,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"2","type":"str"},{"label":"","value":"3","type":"str"},{"label":"","value":"4","type":"str"},{"label":"","value":"5","type":"str"},{"label":"","value":"6","type":"str"},{"label":"","value":"7","type":"str"},{"label":"","value":"9","type":"str"},{"label":"","value":"10","type":"str"},{"label":"","value":"11","type":"str"},{"label":"","value":"12","type":"str"},{"label":"","value":"13","type":"str"},{"label":"","value":"14","type":"str"},{"label":"","value":"15","type":"str"},{"label":"","value":"16","type":"str"},{"label":"","value":"17","type":"str"},{"label":"","value":"18","type":"str"},{"label":"","value":"19","type":"str"},{"label":"","value":"20","type":"str"},{"label":"","value":"21","type":"str"},{"label":"","value":"22","type":"str"},{"label":"","value":"23","type":"str"},{"label":"","value":"24","type":"str"},{"label":"","value":"25","type":"str"},{"label":"","value":"26","type":"str"},{"label":"","value":"27","type":"str"}],"payload":"","topic":"","x":653.5417327880859,"y":1139.180480003357,"wires":[["9af5fac.c3daf08"]]},{"id":"5c30193b.1a92f8","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_externalcam.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":308.98265075683594,"y":1139.6732635498047,"wires":[["8079ed8c.10942"]]},{"id":"9af5fac.c3daf08","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/pin_externalcam.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1035.9826278686523,"y":1139.6732683181763,"wires":[[]]},{"id":"5fcbb415.49e4dc","type":"ui_text_input","z":"6fff9eb6.3efc2","name":"","label":"","tooltip":"standard value: 17067","group":"35a0e31e.2cf06c","order":11,"width":2,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","x":613.5555419921875,"y":1213.7221117019653,"wires":[["e4ce141e.3e61f8"]]},{"id":"b4144dc5.2d066","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/rotor_stepsperrotation.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":329.99999237060547,"y":1213.9096097946167,"wires":[["5fcbb415.49e4dc"]]},{"id":"e4ce141e.3e61f8","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/rotor_stepsperrotation.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1054.9999618530273,"y":1212.9096097946167,"wires":[[]]},{"id":"a62e45ee.423a78","type":"ui_text","z":"6fff9eb6.3efc2","group":"35a0e31e.2cf06c","order":10,"width":7,"height":1,"name":"","label":"Rotor - Steps per Rotation","format":"{{msg.payload}}","layout":"row-spread","x":260,"y":1180.909665107727,"wires":[]},{"id":"31d5fee7.394692","type":"ui_text_input","z":"6fff9eb6.3efc2","name":"","label":"","tooltip":"standard value: 3200","group":"35a0e31e.2cf06c","order":15,"width":2,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","x":613.5381927490234,"y":1283.909556388855,"wires":[["a9117594.69d148"]]},{"id":"52cdcb8b.19a914","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/turntable_stepsperrotation.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":338.9826431274414,"y":1284.0970544815063,"wires":[["31d5fee7.394692"]]},{"id":"a9117594.69d148","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/turntable_stepsperrotation.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1063.9826126098633,"y":1283.0970544815063,"wires":[[]]},{"id":"cb791ef.c9ecce","type":"ui_text","z":"6fff9eb6.3efc2","group":"35a0e31e.2cf06c","order":14,"width":7,"height":1,"name":"","label":"Turntable - Steps per Rotation","format":"{{msg.payload}}","layout":"row-spread","x":279.98265075683594,"y":1251.0971097946167,"wires":[]},{"id":"1258cd70.ea9eb3","type":"ui_text_input","z":"6fff9eb6.3efc2","name":"","label":"","tooltip":"standard value: 0.0005","group":"35a0e31e.2cf06c","order":13,"width":2,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","x":611.9999694824219,"y":1353.909556388855,"wires":[["5f5e018d.3ce0c"]]},{"id":"8b489f2b.c4511","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/rotor_delay.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":289.44441986083984,"y":1354.0970544815063,"wires":[["1258cd70.ea9eb3"]]},{"id":"5f5e018d.3ce0c","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/rotor_delay.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1012.4443893432617,"y":1353.0970544815063,"wires":[[]]},{"id":"237b49ef.b7ff56","type":"ui_text","z":"6fff9eb6.3efc2","group":"35a0e31e.2cf06c","order":12,"width":7,"height":1,"name":"","label":"Rotor - Delay (s)","format":"{{msg.payload}}","layout":"row-spread","x":233.44442749023438,"y":1321.0971097946167,"wires":[]},{"id":"c127637a.4302a","type":"ui_text_input","z":"6fff9eb6.3efc2","name":"","label":"","tooltip":"standard value: 0.0005","group":"35a0e31e.2cf06c","order":17,"width":2,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","x":610.9999694824219,"y":1422.909556388855,"wires":[["9ab63e6f.9736c"]]},{"id":"6c09fd1d.3f4324","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/turntable_delay.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":308.44441986083984,"y":1423.0970544815063,"wires":[["c127637a.4302a"]]},{"id":"9ab63e6f.9736c","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/turntable_delay.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1030.4443893432617,"y":1422.0970544815063,"wires":[[]]},{"id":"41a82d6e.ed8294","type":"ui_text","z":"6fff9eb6.3efc2","group":"35a0e31e.2cf06c","order":16,"width":7,"height":1,"name":"","label":"Turntable - Delay (s)","format":"{{msg.payload}}","layout":"row-spread","x":250.44442749023438,"y":1390.0971097946167,"wires":[]},{"id":"7b377f40.d6cc3","type":"ui_text","z":"6fff9eb6.3efc2","group":"b9933221.eac94","order":2,"width":7,"height":1,"name":"","label":"RPi Cam Resolution x","format":"{{msg.payload}}","layout":"row-spread","x":245.4444351196289,"y":1564.0969686508179,"wires":[]},{"id":"e653bca7.ff121","type":"ui_button","z":"6fff9eb6.3efc2","name":"","group":"b9933221.eac94","order":1,"width":9,"height":1,"passthru":false,"label":"Reset all Cam Parameters","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":265.9825973510742,"y":1517.1313524246216,"wires":[["c172e7d3.ad5698"]]},{"id":"c172e7d3.ad5698","type":"python3-function","z":"6fff9eb6.3efc2","name":"set initial variables","func":"with open(\"/home/pi/shared/log/picamera_activation.log\", \"w\") as file:\n    file.write(\"true\")\nwith open(\"/home/pi/shared/log/camera_resolution_x.log\", \"w\") as file:\n    file.write(\"3280\")\nwith open(\"/home/pi/shared/log/camera_resolution_y.log\", \"w\") as file:\n    file.write(\"2464\")    \n    \nreturn msg","outputs":1,"x":524.9825744628906,"y":1517.1315088272095,"wires":[["abe47719.de9b18"]]},{"id":"abe47719.de9b18","type":"link out","z":"6fff9eb6.3efc2","name":"","links":["49a0c7a0.1bad88","5bb62d67.946384","ae34bfeb.259d6","388eec5a.240ea4"],"x":715,"y":1520,"wires":[]},{"id":"df7c8146.e71cd","type":"ui_text_input","z":"6fff9eb6.3efc2","name":"resx","label":"","tooltip":"standard value: 3280","group":"b9933221.eac94","order":3,"width":2,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","x":600.0173578262329,"y":1600.5660333633423,"wires":[["7f035112.1d4b3"]]},{"id":"28b18cff.cc6d24","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/camera_resolution_x.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":314.4618082046509,"y":1600.7535314559937,"wires":[["df7c8146.e71cd"]]},{"id":"7f035112.1d4b3","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/camera_resolution_x.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1042.4617776870728,"y":1599.7535314559937,"wires":[[]]},{"id":"64babe66.abd5d","type":"ui_text_input","z":"6fff9eb6.3efc2","name":"resy","label":"","tooltip":"standard value: 2464","group":"b9933221.eac94","order":5,"width":2,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","x":598.0173578262329,"y":1668.7882013320923,"wires":[["75a48f15.89f61"]]},{"id":"6be936e1.35bf68","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/camera_resolution_y.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":312.4618082046509,"y":1668.9756994247437,"wires":[["64babe66.abd5d"]]},{"id":"75a48f15.89f61","type":"file","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/camera_resolution_y.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1040.4617776870728,"y":1667.9756994247437,"wires":[[]]},{"id":"6184278c.394148","type":"ui_text","z":"6fff9eb6.3efc2","group":"b9933221.eac94","order":4,"width":7,"height":1,"name":"","label":"RPi Cam Resolution y","format":"{{msg.payload}}","layout":"row-spread","x":242.4618158340454,"y":1635.975754737854,"wires":[]},{"id":"388eec5a.240ea4","type":"link in","z":"6fff9eb6.3efc2","name":"Reset Parameters","links":["3de3afc6.4755e","a7f0bc18.40ee","c46b984d.ed3f18","f2a99628.d77318","9608945a.6d2808","abe47719.de9b18"],"x":20.000008583068848,"y":1600.4546575546265,"wires":[["28b18cff.cc6d24","6be936e1.35bf68"]]},{"id":"9153a91c.807158","type":"inject","z":"9096e101.facd1","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":80,"y":60,"wires":[["878b3afd.e5b008","8cc4d0ca.e688c","a464627d.14ea2"]]},{"id":"686e72c4.b5de1c","type":"file","z":"9096e101.facd1","name":"","filename":"/home/pi/shared/log/timeperfoto_ext.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":820,"y":60,"wires":[["620145cf.f0472c"]]},{"id":"878b3afd.e5b008","type":"file in","z":"9096e101.facd1","name":"","filename":"/home/pi/shared/log/timeperfoto_ext.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":320,"y":60,"wires":[["22319dc.8a29462"]]},{"id":"22319dc.8a29462","type":"ui_slider","z":"9096e101.facd1","name":"","label":" ","tooltip":"","group":"66fc75c9.2e33fc","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"0.5","max":"3","step":"0.1","x":583.9999732971191,"y":60.00003242492676,"wires":[["686e72c4.b5de1c"]]},{"id":"620145cf.f0472c","type":"ui_text","z":"9096e101.facd1","group":"66fc75c9.2e33fc","order":3,"width":0,"height":0,"name":"","label":"Time per Foto (s)","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":60,"wires":[]},{"id":"992c81f2.84af5","type":"ui_button","z":"9096e101.facd1","name":"","group":"66fc75c9.2e33fc","order":8,"width":0,"height":0,"passthru":false,"label":"Start Routine","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":260,"wires":[["b702652a.3437d8"]]},{"id":"70d18318.87a3ac","type":"file","z":"9096e101.facd1","name":"","filename":"/home/pi/shared/log/releasetime_ext.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":820,"y":100,"wires":[["d8445de0.755aa"]]},{"id":"8cc4d0ca.e688c","type":"file in","z":"9096e101.facd1","name":"","filename":"/home/pi/shared/log/releasetime_ext.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":320,"y":100,"wires":[["a4a656b1.c25028"]]},{"id":"a4a656b1.c25028","type":"ui_slider","z":"9096e101.facd1","name":"","label":" ","tooltip":"","group":"66fc75c9.2e33fc","order":6,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"10","max":"200","step":"10","x":585.9999771118164,"y":100.00000190734863,"wires":[["70d18318.87a3ac"]]},{"id":"d8445de0.755aa","type":"ui_text","z":"9096e101.facd1","group":"66fc75c9.2e33fc","order":5,"width":0,"height":0,"name":"","label":"Release time (ms)","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":100,"wires":[]},{"id":"8ed14fe4.d8249","type":"inject","z":"9096e101.facd1","name":"","topic":"Repeater","payload":"0.1","payloadType":"str","repeat":"0.5","crontab":"","once":true,"onceDelay":"5","x":100,"y":200,"wires":[["69c3ea1.0b73514"]]},{"id":"69c3ea1.0b73514","type":"file in","z":"9096e101.facd1","name":"","filename":"/home/pi/shared/log/currentstatus_ext.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":360,"y":200,"wires":[["256bd75b.285898"]]},{"id":"256bd75b.285898","type":"ui_text","z":"9096e101.facd1","group":"66fc75c9.2e33fc","order":1,"width":0,"height":0,"name":"","label":"Current Status:","format":"{{msg.payload}}","layout":"row-spread","x":623,"y":200,"wires":[]},{"id":"b702652a.3437d8","type":"python3-function","z":"9096e101.facd1","name":"Run Routine","func":"import RPi.GPIO as GPIO\nimport time\nimport picamera\nfrom time import sleep\n\nwith open(\"/home/pi/shared/log/releasetime_ext.log\", \"r\") as file:\n    releasetime_ext=int(file.read())\nwith open(\"/home/pi/shared/log/timeperfoto_ext.log\", \"r\") as file:\n    timeperfoto_ext=float(file.read())\nwith open(\"/home/pi/shared/log/pin_externalcam.log\", \"r\") as file:\n    photopin=int(file.read())   \n\n#routine settings\nwith open(\"/home/pi/shared/log/fotosperrotation.log\", \"r\") as file:\n    fotosperrotation=int(file.read())\nwith open(\"/home/pi/shared/log/startdeflection.log\", \"r\") as file:\n    startdeflection=int(file.read())\nwith open(\"/home/pi/shared/log/verticalpositions.log\", \"r\") as file:\n    verticalpositions=int(file.read())\n\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    dirpinrotor=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    steppinrotor=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"r\") as file:\n    dirpintt=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"r\") as file:\n    steppintt=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    rotorspr=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"r\") as file:\n    ttspr=int(file.read())  \nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delayrotor=float(file.read())\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"r\") as file:\n    delaytt=float(file.read())    \n\nwith open(\"/home/pi/shared/log/camera.log\", \"r\") as file:\n    test1=file.read()\nwith open(\"/home/pi/shared/log/currentstatus_ext.log\", \"r\") as file:\n    test2=file.read()\n\nif test1!=\"External Camera\":\n    return\nif test2!=\"--READY--\":\n    return\n\nstartdelay = 5\n\nfor i in range(startdelay,0,-1):\n    sleep(1)\n    with open(\"/home/pi/shared/log/currentstatus_ext.log\", \"w\") as file:\n        file.write(\"starting in \"+str(i)+\"s\")\n    \n\nstartangle = rotorspr/360*startdeflection\n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(3, GPIO.OUT)\n\ndef ttrun(step_count):\n    GPIO.setup(dirpintt, GPIO.OUT)\n    GPIO.setup(steppintt, GPIO.OUT)\n    if (step_count>0):\n        GPIO.output(dirpintt, GPIO.HIGH)\n    if(step_count<0):\n        GPIO.output(dirpintt, GPIO.LOW)\n        step_count=-step_count\n    for x in range(step_count):\n        GPIO.output(steppintt, GPIO.HIGH)\n        sleep(delaytt)\n        GPIO.output(steppintt, GPIO.LOW)\n        sleep(delaytt)\n\ndef rotorrun(step_count):\n    GPIO.setup(dirpinrotor, GPIO.OUT)\n    GPIO.setup(steppinrotor, GPIO.OUT)\n    if (step_count>0):\n        GPIO.output(dirpinrotor, GPIO.HIGH)\n    if(step_count<0):\n        GPIO.output(dirpinrotor, GPIO.LOW)\n        step_count=-step_count\n    for x in range(step_count):\n        GPIO.output(steppinrotor, GPIO.HIGH)\n        sleep(delayrotor)\n        GPIO.output(steppinrotor, GPIO.LOW)\n        sleep(delayrotor)\n\n\ndef stoptest():\n    with open(\"/home/pi/shared/log/stopstate_ext.log\", \"r\") as file:\n        if (file.read()!=\"stop\"):\n            return\n\n    with open(\"/home/pi/shared/log/currentstatus_ext.log\", \"w\") as file:\n        file.write(\"stopping\")\n\n    with open(\"/home/pi/shared/log/currentstatus_ext.log\", \"w\") as file:\n        file.write(\"--READY--\")\n    with open(\"/home/pi/shared/log/stopstate_ext.log\", \"w\") as file:\n        file.write(\"ready\")\n    end()     \n    # producing an error to stop the routine as exit() does not work\n    # need to find a better solution ;)\n\ndef takephoto():\n    stoptest()\n    GPIO.setup(photopin, GPIO.OUT)\n    GPIO.output(photopin, GPIO.HIGH)\n    sleep(releasetime_ext*0.001)\n    GPIO.output(photopin, GPIO.LOW)\n    sleep(timeperfoto_ext)\n    stoptest()\n\n\ndef turntablerotation():\n    for x in range (fotosperrotation):\n        with open(\"/home/pi/shared/log/currentstatus_ext.log\", \"w\") as file:\n            file.write(\"Position: \"+str(vertpos)+\"/\"+str(verticalpositions)+\" Foto: \"+str(x+1)+\"/\"+str(fotosperrotation))\n        if fotosperrotation!=1:\n            ttrun(ttspr/fotosperrotation)\n        takephoto()\n\nrotorrun(-startangle)\nfor x in range (verticalpositions-1):\n    vertpos = x+1\n    turntablerotation()\n    if (verticalpositions>1):\n        rotorrun(2*startangle/(verticalpositions-1))\nif (verticalpositions==1):\n    startangle=-startangle\nvertpos=verticalpositions\nturntablerotation()\nrotorrun(-startangle)\n\nwith open(\"/home/pi/shared/log/currentstatus_ext.log\", \"w\") as file:\n    file.write(\"--READY--\")\nreturn msg","outputs":1,"x":281.99995040893555,"y":260.77760791778564,"wires":[[]]},{"id":"aacb9271.9a06a","type":"ui_button","z":"9096e101.facd1","name":"","group":"66fc75c9.2e33fc","order":9,"width":0,"height":0,"passthru":true,"label":"Stop Routine","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":88.99997329711914,"y":312.11102771759033,"wires":[["30f31a5b.44d476"]]},{"id":"30f31a5b.44d476","type":"python3-function","z":"9096e101.facd1","name":"set stop state variables","func":"with open(\"/home/pi/shared/log/currentstatus_ext.log\", \"r\") as file:\n    test=file.read()\nif test==\"--READY--\":\n    return\n\nwith open(\"/home/pi/shared/log/stopstate_ext.log\", \"w\") as file:\n    file.write(\"stop\")\nwith open(\"/home/pi/shared/log/currentstatus_ext.log\", \"w\") as file:\n    file.write(\"--stopping--\")","outputs":1,"x":311.00002670288086,"y":312.221745967865,"wires":[[]]},{"id":"a464627d.14ea2","type":"python3-function","z":"9096e101.facd1","name":"set initial variables","func":"with open(\"/home/pi/shared/log/stopstate_ext.log\", \"w\") as file:\n    file.write(\"run\")\nwith open(\"/home/pi/shared/log/currentstatus_ext.log\", \"w\") as file:\n    file.write(\"--READY--\")\n","outputs":1,"x":250,"y":140,"wires":[[]]},{"id":"543b8cc6.11f404","type":"link in","z":"6fff9eb6.3efc2","name":"Reboot","links":["c032ad41.5e9de","47e8ea5c.1d1474"],"x":33.01562309265137,"y":36.953125,"wires":[["d166c44e.c867d8","4dcdb482.ed48cc"]]},{"id":"a0aa92dd.f911c","type":"ui_text","z":"8d5a7804.52acf8","group":"f7451b10.d6c048","order":1,"width":6,"height":2,"name":"","label":"","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"col-center","x":411,"y":239,"wires":[]},{"id":"ccedd0d4.f1bcb","type":"link in","z":"8d5a7804.52acf8","name":"New Update Note","links":["c986d5f5.bba4f8","edf1402c.a1828","a25ccb8e.3ce208","ebdd3932.2c1de8"],"x":75,"y":240,"wires":[["6d67cba7.9da414"]]},{"id":"67811932.5b76e8","type":"ui_text","z":"df305688.9bb948","group":"ddbd496e.93a288","order":2,"width":0,"height":0,"name":"update text","label":"","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-center","x":152.54401206970215,"y":27.581358909606934,"wires":[]},{"id":"169ac8d.12a7937","type":"ui_button","z":"df305688.9bb948","name":"","group":"ddbd496e.93a288","order":3,"width":0,"height":0,"passthru":false,"label":"Check for Updates","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":95,"y":211.35918426513672,"wires":[["901adc79.dbe8c","ad5a0b05.dd4d98"]]},{"id":"9141f91a.7a5b98","type":"link in","z":"df305688.9bb948","name":"update","links":["c803000f.cec2e","babe2a6.c6c27d8","29352168.95ba2e","d33997e3.7b5128","1a32f672.50fafa","629556b9.c99758","e4b7a78b.af9278","b039b421.71ff38","1a6a31bf.aebc3e","c84fc680.407268","bac9b0cb.79a11","55abd9ad.c9f658","fe3a8da5.0476d","946280a5.09db7","a375d3d2.7743a"],"x":36.000003814697266,"y":27.555655479431152,"wires":[["67811932.5b76e8"]]},{"id":"69ec4569.690bbc","type":"python3-function","z":"6fff9eb6.3efc2","name":"check ssh","func":"\nwith open(\"/home/pi/shared/log/ssh.log\", \"r\") as file:\n    state=file.read()\nmsg['payload']=False\nif state==\"true\":\n    msg['payload']=True\nreturn msg","outputs":1,"x":259.01737213134766,"y":287.01040267944336,"wires":[["c46002a5.5dd54"]]},{"id":"4fa693d9.d0e41c","type":"file in","z":"6fff9eb6.3efc2","name":"","filename":"/home/pi/shared/log/samba.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":331.0173645019531,"y":506.0104064941406,"wires":[[]]},{"id":"7cd43f24.495df","type":"python3-function","z":"6fff9eb6.3efc2","name":"check samba","func":"\nwith open(\"/home/pi/shared/log/samba.log\", \"r\") as file:\n    state=file.read()\nmsg['payload']=False\nif state==\"true\":\n    msg['payload']=True\nreturn msg","outputs":1,"x":265.0173645019531,"y":448.0104064941406,"wires":[["afc70835.da4208"]]},{"id":"8b0b91c6.39b0b","type":"comment","z":"8d5a7804.52acf8","name":"Temporre nderungen","info":"","x":160,"y":460,"wires":[]},{"id":"721da5fe.81ce3c","type":"inject","z":"8d5a7804.52acf8","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0","x":138,"y":539,"wires":[["30de8cce.456de4","913680ae.80458","f0e6f605.1df218","3d6b4ed1.0b8342","ee37a4f8.b25c98","1b10290.b9641d7","ef3a6c93.017b9","75803d75.2ee654","119a1b0.f9116e5"]]},{"id":"5914a2db.24e03c","type":"ui_template","z":"df305688.9bb948","group":"191e6406.b089ec","name":"Open Manual (EN)","order":1,"width":6,"height":1,"format":"<md-button style=\"width:100%; height:100%;\"   target=\"_blank\" ng-href=\"/ui/data/Manual_en.pdf\">\n <div class=\"center\" style=\"position: relative;\n    top: 30%;\">\n  Manual (EN)\n</div></md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":110,"y":980,"wires":[[]]},{"id":"31a54691.55d54a","type":"exec","z":"df305688.9bb948","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"get changelog","x":680,"y":200,"wires":[[],[],["35f74c10.5b3484"]]},{"id":"35f74c10.5b3484","type":"python3-function","z":"df305688.9bb948","name":"Compare Versions","func":"msg['payload']=\"you are up to date\"\n\nwith open(\"/home/pi/shared/ui/data/update.log\", \"r\") as file:\n    versionserver=str(file.read())[:16]\nwith open(\"/home/pi/shared/log/currentversion.log\", \"r\") as file:\n    versionpi=str(file.read())[:16]\nwith open(\"/home/pi/shared/log/currentserverversion.log\", \"w\") as file:\n    file.write(versionserver)\n\nif versionpi!=versionserver:\n    msg['payload']=\"new updates available\"\nreturn msg","outputs":1,"x":910,"y":200,"wires":[["1ab82558.09e6eb"]]},{"id":"19756bee.025074","type":"python3-function","z":"df305688.9bb948","name":"autoupdate checker","func":"\nwith open(\"/home/pi/shared/log/autoupdatestate.log\", \"r\") as file:\n    autoupdate=file.read()\nmsg['payload']=False\nif autoupdate==\"true\":\n    msg['payload']=True\nreturn msg","outputs":1,"x":348.0173645019531,"y":117.56606674194336,"wires":[["f542d30c.9cff7"]]},{"id":"f542d30c.9cff7","type":"ui_switch","z":"df305688.9bb948","name":"","label":"Auto-check for updates","tooltip":"","group":"ddbd496e.93a288","order":1,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":590.0000152587891,"y":117.34388732910156,"wires":[["b19566bb.93bb88"]]},{"id":"b19566bb.93bb88","type":"file","z":"df305688.9bb948","name":"","filename":"/home/pi/shared/log/autoupdatestate.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":889.9999542236328,"y":117.34395599365234,"wires":[[]]},{"id":"75fe4e62.ddb4d","type":"inject","z":"df305688.9bb948","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":92,"y":116.45484924316406,"wires":[["19756bee.025074","d65be819.1aa198","a7869a81.9576f8"]]},{"id":"d65be819.1aa198","type":"python3-function","z":"df305688.9bb948","name":"update check on?","func":"\nwith open(\"/home/pi/shared/log/autoupdatestate.log\", \"r\") as file:\n    autoupdate=file.read()\nif autoupdate==\"true\":\n    msg['payload']=\"on\"\n    return msg\n","outputs":1,"x":347.0173568725586,"y":160.67719841003418,"wires":[["ad5a0b05.dd4d98"]]},{"id":"1a6a31bf.aebc3e","type":"link out","z":"df305688.9bb948","name":"","links":["9141f91a.7a5b98"],"x":895,"y":280,"wires":[]},{"id":"901adc79.dbe8c","type":"function","z":"df305688.9bb948","name":"msg","func":"msg.payload =\"checking for updates\"\nreturn msg;","outputs":1,"noerr":0,"x":333.0174102783203,"y":257.67728424072266,"wires":[["c84fc680.407268"]]},{"id":"c84fc680.407268","type":"link out","z":"df305688.9bb948","name":"","links":["9141f91a.7a5b98"],"x":452.002384185791,"y":257.67090606689453,"wires":[]},{"id":"5b32b8de.9b1cd8","type":"ui_text","z":"df305688.9bb948","group":"3ce32450.e0cffc","order":1,"width":0,"height":0,"name":"Your version:","label":"Your version:","format":"{{msg.payload}}","layout":"row-spread","x":328.01739501953125,"y":393.7883334159851,"wires":[]},{"id":"36cd0cf2.0341f4","type":"ui_text","z":"df305688.9bb948","group":"3ce32450.e0cffc","order":2,"width":0,"height":0,"name":"","label":"Most recent version:","format":"{{msg.payload}}","layout":"row-spread","x":356.0173873901367,"y":432.7883081436157,"wires":[]},{"id":"b7cde8a9.169868","type":"python3-function","z":"df305688.9bb948","name":"msg","func":"\nwith open(\"/home/pi/shared/log/currentversion.log\", \"r\") as file:\n    msg['payload']=file.read()\nreturn msg","outputs":1,"x":171.03478240966797,"y":393.89946937561035,"wires":[["5b32b8de.9b1cd8"]]},{"id":"31c48f35.4ed32","type":"python3-function","z":"df305688.9bb948","name":"msg","func":"\nwith open(\"/home/pi/shared/log/currentserverversion.log\", \"r\") as file:\n    msg['payload']=file.read()\nreturn msg","outputs":1,"x":170.01738739013672,"y":432.788197517395,"wires":[["36cd0cf2.0341f4"]]},{"id":"c1bf25f8.d56848","type":"function","z":"df305688.9bb948","name":"msg","func":"msg.payload =\"installing new version\"\nreturn msg\n\n","outputs":1,"noerr":0,"x":250,"y":780,"wires":[["55abd9ad.c9f658"]]},{"id":"aae83605.ee4cc8","type":"exec","z":"df305688.9bb948","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"install update","x":270,"y":660,"wires":[[],[],[]]},{"id":"55abd9ad.c9f658","type":"link out","z":"df305688.9bb948","name":"","links":["9141f91a.7a5b98"],"x":355,"y":780,"wires":[]},{"id":"fe3a8da5.0476d","type":"link out","z":"df305688.9bb948","name":"","links":["9141f91a.7a5b98"],"x":435,"y":720,"wires":[]},{"id":"56409400.e910fc","type":"python3-function","z":"df305688.9bb948","name":"msg","func":"from time import sleep\nwith open(\"/home/pi/shared/log/currentversion.log\", \"w\") as file:\n    file.write(msg['payload2'])\n\nsleep(2)\nmsg['payload']=\"rebooting...\"\nreturn msg","outputs":1,"x":250,"y":720,"wires":[["fe3a8da5.0476d","9030dcdf.8ccb9","c032ad41.5e9de"]]},{"id":"a25ccb8e.3ce208","type":"link out","z":"df305688.9bb948","name":"","links":["ccedd0d4.f1bcb","b141d961.02c3a8"],"x":895,"y":360,"wires":[]},{"id":"c032ad41.5e9de","type":"link out","z":"df305688.9bb948","name":"","links":["543b8cc6.11f404"],"x":435.0000286102295,"y":762.1108918190002,"wires":[]},{"id":"d9bf8944.8fe258","type":"ui_template","z":"8d5a7804.52acf8","group":"ceb0b5fe.bdd2f8","name":"Background","order":1,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"/ui/data/logosmall.jpg\");\n  background-repeat: no-repeat;\n  background-attachment: fixed;\n  background-position: center;\n\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":132,"y":340,"wires":[[]]},{"id":"30de8cce.456de4","type":"python3-function","z":"8d5a7804.52acf8","name":"background","func":"import os.path\nimport os\n# Download background\nfile = '/home/pi/shared/ui/data/logosmall.jpg'\nurl = 'https://raw.githubusercontent.com/OpenScanEu/OpenScan/master/temp/Logosmall.jpg'\n\nif(os.path.exists(file)==False):\n    msg['payload']=\"sudo wget -O \"+file+\" \"+url\n    return msg\n\nstatinfo=os.stat(file)\nif(statinfo.st_size==0):\n    msg['payload']=\"sudo wget -O \"+file+\" \"+url\n    return msg\n\n","outputs":1,"x":370,"y":640,"wires":[["6cb177fa.bc3738"]]},{"id":"913680ae.80458","type":"python3-function","z":"8d5a7804.52acf8","name":"/ui/data","func":"import os.path\n\npath = '/home/pi/shared/ui/data'\n\nif(os.path.exists(path)==False):\n    msg['payload']=\"sudo mkdir \"+path\n    return msg\n\n","outputs":1,"x":360,"y":520,"wires":[["656a1816.ae5c18"]]},{"id":"6cb177fa.bc3738","type":"exec","z":"8d5a7804.52acf8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"download","x":581,"y":640,"wires":[[],[],[]]},{"id":"656a1816.ae5c18","type":"exec","z":"8d5a7804.52acf8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"create path","x":590,"y":520,"wires":[[],[],[]]},{"id":"9c594f7b.4ae9d","type":"ui_ui_control","z":"8d5a7804.52acf8","name":"","events":"all","x":420,"y":280,"wires":[[]]},{"id":"6d67cba7.9da414","type":"function","z":"8d5a7804.52acf8","name":"hide/show text","func":"var oldmsg={payload:msg.payload};\n\n\nif (msg.payload===\"\"){\n    msg.payload={\"group\":{\"hide\":[\"Start_Start\"]}};\n    return [oldmsg,msg];}\nelse{\n    msg.payload={\"group\":{\"show\":[\"Start_Start\"]}};\n}\nreturn [oldmsg,msg];\n","outputs":2,"noerr":0,"x":220,"y":240,"wires":[["a0aa92dd.f911c"],["9c594f7b.4ae9d"]]},{"id":"3922bcf2.829a94","type":"ui_template","z":"df305688.9bb948","group":"191e6406.b089ec","name":"Open Manual (DE)","order":2,"width":6,"height":1,"format":"<md-button style=\"width:100%; height:100%;\"   target=\"_blank\" ng-href=\"/ui/data/Manual_de.pdf\">\n <div class=\"center\" style=\"position: relative;\n    top: 30%;\">\n  Manual (DE)\n</div></md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":110,"y":1040,"wires":[[]]},{"id":"c8e3363.481efc8","type":"comment","z":"8d5a7804.52acf8","name":"--------------------------------- TO DO ---------------------------------","info":"add tooltip everywhere\n\nsettings menu --> add cam parameters\n    camera orientation\n    color shift?!?\n    \nbluetooth functionality","x":230,"y":41,"wires":[]},{"id":"f0e6f605.1df218","type":"python3-function","z":"8d5a7804.52acf8","name":"manual en","func":"import os\n# Download manual\n\nfile = '/home/pi/shared/ui/data/Manual_en.pdf'\nurl = ' https://github.com/OpenScanEu/OpenScan/raw/master/Manual_en.pdf'\n\nif(os.path.exists(file)==False):\n    msg['payload']=\"sudo wget -O \"+file+\" \"+url\n    return msg\n\nstatinfo=os.stat(file)\nif(statinfo.st_size==0):\n    msg['payload']=\"sudo wget -O \"+file+\" \"+url\n    return msg\n\n\n\n","outputs":1,"x":370,"y":700,"wires":[["6cb177fa.bc3738"]]},{"id":"3d6b4ed1.0b8342","type":"python3-function","z":"8d5a7804.52acf8","name":"manual de","func":"import os\n# Download manual\n\nfile = '/home/pi/shared/ui/data/Manual_de.pdf'\nurl = ' https://github.com/OpenScanEu/OpenScan/raw/master/Manual_de.pdf'\n\nif(os.path.exists(file)==False):\n    msg['payload']=\"sudo wget -O \"+file+\" \"+url\n    return msg\n\nstatinfo=os.stat(file)\nif(statinfo.st_size==0):\n    msg['payload']=\"sudo wget -O \"+file+\" \"+url\n    return msg\n\n\n\n\n","outputs":1,"x":370,"y":760,"wires":[["6cb177fa.bc3738"]]},{"id":"982dd8a1.d13208","type":"python3-function","z":"df305688.9bb948","name":"manual en","func":"import os.path\n\nfile = '/home/pi/shared/ui/data/Manual_en.pdf'\nurl = ' https://github.com/OpenScanEu/OpenScan/raw/master/Manual_en.pdf'\n\nmsg['payload']=\"sudo wget -O \"+file+\" \"+url\nreturn msg\n\n\n\n","outputs":1,"x":640.9826354980469,"y":1109.100712299347,"wires":[["551d488f.356f48"]]},{"id":"8a75df6a.8f507","type":"python3-function","z":"df305688.9bb948","name":"manual de","func":"import os.path\n\nfile = '/home/pi/shared/ui/data/Manual_de.pdf'\nurl = ' https://github.com/OpenScanEu/OpenScan/raw/master/Manual_de.pdf'\n\nmsg['payload']=\"sudo wget -O \"+file+\" \"+url\nreturn msg\n\n\n\n","outputs":1,"x":643.9826354980469,"y":1161.100712299347,"wires":[["551d488f.356f48"]]},{"id":"551d488f.356f48","type":"exec","z":"df305688.9bb948","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"download","x":817.982608795166,"y":1161.1007614135742,"wires":[[],[],["d6b9951b.b4cd88"]]},{"id":"710ba55d.55ae8c","type":"ui_button","z":"df305688.9bb948","name":"","group":"191e6406.b089ec","order":4,"width":0,"height":0,"passthru":false,"label":"Update Manual","tooltip":"","color":"","bgcolor":"","icon":"","payload":"downloading manual","payloadType":"str","topic":"","x":95.98262023925781,"y":1112.100733757019,"wires":[["e58bc361.0ddf6"]]},{"id":"141c810a.ecc36f","type":"ui_text","z":"df305688.9bb948","group":"191e6406.b089ec","order":5,"width":0,"height":0,"name":"update text","label":"","format":"{{msg.payload}}","layout":"row-center","x":653.9826126098633,"y":1227.1007661819458,"wires":[]},{"id":"d6b9951b.b4cd88","type":"python3-function","z":"df305688.9bb948","name":"msg","func":"msg['payload']=\"download done\"\n\nreturn msg","outputs":1,"x":948.9826049804688,"y":1174.1007776260376,"wires":[["141c810a.ecc36f"]]},{"id":"ee37a4f8.b25c98","type":"exec","z":"8d5a7804.52acf8","command":"sudo chmod a+rwx /home/pi/shared/ui/data/","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"set privileges","x":370,"y":860,"wires":[[],[],[]]},{"id":"517122a1.3657fc","type":"file","z":"4d24a982.7bf068","name":"","filename":"/home/pi/shared/log/zoom.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":810,"y":360,"wires":[["706cb03e.d3c14","cbf16c9b.cb7f7"]]},{"id":"53df6b4b.dc18e4","type":"python3-function","z":"4d24a982.7bf068","name":"msg","func":"\nmsg['payload']=\"1\"\nreturn msg","outputs":1,"x":230,"y":360,"wires":[["b9e917cd.b9b2a8"]]},{"id":"932686ba.41ded8","type":"function","z":"df305688.9bb948","name":"t/f","func":"if (msg.payload === true){\n    msg.payload=\"downloading manual\"\n    return [msg,null]\n}\nmsg.payload=\"no internet connection\"\nreturn [null,msg]\n","outputs":2,"noerr":0,"x":473.0000457763672,"y":1111.5556225776672,"wires":[["982dd8a1.d13208","8a75df6a.8f507","141c810a.ecc36f"],["141c810a.ecc36f"]]},{"id":"a162aa1a.426708","type":"function","z":"df305688.9bb948","name":"t/f","func":"if (msg.payload === true){\n    msg.payload=\"sudo wget -O /home/pi/shared/ui/data/update_new.log https://raw.githubusercontent.com/OpenScanEu/OpenScan/master/update.log && sudo mv -f /home/pi/shared/ui/data/update_new.log /home/pi/shared/ui/data/update.log\"\n    return [msg,null]\n}\nmsg.payload=\"no internet connection\"\nreturn [null,msg]\n","outputs":2,"noerr":0,"x":490,"y":212,"wires":[["31a54691.55d54a"],["c84fc680.407268"]]},{"id":"dc1a9162.48483","type":"link in","z":"df305688.9bb948","name":"Version","links":["e4d3a1d9.32503","a7869a81.9576f8","9030dcdf.8ccb9"],"x":35.02775192260742,"y":392.97222995758057,"wires":[["b7cde8a9.169868","31c48f35.4ed32","43372241.cb8f6c"]]},{"id":"e4d3a1d9.32503","type":"link out","z":"df305688.9bb948","name":"","links":["dc1a9162.48483","3a8b7430.734eec","d3eaeac4.a1c968"],"x":895,"y":320,"wires":[]},{"id":"a7869a81.9576f8","type":"link out","z":"df305688.9bb948","name":"","links":["dc1a9162.48483","3a8b7430.734eec","d3eaeac4.a1c968"],"x":189.0173397064209,"y":154.01042366027832,"wires":[]},{"id":"43372241.cb8f6c","type":"python3-function","z":"df305688.9bb948","name":"display changelog","func":"with open(\"/home/pi/shared/ui/data/update.log\", \"r\") as file:\n    text=file.read()\nmsg['payload']=text\nreturn msg","outputs":1,"x":210.01734924316406,"y":491.0104064941406,"wires":[["963639de.108878"]]},{"id":"963639de.108878","type":"ui_template","z":"df305688.9bb948","group":"3ce32450.e0cffc","name":"changelog","order":3,"width":16,"height":6,"format":"<style>\n    #mylog {\n        min-height: 100px;\n        padding: 0;\n        white-space: pre;\n    }\n</style>\n\n<div id=\"mylog\" ng-bind=\"msg.payload\">\n    <!-- file contents will go here -->\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":425.0173797607422,"y":490.79165840148926,"wires":[[]]},{"id":"498c1826.8043d8","type":"inject","z":"df305688.9bb948","name":"","topic":"Repeater","payload":"0.1","payloadType":"str","repeat":"5","crontab":"","once":true,"onceDelay":"0.1","x":110.017333984375,"y":558.0104312896729,"wires":[["c51f8fb0.6f78e"]]},{"id":"c51f8fb0.6f78e","type":"function","z":"df305688.9bb948","name":"","func":"msg.path = \"shared/ui/data/old_flows\"\n\nreturn msg;","outputs":1,"noerr":0,"x":284.01728439331055,"y":557.7877168655396,"wires":[["cacdf08c.f174d"]]},{"id":"cacdf08c.f174d","type":"fs-ops-dir","z":"df305688.9bb948","name":"/media/pi/","path":"path","pathType":"msg","filter":"*","filterType":"str","dir":"files","dirType":"msg","x":465.0172882080078,"y":557.7877168655396,"wires":[["393a126e.979afe"]]},{"id":"393a126e.979afe","type":"ui_template","z":"df305688.9bb948","group":"ddbd496e.93a288","name":"File List + Install Version","order":4,"width":6,"height":6,"format":"<script>\n \nthis.scope.action = function(opt) {\n var playFile = opt || \"no data passed to function\";\n// console.warn(playFile)\n return playFile; } \n</script>\n\n\n<div style=\"max-width:500px;\">\n <ul>\n <li ng-repeat=\"file in msg.files track by $index\" style=\"list-style-type: none;\">\n <label>\n <input type=\"radio\" ng-model=\"$parent.file\" name=\"data\" value=\"{{file}}\" required />{{file}}\n </label>\n </li>\n </ul>\n\n<md-button   style=\"width:100%; height:37px;color:red;background-color:lightblue;\"  ng-click=\"send({file})\">\n <div class=\"center\" style=\"position: relative;\n    top: 30%;\">\n  install version\n</div></md-button>\n\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":470,"y":620,"wires":[["cacdf08c.f174d","caec59f9.a54488"]]},{"id":"14896430.60af9c","type":"exec","z":"df305688.9bb948","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"download update","x":1170,"y":400,"wires":[[],[],["91dfab0.574d558"]]},{"id":"f518239d.02604","type":"python3-function","z":"df305688.9bb948","name":"initial. exec P3","func":"msg['payload'] =\"sudo wget -O /home/pi/.node-red/flows_raspberrypi_download.json https://raw.githubusercontent.com/OpenScanEu/OpenScan/master/update.json\"\nreturn msg","outputs":1,"x":960,"y":400,"wires":[["14896430.60af9c"]]},{"id":"1ab82558.09e6eb","type":"function","z":"df305688.9bb948","name":"f/t","func":"var msg2 = { payload:\"\" };\nvar msg3 = { payload:null};\n\nif (msg.payload==\"new updates available\"){\n    msg2.payload=msg.payload\n    msg3.payload=\"install exec\"\n    return [msg,msg2,msg3]\n}\n\nreturn [msg,msg2,null]\n","outputs":3,"noerr":0,"x":710,"y":300,"wires":[["e4d3a1d9.32503","1a6a31bf.aebc3e"],["a25ccb8e.3ce208","f518239d.02604"],[]]},{"id":"91dfab0.574d558","type":"python3-function","z":"df305688.9bb948","name":"init exec+rn version","func":"with open(\"/home/pi/shared/ui/data/update.log\", \"r\") as file:\n    versionserver=str(file.read())[:16]\nwith open(\"/home/pi/shared/log/currentserverversion.log\", \"w\") as file:\n    file.write(versionserver)\n\nmsg['payload']=\"sudo mv -f /home/pi/.node-red/flows_raspberrypi_download.json /home/pi/shared/ui/data/old_flows/\"+versionserver+\".json\"\n\nreturn msg\n\n","outputs":1,"x":950,"y":480,"wires":[["f5691a6d.df5c58"]]},{"id":"f5691a6d.df5c58","type":"exec","z":"df305688.9bb948","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"move update","x":1150,"y":480,"wires":[[],[],[]]},{"id":"caec59f9.a54488","type":"python3-function","z":"df305688.9bb948","name":"init exec","func":"payload=msg['file']\nif payload==\"saved.json\":\n    msg['payload']=\"sudo \\cp /home/pi/shared/ui/data/old_flows/\"+payload+\" /home/pi/.node-red/flows_raspberrypi.json\"\nelse:\n    msg['payload']=\"sudo \\cp /home/pi/.node-red/flows_raspberrypi.json  /home/pi/shared/ui/data/old_flows/saved.json && sudo \\cp /home/pi/shared/ui/data/old_flows/\"+payload+\" /home/pi/.node-red/flows_raspberrypi.json\"\n\nmsg['payload2']=payload[:16]\nreturn msg\n\n","outputs":1,"x":100,"y":660,"wires":[["aae83605.ee4cc8","56409400.e910fc","c1bf25f8.d56848"]]},{"id":"9030dcdf.8ccb9","type":"link out","z":"df305688.9bb948","name":"","links":["dc1a9162.48483","3a8b7430.734eec","d3eaeac4.a1c968"],"x":434.9826431274414,"y":678.989176273346,"wires":[]},{"id":"1b10290.b9641d7","type":"python3-function","z":"8d5a7804.52acf8","name":"ui/data/old_flows","func":"import os.path\n\npath = '/home/pi/shared/ui/data/old_flows'\n\nif(os.path.exists(path)==False):\n    msg['payload']=\"sudo mkdir \"+path\n    return msg\n\n","outputs":1,"x":390,"y":580,"wires":[["867478dc.d834f8"]]},{"id":"867478dc.d834f8","type":"exec","z":"8d5a7804.52acf8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"create path","x":590,"y":580,"wires":[[],[],[]]},{"id":"e58bc361.0ddf6","type":"is online","z":"df305688.9bb948","name":"","url":"www.google.com","action":"0","x":295.0035858154297,"y":1112.5732431411743,"wires":[["932686ba.41ded8"]]},{"id":"ad5a0b05.dd4d98","type":"is online","z":"df305688.9bb948","name":"","url":"www.google.com","action":"0","x":341.02087783813477,"y":212.02804374694824,"wires":[["a162aa1a.426708"]]},{"id":"a58c1345.a280d","type":"ui_template","z":"df305688.9bb948","group":"3ce32450.e0cffc","name":"Syslog","order":8,"width":5,"height":1,"format":"<md-button ng-disabled=\"msg.disable\" style=\"background-color:{{msg.backgroundcolor}};color:{{msg.color}};width:100%; height:100%;\"   target=\"_blank\" ng-href=\"/ui/data/syslog.txt\">\n <div class=\"center\" style=\"position: relative;\n    top: 30%;\">\n  Download Syslog\n</div></md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":930,"y":860,"wires":[[]]},{"id":"a7d9444d.127ef8","type":"ui_switch","z":"df305688.9bb948","name":"","label":"Open Syslog","tooltip":"","group":"3ce32450.e0cffc","order":5,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":410,"y":880,"wires":[["a91a3a1a.16f838"]]},{"id":"a91a3a1a.16f838","type":"function","z":"df305688.9bb948","name":"","func":"var msg2 = { payload: \"sudo \\cp /var/log/syslog /home/pi/shared/ui/data/syslog.txt && sudo chmod a+rwx /home/pi/shared/ui/data/syslog.txt\"};\nif (msg.payload===true){\n    msg.color = \"white\"\n    msg.backgroundcolor=\"default\"\n    msg.disable=false\n    return [msg,msg2];\n}\nmsg.color = \"white\"\nmsg.backgroundcolor =\"white\"\nmsg.disable=true\nreturn [msg,null];","outputs":2,"noerr":0,"x":570,"y":880,"wires":[["92120e6c.94323"],["b6a25062.b315b"]]},{"id":"b6a25062.b315b","type":"exec","z":"df305688.9bb948","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"get syslog","x":580,"y":940,"wires":[[],[],["1fd53d0f.69c623"]]},{"id":"92120e6c.94323","type":"delay","z":"df305688.9bb948","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":860,"wires":[["a58c1345.a280d"]]},{"id":"1fd53d0f.69c623","type":"python3-function","z":"df305688.9bb948","name":"msg","func":"\nwith open(\"/home/pi/shared/log/currentversion.log\", \"r\") as file:\n    msg['payload']=\">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Version in use: \"+file.read()\nreturn msg","outputs":1,"x":730,"y":940,"wires":[["1c8f53b7.e8499c"]]},{"id":"1c8f53b7.e8499c","type":"file","z":"df305688.9bb948","name":"","filename":"/home/pi/shared/ui/data/syslog.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":960,"y":940,"wires":[[]]},{"id":"8dc14241.f8cd4","type":"function","z":"df305688.9bb948","name":"","func":"msg.payload=false\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":880,"wires":[["a7d9444d.127ef8"]]},{"id":"325e8577.48589a","type":"inject","z":"df305688.9bb948","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":100,"y":880,"wires":[["8dc14241.f8cd4"]]},{"id":"b9e917cd.b9b2a8","type":"ui_slider","z":"4d24a982.7bf068","name":"zoom","label":" ","tooltip":"","group":"a0313e96.486fc","order":10,"width":6,"height":1,"passthru":true,"outs":"all","topic":"","min":"1","max":"5","step":"0.1","x":590,"y":360,"wires":[["517122a1.3657fc"]]},{"id":"706cb03e.d3c14","type":"ui_text","z":"4d24a982.7bf068","group":"a0313e96.486fc","order":9,"width":6,"height":1,"name":"","label":"Zoom","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":360,"wires":[]},{"id":"a3b19be7.b771f8","type":"inject","z":"4d24a982.7bf068","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":110,"y":880,"wires":[["c6e407dd.642948"]]},{"id":"65816a3f.731da4","type":"ui_button","z":"df305688.9bb948","name":"","group":"ddbd496e.93a288","order":5,"width":0,"height":0,"passthru":false,"label":"Save current Version","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":840,"y":620,"wires":[["975808e4.c9afc8"]]},{"id":"975808e4.c9afc8","type":"python3-function","z":"df305688.9bb948","name":"Run Routine","func":"import time\nimport shutil\ntimestamp =time.strftime(\"20%y-%m-%d_%H.%M.\")\nsource = \"/home/pi/.node-red/flows_raspberrypi.json\"\ndestination = \"/home/pi/shared/ui/data/old_flows/saved-\"+timestamp+\"json\"\ndest = shutil.copyfile(source, destination) \n","outputs":1,"x":1110,"y":620,"wires":[[]]},{"id":"c400c3c5.1970d","type":"ui_template","z":"422031c2.453f9","group":"3e00b4d5.2a3f8c","name":"","order":1,"width":13,"height":12,"format":" <div class=\"center\" style=\"text-align: center\">\n    <h1>\n        Controlling a smartphone via the RPi bluetooth is not available YET. Anyway, you can trigger your smartphone via an external remote shutter control using the \"External Camera\" tab\n    </h1>\n</div>\n<div></div>\n<div><h1>Possible approach:</h1></div>\n<div>In order to trigger an android camera, the keystroke \"Enter\" has to be send. To trigger the Iphone \"Volume UP\" is needed. See the following link for more details on one of those little bluetooth triggers. It works by emulating a bluetooth keyboard and sending the according two keystrokes:</div>\n<a href=\"https://shkspr.mobi/blog/2016/02/cheap-bluetooth-buttons-and-linux/\" target=\"_blank\">Selfie stick remote shutter control</a>\n<div>In order to setup the RPi the following library could be used, but I did not manage to send the according keystrokes. See the comment section for some further insight of what I've tried so far:</div>\n<a href=\"https://gist.github.com/ukBaz/a47e71e7b87fbc851b27cde7d1c0fcf0\" target=\"_blank\">Bluetooth HID for RPi</a>\n<div>If you want to help, please feel free to contact me via email: <b>info@openscan.eu</b></div>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":140,"y":60,"wires":[[]]},{"id":"ef3a6c93.017b9","type":"exec","z":"8d5a7804.52acf8","command":"pip3 search gphoto2","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"test if gphoto exists","x":390,"y":1000,"wires":[["c301ac1b.7d891"],[],[]]},{"id":"3a4e7ffa.36403","type":"exec","z":"8d5a7804.52acf8","command":"sudo pip install gphoto2","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"sudo pip install gphoto2","x":611,"y":1240,"wires":[["76081e95.8c5df","34d34d6b.4caad2"],[],[]]},{"id":"76081e95.8c5df","type":"exec","z":"8d5a7804.52acf8","command":"sudo pip3 install gphoto2","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"sudo pip3 install gphoto2","x":611,"y":1300,"wires":[["d2469531.fee568"],[],[]]},{"id":"8ffe60a8.a351b","type":"python3-function","z":"8d5a7804.52acf8","name":"msg","func":"msg['payload']=\"-- DO NOT TURN OFF THE DEVICE -- ______Installing Updates part 4/6______ ______This might take some time______\"\nmsg['color']=\"red\"\nreturn msg","outputs":1,"x":831,"y":1180,"wires":[["617d01a5.e71cc","a375d3d2.7743a"]]},{"id":"71a822eb.e2a85c","type":"inject","z":"bfd53ca5.067f5","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":100,"y":60,"wires":[["ee1e16d7.022738","bd803988.7a3878","42810fff.bb1"]]},{"id":"7fc226d9.8c33d8","type":"ui_button","z":"bfd53ca5.067f5","name":"","group":"56fe100.930a8f","order":3,"width":6,"height":1,"passthru":true,"label":"Start Routine","tooltip":"","color":"","bgcolor":"","icon":"","payload":"starten","payloadType":"str","topic":"","x":570,"y":440,"wires":[["75c5fe50.b697c"]]},{"id":"6ac6d92d.2a6a98","type":"ui_button","z":"bfd53ca5.067f5","name":"","group":"71843631.f4d5f8","order":3,"width":5,"height":1,"passthru":false,"label":"Update Preview","tooltip":"press to show the effect of changed settings (takes one second to load)","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":320,"wires":[["5e225926.9de698"]]},{"id":"75c5fe50.b697c","type":"python3-function","z":"bfd53ca5.067f5","name":"Run Routine","func":"import RPi.GPIO as GPIO\nimport time\nimport picamera\nfrom time import sleep\nimport gphoto2 as gp\nfrom subprocess import call\n\n\n# Zip-packer\nimport os\nimport shutil\nfrom os import path\nfrom zipfile import ZipFile\nfrom os import path\nfrom shutil import make_archive\nfrom PIL import Image\n\nwith open(\"/home/pi/shared/log/currentstatus_gp.log\", \"r\") as file:\n    test=file.read()\nif test!=\"error, try restart\" and test!=\"--READY--\":\n    return\n\n\n#routine settings\nwith open(\"/home/pi/shared/log/fotosperrotation.log\", \"r\") as file:\n    fotosperrotation=int(file.read())\nwith open(\"/home/pi/shared/log/startdeflection.log\", \"r\") as file:\n    startdeflection=int(file.read())\nwith open(\"/home/pi/shared/log/verticalpositions.log\", \"r\") as file:\n    verticalpositions=int(file.read())\nwith open(\"/home/pi/shared/log/projectname.log\", \"r\") as file:\n    projectname=file.read()\n\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    dirpinrotor=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    steppinrotor=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"r\") as file:\n    dirpintt=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"r\") as file:\n    steppintt=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    rotorspr=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"r\") as file:\n    ttspr=int(file.read())  \nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delayrotor=float(file.read())\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"r\") as file:\n    delaytt=float(file.read())    \n\nstartangle = rotorspr/360*startdeflection\nprojectcode =time.strftime(\"20%y-%m-%d %H.%M.%S - \")+projectname+'/'\ndirname='./shared/'+projectcode\nos.makedirs(dirname)  \n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(3, GPIO.OUT)\n\ndef ttrun(step_count):\n    GPIO.setup(dirpintt, GPIO.OUT)\n    GPIO.setup(steppintt, GPIO.OUT)\n    if (step_count>0):\n        GPIO.output(dirpintt, GPIO.HIGH)\n    if(step_count<0):\n        GPIO.output(dirpintt, GPIO.LOW)\n        step_count=-step_count\n    for x in range(step_count):\n        GPIO.output(steppintt, GPIO.HIGH)\n        sleep(delaytt)\n        GPIO.output(steppintt, GPIO.LOW)\n        sleep(delaytt)\n\ndef rotorrun(step_count):\n    GPIO.setup(dirpinrotor, GPIO.OUT)\n    GPIO.setup(steppinrotor, GPIO.OUT)\n    if (step_count>0):\n        GPIO.output(dirpinrotor, GPIO.HIGH)\n    if(step_count<0):\n        GPIO.output(dirpinrotor, GPIO.LOW)\n        step_count=-step_count\n    for x in range(step_count):\n        GPIO.output(steppinrotor, GPIO.HIGH)\n        sleep(delayrotor)\n        GPIO.output(steppinrotor, GPIO.LOW)\n        sleep(delayrotor)\n\ndef updatepreview():\n    with open(\"/home/pi/shared/log/updatepreview_gp.log\", \"w\") as file:\n        file.write(time.strftime(\"20%y-%m-%d_%H-%M-%S\"))\n\ndef stoptest():\n    with open(\"/home/pi/shared/log/stopstate_gp.log\", \"r\") as file:\n        if (file.read()!=\"stop\"):\n            return\n\n    zip()\n    \n    with open(\"/home/pi/shared/log/stopstate_gp.log\", \"w\") as file:\n        file.write(\"ready\")\n    end()     \n    # producing an error to stop the routine as exit() does not work\n    # need to find a better solution ;)\n\ndef takephoto():\n    stoptest()\n\n    timestamp= time.strftime(\"20%y-%m-%d_%H-%M-%S\")\n    filepath = dirname+'/'+ timestamp + \".jpg\"\n    \n    call ([\"gphoto2\",\"--capture-image-and-download\",\"--filename\", filepath])\n\n    try:\n        img = Image.open(filepath)\n    except:\n        with open(\"/home/pi/shared/log/currentstatus_gp.log\", \"w\") as file:\n            file.write(\"error, try restart\")\n        end()\n    img = img.resize((600, 450))\n    img.save('./shared/ui/data/preview2.jpg')\n    zip(filepath)\n    updatepreview()\n\ndef turntablerotation():\n\n    for x in range (fotosperrotation):\n        with open(\"/home/pi/shared/log/currentstatus_gp.log\", \"w\") as file:\n            file.write(\"Position: \"+str(vertpos)+\"/\"+str(verticalpositions)+\" Foto: \"+str(x+1)+\"/\"+str(fotosperrotation))\n        if fotosperrotation!=1:\n            ttrun(ttspr/fotosperrotation)\n        takephoto()\n\ndef saveparameters():\n    os.mknod(dirname+\"/parameters.txt\")\n\n    with open(\"/home/pi/shared/log/cameracontrast.log\", \"r\") as file:\n        cameracontrast=int(file.read())\n    with open(\"/home/pi/shared/log/camerabrightness.log\", \"r\") as file:\n        camerabrightness=int(file.read())\n    with open(\"/home/pi/shared/log/shutterspeed.log\", \"r\") as file:\n        shutterspeed=int(file.read())\n\n    with open(dirname+\"/parameters.txt\", \"w\") as file:\n        file.write(\"Settings for OpenScanPi;\\n\")\n        file.write(\"projectname;\"+str(projectname)+\"\\n\")\n        file.write(\"fotosperrotation;\"+str(fotosperrotation)+\"\\n\")\n        file.write(\"startdeflection;\"+str(startdeflection)+\"\\n\")\n        file.write(\"verticalpositions;\"+str(verticalpositions)+\"\\n\")\n        file.write(\"camerabrightness;\"+str(camerabrightness)+\"\\n\")\n        file.write(\"shutterspeed;\"+str(shutterspeed)+\"\\n\")\n        file.write(\"cameracontrast;\"+str(cameracontrast)+\"\\n\")\n        file.write(\"zoomfactor;\"+str(zoomfactor)+\"\\n\")\n    \n    saveparameters(dirname+\"/parameters.txt\")\n\n    shutil.move('shared/temp.zip','shared/ui/'+projectcode[:-1]+'.zip')\n    shutil.rmtree(dirname)\n    \n    with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n        file.write(\"--READY--\")\n\ndef zip(filepath):\n    with ZipFile(\"/home/pi/shared/temp.zip\", \"a\") as zip:\n        zip.write(filepath, os.path.basename(filepath))\n    os.remove(filepath)\n\nrotorrun(-startangle)\nfor x in range (verticalpositions-1):\n    vertpos = x+1\n    turntablerotation()\n    if (verticalpositions>1):\n        rotorrun(2*startangle/(verticalpositions-1))\nif (verticalpositions==1):\n    startangle=-startangle\nvertpos=verticalpositions\nturntablerotation()\nrotorrun(-startangle)\n\nsaveparameters()\n\nreturn msg","outputs":1,"x":766.0000629425049,"y":440.0001468658447,"wires":[[]]},{"id":"ee1e16d7.022738","type":"function","z":"bfd53ca5.067f5","name":"Reset Project Name","func":"msg.payload=\"default\"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["ed35fb77.02b1a8","d83fc1b6.501bb"]]},{"id":"ed35fb77.02b1a8","type":"ui_text_input","z":"bfd53ca5.067f5","name":"","label":"Project Name","tooltip":"enter project name + press enter","group":"56fe100.930a8f","order":2,"width":6,"height":1,"passthru":true,"mode":"text","delay":"300","topic":"","x":600,"y":120,"wires":[["d83fc1b6.501bb"]]},{"id":"d83fc1b6.501bb","type":"file","z":"bfd53ca5.067f5","name":"","filename":"/home/pi/shared/log/projectname.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":850,"y":120,"wires":[[]]},{"id":"581adada.c9da74","type":"function","z":"bfd53ca5.067f5","name":"timestamp pic file","func":"var d = new Date();\nvar n = d.getTime();\nmsg.payload = \"/ui/data/preview2.jpg?ts=\" + n;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":320,"wires":[["5390d0b.3373b3"]]},{"id":"5390d0b.3373b3","type":"ui_template","z":"bfd53ca5.067f5","group":"71843631.f4d5f8","name":"preview","order":1,"width":15,"height":11,"format":"<div align=\"center\" >\n<img ng-src= {{msg.payload}} style=\"width: auto; height: auto;max-width: 580px;max-height: 420px\"</img>\n<a src=\"/data/preview2.jpg\" </a>\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1064,"y":320,"wires":[[]]},{"id":"5d132401.04a75c","type":"python3-function","z":"bfd53ca5.067f5","name":"Take Preview Shot","func":"import io\nimport logging\nimport os\nimport subprocess\nimport sys\nimport random\n\nfrom PIL import Image\n\nimport gphoto2 as gp\n\nwith open(\"/home/pi/shared/log/camera.log\", \"r\") as file:\n    if file.read()!=\"GPhoto2\":\n        return\n\nwith open(\"/home/pi/shared/log/currentstatus_gp.log\", \"r\") as file:\n    if file.read()==\"creating zip file\":\n        return\n\ncamera = gp.check_result(gp.gp_camera_new())\ntry:\n    gp.check_result(gp.gp_camera_init(camera))\nexcept:\n    with open(\"/home/pi/shared/log/currentstatus_gp.log\", \"w\") as file:\n        file.write(\"no camera found\")\n    return msg\nwith open(\"/home/pi/shared/log/currentstatus_gp.log\", \"w\") as file:\n        file.write(\"--READY--\")\n\nconfig = gp.check_result(gp.gp_camera_get_config(camera))\nOK, image_format = gp.gp_widget_get_child_by_name(config, 'imageformat')\nif OK >= gp.GP_OK:\n    value = gp.check_result(gp.gp_widget_get_value(image_format))\n    if 'raw' in value.lower():\n        return \nOK, capture_size_class = gp.gp_widget_get_child_by_name(\n    config, 'capturesizeclass')\nif OK >= gp.GP_OK:\n        value = gp.check_result(gp.gp_widget_get_choice(capture_size_class, 2))\n        gp.check_result(gp.gp_widget_set_value(capture_size_class, value))\n        gp.check_result(gp.gp_camera_set_config(camera, config))\ncamera_file = gp.check_result(gp.gp_camera_capture_preview(camera))\nfile_data = gp.check_result(gp.gp_file_get_data_and_size(camera_file))\ndata = memoryview(file_data)\n\ntarget = '/home/pi/shared/ui/data/preview2.jpg'\ncamera_file.save(target)\n\n\n#image = Image.open(io.BytesIO(file_data))\n#image.show()\ngp.check_result(gp.gp_camera_exit(camera))\n\nreturn msg","outputs":1,"x":610,"y":320,"wires":[["581adada.c9da74"]]},{"id":"cae2fbb1.305368","type":"comment","z":"bfd53ca5.067f5","name":"System","info":"","x":81.99996948242188,"y":3069.004035949707,"wires":[]},{"id":"5e225926.9de698","type":"delay","z":"bfd53ca5.067f5","name":"","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":370,"y":320,"wires":[["5d132401.04a75c"]]},{"id":"bd803988.7a3878","type":"exec","z":"bfd53ca5.067f5","command":"sudo rm -rf -d /home/pi/shared/ui/data/preview2.jpg","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":410,"y":60,"wires":[[],[],[]]},{"id":"1ead0d31.5fb6f3","type":"file in","z":"bfd53ca5.067f5","name":"","filename":"/home/pi/shared/log/currentstatus_gp.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":380,"y":220,"wires":[["91fc3b7a.c34d58"]]},{"id":"96f76e33.3e57","type":"ui_text","z":"bfd53ca5.067f5","group":"56fe100.930a8f","order":1,"width":6,"height":1,"name":"","label":"Current Status:","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":780,"y":220,"wires":[]},{"id":"33fc9d78.197852","type":"inject","z":"bfd53ca5.067f5","name":"","topic":"Repeater","payload":"0.5","payloadType":"str","repeat":"0.5","crontab":"","once":true,"onceDelay":"1","x":120,"y":220,"wires":[["1ead0d31.5fb6f3","a37e1c0d.47fd6"]]},{"id":"a37e1c0d.47fd6","type":"file in","z":"bfd53ca5.067f5","name":"","filename":"/home/pi/shared/log/updatepreview_gp.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":380,"y":260,"wires":[["446889aa.9018e8"]]},{"id":"446889aa.9018e8","type":"function","z":"bfd53ca5.067f5","name":"check preview mod","func":"if (msg.payload!=global.get(\"updatepreview_gp\")){\n    return msg\n}\n","outputs":1,"noerr":0,"x":670,"y":260,"wires":[["581adada.c9da74","4bbca298.ad53ac"]]},{"id":"353285a5.1394aa","type":"ui_button","z":"bfd53ca5.067f5","name":"","group":"56fe100.930a8f","order":4,"width":6,"height":1,"passthru":true,"label":"Stop Routine","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":95.01732063293457,"y":440.78811264038086,"wires":[["e8180e26.1d0dd"]]},{"id":"54c62c4b.e36b94","type":"link in","z":"bfd53ca5.067f5","name":"Update Preview GPhoto","links":["4bafeaee.da8274","7a27d702.0a80d8","73a1669f.672bd8","937ee9b4.255528","d64e2b3b.73da28"],"x":215,"y":360,"wires":[["5e225926.9de698"]]},{"id":"42810fff.bb1","type":"python3-function","z":"bfd53ca5.067f5","name":"set initial variables","func":"import subprocess\nimport gphoto2 as gp\n\nwith open(\"/home/pi/shared/log/stopstate_gp.log\", \"w\") as file:\n    file.write(\"run\")\nwith open(\"/home/pi/shared/log/updatepreview_gp.log\", \"w\") as file:\n    file.write(\"start\")\n\ncamera = gp.check_result(gp.gp_camera_new())\ntry:\n    gp.check_result(gp.gp_camera_init(camera))\nexcept:\n    with open(\"/home/pi/shared/log/currentstatus_gp.log\", \"w\") as file:\n        file.write(\"no camera found\")\n    return msg\nwith open(\"/home/pi/shared/log/currentstatus_gp.log\", \"w\") as file:\n        file.write(\"--READY--\")","outputs":1,"x":310,"y":160,"wires":[[]]},{"id":"e8180e26.1d0dd","type":"python3-function","z":"bfd53ca5.067f5","name":"set stop state variables","func":"with open(\"/home/pi/shared/log/currentstatus_gp.log\", \"r\") as file:\n    test=file.read()\nif test==\"error, try restart\" or test==\"--READY--\" or test==\"no camera found\":\n    return\n\nwith open(\"/home/pi/shared/log/stopstate_gp.log\", \"w\") as file:\n    file.write(\"stop\")\nwith open(\"/home/pi/shared/log/currentstatus_gp.log\", \"w\") as file:\n    file.write(\"--stopping--\")","outputs":1,"x":317.0173740386963,"y":440.8988308906555,"wires":[[]]},{"id":"4bbca298.ad53ac","type":"change","z":"bfd53ca5.067f5","name":"","rules":[{"t":"set","p":"updatepreview_gp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":260,"wires":[[]]},{"id":"eae88248.fe81","type":"exec","z":"8d5a7804.52acf8","command":"sudo apt install libgphoto2-dev -y","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"sudo apt install libgphoto2-dev","x":631,"y":1120,"wires":[["ecfcf15f.d3c66","4019d426.0d5dec"],[],[]]},{"id":"ecfcf15f.d3c66","type":"exec","z":"8d5a7804.52acf8","command":"sudo apt install gphoto2 -y","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"sudo apt install gphoto2","x":611,"y":1180,"wires":[["3a4e7ffa.36403","8ffe60a8.a351b"],[],[]]},{"id":"ada6f586.af2688","type":"exec","z":"8d5a7804.52acf8","command":"sudo apt-get update","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"sudo apt-get update","x":601,"y":1060,"wires":[["eae88248.fe81","33e17a98.932466"],[],[]]},{"id":"c301ac1b.7d891","type":"python3-function","z":"8d5a7804.52acf8","name":"download gphoto","func":"if str(msg['payload'])[57:66]==\"INSTALLED\":\n    return\n\nreturn msg","outputs":1,"x":593,"y":1000,"wires":[["ada6f586.af2688","c34dfb2e.8d80d8"]]},{"id":"4019d426.0d5dec","type":"python3-function","z":"8d5a7804.52acf8","name":"msg","func":"msg['payload']=\"-- DO NOT TURN OFF THE DEVICE -- ______Installing Updates part 3/6______ ______This might take some time______\"\nmsg['color']=\"red\"\nreturn msg","outputs":1,"x":831,"y":1120,"wires":[["617d01a5.e71cc","a375d3d2.7743a"]]},{"id":"617d01a5.e71cc","type":"link out","z":"8d5a7804.52acf8","name":"","links":["b141d961.02c3a8"],"x":1056,"y":1140,"wires":[]},{"id":"33e17a98.932466","type":"python3-function","z":"8d5a7804.52acf8","name":"msg","func":"msg['payload']=\"-- DO NOT TURN OFF THE DEVICE -- ______Installing Updates part 2/6______ ______This might take some time______\"\nmsg['color']=\"red\"\nreturn msg","outputs":1,"x":831,"y":1060,"wires":[["617d01a5.e71cc","a375d3d2.7743a"]]},{"id":"c34dfb2e.8d80d8","type":"python3-function","z":"8d5a7804.52acf8","name":"msg","func":"msg['payload']=\"-- DO NOT TURN OFF THE DEVICE -- ______Installing Updates part 1/6______ ______This might take some time______\"\nmsg['color']=\"red\"\nreturn msg","outputs":1,"x":831,"y":1000,"wires":[["617d01a5.e71cc","a375d3d2.7743a"]]},{"id":"34d34d6b.4caad2","type":"python3-function","z":"8d5a7804.52acf8","name":"msg","func":"msg['payload']=\"-- DO NOT TURN OFF THE DEVICE -- ______Installing Updates part 5/6______ ______This might take some time______\"\nmsg['color']=\"red\"\nreturn msg","outputs":1,"x":831,"y":1240,"wires":[["617d01a5.e71cc","a375d3d2.7743a"]]},{"id":"d2469531.fee568","type":"python3-function","z":"8d5a7804.52acf8","name":"msg","func":"msg['payload']=\"-- DO NOT TURN OFF THE DEVICE -- ______Installing Updates part 6/6______ ______This might take some time______\"\nmsg['color']=\"red\"\nreturn msg","outputs":1,"x":831,"y":1300,"wires":[["617d01a5.e71cc","61dfb0dc.fb504","a375d3d2.7743a"]]},{"id":"ee01cfb6.c1e34","type":"python3-function","z":"8d5a7804.52acf8","name":"download gphoto","func":"if str(msg['payload'])[57:66]==\"INSTALLED\":\n    msg['payload']=\"All updates ready :)\"\n    return msg\n\nmsg['payload']=\"install failed - please restart\"\nmsg['color']=\"red\"\nreturn msg","outputs":1,"x":791,"y":1360,"wires":[["617d01a5.e71cc","a375d3d2.7743a"]]},{"id":"61dfb0dc.fb504","type":"exec","z":"8d5a7804.52acf8","command":"pip3 search gphoto2","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"test if gphoto exists","x":591,"y":1360,"wires":[["ee01cfb6.c1e34"],[],[]]},{"id":"a375d3d2.7743a","type":"link out","z":"8d5a7804.52acf8","name":"","links":["9141f91a.7a5b98"],"x":1056,"y":1180,"wires":[]},{"id":"cf805e61.1741b","type":"ui_dropdown","z":"f3531383.b49ea","name":"Camera Type","label":"Camera:","tooltip":"","place":"---Select---","group":"3aee2d1a.bc7412","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"Raspberry Pi","value":"RPi Camera","type":"str"},{"label":"USB (DSLR)","value":"GPhoto2","type":"str"},{"label":"External","value":"External Camera","type":"str"},{"label":"Smartphone","value":"Smartphone","type":"str"}],"payload":"","topic":"","x":490,"y":60,"wires":[["42dc9d26.51afe4","7a27d702.0a80d8"]]},{"id":"ce48cbf3.053418","type":"inject","z":"f3531383.b49ea","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":101,"y":61,"wires":[["7e5f5917.461d88","f9bf6be7.0c9808","6bc4c13c.63103"]]},{"id":"42dc9d26.51afe4","type":"python3-function","z":"f3531383.b49ea","name":"","func":"with open(\"/home/pi/shared/log/camera.log\", \"w\") as file:\n    file.write(msg['payload'])\n\nif msg['payload']==\"Smartphone\":\n    msg['payload']={\"group\":{\"show\":[\"Camera_Settings_Smartphone\"],\"hide\":[\"Camera_Data\",\"Camera_Settings_RPi\",\"Camera_Settings_External_Camera\",\"Camera_Settings_Gphoto2\",\"Camera_Preview_RPi\",\"Camera_Preview_GPhoto2\"]}}\n    return msg\nif msg['payload']==\"External Camera\":\n    msg['payload']={\"group\":{\"show\":[\"Camera_Settings_External_Camera\"],\"hide\":[\"Camera_Data\",\"Camera_Settings_RPi\",\"Camera_Settings_Gphoto2\",\"Camera_Settings_Smartphone\",\"Camera_Preview_RPi\",\"Camera_Preview_GPhoto2\"]}}\n    return msg\nif msg['payload']==\"RPi Camera\":\n    msg['payload']={\"group\":{\"show\":[\"Camera_Settings_RPi\",\"Camera_Preview_RPi\",\"Camera_Data\"],\"hide\":[\"Camera_Settings_External_Camera\",\"Camera_Settings_Gphoto2\",\"Camera_Settings_Smartphone\",\"Camera_Preview_GPhoto2\"]}}\n    return msg\nif msg['payload']==\"GPhoto2\":\n    msg['payload']={\"group\":{\"show\":[\"Camera_Data\",\"Camera_Settings_Gphoto2\",\"Camera_Preview_GPhoto2\"],\"hide\":[\"Camera_Settings_RPi\",\"Camera_Settings_External_Camera\",\"Camera_Settings_Smartphone\",\"Camera_Preview_RPi\"]}}\n    return msg\nmsg['payload']={\"group\":{\"hide\":[\"Camera_Data\",\"Camera_Settings_RPi\",\"Camera_Settings_External_Camera\",\"Camera_Settings_Gphoto2\",\"Camera_Settings_Smartphone\",\"Camera_Preview_RPi\",\"Camera_Preview_GPhoto2\"]}}\nreturn msg","outputs":1,"x":650,"y":60,"wires":[["d844cc2c.132ec"]]},{"id":"d844cc2c.132ec","type":"ui_ui_control","z":"f3531383.b49ea","name":"","events":"all","x":821,"y":60,"wires":[[]]},{"id":"2e01a828.e5e5b8","type":"file in","z":"f3531383.b49ea","name":"","filename":"/home/pi/shared/log/fotosperrotation.log","format":"","chunk":false,"sendError":false,"encoding":"none","x":360,"y":180,"wires":[["98fade58.6e821"]]},{"id":"b6afa472.061208","type":"file in","z":"f3531383.b49ea","name":"","filename":"/home/pi/shared/log/verticalpositions.log","format":"","chunk":false,"sendError":false,"encoding":"none","x":360,"y":220,"wires":[["2d41d1b7.11ecae"]]},{"id":"1d51af0c.e28ca1","type":"file in","z":"f3531383.b49ea","name":"","filename":"/home/pi/shared/log/startdeflection.log","format":"","chunk":false,"sendError":false,"encoding":"none","x":350,"y":260,"wires":[["a731c419.f80368"]]},{"id":"a731c419.f80368","type":"ui_slider","z":"f3531383.b49ea","name":"","label":"","tooltip":"set start deflection angle","group":"3aee2d1a.bc7412","order":16,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"0","max":"90","step":1,"x":590,"y":260,"wires":[["ddb4ee9c.47ed1"]]},{"id":"516ff9d6.ce2fb8","type":"ui_text","z":"f3531383.b49ea","group":"3aee2d1a.bc7412","order":15,"width":0,"height":0,"name":"","label":"Start Deflection:","format":"{{msg.payload}}","layout":"row-spread","x":1100,"y":260,"wires":[]},{"id":"2d41d1b7.11ecae","type":"ui_slider","z":"f3531383.b49ea","name":"","label":" ","tooltip":"set the number of vertical positions","group":"3aee2d1a.bc7412","order":18,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"1","max":"20","step":1,"x":590,"y":220,"wires":[["99b8ebcb.944278"]]},{"id":"99b8ebcb.944278","type":"file","z":"f3531383.b49ea","name":"","filename":"/home/pi/shared/log/verticalpositions.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":821.9999961853027,"y":220.00000190734863,"wires":[["b6014ec2.1cc4c"]]},{"id":"98fade58.6e821","type":"ui_slider","z":"f3531383.b49ea","name":"","label":"","tooltip":" set the number of photos per turntable rotation","group":"3aee2d1a.bc7412","order":14,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"1","max":"60","step":1,"x":590,"y":180,"wires":[["b5ca815.31dd58"]]},{"id":"b5ca815.31dd58","type":"file","z":"f3531383.b49ea","name":"","filename":"/home/pi/shared/log/fotosperrotation.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":821.9999771118164,"y":180.0000021457672,"wires":[["f964d7.98e98b28"]]},{"id":"ddb4ee9c.47ed1","type":"python3-function","z":"f3531383.b49ea","name":"Run Routine","func":"deflection=str(msg['payload'])\nwith open(\"/home/pi/shared/log/startdeflection.log\", \"w\") as file:\n    file.write(deflection)\nmsg['payload']=deflection+''\nreturn msg","outputs":1,"x":745.9999542236328,"y":260.01039695739746,"wires":[["516ff9d6.ce2fb8"]]},{"id":"b6014ec2.1cc4c","type":"ui_text","z":"f3531383.b49ea","group":"3aee2d1a.bc7412","order":17,"width":0,"height":0,"name":"","label":"Vertical Positions:","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":220,"wires":[]},{"id":"f964d7.98e98b28","type":"ui_text","z":"f3531383.b49ea","group":"3aee2d1a.bc7412","order":13,"width":0,"height":0,"name":"","label":"Photos per Rotation:","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":180,"wires":[]},{"id":"1cc4d555.5c839b","type":"inject","z":"f3531383.b49ea","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":80,"y":140,"wires":[["2e01a828.e5e5b8","b6afa472.061208","1d51af0c.e28ca1","cde5db51.9ea398","20b846a2.78e07a"]]},{"id":"44bf16b1.c09338","type":"ui_button","z":"f3531383.b49ea","name":"","group":"3aee2d1a.bc7412","order":7,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"","x":590,"y":520,"wires":[["95623474.940878"]]},{"id":"69a13264.4c1a1c","type":"ui_button","z":"f3531383.b49ea","name":"","group":"3aee2d1a.bc7412","order":8,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"","x":590,"y":560,"wires":[["bcccda95.031b88"]]},{"id":"90f8317c.3b0e4","type":"ui_button","z":"f3531383.b49ea","name":"","group":"3aee2d1a.bc7412","order":4,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"","payload":"500","payloadType":"num","topic":"","x":90,"y":520,"wires":[["cc87b730.4970f8"]]},{"id":"72988318.11607c","type":"ui_button","z":"f3531383.b49ea","name":"","group":"3aee2d1a.bc7412","order":5,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"","x":90,"y":560,"wires":[["63f161ba.4bee"]]},{"id":"bfe83cbb.5217b","type":"ui_text","z":"f3531383.b49ea","group":"3aee2d1a.bc7412","order":6,"width":2,"height":1,"name":"","label":"Turntable","format":"{{\"\"}}","layout":"row-center","x":580,"y":480,"wires":[]},{"id":"45a01312.5bf43c","type":"ui_text","z":"f3531383.b49ea","group":"3aee2d1a.bc7412","order":3,"width":2,"height":1,"name":"","label":"Rotor","format":"{{\"\"}}","layout":"row-center","x":90,"y":480,"wires":[]},{"id":"921082d1.1f901","type":"python3-function","z":"f3531383.b49ea","name":"TT left","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/36\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n","outputs":1,"x":851,"y":520,"wires":[["937ee9b4.255528"]]},{"id":"6b9cff78.ec6d8","type":"python3-function","z":"f3531383.b49ea","name":"TT right","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/36\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n","outputs":1,"x":860,"y":560,"wires":[["937ee9b4.255528"]]},{"id":"b0b39692.ce7c28","type":"python3-function","z":"f3531383.b49ea","name":"Rotor left","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/72\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg","outputs":1,"x":360,"y":520,"wires":[["73a1669f.672bd8"]]},{"id":"fa113042.8256f","type":"python3-function","z":"f3531383.b49ea","name":"Rotor right","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/72\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg","outputs":1,"x":370,"y":560,"wires":[["73a1669f.672bd8"]]},{"id":"937ee9b4.255528","type":"link out","z":"f3531383.b49ea","name":"","links":["54c62c4b.e36b94","ea6345e6.047328"],"x":955,"y":540,"wires":[]},{"id":"73a1669f.672bd8","type":"link out","z":"f3531383.b49ea","name":"","links":["54c62c4b.e36b94","ea6345e6.047328"],"x":475,"y":540,"wires":[]},{"id":"cc87b730.4970f8","type":"delay","z":"f3531383.b49ea","name":"lmt 0.2/s","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":220,"y":520,"wires":[["b0b39692.ce7c28"]]},{"id":"63f161ba.4bee","type":"delay","z":"f3531383.b49ea","name":"lmt 0.2/s","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":220,"y":560,"wires":[["fa113042.8256f"]]},{"id":"95623474.940878","type":"delay","z":"f3531383.b49ea","name":"lmt 0.2/s","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":720,"y":520,"wires":[["921082d1.1f901"]]},{"id":"bcccda95.031b88","type":"delay","z":"f3531383.b49ea","name":"lmt 0.2/s","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":720,"y":560,"wires":[["6b9cff78.ec6d8"]]},{"id":"6bc4c13c.63103","type":"python3-function","z":"f3531383.b49ea","name":"","func":"msg['payload']=\"none\"\nreturn msg\n","outputs":1,"x":330,"y":60,"wires":[["cf805e61.1741b"]]},{"id":"677a595d.91e4a8","type":"ui_template","z":"f3531383.b49ea","group":"e76adf89.87655","name":"Display File List","order":1,"width":6,"height":6,"format":"<script>\n \nthis.scope.action = function(opt) {\n var playFile = opt || \"no data passed to function\";\n// console.warn(playFile)\n return playFile; } \n</script>\n\n\n<div style=\"max-width:500px;\">\n <ul>\n <li ng-repeat=\"file in msg.files track by $index\" style=\"list-style-type: none;\">\n <label>\n <input type=\"radio\" ng-model=\"$parent.file\" name=\"data\" value=\"{{file}}\" required />{{file}}\n </label>\n </li>\n </ul>\n\n<md-button  style=\"width:100%; height:37px;\"  target=\"_blank\" ng-href=\"/ui/{{file}}\">\n <div class=\"center\" style=\"position: relative;\n    top: 30%;\">\n  Download File\n</div></md-button>\n\n</div>\n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":420,"y":740,"wires":[["4ae594a4.8b7cec"]]},{"id":"4ae594a4.8b7cec","type":"fs-ops-dir","z":"f3531383.b49ea","name":"/media/pi/","path":"path","pathType":"msg","filter":"*","filterType":"str","dir":"files","dirType":"msg","x":421,"y":700,"wires":[["677a595d.91e4a8"]]},{"id":"d94cbfe9.cd7cd","type":"function","z":"f3531383.b49ea","name":"","func":"msg.path = \"shared/ui\"\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":700,"wires":[["4ae594a4.8b7cec"]]},{"id":"eec40afa.ec0c98","type":"inject","z":"f3531383.b49ea","name":"repeat 1","topic":"Repeater","payload":"0.2","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"3","x":100,"y":700,"wires":[["d94cbfe9.cd7cd"]]},{"id":"31ef180d.9d7ea8","type":"ui_button","z":"f3531383.b49ea","name":"Delete old files","group":"e76adf89.87655","order":2,"width":6,"height":1,"passthru":false,"label":"{{msg.payload}}","tooltip":"This can not be undone","color":"red","bgcolor":"lightblue","icon":"","payload":"","payloadType":"date","topic":"","x":700,"y":800,"wires":[["f6e66ec.23c2d9"]]},{"id":"4b18db29.1c33a4","type":"exec","z":"f3531383.b49ea","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1010,"y":800,"wires":[[],[],[]]},{"id":"f6e66ec.23c2d9","type":"python3-function","z":"f3531383.b49ea","name":"check if busy","func":"with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"r\") as file:\n    state=file.read()\nif state==\"--READY--\":\n    msg['payload']=\"sudo rm -rf -d /home/pi/shared/ui/*.zip && sudo rm -rf  /home/pi/shared/2019*/\"\n    return msg\nreturn","outputs":1,"x":870,"y":800,"wires":[["4b18db29.1c33a4"]]},{"id":"dfac5337.d5ed4","type":"exec","z":"f3531383.b49ea","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":410,"y":800,"wires":[["502847a8.e046b8"],[],[]]},{"id":"5b9c6117.60dcd","type":"inject","z":"f3531383.b49ea","name":"repeat 10","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"1","x":110,"y":800,"wires":[["5607fcbc.11b794"]]},{"id":"502847a8.e046b8","type":"python3-function","z":"f3531383.b49ea","name":"","func":"msg['payload']=\"Delete all images (space used: \"+msg['payload'][-3:]+\"%)\"\nreturn msg","outputs":1,"x":550,"y":800,"wires":[["31ef180d.9d7ea8"]]},{"id":"5607fcbc.11b794","type":"python3-function","z":"f3531383.b49ea","name":"check if busy","func":"msg['payload']=\"df| awk -F '%' 'NR==2{print $1}'\"\nreturn msg\n","outputs":1,"x":270,"y":800,"wires":[["dfac5337.d5ed4"]]},{"id":"c6e407dd.642948","type":"ui_switch","z":"4d24a982.7bf068","name":"","label":"Auto Update Preview","tooltip":"","group":"b0cc7e63.5b5b3","order":6,"width":7,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":280,"y":880,"wires":[["f11a293e.439798"]]},{"id":"f11a293e.439798","type":"change","z":"4d24a982.7bf068","name":"","rules":[{"t":"set","p":"autoupdate","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":514,"y":881,"wires":[[]]},{"id":"7a27d702.0a80d8","type":"link out","z":"f3531383.b49ea","name":"","links":["54c62c4b.e36b94","ea6345e6.047328"],"x":615,"y":120,"wires":[]},{"id":"9f28fc42.795c2","type":"ui_switch","z":"f3531383.b49ea","name":"","label":"Light 2","tooltip":"","group":"3aee2d1a.bc7412","order":11,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":430,"y":380,"wires":[["30e4fb0c.ec50a4"]]},{"id":"20b846a2.78e07a","type":"python3-function","z":"f3531383.b49ea","name":"Ringlight on/off","func":"from time import sleep\nimport RPi.GPIO as GPIO\n\nwith open(\"/home/pi/shared/log/pin_ringlight2.log\", \"r\") as file:\n    ringlightpin=int(file.read())\nwith open(\"/home/pi/shared/log/ringlightstatus2.log\", \"r\") as file:\n    state=file.read()\n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(ringlightpin, GPIO.OUT)\n\nif state == \"on\":\n    GPIO.output(ringlightpin, GPIO.HIGH)\nif state == \"off\":\n    GPIO.output(ringlightpin, GPIO.LOW)\n\nmsg['payload']=state\n\nreturn msg","outputs":1,"x":280,"y":380,"wires":[["9f28fc42.795c2"]]},{"id":"45ebebf5.b031b4","type":"ui_switch","z":"f3531383.b49ea","name":"","label":"Light 1","tooltip":"","group":"3aee2d1a.bc7412","order":10,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":430,"y":320,"wires":[["7b0fe1e6.881b"]]},{"id":"cde5db51.9ea398","type":"python3-function","z":"f3531383.b49ea","name":"Ringlight on/off","func":"from time import sleep\nimport RPi.GPIO as GPIO\n\nwith open(\"/home/pi/shared/log/pin_ringlight1.log\", \"r\") as file:\n    ringlightpin=int(file.read())\nwith open(\"/home/pi/shared/log/ringlightstatus1.log\", \"r\") as file:\n    state=file.read()\n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(ringlightpin, GPIO.OUT)\n\nif state == \"on\":\n    GPIO.output(ringlightpin, GPIO.HIGH)\nif state == \"off\":\n    GPIO.output(ringlightpin, GPIO.LOW)\n\nmsg['payload']=state\n\nreturn msg","outputs":1,"x":280,"y":320,"wires":[["45ebebf5.b031b4"]]},{"id":"7b0fe1e6.881b","type":"python3-function","z":"f3531383.b49ea","name":"Ringlight on/off","func":"\nwith open(\"/home/pi/shared/log/ringlightstatus1.log\", \"r\") as file:\n    oldstate=file.read()\nnewstate =msg['payload']\n\nif newstate!=oldstate:\n    with open(\"/home/pi/shared/log/ringlightstatus1.log\", \"w\") as file:\n        file.write(newstate)\n    return msg\n","outputs":1,"x":620,"y":320,"wires":[["d64e2b3b.73da28","cde5db51.9ea398"]]},{"id":"30e4fb0c.ec50a4","type":"python3-function","z":"f3531383.b49ea","name":"Ringlight on/off","func":"\nwith open(\"/home/pi/shared/log/ringlightstatus2.log\", \"r\") as file:\n    oldstate=file.read()\nnewstate =msg['payload']\n\nif newstate!=oldstate:\n    with open(\"/home/pi/shared/log/ringlightstatus2.log\", \"w\") as file:\n        file.write(newstate)\n    return msg\n","outputs":1,"x":620,"y":380,"wires":[["d64e2b3b.73da28","20b846a2.78e07a"]]},{"id":"d64e2b3b.73da28","type":"link out","z":"f3531383.b49ea","name":"","links":["54c62c4b.e36b94","ea6345e6.047328"],"x":775,"y":380,"wires":[]},{"id":"7e5f5917.461d88","type":"python3-function","z":"f3531383.b49ea","name":"blink","func":"from time import sleep\nimport RPi.GPIO as GPIO\n\n\nwith open(\"/home/pi/shared/log/pin_ringlight1.log\", \"r\") as file:\n    ringlightpin=int(file.read())\n\nsleeptime = 0.05\n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(ringlightpin, GPIO.OUT)\n\nfor x in range(20):\n    GPIO.output(ringlightpin, GPIO.HIGH)\n    sleep(sleeptime)\n    GPIO.output(ringlightpin, GPIO.LOW)\n    sleep(sleeptime)\n\nreturn msg","outputs":1,"x":290,"y":120,"wires":[["7a27d702.0a80d8"]]},{"id":"5de086f9.329bc8","type":"ui_text","z":"4d24a982.7bf068","group":"a0313e96.486fc","order":5,"width":6,"height":1,"name":"","label":"Shutter Speed","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":320,"wires":[]},{"id":"e5acb5b.0f54348","type":"file","z":"4d24a982.7bf068","name":"","filename":"/home/pi/shared/log/shutterspeed.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":830,"y":320,"wires":[["5de086f9.329bc8","cbf16c9b.cb7f7"]]},{"id":"882c8bb7.a5b308","type":"ui_slider","z":"4d24a982.7bf068","name":"shutter ","label":" ","tooltip":"","group":"a0313e96.486fc","order":6,"width":6,"height":1,"passthru":true,"outs":"all","topic":"","min":"1","max":"350","step":"1","x":590,"y":320,"wires":[["e5acb5b.0f54348"]]},{"id":"658b57c8.951d08","type":"file in","z":"4d24a982.7bf068","name":"","filename":"/home/pi/shared/log/shutterspeed.log","format":"","chunk":false,"sendError":false,"encoding":"none","x":330,"y":320,"wires":[["882c8bb7.a5b308"]]},{"id":"2bfcb97b.3f1386","type":"python3-function","z":"4d24a982.7bf068","name":"msg","func":"msg['payload']=\"off\"\nreturn msg","outputs":1,"x":750,"y":820,"wires":[["c6e407dd.642948"]]},{"id":"42ec3977.fabbf8","type":"python3-function","z":"4d24a982.7bf068","name":"color","func":"if msg['payload']==\"no camera found\":\n    msg['color']=\"red\"\n    pass\nreturn msg","outputs":1,"x":670,"y":520,"wires":[["f6eacedf.51649"]]},{"id":"91fc3b7a.c34d58","type":"python3-function","z":"bfd53ca5.067f5","name":"color","func":"if msg['payload']==\"no camera found\":\n    msg['color']=\"red\"\n    pass\nreturn msg","outputs":1,"x":630,"y":220,"wires":[["96f76e33.3e57"]]},{"id":"b141d961.02c3a8","type":"link in","z":"8d5a7804.52acf8","name":"direct status","links":["617d01a5.e71cc","a25ccb8e.3ce208"],"x":95,"y":280,"wires":[["a0aa92dd.f911c","6d67cba7.9da414"]]},{"id":"75803d75.2ee654","type":"python3-function","z":"8d5a7804.52acf8","name":"create new files + content","func":"import os.path\n\ndef new_file(filepath,content):\n    if os.path.isfile(filepath):\n        pass\n    else:\n        with open(filepath, \"w\") as file:\n            file.write(content)\n\n\nnew_file('/home/pi/shared/log/camera.log',\"External Camera\")\nnew_file('/home/pi/shared/log/shutterspeed.log',\"300\")\nnew_file('/home/pi/shared/log/updatepreview_gp.log',\"1\")\nnew_file('/home/pi/shared/log/currentstatus_gp.log',\"no camera found\")\nnew_file('/home/pi/shared/log/loadsettings.log',\"1;\")\nnew_file('/home/pi/shared/log/loadsettings_save.log',\"1;\")\n\nnew_file('/home/pi/shared/log/camera_resolution_x.log',\"3280\")\nnew_file('/home/pi/shared/log/camera_resolution_y.log',\"2464\")\nnew_file('/home/pi/shared/log/rotor_delay.log',\"0.0005\")\nnew_file('/home/pi/shared/log/turntable_delay.log',\"0.0005\")\nnew_file('/home/pi/shared/log/rotor_stepsperrotation.log',\"17067\")\nnew_file('/home/pi/shared/log/turntable_stepsperrotation.log',\"3200\")\nnew_file('/home/pi/shared/log/pin_externalcam.log',\"10\")\nnew_file('/home/pi/shared/log/pin_ringlight2.log',\"27\")\nnew_file('/home/pi/shared/log/pin_ringlight1.log',\"17\")\nnew_file('/home/pi/shared/log/pin_turntable_step.log',\"11\")\nnew_file('/home/pi/shared/log/pin_turntable_dir.log',\"9\")\nnew_file('/home/pi/shared/log/pin_rotor_dir.log',\"5\")\nnew_file('/home/pi/shared/log/pin_rotor_step.log',\"6\")\nnew_file('/home/pi/shared/log/autoupdatestate.log',\"true\")\nnew_file('/home/pi/shared/log/samba.log',\"true\")\nnew_file('/home/pi/shared/log/ssh.log',\"true\")\nnew_file('/home/pi/shared/log/fotosperrotation.log',\"1\")\nnew_file('/home/pi/shared/log/verticalpositions.log',\"1\")\nnew_file('/home/pi/shared/log/startdeflection.log',\"0\")\nnew_file('/home/pi/shared/log/releasetime_ext.log',\"10\")\nnew_file('/home/pi/shared/log/timeperfoto_ext.log',\"0.5\")\nnew_file('/home/pi/shared/log/camerabrightness.log',\"50\")\nnew_file('/home/pi/shared/log/cameracontrast.log',\"0\")\n\nnew_file('/home/pi/shared/log/currentversion.log',\"1\")\nnew_file('/home/pi/shared/log/updatepreview.log',\"start\")\nnew_file('/home/pi/shared/log/currentstatus_rpi.log',\"--READY--\")\n\n\n\n\n\n\nnew_file('/home/pi/shared/log/currentserverversion.log',\"1;\")\nnew_file('/home/pi/shared/ui/data/update',\"1;\")","outputs":1,"x":410,"y":920,"wires":[[]]},{"id":"158639f6.9063c6","type":"ui_button","z":"f3531383.b49ea","name":"","group":"3aee2d1a.bc7412","order":21,"width":3,"height":1,"passthru":false,"label":"Shutdown","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":80,"y":860,"wires":[["4d3ad936.fbde98"]]},{"id":"4d3ad936.fbde98","type":"link out","z":"f3531383.b49ea","name":"","links":["2a83661b.3c3caa"],"x":215,"y":860,"wires":[]},{"id":"2a83661b.3c3caa","type":"link in","z":"6fff9eb6.3efc2","name":"Shutdown","links":["4d3ad936.fbde98"],"x":35,"y":220,"wires":[["d166c44e.c867d8","62458b17.346244"]]},{"id":"f9bf6be7.0c9808","type":"python3-function","z":"f3531383.b49ea","name":"","func":"msg['payload']={\"group\":{\"hide\":[\"Camera_Data\",\"Camera_Settings_RPi\",\"Camera_Settings_External_Camera\",\"Camera_Settings_Gphoto2\",\"Camera_Settings_Smartphone\",\"Camera_Preview_RPi\",\"Camera_Preview_GPhoto2\"]}}\nreturn msg","outputs":1,"x":650,"y":20,"wires":[["d844cc2c.132ec"]]},{"id":"5024ed86.4c84c4","type":"exec","z":"e4b4ade8.5763e","command":"ls","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":310,"y":80,"wires":[["d0eb6be8.eda228"],[],[]]},{"id":"d0eb6be8.eda228","type":"change","z":"e4b4ade8.5763e","name":"split","rules":[{"t":"set","p":"payload","pt":"msg","to":"$split(payload, '\\n')[$ != \"\"]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":60,"wires":[[]]},{"id":"daae83.68c9d18","type":"subflow:449b7301.e9f22c","z":"f3531383.b49ea","name":"upload settings","env":[],"x":100,"y":940,"wires":[["179ff5b4.fcf47a"]]},{"id":"8136fc2b.942cf","type":"http in","z":"449b7301.e9f22c","name":"","url":"/fileupload","method":"post","upload":true,"swaggerDoc":"","x":100,"y":200,"wires":[["9a71f029.aafba"]]},{"id":"fc298520.54d958","type":"ui_template","z":"449b7301.e9f22c","group":"3aee2d1a.bc7412","name":"Upload","order":20,"width":6,"height":2,"format":"<form id=\"upload_form\" enctype=\"multipart/form-data\" method=\"post\">\n\n    <input type=\"file\" style=\"width:100%; height:35px;\" name=\"file1\" id=\"file1\"><br>\n\n     <input type=\"button\" style=\"background-color:#0094CE;color:white;width:100%; height:35px;border:none;outline:none;padding: 0\" value=\"Upload Settings\" onclick=\"uploadFile()\"> \n </form>\n\n<script>\n    function _(el){\n    return document.getElementById(el);\n}\nfunction uploadFile(){\n    var file = _(\"file1\").files[0];\n    // alert(file.name+\" | \"+file.size+\" | \"+file.type);\n    var formdata = new FormData();\n    formdata.append(\"file1\", file);\n    var ajax = new XMLHttpRequest();\n    ajax.upload.addEventListener(\"progress\", progressHandler, false);\n    ajax.addEventListener(\"load\", completeHandler, false);\n    ajax.addEventListener(\"error\", errorHandler, false);\n    ajax.addEventListener(\"abort\", abortHandler, false);\n    ajax.open(\"POST\", \"/fileupload\");\n    ajax.send(formdata);\n}\nfunction progressHandler(event){\n    _(\"loaded_n_total\").innerHTML = \"Uploaded \"+event.loaded+\" bytes of \"+event.total;\n    var percent = (event.loaded / event.total) * 100;\n    _(\"progressBar\").value = Math.round(percent);\n    _(\"status\").innerHTML = Math.round(percent)+\"% uploaded... please wait\";\n}\nfunction completeHandler(event){\n    _(\"status\").innerHTML = event.target.responseText;\n    _(\"progressBar\").value = 0;\n}\nfunction errorHandler(event){\n    _(\"status\").innerHTML = \"Upload Failed\";\n}\nfunction abortHandler(event){\n    _(\"status\").innerHTML = \"Upload Aborted\";\n}\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":80,"y":160,"wires":[[]]},{"id":"9a71f029.aafba","type":"change","z":"449b7301.e9f22c","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"$env('UPLOAD_DIR')  & '/' & req.files[0].originalname","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":200,"wires":[["5464e2c9.e1081c"]]},{"id":"5464e2c9.e1081c","type":"file","z":"449b7301.e9f22c","name":"","filename":"/home/pi/shared/log/loadsettings.log","appendNewline":false,"createDir":false,"overwriteFile":"true","x":571,"y":200,"wires":[["f55f65c1.0c6ff8","7476a50.4030d5c"]]},{"id":"8cb8acc8.daecc","type":"link out","z":"4d24a982.7bf068","name":"","links":["ea6345e6.047328","cbe4bd92.d30af"],"x":915,"y":740,"wires":[]},{"id":"ecced34e.6bf3d","type":"ui_template","z":"8d5a7804.52acf8","group":"d8910e38.d12d1","name":"save","order":2,"width":"0","height":"0","format":"<style type=\"text/css\"> .bmc-button img{height: 25px !important;width: 35px !important;margin-top: 5px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;}\n.bmc-button{padding: 0px 0px 0px 0px !important;line-height: 35px !important;height:37px !important;min-width:100px !important;text-decoration: none !important;display:inline-flex !important;color:#ffffff !important;background-color:lightblue !important;\nborder-radius: 5px !important;border: 1px solid transparent !important;padding: 0px 0px 0px 0px !important;font-size: 28px !important;letter-spacing:0.2px !important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;\n-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;margin: 0 auto !important;-webkit-box-sizing: border-box !important;box-sizing: border-box !important;\n-o-transition: 0.3s all linear !important;-webkit-transition: 0.3s all linear !important;-moz-transition: 0.3s all linear !important;-ms-transition: 0.3s all linear !important;transition: 0.3s all linear !important;}.bmc-button:hover, .bmc-button:active, .bmc-button:focus {-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;text-decoration: none !important;box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;opacity: 0.85 !important;color:#ffffff !important;}\n</style>\n<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        load();\n    }else setTimeout(load, 500)\n});\n\nfunction load(){\n    $('#bmac').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<div/ id=\"bmac\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n\n        p.append('<a class=\"bmc-button\" target=\"_blank\" href=\"https://www.buymeacoffee.com/openscan\"><img src=\"/ui/data/bmc-new-btn-logo.svg\" style=\"width:20px\"><span style=\"margin-left:5px;font-size:16px !important;\">Support the Project</span></a>');\n\n\n}\n\n</script>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"global","x":110,"y":140,"wires":[[]]},{"id":"c9f1bed2.effd7","type":"ui_button","z":"f3531383.b49ea","name":"","group":"3aee2d1a.bc7412","order":22,"width":3,"height":1,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":80,"y":900,"wires":[["47e8ea5c.1d1474"]]},{"id":"47e8ea5c.1d1474","type":"link out","z":"f3531383.b49ea","name":"","links":["543b8cc6.11f404"],"x":215,"y":900,"wires":[]},{"id":"cd0374ac.50fa18","type":"ui_toast","z":"449b7301.e9f22c","position":"bottom right","displayTime":"2","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":790,"y":280,"wires":[]},{"id":"f55f65c1.0c6ff8","type":"python3-function","z":"449b7301.e9f22c","name":"no/wrong file selected","func":"import filecmp\nimport shutil\nimport os\n\nif msg['filename']==\"./\":\n    return msg\nif filecmp.cmp(\"/home/pi/shared/log/loadsettings_save.log\",\"/home/pi/shared/log/loadsettings.log\")==True:\n    return\n\nwith open(\"/home/pi/shared/log/loadsettings.log\", \"rw+\") as file:\n    commandraw=file.readlines()[0]\n    command=commandraw.split(';')\n    if command[0]!=\"Settings for OpenScanPi\":\n        msg['payload']=\"wrong fileformat\"\n        msg['highlight']=\"red\"\n        return msg\n\n    else:\n        length=len(open(\"/home/pi/shared/log/loadsettings.log\").readlines())\n        for x in range (1,length):\n            with open(\"/home/pi/shared/log/loadsettings.log\", \"rw+\") as file:\n                commandraw=file.readlines()[x]\n                command=commandraw.split(';')\n                if command[0]==\"zoomfactor\":\n                    command[0]=\"zoom\"\n                if command[0]==\"projectname\":\n                    command[0]=\"skip\"\n                try:\n                    if os.path.isfile(\"/home/pi/shared/log/\"+command[0]+\".log\"):\n                        with open(\"/home/pi/shared/log/\"+command[0]+\".log\",\"w\") as file:\n                            file.write(command[1])\n                except:\n                    pass\n        shutil.copy(\"/home/pi/shared/log/loadsettings.log\",\"/home/pi/shared/log/loadsettings_save.log\")\n        msg['payload']=\"settings loaded\"\n        return msg","outputs":1,"x":520,"y":260,"wires":[["cd0374ac.50fa18","bd8f9e38.c27a1","7577cad1.1b4cd4"]]},{"id":"5d7bc843.2dd428","type":"link in","z":"4d24a982.7bf068","name":"update settings","links":["179ff5b4.fcf47a"],"x":55,"y":320,"wires":[["658b57c8.951d08","e4ac8ab4.79c888","dd02e867.71f428","94e44d5a.d032"]]},{"id":"94e44d5a.d032","type":"file in","z":"4d24a982.7bf068","name":"","filename":"/home/pi/shared/log/zoom.log","format":"","chunk":false,"sendError":false,"encoding":"none","x":310,"y":400,"wires":[["b9e917cd.b9b2a8"]]},{"id":"691e9723.fcc798","type":"link in","z":"f3531383.b49ea","name":"load settings","links":["179ff5b4.fcf47a"],"x":94,"y":259,"wires":[["1d51af0c.e28ca1","b6afa472.061208","2e01a828.e5e5b8"]]},{"id":"179ff5b4.fcf47a","type":"link out","z":"f3531383.b49ea","name":"","links":["5d7bc843.2dd428","691e9723.fcc798"],"x":215,"y":940,"wires":[]},{"id":"bd8f9e38.c27a1","type":"function","z":"449b7301.e9f22c","name":"","func":"if (msg.payload==\"settings loaded\"){\n    var msg1 = { payload:\"settings loaded\" };\n    return msg1;\n}","outputs":1,"noerr":0,"x":749,"y":320,"wires":[[]]},{"id":"7577cad1.1b4cd4","type":"debug","z":"449b7301.e9f22c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":240,"wires":[]},{"id":"7476a50.4030d5c","type":"debug","z":"449b7301.e9f22c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":180,"wires":[]},{"id":"119a1b0.f9116e5","type":"python3-function","z":"8d5a7804.52acf8","name":"coffee","func":"import os.path\nimport os\n# Download background\nfile = '/home/pi/shared/ui/data/bmc-new-btn-logo.svg'\nurl = 'https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg'\n\nif(os.path.exists(file)==False):\n    msg['payload']=\"sudo wget -O \"+file+\" \"+url\n    return msg\n\nstatinfo=os.stat(file)\nif(statinfo.st_size==0):\n    msg['payload']=\"sudo wget -O \"+file+\" \"+url\n    return msg\n\n","outputs":1,"x":350,"y":800,"wires":[["6cb177fa.bc3738"]]}]
