update.json

[
    {
        "id": "4d24a982.7bf068",
        "type": "tab",
        "label": "RPi Cam",
        "disabled": true,
        "info": ""
    },
    {
        "id": "9096e101.facd1",
        "type": "tab",
        "label": "External Cam",
        "disabled": true,
        "info": ""
    },
    {
        "id": "422031c2.453f9",
        "type": "tab",
        "label": "Smartphone",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6fff9eb6.3efc2",
        "type": "tab",
        "label": "System",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f15aaf51.f4429",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "OpenScan Pi - 2019-11-16",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 6,
                "py": 6
            }
        }
    },
    {
        "id": "c19e2c9e.f4b99",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 8,
        "height": 1
    },
    {
        "id": "75afd9cb.6a3ed8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "e49ddca1.744a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "987b4012.f9a07",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "caea0d6c.4e75",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "3fadc6db.3997ea",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "f5864201.8e5ff",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "9c6a04ac.e760a8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "bb5bfba5.b3b7b8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 8,
        "height": 1
    },
    {
        "id": "ffc3612c.3b02c",
        "type": "ui_group",
        "z": "",
        "name": "Setup",
        "tab": "661c6084.6c7d5",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "d8365eb8.69ade",
        "type": "ui_tab",
        "z": "4d24a982.7bf068",
        "name": "RPi Camera",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "661c6084.6c7d5",
        "type": "ui_tab",
        "z": "",
        "name": "Smartphone",
        "icon": "dashboard",
        "order": 3,
        "disabled": true,
        "hidden": true
    },
    {
        "id": "bed472d9.58f62",
        "type": "ui_tab",
        "z": "",
        "name": "External Camera",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f4e697fc.ee1608",
        "type": "ui_tab",
        "z": "",
        "name": "System",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8c6d898d.322588",
        "type": "ui_group",
        "z": "",
        "name": "Position Setup",
        "tab": "bed472d9.58f62",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ddd1a14a.d7351",
        "type": "ui_group",
        "z": "",
        "name": "Settings",
        "tab": "f4e697fc.ee1608",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "79b73861.bb6048",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 8,
        "height": 1
    },
    {
        "id": "aa12c1f4.a677e",
        "type": "ui_group",
        "z": "",
        "name": "RPi Control",
        "tab": "d8365eb8.69ade",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5d4ec914.9739e8",
        "type": "ui_group",
        "z": "",
        "name": "Preview",
        "tab": "d8365eb8.69ade",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "15a4830f.a6167d",
        "type": "ui_group",
        "z": "",
        "name": "Run Routine",
        "tab": "d8365eb8.69ade",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1b24360b.f2e6da",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ffc3612c.3b02c",
        "order": 8,
        "width": 8,
        "height": 1
    },
    {
        "id": "25d7a60d.1c651a",
        "type": "ui_group",
        "z": "",
        "name": "Routine Settings",
        "tab": "bed472d9.58f62",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a2b83ddb.6a2ee",
        "type": "ui_group",
        "z": "",
        "name": "Camera Settings",
        "tab": "bed472d9.58f62",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1ecaa9e9.4192e6",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "e58f9de6.10904",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "924edf62.f208d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "1303ee2a.fd44f2",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "f2c6d19b.2d081",
        "type": "ui_group",
        "z": "",
        "name": "Files",
        "tab": "d8365eb8.69ade",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5d12f9cd.9c4a88",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a2b83ddb.6a2ee",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "35a0e31e.2cf06c",
        "type": "ui_group",
        "z": "",
        "name": "Advanced Pin & Motor Settings",
        "tab": "f4e697fc.ee1608",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "b9933221.eac94",
        "type": "ui_group",
        "z": "",
        "name": "Advanced Camera Parameters",
        "tab": "f4e697fc.ee1608",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": true
    },
    {
        "id": "6bdd5033.f67e",
        "type": "ui_group",
        "z": "",
        "name": "Node Red Update",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b93b0109.0b358",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "aa12c1f4.a677e",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "94294d73.5d2ea",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "aa12c1f4.a677e",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "8cebd544.663348",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "aa12c1f4.a677e",
        "order": 13,
        "width": 6,
        "height": 1
    },
    {
        "id": "2cc49668.df3f9a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "aa12c1f4.a677e",
        "order": 16,
        "width": 6,
        "height": 1
    },
    {
        "id": "88a2f658.ac2378",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6bdd5033.f67e",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "f3fd2c66.71d2d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ddd1a14a.d7351",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "84de6f60.545bf",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ddd1a14a.d7351",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "7acea21c.60e67c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "ddd1a14a.d7351",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "7afaf50a.5993bc",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "35a0e31e.2cf06c",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "ec4d91d9.074",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "35a0e31e.2cf06c",
        "order": 11,
        "width": 7,
        "height": 1
    },
    {
        "id": "ad34b077.5a0ad",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "b9933221.eac94",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "aa080c64.185f",
        "type": "inject",
        "z": "4d24a982.7bf068",
        "name": "",
        "topic": "",
        "payload": "Started!",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 73.00003051757812,
        "y": 130.98959732055664,
        "wires": [
            [
                "89b42406.891e78",
                "f7a041a8.41502",
                "a63925b0.b4c528",
                "dd02e867.71f428",
                "e10fd5cb.9bf6d8",
                "e4ac8ab4.79c888",
                "4bf7c649.c221f8",
                "44c05737.97e0f8",
                "ad447022.41698"
            ]
        ]
    },
    {
        "id": "89b42406.891e78",
        "type": "file in",
        "z": "4d24a982.7bf068",
        "name": "",
        "filename": "/home/pi/shared/log/fotosperrotation.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 422.0000228881836,
        "y": 224.98959040641785,
        "wires": [
            [
                "758507f7.5e8be8"
            ]
        ]
    },
    {
        "id": "f7a041a8.41502",
        "type": "file in",
        "z": "4d24a982.7bf068",
        "name": "",
        "filename": "/home/pi/shared/log/verticalpositions.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 421.0000343322754,
        "y": 276.9895839691162,
        "wires": [
            [
                "9eb0e95b.e41148"
            ]
        ]
    },
    {
        "id": "a63925b0.b4c528",
        "type": "file in",
        "z": "4d24a982.7bf068",
        "name": "",
        "filename": "/home/pi/shared/log/startdeflection.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 411.0000457763672,
        "y": 325.98960304260254,
        "wires": [
            [
                "aa678c32.f8281"
            ]
        ]
    },
    {
        "id": "dd02e867.71f428",
        "type": "file in",
        "z": "4d24a982.7bf068",
        "name": "",
        "filename": "/home/pi/shared/log/camerabrightness.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 419.0000534057617,
        "y": 373.989595413208,
        "wires": [
            [
                "55751e65.01d96"
            ]
        ]
    },
    {
        "id": "f1cc2290.f1d05",
        "type": "ui_button",
        "z": "4d24a982.7bf068",
        "name": "",
        "group": "15a4830f.a6167d",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Start Routine",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "starten",
        "payloadType": "str",
        "topic": "",
        "x": 573.0000286102295,
        "y": 907.9902210235596,
        "wires": [
            [
                "7f765dba.d95494"
            ]
        ]
    },
    {
        "id": "46ed09a7.f58668",
        "type": "ui_button",
        "z": "4d24a982.7bf068",
        "name": "",
        "group": "aa12c1f4.a677e",
        "order": 17,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Update Preview",
        "tooltip": "press to show the effect of changed settings (takes one second to load)",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 107.00007247924805,
        "y": 791.9903116226196,
        "wires": [
            [
                "46879cf8.389c94"
            ]
        ]
    },
    {
        "id": "92aec26a.04d37",
        "type": "ui_text",
        "z": "4d24a982.7bf068",
        "group": "aa12c1f4.a677e",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Camera Brightness",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1158.0000457763672,
        "y": 373.989595413208,
        "wires": []
    },
    {
        "id": "8c6a2d7e.99b41",
        "type": "ui_button",
        "z": "4d24a982.7bf068",
        "name": "",
        "group": "aa12c1f4.a677e",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "⇐",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "200",
        "payloadType": "num",
        "topic": "",
        "x": 452.99999618530273,
        "y": 1067.9899129867554,
        "wires": [
            [
                "a160f743.9899e8"
            ]
        ]
    },
    {
        "id": "95ba983a.a98368",
        "type": "ui_button",
        "z": "4d24a982.7bf068",
        "name": "",
        "group": "aa12c1f4.a677e",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "⇒",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "200",
        "payloadType": "num",
        "topic": "",
        "x": 452.99999618530273,
        "y": 1107.9899129867554,
        "wires": [
            [
                "46165b44.241bf4"
            ]
        ]
    },
    {
        "id": "6bce18e4.d174b8",
        "type": "ui_button",
        "z": "4d24a982.7bf068",
        "name": "",
        "group": "aa12c1f4.a677e",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "⇑",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "500",
        "payloadType": "num",
        "topic": "",
        "x": 77.00003814697266,
        "y": 1071.98992395401,
        "wires": [
            [
                "fe819a33.f00998"
            ]
        ]
    },
    {
        "id": "68cefd2e.0b36a4",
        "type": "ui_button",
        "z": "4d24a982.7bf068",
        "name": "",
        "group": "aa12c1f4.a677e",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "⇓",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "200",
        "payloadType": "num",
        "topic": "",
        "x": 77.00003814697266,
        "y": 1111.98992395401,
        "wires": [
            [
                "5cdbf3c9.3c019c"
            ]
        ]
    },
    {
        "id": "463fcc8b.3811e4",
        "type": "ui_text",
        "z": "4d24a982.7bf068",
        "group": "aa12c1f4.a677e",
        "order": 4,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Turntable",
        "format": "{{\"\"}}",
        "layout": "row-center",
        "x": 462.99999618530273,
        "y": 1027.9899129867554,
        "wires": []
    },
    {
        "id": "46c3c6d1.1efc68",
        "type": "ui_text",
        "z": "4d24a982.7bf068",
        "group": "aa12c1f4.a677e",
        "order": 1,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Rotor",
        "format": "{{\"\"}}",
        "layout": "row-center",
        "x": 77.00003814697266,
        "y": 1031.98992395401,
        "wires": []
    },
    {
        "id": "a160f743.9899e8",
        "type": "python3-function",
        "z": "4d24a982.7bf068",
        "name": "TT left",
        "func": "from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/36\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n",
        "outputs": 1,
        "x": 586.0000114440918,
        "y": 1068.989902973175,
        "wires": [
            [
                "8d749c82.24383"
            ]
        ]
    },
    {
        "id": "46165b44.241bf4",
        "type": "python3-function",
        "z": "4d24a982.7bf068",
        "name": "TT right",
        "func": "from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/36\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n",
        "outputs": 1,
        "x": 600,
        "y": 1108.9899697303772,
        "wires": [
            [
                "8d749c82.24383"
            ]
        ]
    },
    {
        "id": "fe819a33.f00998",
        "type": "python3-function",
        "z": "4d24a982.7bf068",
        "name": "Rotor left",
        "func": "from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/72\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg",
        "outputs": 1,
        "x": 227.00003814697266,
        "y": 1071.98992395401,
        "wires": [
            [
                "3be07558.7914ba"
            ]
        ]
    },
    {
        "id": "5cdbf3c9.3c019c",
        "type": "python3-function",
        "z": "4d24a982.7bf068",
        "name": "Rotor right",
        "func": "from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/72\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg",
        "outputs": 1,
        "x": 237.00003814697266,
        "y": 1111.98992395401,
        "wires": [
            [
                "3be07558.7914ba"
            ]
        ]
    },
    {
        "id": "7f765dba.d95494",
        "type": "python3-function",
        "z": "4d24a982.7bf068",
        "name": "Run Routine",
        "func": "import RPi.GPIO as GPIO\nimport time\nimport picamera\nfrom time import sleep\n# Zip-packer\nimport os\nimport shutil\nfrom os import path\nfrom zipfile import ZipFile\nfrom os import path\nfrom shutil import make_archive\nfrom PIL import Image\n\nwith open(\"/home/pi/shared/log/picamera_activation.log\", \"r\") as file:\n    picameraactivation=file.read()\nif picameraactivation==\"false\":\n    with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n        file.write(\"RPi Cam disabled\")\n    return msg\n\n#routine settings\nwith open(\"/home/pi/shared/log/fotosperrotation.log\", \"r\") as file:\n    fotosperrotation=int(file.read())\nwith open(\"/home/pi/shared/log/startdeflection.log\", \"r\") as file:\n    startdeflection=int(file.read())\nwith open(\"/home/pi/shared/log/verticalpositions.log\", \"r\") as file:\n    verticalpositions=int(file.read())\nwith open(\"/home/pi/shared/log/projectname.log\", \"r\") as file:\n    projectname=file.read()\n\n# cam settings\nwith open(\"/home/pi/shared/log/camera_resolution_x.log\", \"r\") as file:\n    resx=int(file.read())\nwith open(\"/home/pi/shared/log/camera_resolution_y.log\", \"r\") as file:\n    resy=int(file.read())\n\n\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    dirpinrotor=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    steppinrotor=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"r\") as file:\n    dirpintt=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"r\") as file:\n    steppintt=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    rotorspr=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"r\") as file:\n    ttspr=int(file.read())  \nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delayrotor=float(file.read())\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"r\") as file:\n    delaytt=float(file.read())    \n\n\n\n#dirpintt = 9  \n#steppintt = 11  \n#dirpinrotor = 5\n#steppinrotor = 6\n\nstartangle = rotorspr/360*startdeflection\nprojectcode =time.strftime(\"20%y-%m-%d %H.%M.%S - \")+projectname+'/'\ndirname='./shared/'+projectcode\nos.makedirs(dirname)  \n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(3, GPIO.OUT)\n\ndef ttrun(step_count):\n    GPIO.setup(dirpintt, GPIO.OUT)\n    GPIO.setup(steppintt, GPIO.OUT)\n    if (step_count>0):\n        GPIO.output(dirpintt, GPIO.HIGH)\n    if(step_count<0):\n        GPIO.output(dirpintt, GPIO.LOW)\n        step_count=-step_count\n    for x in range(step_count):\n        GPIO.output(steppintt, GPIO.HIGH)\n        sleep(delaytt)\n        GPIO.output(steppintt, GPIO.LOW)\n        sleep(delaytt)\n\ndef rotorrun(step_count):\n    GPIO.setup(dirpinrotor, GPIO.OUT)\n    GPIO.setup(steppinrotor, GPIO.OUT)\n    if (step_count>0):\n        GPIO.output(dirpinrotor, GPIO.HIGH)\n    if(step_count<0):\n        GPIO.output(dirpinrotor, GPIO.LOW)\n        step_count=-step_count\n    for x in range(step_count):\n        GPIO.output(steppinrotor, GPIO.HIGH)\n        sleep(delayrotor)\n        GPIO.output(steppinrotor, GPIO.LOW)\n        sleep(delayrotor)\n\ndef updatepreview():\n    with open(\"/home/pi/shared/log/updatepreview.log\", \"w\") as file:\n        file.write(time.strftime(\"20%y-%m-%d_%H-%M-%S\"))\n\ndef stoptest():\n    with open(\"/home/pi/shared/log/stopstate.log\", \"r\") as file:\n        if (file.read()!=\"stop\"):\n            return\n    with open(\"/home/pi/shared/log/stopstate.log\", \"w\") as file:\n        file.write(\"--stopping--\")\n    with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n        file.write(\"--READY--\")\n    shutil.rmtree(dirname)\n    exit()\n\ndef takephoto():\n    stoptest()\n    with picamera.PiCamera() as camera:\n        with open(\"/home/pi/shared/log/cameracontrast.log\", \"r\") as file:\n            cameracontrast=int(file.read())\n        with open(\"/home/pi/shared/log/camerabrightness.log\", \"r\") as file:\n            camerabrightness=int(file.read())\n        camera.iso = 100\n        camera.exposure_mode = 'off'\n        camera.awb_mode = 'off'\n        camera.brightness = camerabrightness\n        camera.contrast = cameracontrast\n        camera.resolution=(resx, resy)\n        camera.exposure_compensation = 0 \n        timestamp= time.strftime(\"20%y-%m-%d_%H-%M-%S\")\n        filepath = dirname+'/'+ timestamp + \".jpg\"\n        camera.capture(filepath, quality=100)\n        \n        #with open(filepath, 'r+b') as file:\n        #    with Image.open(filepath) as image:\n        #        preview2 = image.resize(600,450)\n        #        preview2.save('./shared/preview2.jpg', image.format)\n        sleep(0.5)\n        img = Image.open(filepath)\n        img = img.resize((600, 450))\n        img.save('./shared/ui/preview.jpg')\n        sleep(0.5)\n        pass\n    updatepreview()\n\ndef turntablerotation():\n    for x in range (fotosperrotation):\n        with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n            file.write(\"Position: \"+str(vertpos)+\"/\"+str(verticalpositions)+\" Foto: \"+str(x+1)+\"/\"+str(fotosperrotation))\n        ttrun(ttspr/fotosperrotation)\n        takephoto()\n\nrotorrun(-startangle)\nfor x in range (verticalpositions-1):\n    vertpos = x+1\n    turntablerotation()\n    if (verticalpositions>1):\n        rotorrun(2*startangle/(verticalpositions-1))\nif (verticalpositions==1):\n    startangle=-startangle\nvertpos=verticalpositions\nturntablerotation()\nrotorrun(-startangle)\n\nwith open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n    file.write(\"creating zip file\")\n\n\nshutil.make_archive('shared/ui/'+projectcode, 'zip', dirname+'/')\nshutil.rmtree(dirname)\n\n\nwith open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n    file.write(\"--READY--\")\nreturn msg",
        "outputs": 1,
        "x": 769.0000915527344,
        "y": 907.9903678894043,
        "wires": [
            []
        ]
    },
    {
        "id": "55751e65.01d96",
        "type": "ui_slider",
        "z": "4d24a982.7bf068",
        "name": "",
        "label": " ",
        "tooltip": "",
        "group": "aa12c1f4.a677e",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "0",
        "max": "100",
        "step": 1,
        "x": 651.0000534057617,
        "y": 373.989595413208,
        "wires": [
            [
                "47222168.1202f",
                "cbf16c9b.cb7f7"
            ]
        ]
    },
    {
        "id": "47222168.1202f",
        "type": "file",
        "z": "4d24a982.7bf068",
        "name": "",
        "filename": "/home/pi/shared/log/camerabrightness.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 882.0000305175781,
        "y": 373.98959732055664,
        "wires": [
            [
                "92aec26a.04d37"
            ]
        ]
    },
    {
        "id": "aa678c32.f8281",
        "type": "ui_slider",
        "z": "4d24a982.7bf068",
        "name": "",
        "label": "",
        "tooltip": "set start deflection angle",
        "group": "15a4830f.a6167d",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "0",
        "max": "90",
        "step": 1,
        "x": 651.0000457763672,
        "y": 325.98960304260254,
        "wires": [
            [
                "8ad89732.a14fa8"
            ]
        ]
    },
    {
        "id": "b9a906ef.6cc2f8",
        "type": "ui_text",
        "z": "4d24a982.7bf068",
        "group": "15a4830f.a6167d",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Start Deflection:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1147.0000457763672,
        "y": 325.9896068572998,
        "wires": []
    },
    {
        "id": "8ad89732.a14fa8",
        "type": "file",
        "z": "4d24a982.7bf068",
        "name": "",
        "filename": "/home/pi/shared/log/startdeflection.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 874.0000419616699,
        "y": 325.98960876464844,
        "wires": [
            [
                "b9a906ef.6cc2f8"
            ]
        ]
    },
    {
        "id": "9eb0e95b.e41148",
        "type": "ui_slider",
        "z": "4d24a982.7bf068",
        "name": "",
        "label": " ",
        "tooltip": "set the number of vertical positions",
        "group": "15a4830f.a6167d",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "1",
        "max": "100",
        "step": 1,
        "x": 651.0000343322754,
        "y": 276.9895839691162,
        "wires": [
            [
                "66ed42e5.a37fec"
            ]
        ]
    },
    {
        "id": "66ed42e5.a37fec",
        "type": "file",
        "z": "4d24a982.7bf068",
        "name": "",
        "filename": "/home/pi/shared/log/verticalpositions.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 883.0000305175781,
        "y": 276.98958587646484,
        "wires": [
            [
                "e8020a20.d7b948"
            ]
        ]
    },
    {
        "id": "e8020a20.d7b948",
        "type": "ui_text",
        "z": "4d24a982.7bf068",
        "group": "15a4830f.a6167d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vertical Positions:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1158.0000610351562,
        "y": 276.9895706176758,
        "wires": []
    },
    {
        "id": "758507f7.5e8be8",
        "type": "ui_slider",
        "z": "4d24a982.7bf068",
        "name": "",
        "label": "",
        "tooltip": " set the number of photos per turntable rotation",
        "group": "15a4830f.a6167d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "1",
        "max": "60",
        "step": 1,
        "x": 651.0000343322754,
        "y": 224.9895839691162,
        "wires": [
            [
                "9ca3a0e2.cba84"
            ]
        ]
    },
    {
        "id": "9812f40b.935b08",
        "type": "ui_text",
        "z": "4d24a982.7bf068",
        "group": "15a4830f.a6167d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fotos per Rotation:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1158.0000190734863,
        "y": 224.98959350585938,
        "wires": []
    },
    {
        "id": "9ca3a0e2.cba84",
        "type": "file",
        "z": "4d24a982.7bf068",
        "name": "",
        "filename": "/home/pi/shared/log/fotosperrotation.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 884,
        "y": 224.98959255218506,
        "wires": [
            [
                "9812f40b.935b08"
            ]
        ]
    },
    {
        "id": "e10fd5cb.9bf6d8",
        "type": "function",
        "z": "4d24a982.7bf068",
        "name": "Reset Project Name",
        "func": "msg.payload=\"default\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 364.0000457763672,
        "y": 177.98959159851074,
        "wires": [
            [
                "7b3f260d.ab9c68",
                "26130dba.a0a212"
            ]
        ]
    },
    {
        "id": "7b3f260d.ab9c68",
        "type": "ui_text_input",
        "z": "4d24a982.7bf068",
        "name": "",
        "label": "Project Name",
        "tooltip": "enter project name + press enter",
        "group": "15a4830f.a6167d",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "",
        "x": 682.0000534057617,
        "y": 176.9895896911621,
        "wires": [
            [
                "26130dba.a0a212"
            ]
        ]
    },
    {
        "id": "26130dba.a0a212",
        "type": "file",
        "z": "4d24a982.7bf068",
        "name": "",
        "filename": "/home/pi/shared/log/projectname.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 928.999885559082,
        "y": 175.98961448669434,
        "wires": [
            []
        ]
    },
    {
        "id": "99e1f05d.05a8a",
        "type": "function",
        "z": "4d24a982.7bf068",
        "name": "timestamp pic file",
        "func": "var d = new Date();\nvar n = d.getTime();\nmsg.payload = \"/ui/preview.jpg?ts=\" + n;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 824.5058212280273,
        "y": 791.0983123779297,
        "wires": [
            [
                "ec4e7671.e2b8f8"
            ]
        ]
    },
    {
        "id": "ec4e7671.e2b8f8",
        "type": "ui_template",
        "z": "4d24a982.7bf068",
        "group": "5d4ec914.9739e8",
        "name": "preview",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div height=\"600\" style=\"height: 600px;\" >\n<img ng-src= {{msg.payload}} </img>\n<a src=\"/preview.jpg\" </a>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 1018.3211784362793,
        "y": 790.8141241073608,
        "wires": [
            []
        ]
    },
    {
        "id": "39f94499.73f76c",
        "type": "python3-function",
        "z": "4d24a982.7bf068",
        "name": "Take Preview Shot",
        "func": "import time\nimport picamera\nfrom time import sleep\n\nwith open(\"/home/pi/shared/log/picamera_activation.log\", \"r\") as file:\n    picameraactivation=file.read()\nif picameraactivation==\"false\":\n    with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n        file.write(\"RPi Cam disabled\")\n    return msg\n\nwith open(\"/home/pi/shared/log/camera_resolution_x.log\", \"r\") as file:\n    resx=int(file.read())\nwith open(\"/home/pi/shared/log/camera_resolution_y.log\", \"r\") as file:\n    resy=int(file.read())\nwith open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"r\") as file:\n    currentstatus=file.read()\n\nif currentstatus == \"--READY--\":\n    with picamera.PiCamera() as camera:\n        with open(\"/home/pi/shared/log/cameracontrast.log\", \"r\") as file:\n            cameracontrast=int(file.read())\n        with open(\"/home/pi/shared/log/camerabrightness.log\", \"r\") as file:\n            camerabrightness=int(file.read())\n        camera.iso = 100\n        camera.exposure_mode = 'off'\n        camera.awb_mode = 'off'\n        camera.brightness = camerabrightness\n        camera.contrast = cameracontrast\n        camera.resolution=(resx, resy)\n        camera.exposure_compensation = 0 \n        camera.capture(\"./shared/ui/preview.jpg\",quality=100 ,resize=(600,450))\n        pass\n    return msg",
        "outputs": 1,
        "x": 594.0001411437988,
        "y": 790.9903106689453,
        "wires": [
            [
                "99e1f05d.05a8a"
            ]
        ]
    },
    {
        "id": "e4ac8ab4.79c888",
        "type": "file in",
        "z": "4d24a982.7bf068",
        "name": "",
        "filename": "/home/pi/shared/log/cameracontrast.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 420.01741790771484,
        "y": 420.9999990463257,
        "wires": [
            [
                "d36ee637.1d2b88"
            ]
        ]
    },
    {
        "id": "8768b6c.49f1748",
        "type": "ui_text",
        "z": "4d24a982.7bf068",
        "group": "aa12c1f4.a677e",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Camera Contrast",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1158.0173377990723,
        "y": 421.0000343322754,
        "wires": []
    },
    {
        "id": "d36ee637.1d2b88",
        "type": "ui_slider",
        "z": "4d24a982.7bf068",
        "name": "",
        "label": " ",
        "tooltip": "",
        "group": "aa12c1f4.a677e",
        "order": 12,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "-100",
        "max": "100",
        "step": "5",
        "x": 650.0174179077148,
        "y": 420.9999990463257,
        "wires": [
            [
                "74533ecf.46d6e",
                "cbf16c9b.cb7f7"
            ]
        ]
    },
    {
        "id": "74533ecf.46d6e",
        "type": "file",
        "z": "4d24a982.7bf068",
        "name": "",
        "filename": "/home/pi/shared/log/cameracontrast.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 881.0174179077148,
        "y": 420.9999952316284,
        "wires": [
            [
                "8768b6c.49f1748"
            ]
        ]
    },
    {
        "id": "16998880.cfce58",
        "type": "comment",
        "z": "4d24a982.7bf068",
        "name": "System",
        "info": "",
        "x": 55,
        "y": 3159.9936332702637,
        "wires": []
    },
    {
        "id": "c2c9a58e.a5b538",
        "type": "inject",
        "z": "4d24a982.7bf068",
        "name": "",
        "topic": "Repeater",
        "payload": "1",
        "payloadType": "str",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "x": 104.01738357543945,
        "y": 1303.2222809791565,
        "wires": [
            [
                "ad49f2f3.87a59"
            ]
        ]
    },
    {
        "id": "438ea820.0c8c48",
        "type": "ui_template",
        "z": "4d24a982.7bf068",
        "group": "f2c6d19b.2d081",
        "name": "Display File List",
        "order": 1,
        "width": 6,
        "height": 10,
        "format": "<script>\n \nthis.scope.action = function(opt) {\n var playFile = opt || \"no data passed to function\";\n// console.warn(playFile)\n return playFile; } \n</script>\n\n\n<div style=\"max-width:500px;\">\n <ul>\n <li ng-repeat=\"file in msg.files track by $index\" style=\"list-style-type: none;\">\n <label>\n <input type=\"radio\" ng-model=\"$parent.file\" name=\"data\" value=\"{{file}}\" required />{{file}}\n </label>\n </li>\n </ul>\n\n<md-button  style=\"width:100%; height:53px;\"  target=\"_blank\" ng-href=\"/ui/{{file}}\">\n <div class=\"center\" style=\"position: relative;\n    top: 30%;\">\n  Download File\n</div></md-button>\n\n</div>\n\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 464.0174217224121,
        "y": 1373.5556330680847,
        "wires": [
            [
                "dbbdc72e.df0438"
            ]
        ]
    },
    {
        "id": "dbbdc72e.df0438",
        "type": "fs-ops-dir",
        "z": "4d24a982.7bf068",
        "name": "/media/pi/",
        "path": "path",
        "pathType": "msg",
        "filter": "*",
        "filterType": "str",
        "dir": "files",
        "dirType": "msg",
        "x": 457.01731872558594,
        "y": 1303.5558466911316,
        "wires": [
            [
                "438ea820.0c8c48"
            ]
        ]
    },
    {
        "id": "ad49f2f3.87a59",
        "type": "function",
        "z": "4d24a982.7bf068",
        "name": "",
        "func": "msg.path = \"shared/ui\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 276.0173149108887,
        "y": 1303.5558466911316,
        "wires": [
            [
                "dbbdc72e.df0438"
            ]
        ]
    },
    {
        "id": "b4885f84.f13d",
        "type": "ui_switch",
        "z": "4d24a982.7bf068",
        "name": "",
        "label": "Ringlight  (2)",
        "tooltip": "",
        "group": "aa12c1f4.a677e",
        "order": 15,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 482.0034408569336,
        "y": 1237.8895993232727,
        "wires": [
            [
                "50298899.41b198"
            ]
        ]
    },
    {
        "id": "d8833389.137a5",
        "type": "python3-function",
        "z": "4d24a982.7bf068",
        "name": "Ringlight on/off",
        "func": "from time import sleep\nimport RPi.GPIO as GPIO\n\nwith open(\"/home/pi/shared/log/pin_ringlight2.log\", \"r\") as file:\n    ringlightpin=int(file.read())\nwith open(\"/home/pi/shared/log/ringlightstatus2.log\", \"r\") as file:\n    state=file.read()\n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(ringlightpin, GPIO.OUT)\n\nif state == \"on\":\n    GPIO.output(ringlightpin, GPIO.HIGH)\nif state == \"off\":\n    GPIO.output(ringlightpin, GPIO.LOW)\n\nmsg['payload']=state\n\nreturn msg",
        "outputs": 1,
        "x": 299.9999694824219,
        "y": 1237.2985892295837,
        "wires": [
            [
                "b4885f84.f13d"
            ]
        ]
    },
    {
        "id": "4bf7c649.c221f8",
        "type": "python3-function",
        "z": "4d24a982.7bf068",
        "name": "blink + update preview",
        "func": "from time import sleep\nimport RPi.GPIO as GPIO\n\nringlightpin = 17\nsleeptime = 0.05\n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(ringlightpin, GPIO.OUT)\n\nfor x in range(20):\n    GPIO.output(ringlightpin, GPIO.HIGH)\n    sleep(sleeptime)\n    GPIO.output(ringlightpin, GPIO.LOW)\n    sleep(sleeptime)\n\nreturn msg",
        "outputs": 1,
        "x": 359.0174026489258,
        "y": 465.1111946105957,
        "wires": [
            [
                "cbf16c9b.cb7f7"
            ]
        ]
    },
    {
        "id": "8d441dd8.c95f8",
        "type": "function",
        "z": "4d24a982.7bf068",
        "name": "Autoupdate on?",
        "func": "if (global.get(\"autoupdate\") == \"on\"){\n    return msg\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 342.00012969970703,
        "y": 614.9897565841675,
        "wires": [
            [
                "7427b232.c31cec"
            ]
        ]
    },
    {
        "id": "46879cf8.389c94",
        "type": "delay",
        "z": "4d24a982.7bf068",
        "name": "",
        "pauseType": "rate",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1.2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 346.9999885559082,
        "y": 791.9906053543091,
        "wires": [
            [
                "39f94499.73f76c"
            ]
        ]
    },
    {
        "id": "44c05737.97e0f8",
        "type": "exec",
        "z": "4d24a982.7bf068",
        "command": "sudo rm -rf -d /home/pi/shared/ui/preview.jpg",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 432.0000686645508,
        "y": 132.48960494995117,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ef7c02f9.25c28",
        "type": "ui_switch",
        "z": "4d24a982.7bf068",
        "name": "",
        "label": "Ringlight (1)",
        "tooltip": "",
        "group": "aa12c1f4.a677e",
        "order": 14,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 479.0207862854004,
        "y": 1191.4807839393616,
        "wires": [
            [
                "930cb5f2.f16388"
            ]
        ]
    },
    {
        "id": "838c098f.a6ef38",
        "type": "inject",
        "z": "4d24a982.7bf068",
        "name": "",
        "topic": "Repeater",
        "payload": "0.1",
        "payloadType": "str",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 103.01734161376953,
        "y": 1190.778576374054,
        "wires": [
            [
                "fe2ccc09.bf9ac",
                "d8833389.137a5"
            ]
        ]
    },
    {
        "id": "fe2ccc09.bf9ac",
        "type": "python3-function",
        "z": "4d24a982.7bf068",
        "name": "Ringlight on/off",
        "func": "from time import sleep\nimport RPi.GPIO as GPIO\n\nwith open(\"/home/pi/shared/log/pin_ringlight1.log\", \"r\") as file:\n    ringlightpin=int(file.read())\nwith open(\"/home/pi/shared/log/ringlightstatus1.log\", \"r\") as file:\n    state=file.read()\n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(ringlightpin, GPIO.OUT)\n\nif state == \"on\":\n    GPIO.output(ringlightpin, GPIO.HIGH)\nif state == \"off\":\n    GPIO.output(ringlightpin, GPIO.LOW)\n\nmsg['payload']=state\n\nreturn msg",
        "outputs": 1,
        "x": 297.0173149108887,
        "y": 1190.8897738456726,
        "wires": [
            [
                "ef7c02f9.25c28"
            ]
        ]
    },
    {
        "id": "b613044c.b6ad58",
        "type": "file in",
        "z": "4d24a982.7bf068",
        "name": "",
        "filename": "/home/pi/shared/log/currentstatus_rpi.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 422.00001525878906,
        "y": 657.9895448684692,
        "wires": [
            [
                "f6eacedf.51649"
            ]
        ]
    },
    {
        "id": "f6eacedf.51649",
        "type": "ui_text",
        "z": "4d24a982.7bf068",
        "group": "15a4830f.a6167d",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 691.9999752044678,
        "y": 657.9897985458374,
        "wires": []
    },
    {
        "id": "2f5da1ab.679a6e",
        "type": "inject",
        "z": "4d24a982.7bf068",
        "name": "",
        "topic": "Repeater",
        "payload": "0.5",
        "payloadType": "str",
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 111.0000228881836,
        "y": 614.9901962280273,
        "wires": [
            [
                "b613044c.b6ad58",
                "8d441dd8.c95f8",
                "469848e0.bd2bd8"
            ]
        ]
    },
    {
        "id": "469848e0.bd2bd8",
        "type": "file in",
        "z": "4d24a982.7bf068",
        "name": "",
        "filename": "/home/pi/shared/log/updatepreview.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 411.01734161376953,
        "y": 703.4448690414429,
        "wires": [
            [
                "2ff71092.3dcb3"
            ]
        ]
    },
    {
        "id": "2ff71092.3dcb3",
        "type": "function",
        "z": "4d24a982.7bf068",
        "name": "check preview mod",
        "func": "if (msg.payload!=global.get(\"updatepreview\")){\n    return msg\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 683.017333984375,
        "y": 703.5557498931885,
        "wires": [
            [
                "99e1f05d.05a8a",
                "b0060bc4.ed8a78"
            ]
        ]
    },
    {
        "id": "846e506f.57c89",
        "type": "ui_button",
        "z": "4d24a982.7bf068",
        "name": "",
        "group": "15a4830f.a6167d",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Stop Routine",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "",
        "x": 98.01734924316406,
        "y": 908.7783336639404,
        "wires": [
            [
                "36bd607d.5c908"
            ]
        ]
    },
    {
        "id": "ea6345e6.047328",
        "type": "link in",
        "z": "4d24a982.7bf068",
        "name": "Update Preview",
        "links": [
            "31d8912f.272b4e",
            "6a935848.afa4d8",
            "1ff265b8.a969fa",
            "7c3dc728.5faa18",
            "443b220.ef9a7e",
            "7427b232.c31cec",
            "8d749c82.24383",
            "3be07558.7914ba",
            "e99f482d.e65938",
            "f5ee2b34.38c468",
            "95ea4807.0665c8",
            "cbf16c9b.cb7f7",
            "298a2e98.e2ed42",
            "a914a6e4.047c58",
            "4bafeaee.da8274"
        ],
        "x": 167.02441596984863,
        "y": 833.7399950027466,
        "wires": [
            [
                "46879cf8.389c94"
            ]
        ]
    },
    {
        "id": "7427b232.c31cec",
        "type": "link out",
        "z": "4d24a982.7bf068",
        "name": "",
        "links": [
            "ea6345e6.047328"
        ],
        "x": 475.0174684524536,
        "y": 614.6669492721558,
        "wires": []
    },
    {
        "id": "8d749c82.24383",
        "type": "link out",
        "z": "4d24a982.7bf068",
        "name": "",
        "links": [
            "ea6345e6.047328"
        ],
        "x": 728.017391204834,
        "y": 1108.666823387146,
        "wires": []
    },
    {
        "id": "3be07558.7914ba",
        "type": "link out",
        "z": "4d24a982.7bf068",
        "name": "",
        "links": [
            "ea6345e6.047328"
        ],
        "x": 367.01740646362305,
        "y": 1112.6667737960815,
        "wires": []
    },
    {
        "id": "930cb5f2.f16388",
        "type": "python3-function",
        "z": "4d24a982.7bf068",
        "name": "Ringlight on/off",
        "func": "\nwith open(\"/home/pi/shared/log/ringlightstatus1.log\", \"r\") as file:\n    oldstate=file.read()\nnewstate =msg['payload']\n\nif newstate!=oldstate:\n    with open(\"/home/pi/shared/log/ringlightstatus1.log\", \"w\") as file:\n        file.write(newstate)\n    return msg\n",
        "outputs": 1,
        "x": 676.0173530578613,
        "y": 1191.2226071357727,
        "wires": [
            [
                "f5ee2b34.38c468"
            ]
        ]
    },
    {
        "id": "50298899.41b198",
        "type": "python3-function",
        "z": "4d24a982.7bf068",
        "name": "Ringlight on/off",
        "func": "\nwith open(\"/home/pi/shared/log/ringlightstatus2.log\", \"r\") as file:\n    oldstate=file.read()\nnewstate =msg['payload']\n\nif newstate!=oldstate:\n    with open(\"/home/pi/shared/log/ringlightstatus2.log\", \"w\") as file:\n        file.write(newstate)\n    return msg\n",
        "outputs": 1,
        "x": 674.017391204834,
        "y": 1238.3335452079773,
        "wires": [
            [
                "f5ee2b34.38c468"
            ]
        ]
    },
    {
        "id": "ad447022.41698",
        "type": "python3-function",
        "z": "4d24a982.7bf068",
        "name": "set initial variables",
        "func": "with open(\"/home/pi/shared/log/stopstate.log\", \"w\") as file:\n    file.write(\"run\")\nwith open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n    file.write(\"--READY--\")\nwith open(\"/home/pi/shared/log/updatepreview.log\", \"w\") as file:\n    file.write(\"start\")\nwith open(\"/home/pi/shared/log/ringlightstatus1.log\", \"w\") as file:\n    file.write(\"off\")\nwith open(\"/home/pi/shared/log/ringlightstatus2.log\", \"w\") as file:\n    file.write(\"off\")\n",
        "outputs": 1,
        "x": 344.01399993896484,
        "y": 514.1215858459473,
        "wires": [
            []
        ]
    },
    {
        "id": "36bd607d.5c908",
        "type": "python3-function",
        "z": "4d24a982.7bf068",
        "name": "set stop state variables",
        "func": "with open(\"/home/pi/shared/log/stopstate.log\", \"w\") as file:\n    file.write(\"stop\")\nwith open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n    file.write(\"--stopping--\")",
        "outputs": 1,
        "x": 320.0174026489258,
        "y": 908.8890519142151,
        "wires": [
            []
        ]
    },
    {
        "id": "f5ee2b34.38c468",
        "type": "link out",
        "z": "4d24a982.7bf068",
        "name": "",
        "links": [
            "ea6345e6.047328"
        ],
        "x": 805.0173645019531,
        "y": 1218.0001244544983,
        "wires": []
    },
    {
        "id": "b0060bc4.ed8a78",
        "type": "change",
        "z": "4d24a982.7bf068",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "updatepreview",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 953.0139236450195,
        "y": 704.236231803894,
        "wires": [
            []
        ]
    },
    {
        "id": "5088a204.b38f5c",
        "type": "comment",
        "z": "4d24a982.7bf068",
        "name": "--------------------------------- TO DO ---------------------------------",
        "info": "stop code in run routine (replace error :)\n\nsettings menu --> add cam parameters\n    camera orientation\n    contrast\n    color shift?!?\n    \nbluetooth functionality",
        "x": 228,
        "y": 41,
        "wires": []
    },
    {
        "id": "cbf16c9b.cb7f7",
        "type": "link out",
        "z": "4d24a982.7bf068",
        "name": "",
        "links": [
            "ea6345e6.047328"
        ],
        "x": 738.017333984375,
        "y": 463.7777805328369,
        "wires": []
    },
    {
        "id": "3c31fe48.03eeb2",
        "type": "exec",
        "z": "6fff9eb6.3efc2",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 497.9630699157715,
        "y": 85.01041507720947,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "32bd88f0.7d1838",
        "type": "exec",
        "z": "6fff9eb6.3efc2",
        "command": "sudo shutdown -h now",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 527.9630470275879,
        "y": 173.01041889190674,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "633d82dc.00a8ec",
        "type": "ui_button",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "group": "ddd1a14a.d7351",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Reboot",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 76.96307754516602,
        "y": 85.01052474975586,
        "wires": [
            [
                "4dcdb482.ed48cc",
                "d166c44e.c867d8"
            ]
        ]
    },
    {
        "id": "667f3070.97a5d",
        "type": "ui_button",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "group": "ddd1a14a.d7351",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Shutdown",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 79.96308135986328,
        "y": 173.01030158996582,
        "wires": [
            [
                "62458b17.346244",
                "d166c44e.c867d8"
            ]
        ]
    },
    {
        "id": "53aab4ae.7c5e8c",
        "type": "ui_button",
        "z": "6fff9eb6.3efc2",
        "name": "Delete old files",
        "group": "ddd1a14a.d7351",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Delete all image files",
        "tooltip": "This can not be undone",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 97.98263549804688,
        "y": 229.01430320739746,
        "wires": [
            [
                "f14d9189.3ed1d"
            ]
        ]
    },
    {
        "id": "f14d9189.3ed1d",
        "type": "exec",
        "z": "6fff9eb6.3efc2",
        "command": "sudo rm -rf -d /home/pi/shared/ui/*.zip && sudo rm -rf  /home/pi/shared/2019*/",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 477.9709243774414,
        "y": 229.25232982635498,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "6480d78d.6ac6e8",
        "type": "file",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/ssh.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 754.9631004333496,
        "y": 287.01006603240967,
        "wires": [
            []
        ]
    },
    {
        "id": "f27184cf.869ed8",
        "type": "file in",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/ssh.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 326.9631004333496,
        "y": 288.01006603240967,
        "wires": [
            [
                "c46002a5.5dd54"
            ]
        ]
    },
    {
        "id": "c46002a5.5dd54",
        "type": "ui_switch",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "label": "SSH Off/On",
        "tooltip": "",
        "group": "ddd1a14a.d7351",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 534.9631004333496,
        "y": 287.01006603240967,
        "wires": [
            [
                "6480d78d.6ac6e8",
                "6f8cb648.a50838"
            ]
        ]
    },
    {
        "id": "8fe6db74.5ea568",
        "type": "exec",
        "z": "6fff9eb6.3efc2",
        "command": "sudo /etc/init.d/ssh stop ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 991.9631080627441,
        "y": 370.0100679397583,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "6f8cb648.a50838",
        "type": "function",
        "z": "6fff9eb6.3efc2",
        "name": "Load Variables",
        "func": "if (msg.payload === true){\n    return [msg,null]\n}\nif (msg.payload ===false){\n    return [null,msg]\n}",
        "outputs": 2,
        "noerr": 0,
        "x": 715.963077545166,
        "y": 325.01012134552,
        "wires": [
            [
                "838902c8.42b6a"
            ],
            [
                "8fe6db74.5ea568"
            ]
        ]
    },
    {
        "id": "838902c8.42b6a",
        "type": "exec",
        "z": "6fff9eb6.3efc2",
        "command": "sudo /etc/init.d/ssh start",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 991.9631233215332,
        "y": 318.01006412506104,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "fae1dc2d.cd5b2",
        "type": "inject",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "topic": "",
        "payload": "Started!",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 77.96310043334961,
        "y": 288.01006603240967,
        "wires": [
            [
                "f27184cf.869ed8",
                "8f5916a0.387ba8",
                "547cfb38.d723d4"
            ]
        ]
    },
    {
        "id": "3a5b4087.2cea8",
        "type": "file",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/samba.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 812.9631309509277,
        "y": 448.13168239593506,
        "wires": [
            []
        ]
    },
    {
        "id": "8f5916a0.387ba8",
        "type": "file in",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/samba.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 328.96308517456055,
        "y": 448.131573677063,
        "wires": [
            [
                "afc70835.da4208"
            ]
        ]
    },
    {
        "id": "afc70835.da4208",
        "type": "ui_switch",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "label": "Samba Off/On",
        "tooltip": "",
        "group": "ddd1a14a.d7351",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 564.9630699157715,
        "y": 448.13164806365967,
        "wires": [
            [
                "3a5b4087.2cea8",
                "6ac47145.2a1ad"
            ]
        ]
    },
    {
        "id": "67497290.47af0c",
        "type": "exec",
        "z": "6fff9eb6.3efc2",
        "command": "sudo /etc/init.d/smbd stop",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1055.9631080627441,
        "y": 533.1317663192749,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "6ac47145.2a1ad",
        "type": "function",
        "z": "6fff9eb6.3efc2",
        "name": "Load Variables",
        "func": "if (msg.payload === true){\n    return [msg,null]\n}\nreturn [null,msg]\n",
        "outputs": 2,
        "noerr": 0,
        "x": 767.9631233215332,
        "y": 487.13154888153076,
        "wires": [
            [
                "83cadd1d.0be53"
            ],
            [
                "67497290.47af0c"
            ]
        ]
    },
    {
        "id": "83cadd1d.0be53",
        "type": "exec",
        "z": "6fff9eb6.3efc2",
        "command": "sudo /etc/init.d/smbd start",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1056.9631080627441,
        "y": 481.1316022872925,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "62458b17.346244",
        "type": "delay",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 287.98047256469727,
        "y": 172.90950775146484,
        "wires": [
            [
                "32bd88f0.7d1838"
            ]
        ]
    },
    {
        "id": "4dcdb482.ed48cc",
        "type": "delay",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 288.97705078125,
        "y": 84.81916332244873,
        "wires": [
            [
                "3c31fe48.03eeb2"
            ]
        ]
    },
    {
        "id": "d166c44e.c867d8",
        "type": "python3-function",
        "z": "6fff9eb6.3efc2",
        "name": "blink",
        "func": "from time import sleep\nimport RPi.GPIO as GPIO\n\nringlightpin = 17\nsleeptime = 0.05\n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(ringlightpin, GPIO.OUT)\n\nwith open(\"/home/pi/shared/log/ringlightstatus1.log\", \"w\") as file:\n    file.write(\"off\")\nwith open(\"/home/pi/shared/log/ringlightstatus2.log\", \"w\") as file:\n    file.write(\"off\")\n\nfor x in range(10):\n    GPIO.output(ringlightpin, GPIO.HIGH)\n    sleep(sleeptime)\n    GPIO.output(ringlightpin, GPIO.LOW)\n    sleep(sleeptime)\n",
        "outputs": 1,
        "x": 258.9805450439453,
        "y": 127.02120113372803,
        "wires": [
            []
        ]
    },
    {
        "id": "2b642170.72db5e",
        "type": "ui_switch",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "label": "Auto Update Preview",
        "tooltip": "",
        "group": "b9933221.eac94",
        "order": 5,
        "width": 7,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 507.9631004333496,
        "y": 595.0100660324097,
        "wires": [
            [
                "e30d6e32.3cdec"
            ]
        ]
    },
    {
        "id": "e30d6e32.3cdec",
        "type": "change",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "autoupdate",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740.9631004333496,
        "y": 596.0100660324097,
        "wires": [
            []
        ]
    },
    {
        "id": "547cfb38.d723d4",
        "type": "function",
        "z": "6fff9eb6.3efc2",
        "name": "turn autoupdate off",
        "func": "msg.payload=\"off\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 283.9631004333496,
        "y": 595.0100660324097,
        "wires": [
            [
                "2b642170.72db5e"
            ]
        ]
    },
    {
        "id": "96299e43.1a782",
        "type": "ui_dropdown",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "label": " Pin - rotor direction",
        "tooltip": "standard value: 5",
        "place": " ",
        "group": "35a0e31e.2cf06c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "2",
                "type": "str"
            },
            {
                "label": "",
                "value": "3",
                "type": "str"
            },
            {
                "label": "",
                "value": "4",
                "type": "str"
            },
            {
                "label": "",
                "value": "5",
                "type": "str"
            },
            {
                "label": "",
                "value": "6",
                "type": "str"
            },
            {
                "label": "",
                "value": "7",
                "type": "str"
            },
            {
                "label": "",
                "value": "9",
                "type": "str"
            },
            {
                "label": "",
                "value": "10",
                "type": "str"
            },
            {
                "label": "",
                "value": "11",
                "type": "str"
            },
            {
                "label": "",
                "value": "12",
                "type": "str"
            },
            {
                "label": "",
                "value": "13",
                "type": "str"
            },
            {
                "label": "",
                "value": "14",
                "type": "str"
            },
            {
                "label": "",
                "value": "15",
                "type": "str"
            },
            {
                "label": "",
                "value": "16",
                "type": "str"
            },
            {
                "label": "",
                "value": "17",
                "type": "str"
            },
            {
                "label": "",
                "value": "18",
                "type": "str"
            },
            {
                "label": "",
                "value": "19",
                "type": "str"
            },
            {
                "label": "",
                "value": "20",
                "type": "str"
            },
            {
                "label": "",
                "value": "21",
                "type": "str"
            },
            {
                "label": "",
                "value": "22",
                "type": "str"
            },
            {
                "label": "",
                "value": "23",
                "type": "str"
            },
            {
                "label": "",
                "value": "24",
                "type": "str"
            },
            {
                "label": "",
                "value": "25",
                "type": "str"
            },
            {
                "label": "",
                "value": "26",
                "type": "str"
            },
            {
                "label": "",
                "value": "27",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 644.5590505599976,
        "y": 830.9723405838013,
        "wires": [
            [
                "cdc127c0.001268"
            ]
        ]
    },
    {
        "id": "e89c2a55.a9c018",
        "type": "ui_text",
        "z": "6fff9eb6.3efc2",
        "group": "35a0e31e.2cf06c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Be absolutely sure, when making any changes! Modification will be instantly saved and might damage external or internal hardware if not properly handled!",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 661,
        "y": 737.5763139724731,
        "wires": []
    },
    {
        "id": "fabbed08.2211",
        "type": "file in",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/pin_rotor_dir.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 299.99996852874756,
        "y": 831.465124130249,
        "wires": [
            [
                "96299e43.1a782"
            ]
        ]
    },
    {
        "id": "cdc127c0.001268",
        "type": "file",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/pin_rotor_dir.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1026.999945640564,
        "y": 831.4651288986206,
        "wires": [
            []
        ]
    },
    {
        "id": "3130b40d.6399ac",
        "type": "inject",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "topic": "",
        "payload": "Started!",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 67.99999237060547,
        "y": 690.4654216766357,
        "wires": [
            [
                "9608945a.6d2808"
            ]
        ]
    },
    {
        "id": "de984644.f4beb8",
        "type": "ui_dropdown",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "label": " Pin - rotor step",
        "tooltip": "standard value: 6",
        "place": " ",
        "group": "35a0e31e.2cf06c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "2",
                "type": "str"
            },
            {
                "label": "",
                "value": "3",
                "type": "str"
            },
            {
                "label": "",
                "value": "4",
                "type": "str"
            },
            {
                "label": "",
                "value": "5",
                "type": "str"
            },
            {
                "label": "",
                "value": "6",
                "type": "str"
            },
            {
                "label": "",
                "value": "7",
                "type": "str"
            },
            {
                "label": "",
                "value": "9",
                "type": "str"
            },
            {
                "label": "",
                "value": "10",
                "type": "str"
            },
            {
                "label": "",
                "value": "11",
                "type": "str"
            },
            {
                "label": "",
                "value": "12",
                "type": "str"
            },
            {
                "label": "",
                "value": "13",
                "type": "str"
            },
            {
                "label": "",
                "value": "14",
                "type": "str"
            },
            {
                "label": "",
                "value": "15",
                "type": "str"
            },
            {
                "label": "",
                "value": "16",
                "type": "str"
            },
            {
                "label": "",
                "value": "17",
                "type": "str"
            },
            {
                "label": "",
                "value": "18",
                "type": "str"
            },
            {
                "label": "",
                "value": "19",
                "type": "str"
            },
            {
                "label": "",
                "value": "20",
                "type": "str"
            },
            {
                "label": "",
                "value": "21",
                "type": "str"
            },
            {
                "label": "",
                "value": "22",
                "type": "str"
            },
            {
                "label": "",
                "value": "23",
                "type": "str"
            },
            {
                "label": "",
                "value": "24",
                "type": "str"
            },
            {
                "label": "",
                "value": "25",
                "type": "str"
            },
            {
                "label": "",
                "value": "26",
                "type": "str"
            },
            {
                "label": "",
                "value": "27",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 634.5417318344116,
        "y": 883.4651880264282,
        "wires": [
            [
                "46ade5d3.718cac"
            ]
        ]
    },
    {
        "id": "7169e93e.116f38",
        "type": "file in",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/pin_rotor_step.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 298.9826498031616,
        "y": 883.957971572876,
        "wires": [
            [
                "de984644.f4beb8"
            ]
        ]
    },
    {
        "id": "46ade5d3.718cac",
        "type": "file",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/pin_rotor_step.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1025.982626914978,
        "y": 883.9579763412476,
        "wires": [
            []
        ]
    },
    {
        "id": "9b571d59.8abd6",
        "type": "ui_dropdown",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "label": " Pin - turntable direction",
        "tooltip": "standard value: 9",
        "place": " ",
        "group": "35a0e31e.2cf06c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "2",
                "type": "str"
            },
            {
                "label": "",
                "value": "3",
                "type": "str"
            },
            {
                "label": "",
                "value": "4",
                "type": "str"
            },
            {
                "label": "",
                "value": "5",
                "type": "str"
            },
            {
                "label": "",
                "value": "6",
                "type": "str"
            },
            {
                "label": "",
                "value": "7",
                "type": "str"
            },
            {
                "label": "",
                "value": "9",
                "type": "str"
            },
            {
                "label": "",
                "value": "10",
                "type": "str"
            },
            {
                "label": "",
                "value": "11",
                "type": "str"
            },
            {
                "label": "",
                "value": "12",
                "type": "str"
            },
            {
                "label": "",
                "value": "13",
                "type": "str"
            },
            {
                "label": "",
                "value": "14",
                "type": "str"
            },
            {
                "label": "",
                "value": "15",
                "type": "str"
            },
            {
                "label": "",
                "value": "16",
                "type": "str"
            },
            {
                "label": "",
                "value": "17",
                "type": "str"
            },
            {
                "label": "",
                "value": "18",
                "type": "str"
            },
            {
                "label": "",
                "value": "19",
                "type": "str"
            },
            {
                "label": "",
                "value": "20",
                "type": "str"
            },
            {
                "label": "",
                "value": "21",
                "type": "str"
            },
            {
                "label": "",
                "value": "22",
                "type": "str"
            },
            {
                "label": "",
                "value": "23",
                "type": "str"
            },
            {
                "label": "",
                "value": "24",
                "type": "str"
            },
            {
                "label": "",
                "value": "25",
                "type": "str"
            },
            {
                "label": "",
                "value": "26",
                "type": "str"
            },
            {
                "label": "",
                "value": "27",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 664.5590505599976,
        "y": 934.4654321670532,
        "wires": [
            [
                "a30a9b3b.06d488"
            ]
        ]
    },
    {
        "id": "a50976f2.42b7c8",
        "type": "file in",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/pin_turntable_dir.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 309.99996852874756,
        "y": 934.958215713501,
        "wires": [
            [
                "9b571d59.8abd6"
            ]
        ]
    },
    {
        "id": "a30a9b3b.06d488",
        "type": "file",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/pin_turntable_dir.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1036.999945640564,
        "y": 934.9582204818726,
        "wires": [
            []
        ]
    },
    {
        "id": "11160a2f.1ab386",
        "type": "ui_dropdown",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "label": " Pin - turntable step",
        "tooltip": "standard value: 11",
        "place": " ",
        "group": "35a0e31e.2cf06c",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "2",
                "type": "str"
            },
            {
                "label": "",
                "value": "3",
                "type": "str"
            },
            {
                "label": "",
                "value": "4",
                "type": "str"
            },
            {
                "label": "",
                "value": "5",
                "type": "str"
            },
            {
                "label": "",
                "value": "6",
                "type": "str"
            },
            {
                "label": "",
                "value": "7",
                "type": "str"
            },
            {
                "label": "",
                "value": "9",
                "type": "str"
            },
            {
                "label": "",
                "value": "10",
                "type": "str"
            },
            {
                "label": "",
                "value": "11",
                "type": "str"
            },
            {
                "label": "",
                "value": "12",
                "type": "str"
            },
            {
                "label": "",
                "value": "13",
                "type": "str"
            },
            {
                "label": "",
                "value": "14",
                "type": "str"
            },
            {
                "label": "",
                "value": "15",
                "type": "str"
            },
            {
                "label": "",
                "value": "16",
                "type": "str"
            },
            {
                "label": "",
                "value": "17",
                "type": "str"
            },
            {
                "label": "",
                "value": "18",
                "type": "str"
            },
            {
                "label": "",
                "value": "19",
                "type": "str"
            },
            {
                "label": "",
                "value": "20",
                "type": "str"
            },
            {
                "label": "",
                "value": "21",
                "type": "str"
            },
            {
                "label": "",
                "value": "22",
                "type": "str"
            },
            {
                "label": "",
                "value": "23",
                "type": "str"
            },
            {
                "label": "",
                "value": "24",
                "type": "str"
            },
            {
                "label": "",
                "value": "25",
                "type": "str"
            },
            {
                "label": "",
                "value": "26",
                "type": "str"
            },
            {
                "label": "",
                "value": "27",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 644.5417318344116,
        "y": 986.9582796096802,
        "wires": [
            [
                "c9aabf7e.b6ec6"
            ]
        ]
    },
    {
        "id": "67fcc5ac.581e9c",
        "type": "file in",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/pin_turntable_step.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 318.9826498031616,
        "y": 987.4510631561279,
        "wires": [
            [
                "11160a2f.1ab386"
            ]
        ]
    },
    {
        "id": "c9aabf7e.b6ec6",
        "type": "file",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/pin_turntable_step.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1045.982626914978,
        "y": 987.4510679244995,
        "wires": [
            []
        ]
    },
    {
        "id": "297e0f0f.26c77",
        "type": "ui_button",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "group": "35a0e31e.2cf06c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset all Pin Parameters",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 260.9999694824219,
        "y": 779.9097261428833,
        "wires": [
            [
                "af6c2c9f.c26ce"
            ]
        ]
    },
    {
        "id": "af6c2c9f.c26ce",
        "type": "python3-function",
        "z": "6fff9eb6.3efc2",
        "name": "set initial variables",
        "func": "with open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"w\") as file:\n    file.write(\"5\")\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"w\") as file:\n    file.write(\"6\")\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"w\") as file:\n    file.write(\"9\")\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"w\") as file:\n    file.write(\"11\")\nwith open(\"/home/pi/shared/log/pin_ringlight1.log\", \"w\") as file:\n    file.write(\"17\")\nwith open(\"/home/pi/shared/log/pin_ringlight2.log\", \"w\") as file:\n    file.write(\"27\")\nwith open(\"/home/pi/shared/log/pin_externalcam.log\", \"w\") as file:\n    file.write(\"10\")\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"w\") as file:\n    file.write(\"17067\")\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"w\") as file:\n    file.write(\"3200\")    \nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"w\") as file:\n    file.write(\"0.0005\")\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"w\") as file:\n    file.write(\"0.0005\")    \n\nreturn msg",
        "outputs": 1,
        "x": 529.9999465942383,
        "y": 779.9098825454712,
        "wires": [
            [
                "f2a99628.d77318"
            ]
        ]
    },
    {
        "id": "49a0c7a0.1bad88",
        "type": "link in",
        "z": "6fff9eb6.3efc2",
        "name": "Reset Parameters",
        "links": [
            "f2a99628.d77318",
            "9608945a.6d2808",
            "abe47719.de9b18"
        ],
        "x": 33.000000953674316,
        "y": 830.8643503189087,
        "wires": [
            [
                "fabbed08.2211",
                "7169e93e.116f38",
                "a50976f2.42b7c8",
                "67fcc5ac.581e9c",
                "c963cf06.f6323",
                "4c3bdd1.355aa24",
                "5c30193b.1a92f8",
                "b4144dc5.2d066",
                "52cdcb8b.19a914",
                "8b489f2b.c4511",
                "6c09fd1d.3f4324"
            ]
        ]
    },
    {
        "id": "f2a99628.d77318",
        "type": "link out",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "links": [
            "49a0c7a0.1bad88",
            "5bb62d67.946384",
            "ae34bfeb.259d6",
            "388eec5a.240ea4"
        ],
        "x": 739.9965515136719,
        "y": 779.7742357254028,
        "wires": []
    },
    {
        "id": "9608945a.6d2808",
        "type": "link out",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "links": [
            "49a0c7a0.1bad88",
            "5bb62d67.946384",
            "ae34bfeb.259d6",
            "388eec5a.240ea4"
        ],
        "x": 194.99998474121094,
        "y": 690.9096164703369,
        "wires": []
    },
    {
        "id": "dc34b571.4ed628",
        "type": "ui_dropdown",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "label": " Pin - ringlight1",
        "tooltip": "standard value: 17",
        "place": " ",
        "group": "35a0e31e.2cf06c",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "2",
                "type": "str"
            },
            {
                "label": "",
                "value": "3",
                "type": "str"
            },
            {
                "label": "",
                "value": "4",
                "type": "str"
            },
            {
                "label": "",
                "value": "5",
                "type": "str"
            },
            {
                "label": "",
                "value": "6",
                "type": "str"
            },
            {
                "label": "",
                "value": "7",
                "type": "str"
            },
            {
                "label": "",
                "value": "9",
                "type": "str"
            },
            {
                "label": "",
                "value": "10",
                "type": "str"
            },
            {
                "label": "",
                "value": "11",
                "type": "str"
            },
            {
                "label": "",
                "value": "12",
                "type": "str"
            },
            {
                "label": "",
                "value": "13",
                "type": "str"
            },
            {
                "label": "",
                "value": "14",
                "type": "str"
            },
            {
                "label": "",
                "value": "15",
                "type": "str"
            },
            {
                "label": "",
                "value": "16",
                "type": "str"
            },
            {
                "label": "",
                "value": "17",
                "type": "str"
            },
            {
                "label": "",
                "value": "18",
                "type": "str"
            },
            {
                "label": "",
                "value": "19",
                "type": "str"
            },
            {
                "label": "",
                "value": "20",
                "type": "str"
            },
            {
                "label": "",
                "value": "21",
                "type": "str"
            },
            {
                "label": "",
                "value": "22",
                "type": "str"
            },
            {
                "label": "",
                "value": "23",
                "type": "str"
            },
            {
                "label": "",
                "value": "24",
                "type": "str"
            },
            {
                "label": "",
                "value": "25",
                "type": "str"
            },
            {
                "label": "",
                "value": "26",
                "type": "str"
            },
            {
                "label": "",
                "value": "27",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 634.5417327880859,
        "y": 1035.687388420105,
        "wires": [
            [
                "65b5fce2.5f6214"
            ]
        ]
    },
    {
        "id": "c963cf06.f6323",
        "type": "file in",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/pin_ringlight1.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 298.98265075683594,
        "y": 1036.1801719665527,
        "wires": [
            [
                "dc34b571.4ed628"
            ]
        ]
    },
    {
        "id": "65b5fce2.5f6214",
        "type": "file",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/pin_ringlight1.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1025.9826278686523,
        "y": 1036.1801767349243,
        "wires": [
            []
        ]
    },
    {
        "id": "896b384b.f15078",
        "type": "ui_dropdown",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "label": " Pin - ringlight2",
        "tooltip": "standard value: 27",
        "place": " ",
        "group": "35a0e31e.2cf06c",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "2",
                "type": "str"
            },
            {
                "label": "",
                "value": "3",
                "type": "str"
            },
            {
                "label": "",
                "value": "4",
                "type": "str"
            },
            {
                "label": "",
                "value": "5",
                "type": "str"
            },
            {
                "label": "",
                "value": "6",
                "type": "str"
            },
            {
                "label": "",
                "value": "7",
                "type": "str"
            },
            {
                "label": "",
                "value": "9",
                "type": "str"
            },
            {
                "label": "",
                "value": "10",
                "type": "str"
            },
            {
                "label": "",
                "value": "11",
                "type": "str"
            },
            {
                "label": "",
                "value": "12",
                "type": "str"
            },
            {
                "label": "",
                "value": "13",
                "type": "str"
            },
            {
                "label": "",
                "value": "14",
                "type": "str"
            },
            {
                "label": "",
                "value": "15",
                "type": "str"
            },
            {
                "label": "",
                "value": "16",
                "type": "str"
            },
            {
                "label": "",
                "value": "17",
                "type": "str"
            },
            {
                "label": "",
                "value": "18",
                "type": "str"
            },
            {
                "label": "",
                "value": "19",
                "type": "str"
            },
            {
                "label": "",
                "value": "20",
                "type": "str"
            },
            {
                "label": "",
                "value": "21",
                "type": "str"
            },
            {
                "label": "",
                "value": "22",
                "type": "str"
            },
            {
                "label": "",
                "value": "23",
                "type": "str"
            },
            {
                "label": "",
                "value": "24",
                "type": "str"
            },
            {
                "label": "",
                "value": "25",
                "type": "str"
            },
            {
                "label": "",
                "value": "26",
                "type": "str"
            },
            {
                "label": "",
                "value": "27",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 634.5590515136719,
        "y": 1086.68763256073,
        "wires": [
            [
                "4172f59a.72faac"
            ]
        ]
    },
    {
        "id": "4c3bdd1.355aa24",
        "type": "file in",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/pin_ringlight2.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 298.9999694824219,
        "y": 1087.1804161071777,
        "wires": [
            [
                "896b384b.f15078"
            ]
        ]
    },
    {
        "id": "4172f59a.72faac",
        "type": "file",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/pin_ringlight2.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1026.9999465942383,
        "y": 1087.1804208755493,
        "wires": [
            []
        ]
    },
    {
        "id": "8079ed8c.10942",
        "type": "ui_dropdown",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "label": " Pin - external camera",
        "tooltip": "standard value: 10",
        "place": " ",
        "group": "35a0e31e.2cf06c",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": "2",
                "type": "str"
            },
            {
                "label": "",
                "value": "3",
                "type": "str"
            },
            {
                "label": "",
                "value": "4",
                "type": "str"
            },
            {
                "label": "",
                "value": "5",
                "type": "str"
            },
            {
                "label": "",
                "value": "6",
                "type": "str"
            },
            {
                "label": "",
                "value": "7",
                "type": "str"
            },
            {
                "label": "",
                "value": "9",
                "type": "str"
            },
            {
                "label": "",
                "value": "10",
                "type": "str"
            },
            {
                "label": "",
                "value": "11",
                "type": "str"
            },
            {
                "label": "",
                "value": "12",
                "type": "str"
            },
            {
                "label": "",
                "value": "13",
                "type": "str"
            },
            {
                "label": "",
                "value": "14",
                "type": "str"
            },
            {
                "label": "",
                "value": "15",
                "type": "str"
            },
            {
                "label": "",
                "value": "16",
                "type": "str"
            },
            {
                "label": "",
                "value": "17",
                "type": "str"
            },
            {
                "label": "",
                "value": "18",
                "type": "str"
            },
            {
                "label": "",
                "value": "19",
                "type": "str"
            },
            {
                "label": "",
                "value": "20",
                "type": "str"
            },
            {
                "label": "",
                "value": "21",
                "type": "str"
            },
            {
                "label": "",
                "value": "22",
                "type": "str"
            },
            {
                "label": "",
                "value": "23",
                "type": "str"
            },
            {
                "label": "",
                "value": "24",
                "type": "str"
            },
            {
                "label": "",
                "value": "25",
                "type": "str"
            },
            {
                "label": "",
                "value": "26",
                "type": "str"
            },
            {
                "label": "",
                "value": "27",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 653.5417327880859,
        "y": 1139.180480003357,
        "wires": [
            [
                "9af5fac.c3daf08"
            ]
        ]
    },
    {
        "id": "5c30193b.1a92f8",
        "type": "file in",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/pin_externalcam.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 308.98265075683594,
        "y": 1139.6732635498047,
        "wires": [
            [
                "8079ed8c.10942"
            ]
        ]
    },
    {
        "id": "9af5fac.c3daf08",
        "type": "file",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/pin_externalcam.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1035.9826278686523,
        "y": 1139.6732683181763,
        "wires": [
            []
        ]
    },
    {
        "id": "5fcbb415.49e4dc",
        "type": "ui_text_input",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "label": "",
        "tooltip": "standard value: 17067",
        "group": "35a0e31e.2cf06c",
        "order": 13,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 613.5555419921875,
        "y": 1213.7221117019653,
        "wires": [
            [
                "e4ce141e.3e61f8"
            ]
        ]
    },
    {
        "id": "b4144dc5.2d066",
        "type": "file in",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/rotor_stepsperrotation.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 329.99999237060547,
        "y": 1213.9096097946167,
        "wires": [
            [
                "5fcbb415.49e4dc"
            ]
        ]
    },
    {
        "id": "e4ce141e.3e61f8",
        "type": "file",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/rotor_stepsperrotation.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1054.9999618530273,
        "y": 1212.9096097946167,
        "wires": [
            []
        ]
    },
    {
        "id": "a62e45ee.423a78",
        "type": "ui_text",
        "z": "6fff9eb6.3efc2",
        "group": "35a0e31e.2cf06c",
        "order": 12,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Rotor - Steps per Rotation",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 260,
        "y": 1180.909665107727,
        "wires": []
    },
    {
        "id": "31d5fee7.394692",
        "type": "ui_text_input",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "label": "",
        "tooltip": "standard value: 3200",
        "group": "35a0e31e.2cf06c",
        "order": 17,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 613.5381927490234,
        "y": 1283.909556388855,
        "wires": [
            [
                "a9117594.69d148"
            ]
        ]
    },
    {
        "id": "52cdcb8b.19a914",
        "type": "file in",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/turntable_stepsperrotation.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 338.9826431274414,
        "y": 1284.0970544815063,
        "wires": [
            [
                "31d5fee7.394692"
            ]
        ]
    },
    {
        "id": "a9117594.69d148",
        "type": "file",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/turntable_stepsperrotation.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1063.9826126098633,
        "y": 1283.0970544815063,
        "wires": [
            []
        ]
    },
    {
        "id": "cb791ef.c9ecce",
        "type": "ui_text",
        "z": "6fff9eb6.3efc2",
        "group": "35a0e31e.2cf06c",
        "order": 16,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Turntable - Steps per Rotation",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 279.98265075683594,
        "y": 1251.0971097946167,
        "wires": []
    },
    {
        "id": "1258cd70.ea9eb3",
        "type": "ui_text_input",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "label": "",
        "tooltip": "standard value: 0.0005",
        "group": "35a0e31e.2cf06c",
        "order": 15,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 611.9999694824219,
        "y": 1353.909556388855,
        "wires": [
            [
                "5f5e018d.3ce0c"
            ]
        ]
    },
    {
        "id": "8b489f2b.c4511",
        "type": "file in",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/rotor_delay.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 289.44441986083984,
        "y": 1354.0970544815063,
        "wires": [
            [
                "1258cd70.ea9eb3"
            ]
        ]
    },
    {
        "id": "5f5e018d.3ce0c",
        "type": "file",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/rotor_delay.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1012.4443893432617,
        "y": 1353.0970544815063,
        "wires": [
            []
        ]
    },
    {
        "id": "237b49ef.b7ff56",
        "type": "ui_text",
        "z": "6fff9eb6.3efc2",
        "group": "35a0e31e.2cf06c",
        "order": 14,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Rotor - Delay (s)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 233.44442749023438,
        "y": 1321.0971097946167,
        "wires": []
    },
    {
        "id": "c127637a.4302a",
        "type": "ui_text_input",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "label": "",
        "tooltip": "standard value: 0.0005",
        "group": "35a0e31e.2cf06c",
        "order": 19,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 610.9999694824219,
        "y": 1422.909556388855,
        "wires": [
            [
                "9ab63e6f.9736c"
            ]
        ]
    },
    {
        "id": "6c09fd1d.3f4324",
        "type": "file in",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/turntable_delay.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 308.44441986083984,
        "y": 1423.0970544815063,
        "wires": [
            [
                "c127637a.4302a"
            ]
        ]
    },
    {
        "id": "9ab63e6f.9736c",
        "type": "file",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/turntable_delay.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1030.4443893432617,
        "y": 1422.0970544815063,
        "wires": [
            []
        ]
    },
    {
        "id": "41a82d6e.ed8294",
        "type": "ui_text",
        "z": "6fff9eb6.3efc2",
        "group": "35a0e31e.2cf06c",
        "order": 18,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Turntable - Delay (s)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 250.44442749023438,
        "y": 1390.0971097946167,
        "wires": []
    },
    {
        "id": "7b377f40.d6cc3",
        "type": "ui_text",
        "z": "6fff9eb6.3efc2",
        "group": "b9933221.eac94",
        "order": 6,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "RPi Cam Resolution x",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 245.4444351196289,
        "y": 1564.0969686508179,
        "wires": []
    },
    {
        "id": "ce962be8.4432f8",
        "type": "ui_text",
        "z": "6fff9eb6.3efc2",
        "group": "b9933221.eac94",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Be absolutely sure, when making any changes! Modification will be instantly saved and might damage external or internal hardware if not properly handled!",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 655.9825973510742,
        "y": 1474.797706604004,
        "wires": []
    },
    {
        "id": "e653bca7.ff121",
        "type": "ui_button",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "group": "b9933221.eac94",
        "order": 3,
        "width": 7,
        "height": 1,
        "passthru": false,
        "label": "Reset all Cam Parameters",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 265.9825973510742,
        "y": 1517.1313524246216,
        "wires": [
            [
                "c172e7d3.ad5698"
            ]
        ]
    },
    {
        "id": "c172e7d3.ad5698",
        "type": "python3-function",
        "z": "6fff9eb6.3efc2",
        "name": "set initial variables",
        "func": "with open(\"/home/pi/shared/log/picamera_activation.log\", \"w\") as file:\n    file.write(\"true\")\nwith open(\"/home/pi/shared/log/camera_resolution_x.log\", \"w\") as file:\n    file.write(\"3280\")\nwith open(\"/home/pi/shared/log/camera_resolution_y.log\", \"w\") as file:\n    file.write(\"2464\")    \n    \nreturn msg",
        "outputs": 1,
        "x": 524.9825744628906,
        "y": 1517.1315088272095,
        "wires": [
            [
                "abe47719.de9b18"
            ]
        ]
    },
    {
        "id": "abe47719.de9b18",
        "type": "link out",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "links": [
            "49a0c7a0.1bad88",
            "5bb62d67.946384",
            "ae34bfeb.259d6",
            "388eec5a.240ea4"
        ],
        "x": 734.9791793823242,
        "y": 1516.995862007141,
        "wires": []
    },
    {
        "id": "df7c8146.e71cd",
        "type": "ui_text_input",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "label": "",
        "tooltip": "standard value: 3280",
        "group": "b9933221.eac94",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 610.0173578262329,
        "y": 1600.5660333633423,
        "wires": [
            [
                "7f035112.1d4b3"
            ]
        ]
    },
    {
        "id": "28b18cff.cc6d24",
        "type": "file in",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/camera_resolution_x.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 314.4618082046509,
        "y": 1600.7535314559937,
        "wires": [
            [
                "df7c8146.e71cd"
            ]
        ]
    },
    {
        "id": "7f035112.1d4b3",
        "type": "file",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/camera_resolution_x.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1042.4617776870728,
        "y": 1599.7535314559937,
        "wires": [
            []
        ]
    },
    {
        "id": "64babe66.abd5d",
        "type": "ui_text_input",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "label": "",
        "tooltip": "standard value: 2464",
        "group": "b9933221.eac94",
        "order": 9,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 608.0173578262329,
        "y": 1668.7882013320923,
        "wires": [
            [
                "75a48f15.89f61"
            ]
        ]
    },
    {
        "id": "6be936e1.35bf68",
        "type": "file in",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/camera_resolution_y.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 312.4618082046509,
        "y": 1668.9756994247437,
        "wires": [
            [
                "64babe66.abd5d"
            ]
        ]
    },
    {
        "id": "75a48f15.89f61",
        "type": "file",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/camera_resolution_y.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1040.4617776870728,
        "y": 1667.9756994247437,
        "wires": [
            []
        ]
    },
    {
        "id": "6184278c.394148",
        "type": "ui_text",
        "z": "6fff9eb6.3efc2",
        "group": "b9933221.eac94",
        "order": 8,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "RPi Cam Resolution y",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 242.4618158340454,
        "y": 1635.975754737854,
        "wires": []
    },
    {
        "id": "388eec5a.240ea4",
        "type": "link in",
        "z": "6fff9eb6.3efc2",
        "name": "Reset Parameters",
        "links": [
            "3de3afc6.4755e",
            "a7f0bc18.40ee",
            "c46b984d.ed3f18",
            "f2a99628.d77318",
            "9608945a.6d2808",
            "abe47719.de9b18"
        ],
        "x": 20.000008583068848,
        "y": 1600.4546575546265,
        "wires": [
            [
                "28b18cff.cc6d24",
                "6be936e1.35bf68",
                "3b5480c5.817ab"
            ]
        ]
    },
    {
        "id": "3b5480c5.817ab",
        "type": "file in",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "filename": "/home/pi/shared/log/picamera_activation.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 310.0173273086548,
        "y": 1722.6665630340576,
        "wires": [
            [
                "d9784bb5.6ad548"
            ]
        ]
    },
    {
        "id": "d9784bb5.6ad548",
        "type": "ui_switch",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "label": "RPi Cam Off/On",
        "tooltip": "",
        "group": "b9933221.eac94",
        "order": 4,
        "width": 7,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 620.0173044204712,
        "y": 1722.6664552688599,
        "wires": [
            [
                "e5c4a60f.ea7408"
            ]
        ]
    },
    {
        "id": "e5c4a60f.ea7408",
        "type": "python3-function",
        "z": "6fff9eb6.3efc2",
        "name": "set initial variables",
        "func": "with open(\"/home/pi/shared/log/picamera_activation.log\", \"w\") as file:\n    file.write(msg['payload'])\nif msg['payload']==\"false\":\n    with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n        file.write(\"RPi Cam disabled\")  \nif msg['payload']==\"true\":\n    with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n        file.write(\"--READY--\")  \nreturn msg",
        "outputs": 1,
        "x": 959.0173349380493,
        "y": 1721.4547567367554,
        "wires": [
            [
                "4bafeaee.da8274"
            ]
        ]
    },
    {
        "id": "4bafeaee.da8274",
        "type": "link out",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "links": [
            "ea6345e6.047328"
        ],
        "x": 1094.0173540115356,
        "y": 1721.4549741744995,
        "wires": []
    },
    {
        "id": "b6e6ea28.86ddb8",
        "type": "ui_button",
        "z": "9096e101.facd1",
        "name": "",
        "group": "8c6d898d.322588",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "⇐",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "200",
        "payloadType": "num",
        "topic": "",
        "x": 84.01956176757812,
        "y": 106.0103588104248,
        "wires": [
            [
                "d1ed981b.63f978"
            ]
        ]
    },
    {
        "id": "12862cfa.4ecfb3",
        "type": "ui_button",
        "z": "9096e101.facd1",
        "name": "",
        "group": "8c6d898d.322588",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "⇒",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "200",
        "payloadType": "num",
        "topic": "",
        "x": 84.01956176757812,
        "y": 146.0103588104248,
        "wires": [
            [
                "b6ffcd54.c020e"
            ]
        ]
    },
    {
        "id": "ffd9e0b7.730ec",
        "type": "ui_button",
        "z": "9096e101.facd1",
        "name": "",
        "group": "8c6d898d.322588",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "⇑",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "500",
        "payloadType": "num",
        "topic": "",
        "x": 424.0195617675781,
        "y": 106.0103588104248,
        "wires": [
            [
                "f9258193.1f2b7"
            ]
        ]
    },
    {
        "id": "1cac2fe4.ca7e4",
        "type": "ui_button",
        "z": "9096e101.facd1",
        "name": "",
        "group": "8c6d898d.322588",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "⇓",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "200",
        "payloadType": "num",
        "topic": "",
        "x": 424.0195617675781,
        "y": 146.0103588104248,
        "wires": [
            [
                "4ddc6604.be3db8"
            ]
        ]
    },
    {
        "id": "f241a022.75fbf",
        "type": "ui_text",
        "z": "9096e101.facd1",
        "group": "8c6d898d.322588",
        "order": 4,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Turntable",
        "format": "{{\"\"}}",
        "layout": "row-center",
        "x": 94.01956176757812,
        "y": 66.0103588104248,
        "wires": []
    },
    {
        "id": "2e36a582.88836a",
        "type": "ui_text",
        "z": "9096e101.facd1",
        "group": "8c6d898d.322588",
        "order": 1,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Rotor",
        "format": "{{\"\"}}",
        "layout": "row-center",
        "x": 424.0195617675781,
        "y": 66.0103588104248,
        "wires": []
    },
    {
        "id": "d1ed981b.63f978",
        "type": "python3-function",
        "z": "9096e101.facd1",
        "name": "TT left",
        "func": "from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/36\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n",
        "outputs": 1,
        "x": 226.01740646362305,
        "y": 105.68392133712769,
        "wires": [
            []
        ]
    },
    {
        "id": "b6ffcd54.c020e",
        "type": "python3-function",
        "z": "9096e101.facd1",
        "name": "TT right",
        "func": "from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/36\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n",
        "outputs": 1,
        "x": 240.01739501953125,
        "y": 145.68398809432983,
        "wires": [
            []
        ]
    },
    {
        "id": "f9258193.1f2b7",
        "type": "python3-function",
        "z": "9096e101.facd1",
        "name": "Rotor left",
        "func": "from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/72\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg",
        "outputs": 1,
        "x": 622.017391204834,
        "y": 106.68389987945557,
        "wires": [
            []
        ]
    },
    {
        "id": "4ddc6604.be3db8",
        "type": "python3-function",
        "z": "9096e101.facd1",
        "name": "Rotor right",
        "func": "from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/72\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg",
        "outputs": 1,
        "x": 632.017391204834,
        "y": 146.68389987945557,
        "wires": [
            []
        ]
    },
    {
        "id": "892c2a7c.2202d8",
        "type": "file in",
        "z": "9096e101.facd1",
        "name": "",
        "filename": "/home/pi/shared/log/fotosperrotation_ext.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 370.0173091888428,
        "y": 235.01694869995117,
        "wires": [
            [
                "5f28ba7b.f143f4"
            ]
        ]
    },
    {
        "id": "87563887.c4d708",
        "type": "file in",
        "z": "9096e101.facd1",
        "name": "",
        "filename": "/home/pi/shared/log/verticalpositions_ext.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 371.017333984375,
        "y": 283.01676750183105,
        "wires": [
            [
                "4802bfa3.218a6"
            ]
        ]
    },
    {
        "id": "e1cdabdf.8daec8",
        "type": "file in",
        "z": "9096e101.facd1",
        "name": "",
        "filename": "/home/pi/shared/log/startdeflection_ext.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 360.0173149108887,
        "y": 331.0168523788452,
        "wires": [
            [
                "3358f6ac.53540a"
            ]
        ]
    },
    {
        "id": "3358f6ac.53540a",
        "type": "ui_slider",
        "z": "9096e101.facd1",
        "name": "",
        "label": "",
        "tooltip": "set start deflection angle",
        "group": "25d7a60d.1c651a",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "0",
        "max": "90",
        "step": 1,
        "x": 615.0173072814941,
        "y": 331.0167713165283,
        "wires": [
            [
                "305ffb55.acbc74"
            ]
        ]
    },
    {
        "id": "a969cef8.508bb",
        "type": "ui_text",
        "z": "9096e101.facd1",
        "group": "25d7a60d.1c651a",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Start Deflection:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1134.0172500610352,
        "y": 331.01668548583984,
        "wires": []
    },
    {
        "id": "305ffb55.acbc74",
        "type": "file",
        "z": "9096e101.facd1",
        "name": "",
        "filename": "/home/pi/shared/log/startdeflection_ext.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 851.0173034667969,
        "y": 331.01695823669434,
        "wires": [
            [
                "a969cef8.508bb"
            ]
        ]
    },
    {
        "id": "4802bfa3.218a6",
        "type": "ui_slider",
        "z": "9096e101.facd1",
        "name": "",
        "label": " ",
        "tooltip": "set the number of vertical positions",
        "group": "25d7a60d.1c651a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "1",
        "max": "10",
        "step": 1,
        "x": 615.0173072814941,
        "y": 283.01676750183105,
        "wires": [
            [
                "f066d510.86f4d8"
            ]
        ]
    },
    {
        "id": "f066d510.86f4d8",
        "type": "file",
        "z": "9096e101.facd1",
        "name": "",
        "filename": "/home/pi/shared/log/verticalpositions_ext.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 861.0173034667969,
        "y": 283.01695442199707,
        "wires": [
            [
                "92e66855.71d768"
            ]
        ]
    },
    {
        "id": "92e66855.71d768",
        "type": "ui_text",
        "z": "9096e101.facd1",
        "group": "25d7a60d.1c651a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vertical Positions:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1144.017276763916,
        "y": 283.01684379577637,
        "wires": []
    },
    {
        "id": "5f28ba7b.f143f4",
        "type": "ui_slider",
        "z": "9096e101.facd1",
        "name": "",
        "label": "",
        "tooltip": " set the number of photos per turntable rotation",
        "group": "25d7a60d.1c651a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "1",
        "max": "60",
        "step": 1,
        "x": 615.0173206329346,
        "y": 235.01694226264954,
        "wires": [
            [
                "9b32f881.4bf4d8"
            ]
        ]
    },
    {
        "id": "8469bc93.c9a6d",
        "type": "ui_text",
        "z": "9096e101.facd1",
        "group": "25d7a60d.1c651a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fotos per Rotation:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1144.017339706421,
        "y": 235.01671242713928,
        "wires": []
    },
    {
        "id": "9b32f881.4bf4d8",
        "type": "file",
        "z": "9096e101.facd1",
        "name": "",
        "filename": "/home/pi/shared/log/fotosperrotation_ext.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 862.0173091888428,
        "y": 235.01704049110413,
        "wires": [
            [
                "8469bc93.c9a6d"
            ]
        ]
    },
    {
        "id": "9153a91c.807158",
        "type": "inject",
        "z": "9096e101.facd1",
        "name": "",
        "topic": "",
        "payload": "Started!",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 85.00003051757812,
        "y": 234.6732006072998,
        "wires": [
            [
                "892c2a7c.2202d8",
                "87563887.c4d708",
                "e1cdabdf.8daec8",
                "878b3afd.e5b008",
                "8cc4d0ca.e688c",
                "a464627d.14ea2"
            ]
        ]
    },
    {
        "id": "686e72c4.b5de1c",
        "type": "file",
        "z": "9096e101.facd1",
        "name": "",
        "filename": "/home/pi/shared/log/timeperfoto_ext.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 852.0000495910645,
        "y": 378.6731586456299,
        "wires": [
            [
                "620145cf.f0472c"
            ]
        ]
    },
    {
        "id": "878b3afd.e5b008",
        "type": "file in",
        "z": "9096e101.facd1",
        "name": "",
        "filename": "/home/pi/shared/log/timeperfoto_ext.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 358.0000305175781,
        "y": 378.6732425689697,
        "wires": [
            [
                "22319dc.8a29462"
            ]
        ]
    },
    {
        "id": "22319dc.8a29462",
        "type": "ui_slider",
        "z": "9096e101.facd1",
        "name": "",
        "label": " ",
        "tooltip": "",
        "group": "a2b83ddb.6a2ee",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "0.5",
        "max": "3",
        "step": "0.1",
        "x": 616.0000228881836,
        "y": 378.67319107055664,
        "wires": [
            [
                "686e72c4.b5de1c"
            ]
        ]
    },
    {
        "id": "620145cf.f0472c",
        "type": "ui_text",
        "z": "9096e101.facd1",
        "group": "a2b83ddb.6a2ee",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time per Foto (s)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1144.0000801086426,
        "y": 378.6733150482178,
        "wires": []
    },
    {
        "id": "992c81f2.84af5",
        "type": "ui_button",
        "z": "9096e101.facd1",
        "name": "",
        "group": "a2b83ddb.6a2ee",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Routine",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 93.01738357543945,
        "y": 583.5726633071899,
        "wires": [
            [
                "b702652a.3437d8"
            ]
        ]
    },
    {
        "id": "70d18318.87a3ac",
        "type": "file",
        "z": "9096e101.facd1",
        "name": "",
        "filename": "/home/pi/shared/log/releasetime_ext.log",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 850.0000648498535,
        "y": 425.57225036621094,
        "wires": [
            [
                "d8445de0.755aa"
            ]
        ]
    },
    {
        "id": "8cc4d0ca.e688c",
        "type": "file in",
        "z": "9096e101.facd1",
        "name": "",
        "filename": "/home/pi/shared/log/releasetime_ext.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 359.00004959106445,
        "y": 425.57230377197266,
        "wires": [
            [
                "a4a656b1.c25028"
            ]
        ]
    },
    {
        "id": "a4a656b1.c25028",
        "type": "ui_slider",
        "z": "9096e101.facd1",
        "name": "",
        "label": " ",
        "tooltip": "",
        "group": "a2b83ddb.6a2ee",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "10",
        "max": "200",
        "step": "10",
        "x": 616.0000419616699,
        "y": 425.57225227355957,
        "wires": [
            [
                "70d18318.87a3ac"
            ]
        ]
    },
    {
        "id": "d8445de0.755aa",
        "type": "ui_text",
        "z": "9096e101.facd1",
        "group": "a2b83ddb.6a2ee",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Release time (ms)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1142.0000495910645,
        "y": 425.57226181030273,
        "wires": []
    },
    {
        "id": "8ed14fe4.d8249",
        "type": "inject",
        "z": "9096e101.facd1",
        "name": "",
        "topic": "Repeater",
        "payload": "0.1",
        "payloadType": "str",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "x": 101.01741790771484,
        "y": 528.7954235076904,
        "wires": [
            [
                "69c3ea1.0b73514"
            ]
        ]
    },
    {
        "id": "69c3ea1.0b73514",
        "type": "file in",
        "z": "9096e101.facd1",
        "name": "",
        "filename": "/home/pi/shared/log/currentstatus_ext.log",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 515.0173492431641,
        "y": 527.7948274612427,
        "wires": [
            [
                "256bd75b.285898"
            ]
        ]
    },
    {
        "id": "256bd75b.285898",
        "type": "ui_text",
        "z": "9096e101.facd1",
        "group": "a2b83ddb.6a2ee",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 816.0173492431641,
        "y": 527.7950658798218,
        "wires": []
    },
    {
        "id": "b702652a.3437d8",
        "type": "python3-function",
        "z": "9096e101.facd1",
        "name": "Run Routine",
        "func": "import RPi.GPIO as GPIO\nimport time\nimport picamera\nfrom time import sleep\n\n#recieve global variables\nwith open(\"/home/pi/shared/log/fotosperrotation_ext.log\", \"r\") as file:\n    fotosperrotation=int(file.read())\nwith open(\"/home/pi/shared/log/startdeflection_ext.log\", \"r\") as file:\n    startdeflection=int(file.read())\nwith open(\"/home/pi/shared/log/verticalpositions_ext.log\", \"r\") as file:\n    verticalpositions=int(file.read())\nwith open(\"/home/pi/shared/log/releasetime_ext.log\", \"r\") as file:\n    releasetime_ext=int(file.read())\nwith open(\"/home/pi/shared/log/timeperfoto_ext.log\", \"r\") as file:\n    timeperfoto_ext=float(file.read())\n\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    dirpinrotor=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    steppinrotor=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"r\") as file:\n    dirpintt=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"r\") as file:\n    steppintt=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    rotorspr=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"r\") as file:\n    ttspr=int(file.read())  \nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delayrotor=float(file.read())\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"r\") as file:\n    delaytt=float(file.read())   \nwith open(\"/home/pi/shared/log/pin_externalcam.log\", \"r\") as file:\n    photopin=int(file.read())   \n\nstartangle = rotorspr/360*startdeflection\n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(3, GPIO.OUT)\n\n\ndef ttrun(step_count):\n    GPIO.setup(dirpintt, GPIO.OUT)\n    GPIO.setup(steppintt, GPIO.OUT)\n    if (step_count>0):\n        GPIO.output(dirpintt, GPIO.HIGH)\n    if(step_count<0):\n        GPIO.output(dirpintt, GPIO.LOW)\n        step_count=-step_count\n    for x in range(step_count):\n        GPIO.output(steppintt, GPIO.HIGH)\n        sleep(delaytt)\n        GPIO.output(steppintt, GPIO.LOW)\n        sleep(delaytt)\n\ndef rotorrun(step_count):\n    GPIO.setup(dirpinrotor, GPIO.OUT)\n    GPIO.setup(steppinrotor, GPIO.OUT)\n    if (step_count>0):\n        GPIO.output(dirpinrotor, GPIO.HIGH)\n    if(step_count<0):\n        GPIO.output(dirpinrotor, GPIO.LOW)\n        step_count=-step_count\n    for x in range(step_count):\n        GPIO.output(steppinrotor, GPIO.HIGH)\n        sleep(delayrotor)\n        GPIO.output(steppinrotor, GPIO.LOW)\n        sleep(delayrotor)\n\ndef stoptest():\n    with open(\"/home/pi/shared/log/stopstate_ext.log\", \"r\") as file:\n        if (file.read()!=\"stop\"):\n            return\n    with open(\"/home/pi/shared/log/stopstate_ext.log\", \"w\") as file:\n        file.write(\"--stopping--\")\n    with open(\"/home/pi/shared/log/currentstatus_ext.log\", \"w\") as file:\n        file.write(\"--READY--\")\n    exit\n\ndef takephoto():\n    stoptest()\n    GPIO.setup(photopin, GPIO.OUT)\n    GPIO.output(photopin, GPIO.HIGH)\n    sleep(releasetime_ext*0.001)\n    GPIO.output(photopin, GPIO.LOW)\n    sleep(timeperfoto_ext)\n    stoptest()\n\ndef turntablerotation():\n    for x in range (fotosperrotation):\n        with open(\"/home/pi/shared/log/currentstatus_ext.log\", \"w\") as file:\n            file.write(\"Position: \"+str(vertpos)+\"/\"+str(verticalpositions)+\" Foto: \"+str(x+1)+\"/\"+str(fotosperrotation))\n        ttrun(ttspr/fotosperrotation)\n        takephoto()\n\nrotorrun(-startangle)\nfor x in range (verticalpositions-1):\n    vertpos = x+1\n    turntablerotation()\n    if (verticalpositions>1):\n        rotorrun(2*startangle/(verticalpositions-1))\nif (verticalpositions==1):\n    startangle=-startangle\nvertpos=verticalpositions\nturntablerotation()\nrotorrun(-startangle)\n\nwith open(\"/home/pi/shared/log/currentstatus_ext.log\", \"w\") as file:\n    file.write(\"--READY--\")\nreturn msg",
        "outputs": 1,
        "x": 285.017333984375,
        "y": 584.3502712249756,
        "wires": [
            []
        ]
    },
    {
        "id": "aacb9271.9a06a",
        "type": "ui_button",
        "z": "9096e101.facd1",
        "name": "",
        "group": "a2b83ddb.6a2ee",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Stop Routine",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "",
        "x": 92.0173568725586,
        "y": 635.6836910247803,
        "wires": [
            [
                "30f31a5b.44d476"
            ]
        ]
    },
    {
        "id": "30f31a5b.44d476",
        "type": "python3-function",
        "z": "9096e101.facd1",
        "name": "set stop state variables",
        "func": "with open(\"/home/pi/shared/log/stopstate_ext.log\", \"w\") as file:\n    file.write(\"stop\")\nwith open(\"/home/pi/shared/log/currentstatus_ext.log\", \"w\") as file:\n    file.write(\"--stopping--\")",
        "outputs": 1,
        "x": 314.0174102783203,
        "y": 635.7944092750549,
        "wires": [
            []
        ]
    },
    {
        "id": "a464627d.14ea2",
        "type": "python3-function",
        "z": "9096e101.facd1",
        "name": "set initial variables",
        "func": "with open(\"/home/pi/shared/log/stopstate_ext.log\", \"w\") as file:\n    file.write(\"run\")\nwith open(\"/home/pi/shared/log/currentstatus_ext.log\", \"w\") as file:\n    file.write(\"--READY--\")\n",
        "outputs": 1,
        "x": 288.01734161376953,
        "y": 468.3501148223877,
        "wires": [
            []
        ]
    },
    {
        "id": "9cdf0b68.8b9528",
        "type": "ui_switch",
        "z": "422031c2.453f9",
        "name": "",
        "label": "Bluetooth on/off",
        "tooltip": "",
        "group": "ffc3612c.3b02c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 106.0173568725586,
        "y": 80.01041412353516,
        "wires": [
            []
        ]
    },
    {
        "id": "bc2d3bfb.df7358",
        "type": "ui_button",
        "z": "422031c2.453f9",
        "name": "",
        "group": "ffc3612c.3b02c",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "⇐",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "200",
        "payloadType": "num",
        "topic": "",
        "x": 77.03691864013672,
        "y": 175.01444244384766,
        "wires": [
            [
                "e80ea9a3.dff558"
            ]
        ]
    },
    {
        "id": "60dfdc80.fb18a4",
        "type": "ui_button",
        "z": "422031c2.453f9",
        "name": "",
        "group": "ffc3612c.3b02c",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "⇒",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "200",
        "payloadType": "num",
        "topic": "",
        "x": 77.03691864013672,
        "y": 215.01444244384766,
        "wires": [
            [
                "7a6aadfb.a690b4"
            ]
        ]
    },
    {
        "id": "c9c4582a.a3de08",
        "type": "ui_button",
        "z": "422031c2.453f9",
        "name": "",
        "group": "ffc3612c.3b02c",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "⇑",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "500",
        "payloadType": "num",
        "topic": "",
        "x": 417.0369186401367,
        "y": 175.01444244384766,
        "wires": [
            [
                "a5de3a6f.cf0ff8"
            ]
        ]
    },
    {
        "id": "2e14b30e.f0b17c",
        "type": "ui_button",
        "z": "422031c2.453f9",
        "name": "",
        "group": "ffc3612c.3b02c",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "⇓",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "200",
        "payloadType": "num",
        "topic": "",
        "x": 417.0369186401367,
        "y": 215.01444244384766,
        "wires": [
            [
                "f4b6ec56.0f717"
            ]
        ]
    },
    {
        "id": "561e8d64.460cb4",
        "type": "ui_text",
        "z": "422031c2.453f9",
        "group": "ffc3612c.3b02c",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Turntable",
        "format": "{{\"\"}}",
        "layout": "row-center",
        "x": 87.03691864013672,
        "y": 135.01444244384766,
        "wires": []
    },
    {
        "id": "6ff43a30.8c7c64",
        "type": "ui_text",
        "z": "422031c2.453f9",
        "group": "ffc3612c.3b02c",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Rotor",
        "format": "{{\"\"}}",
        "layout": "row-center",
        "x": 417.0369186401367,
        "y": 135.01444244384766,
        "wires": []
    },
    {
        "id": "e80ea9a3.dff558",
        "type": "python3-function",
        "z": "422031c2.453f9",
        "name": "TT left",
        "func": "from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/36\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n",
        "outputs": 1,
        "x": 217.03691864013672,
        "y": 175.01444244384766,
        "wires": [
            []
        ]
    },
    {
        "id": "7a6aadfb.a690b4",
        "type": "python3-function",
        "z": "422031c2.453f9",
        "name": "TT right",
        "func": "from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_turntable_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_turntable_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/36\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n",
        "outputs": 1,
        "x": 227.03691864013672,
        "y": 215.01444244384766,
        "wires": [
            []
        ]
    },
    {
        "id": "a5de3a6f.cf0ff8",
        "type": "python3-function",
        "z": "422031c2.453f9",
        "name": "Rotor left",
        "func": "from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/72\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg",
        "outputs": 1,
        "x": 567.0369186401367,
        "y": 175.01444244384766,
        "wires": [
            []
        ]
    },
    {
        "id": "f4b6ec56.0f717",
        "type": "python3-function",
        "z": "422031c2.453f9",
        "name": "Rotor right",
        "func": "from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delay=float(file.read())\n\nstep_count=step_count/72\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg",
        "outputs": 1,
        "x": 577.0369186401367,
        "y": 215.01444244384766,
        "wires": [
            []
        ]
    },
    {
        "id": "543b8cc6.11f404",
        "type": "link in",
        "z": "6fff9eb6.3efc2",
        "name": "reboot",
        "links": [
            "ac9852eb.d953f",
            "ed6f5b97.ee2618"
        ],
        "x": 33.01562309265137,
        "y": 36.953125,
        "wires": [
            [
                "d166c44e.c867d8",
                "4dcdb482.ed48cc"
            ]
        ]
    },
    {
        "id": "4425591d.015bb8",
        "type": "exec",
        "z": "6fff9eb6.3efc2",
        "command": "sdiff -s /home/pi/.node-red/flows_raspberrypi_lastupdate.json /home/pi/.node-red/flows_raspberrypi_downloaded.json",
        "addpay": false,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 621.0104064941406,
        "y": 2069.00390625,
        "wires": [
            [
                "e0c3b2b9.52e"
            ],
            [],
            [
                "98e7b0d5.5ed4e"
            ]
        ]
    },
    {
        "id": "e0c3b2b9.52e",
        "type": "function",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "func": "msg.payload =\"new updates available\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1105.0103607177734,
        "y": 2056.5871810913086,
        "wires": [
            [
                "f00354f5.860508"
            ]
        ]
    },
    {
        "id": "125fa56e.5fd95b",
        "type": "ui_text",
        "z": "6fff9eb6.3efc2",
        "group": "ddd1a14a.d7351",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 116.54400825500488,
        "y": 1827.9102020263672,
        "wires": []
    },
    {
        "id": "98e7b0d5.5ed4e",
        "type": "function",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "func": "msg.payload =\"your system is up to date\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1105.0000114440918,
        "y": 2093.6879272460938,
        "wires": [
            [
                "905b7a58.a15dc8",
                "f36b9e60.64518"
            ]
        ]
    },
    {
        "id": "f00354f5.860508",
        "type": "delay",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1275.996597290039,
        "y": 2057.5941619873047,
        "wires": [
            [
                "4f41da90.68ae84",
                "f36b9e60.64518"
            ]
        ]
    },
    {
        "id": "d317bb78.13be78",
        "type": "inject",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "topic": "",
        "payload": "Started!",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 65,
        "y": 1882.687928199768,
        "wires": [
            [
                "984ca977.1861e8"
            ]
        ]
    },
    {
        "id": "984ca977.1861e8",
        "type": "function",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "func": "msg.payload =\"need to check for updates:\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 275.9999771118164,
        "y": 1885.6880702972412,
        "wires": [
            [
                "531b5b18.b00d64"
            ]
        ]
    },
    {
        "id": "6bc73c41.cc5054",
        "type": "exec",
        "z": "6fff9eb6.3efc2",
        "command": "wget -O /home/pi/.node-red/flows_raspberrypi_downloaded.json https://raw.githubusercontent.com/OpenScanEu/OpenScan/master/update.json",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 702.0277709960938,
        "y": 1979.9934768676758,
        "wires": [
            [],
            [],
            [
                "4425591d.015bb8"
            ]
        ]
    },
    {
        "id": "1281adc3.0200a2",
        "type": "ui_button",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "group": "ddd1a14a.d7351",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Check for Updates",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 95,
        "y": 1937.6879205703735,
        "wires": [
            [
                "6bc73c41.cc5054",
                "2864afd9.f9086"
            ]
        ]
    },
    {
        "id": "dcf9db4b.a1f2f8",
        "type": "ui_button",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "group": "ddd1a14a.d7351",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Install new Updates",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 97.0173568725586,
        "y": 2266.687906265259,
        "wires": [
            [
                "96114630.85bd68"
            ]
        ]
    },
    {
        "id": "52e53d39.e77434",
        "type": "exec",
        "z": "6fff9eb6.3efc2",
        "command": "sudo cp /home/pi/.node-red/flows_raspberrypi_downloaded.json /home/pi/.node-red/flows_raspberrypi_lastupdate.json",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 762.0173263549805,
        "y": 2266.687906265259,
        "wires": [
            [],
            [],
            [
                "24afb22c.0fb70e"
            ]
        ]
    },
    {
        "id": "96114630.85bd68",
        "type": "function",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "func": "if(global.get(\"updateavailability\")==\"new updates available\"){\n    msg.payload =\"updating\"\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 275.0173683166504,
        "y": 2266.687973022461,
        "wires": [
            [
                "19b5f374.71161d",
                "52e53d39.e77434"
            ]
        ]
    },
    {
        "id": "2864afd9.f9086",
        "type": "function",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "func": "msg.payload =\"checking for updates\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 274.017333984375,
        "y": 1937.6878786087036,
        "wires": [
            [
                "fb98048b.dfcc98"
            ]
        ]
    },
    {
        "id": "fb98048b.dfcc98",
        "type": "link out",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "links": [
            "f3022242.0abf8"
        ],
        "x": 378.01955223083496,
        "y": 1938.8063440322876,
        "wires": []
    },
    {
        "id": "f3022242.0abf8",
        "type": "link in",
        "z": "6fff9eb6.3efc2",
        "name": "update",
        "links": [
            "fb98048b.dfcc98",
            "4f41da90.68ae84",
            "905b7a58.a15dc8",
            "531b5b18.b00d64",
            "19b5f374.71161d",
            "dc5ac27e.91a68"
        ],
        "x": 20,
        "y": 1827.8844985961914,
        "wires": [
            [
                "125fa56e.5fd95b"
            ]
        ]
    },
    {
        "id": "4f41da90.68ae84",
        "type": "link out",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "links": [
            "f3022242.0abf8"
        ],
        "x": 1406.01953125,
        "y": 2057.68137550354,
        "wires": []
    },
    {
        "id": "905b7a58.a15dc8",
        "type": "link out",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "links": [
            "f3022242.0abf8"
        ],
        "x": 1200.019543647766,
        "y": 2130.6813821792603,
        "wires": []
    },
    {
        "id": "531b5b18.b00d64",
        "type": "link out",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "links": [
            "f3022242.0abf8"
        ],
        "x": 363.002197265625,
        "y": 1883.6814041137695,
        "wires": []
    },
    {
        "id": "f36b9e60.64518",
        "type": "change",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "updateavailability",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1316.0195121765137,
        "y": 2093.681365966797,
        "wires": [
            []
        ]
    },
    {
        "id": "19b5f374.71161d",
        "type": "link out",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "links": [
            "f3022242.0abf8"
        ],
        "x": 379.01953125,
        "y": 2217.68137550354,
        "wires": []
    },
    {
        "id": "fad84020.11d87",
        "type": "function",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "func": "msg.payload =\"rebooting\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1382.0195274353027,
        "y": 2354.681389808655,
        "wires": [
            [
                "dc5ac27e.91a68"
            ]
        ]
    },
    {
        "id": "dc5ac27e.91a68",
        "type": "link out",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "links": [
            "f3022242.0abf8"
        ],
        "x": 1474.0218172073364,
        "y": 2354.6747665405273,
        "wires": []
    },
    {
        "id": "ed6f5b97.ee2618",
        "type": "link out",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "links": [
            "543b8cc6.11f404"
        ],
        "x": 1348.007779121399,
        "y": 2390.5447006225586,
        "wires": []
    },
    {
        "id": "24afb22c.0fb70e",
        "type": "exec",
        "z": "6fff9eb6.3efc2",
        "command": "sudo cp /home/pi/.node-red/flows_raspberrypi_downloaded.json /home/pi/.node-red/flows_raspberrypi.json",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 719.01953125,
        "y": 2340.6814041137695,
        "wires": [
            [],
            [],
            [
                "1f9ad7ad.951b18"
            ]
        ]
    },
    {
        "id": "1f9ad7ad.951b18",
        "type": "delay",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1205.015609741211,
        "y": 2353.5602645874023,
        "wires": [
            [
                "ed6f5b97.ee2618",
                "fad84020.11d87"
            ]
        ]
    },
    {
        "id": "dac80dc4.2023a",
        "type": "ui_button",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "group": "ddd1a14a.d7351",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset to last update",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 107.01953125,
        "y": 2406.68137550354,
        "wires": [
            [
                "e532ea40.db7278"
            ]
        ]
    },
    {
        "id": "e532ea40.db7278",
        "type": "exec",
        "z": "6fff9eb6.3efc2",
        "command": "sudo cp /home/pi/.node-red/flows_raspberrypi_lastupdate.json /home/pi/.node-red/flows_raspberrypi.json",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 717.01953125,
        "y": 2407.68137550354,
        "wires": [
            [
                "1f9ad7ad.951b18"
            ],
            [],
            []
        ]
    },
    {
        "id": "ed8953a4.f9ce7",
        "type": "function",
        "z": "6fff9eb6.3efc2",
        "name": "",
        "func": "msg.payload =\"no update available\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1036.01953125,
        "y": 2167.68137550354,
        "wires": [
            []
        ]
    }
]
