temp/2020-06-02_OSC.json
[{"id":"68819360.7e7a7c","type":"tab","label":"HOME","disabled":false,"info":""},{"id":"532cea09.a25754","type":"tab","label":"Cloud2","disabled":false,"info":""},{"id":"d6a01399.60299","type":"tab","label":"SCAN","disabled":false,"info":""},{"id":"3ec97011.20579","type":"tab","label":"External","disabled":false,"info":""},{"id":"67f0d11b.66aa4","type":"tab","label":"SETTINGS","disabled":false,"info":""},{"id":"4aee81d.130dd8","type":"tab","label":"UPDATE","disabled":false,"info":""},{"id":"f15aaf51.f4429","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"OpenScan Pi","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":46,"sy":46,"gx":10,"gy":10,"cx":6,"cy":6,"px":6,"py":6}}},{"id":"c19e2c9e.f4b99","type":"ui_spacer","name":"spacer","group":"","order":8,"width":8,"height":1},{"id":"75afd9cb.6a3ed8","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"e49ddca1.744a","type":"ui_spacer","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"987b4012.f9a07","type":"ui_spacer","name":"spacer","group":"","order":5,"width":6,"height":1},{"id":"caea0d6c.4e75","type":"ui_spacer","name":"spacer","group":"","order":6,"width":1,"height":1},{"id":"3fadc6db.3997ea","type":"ui_spacer","name":"spacer","group":"","order":8,"width":1,"height":1},{"id":"f5864201.8e5ff","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"9c6a04ac.e760a8","type":"ui_spacer","name":"spacer","group":"","order":11,"width":1,"height":1},{"id":"bb5bfba5.b3b7b8","type":"ui_spacer","name":"spacer","group":"","order":11,"width":8,"height":1},{"id":"79b73861.bb6048","type":"ui_spacer","name":"spacer","group":"","order":11,"width":8,"height":1},{"id":"1ecaa9e9.4192e6","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"e58f9de6.10904","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"924edf62.f208d","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"1303ee2a.fd44f2","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"5d12f9cd.9c4a88","type":"ui_spacer","name":"spacer","group":"","order":5,"width":6,"height":1},{"id":"88a2f658.ac2378","type":"ui_spacer","name":"spacer","group":"","order":3,"width":6,"height":1},{"id":"d25e08b4.5b27e8","type":"ui_tab","name":"Update & Info","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"ddbd496e.93a288","type":"ui_group","name":"Manage Updates","tab":"d25e08b4.5b27e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"3ce32450.e0cffc","type":"ui_group","name":"Changelog","tab":"d25e08b4.5b27e8","order":2,"disp":true,"width":16,"collapse":false},{"id":"436c5312.8bd37c","type":"ui_spacer","name":"spacer","group":"","order":2,"width":3,"height":1},{"id":"76c2902a.e0813","type":"ui_spacer","name":"spacer","group":"","order":4,"width":3,"height":1},{"id":"e3c989ac.ead728","type":"ui_spacer","name":"spacer","group":"","order":4,"width":6,"height":1},{"id":"b9e9bd43.5257f","type":"ui_spacer","name":"spacer","group":"d77de880.1a5308","order":3,"width":1,"height":1},{"id":"2da4bd3.c2b1042","type":"ui_spacer","name":"spacer","group":"","order":4,"width":6,"height":1},{"id":"9f0a90cb.629f4","type":"ui_spacer","name":"spacer","group":"","order":7,"width":6,"height":1},{"id":"120b6320.a5e22d","type":"ui_spacer","name":"spacer","group":"","order":9,"width":9,"height":1},{"id":"1b856f2d.ee2f81","type":"ui_spacer","name":"spacer","group":"","order":20,"width":9,"height":1},{"id":"fb2c4085.a4745","type":"ui_spacer","name":"spacer","group":"","order":2,"width":6,"height":1},{"id":"45252825.fee608","type":"ui_spacer","name":"spacer","group":"","order":9,"width":6,"height":1},{"id":"ad9b6a27.771fb8","type":"ui_spacer","name":"spacer","group":"","order":12,"width":6,"height":1},{"id":"b69edebc.8b32b","type":"ui_spacer","name":"spacer","group":"","order":19,"width":6,"height":1},{"id":"453edabd.318834","type":"ui_spacer","name":"spacer","group":"","order":3,"width":6,"height":1},{"id":"31161d86.3baa62","type":"ui_spacer","name":"spacer","group":"","order":8,"width":6,"height":1},{"id":"feedb515.8ba2a8","type":"ui_spacer","name":"spacer","group":"","order":2,"width":6,"height":1},{"id":"58ec052e.d6a8ec","type":"ui_spacer","name":"spacer","group":"","order":7,"width":6,"height":1},{"id":"ebb9ea9b.845978","type":"ui_spacer","name":"spacer","group":"","order":5,"width":5,"height":1},{"id":"404f41e6.f5a04","type":"ui_spacer","name":"spacer","group":"","order":7,"width":5,"height":1},{"id":"10d8d56.f5d9f2b","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"c3ea9d05.8cf78","type":"ui_spacer","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"8df9a49e.afb168","type":"ui_spacer","name":"spacer","group":"","order":6,"width":1,"height":1},{"id":"faa2aaa7.b50e98","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"3be89360.d049cc","type":"ui_group","name":"Home","tab":"faa2aaa7.b50e98","order":1,"disp":false,"width":"6","collapse":false},{"id":"82fa21b6.fb85e","type":"ui_tab","name":"Settings","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"bb1dd00e.a62b9","type":"ui_group","name":"General","tab":"82fa21b6.fb85e","order":1,"disp":true,"width":"6","collapse":false},{"id":"6a63d9e3.95e668","type":"ui_group","name":"Network","tab":"82fa21b6.fb85e","order":3,"disp":true,"width":"6","collapse":false},{"id":"61d79297.21257c","type":"ui_spacer","name":"spacer","group":"b961bcf7.823e3","order":2,"width":1,"height":1},{"id":"e6f493e3.fca36","type":"ui_spacer","name":"spacer","group":"69964d6a.08a804","order":3,"width":1,"height":1},{"id":"8c3a2020.a3c41","type":"ui_tab","name":"Scan","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"a3116208.14508","type":"ui_group","name":"Main","tab":"8c3a2020.a3c41","order":1,"disp":false,"width":"6","collapse":false},{"id":"5926c870.c5bfb8","type":"ui_group","name":"PreviewMini","tab":"8c3a2020.a3c41","order":2,"disp":false,"width":"10","collapse":false},{"id":"e8b6a9ce.c333b8","type":"ui_group","name":"Group 1","tab":"","order":2,"disp":false,"width":13,"collapse":false},{"id":"5454a77c.a587d8","type":"ui_spacer","name":"spacer","group":"","order":1,"width":6,"height":1},{"id":"d5240292.8c8b5","type":"ui_spacer","name":"spacer","group":"","order":2,"width":6,"height":1},{"id":"ddad0159.b0b4b","type":"ui_spacer","name":"spacer","group":"","order":3,"width":3,"height":1},{"id":"a50661bc.1fa49","type":"ui_spacer","name":"spacer","group":"","order":5,"width":1,"height":1},{"id":"384b7d50.06da52","type":"ui_spacer","name":"spacer","group":"","order":6,"width":6,"height":1},{"id":"30a6ca20.ffc1c6","type":"ui_spacer","name":"spacer","group":"","order":8,"width":4,"height":1},{"id":"1e226dbf.9220f2","type":"ui_group","name":"Parameters","tab":"82fa21b6.fb85e","order":2,"disp":true,"width":"6","collapse":false},{"id":"3d48edae.861ef2","type":"ui_group","name":"PreviewClassic","tab":"8c3a2020.a3c41","order":3,"disp":false,"width":"14","collapse":false},{"id":"de6b8056.e888a","type":"ui_spacer","name":"spacer","group":"ddbd496e.93a288","order":5,"width":6,"height":1},{"id":"316e6e17.634362","type":"ui_group","name":"External","tab":"8c3a2020.a3c41","order":4,"disp":true,"width":"6","collapse":false},{"id":"9b4feca5.bc36","type":"ui_group","name":"None","tab":"8c3a2020.a3c41","order":5,"disp":false,"width":14,"collapse":false},{"id":"38e25167.61caae","type":"ui_spacer","name":"spacer","group":"a3116208.14508","order":17,"width":6,"height":1},{"id":"23028fbe.09bf5","type":"ui_spacer","name":"spacer","group":"a3116208.14508","order":18,"width":1,"height":1},{"id":"cbcb8fe.ce52a7","type":"ui_spacer","name":"spacer","group":"a3116208.14508","order":21,"width":1,"height":1},{"id":"c6d5a84e.8a6aa8","type":"ui_spacer","name":"spacer","group":"e8b6a9ce.c333b8","order":3,"width":1,"height":1},{"id":"2ddd377d.2a0bc8","type":"ui_spacer","name":"spacer","group":"bb1dd00e.a62b9","order":6,"width":6,"height":1},{"id":"abcc95cf.434298","type":"ui_spacer","name":"spacer","group":"bb1dd00e.a62b9","order":9,"width":6,"height":1},{"id":"892ca41e.f15e68","type":"ui_spacer","name":"spacer","group":"6a63d9e3.95e668","order":4,"width":6,"height":1},{"id":"74db48c9.a99ac8","type":"ui_group","name":"Cloud","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"3fc7691e.5729d6","type":"ui_spacer","name":"spacer","group":"3be89360.d049cc","order":6,"width":6,"height":1},{"id":"68facc19.806c64","type":"ui_spacer","name":"spacer","group":"74db48c9.a99ac8","order":5,"width":6,"height":1},{"id":"15a222ed.d70a7d","type":"ui_tab","name":"Files&Cloud","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"b5fdd57b.15eda8","type":"ui_group","name":"Main","tab":"15a222ed.d70a7d","order":1,"disp":false,"width":"15","collapse":false},{"id":"db43d646.2074c8","type":"ui_group","name":"Group 2","tab":"15a222ed.d70a7d","order":2,"disp":false,"width":"6","collapse":false},{"id":"88570d39.c5b25","type":"ui_group","name":"Cloud Settings","tab":"15a222ed.d70a7d","order":3,"disp":true,"width":"6","collapse":true},{"id":"a3a12a62.452ab8","type":"ui_text","z":"4aee81d.130dd8","group":"ddbd496e.93a288","order":2,"width":0,"height":0,"name":"update text","label":"","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-center","x":270,"y":480,"wires":[]},{"id":"db31530a.7735b","type":"ui_button","z":"4aee81d.130dd8","name":"","group":"ddbd496e.93a288","order":3,"width":0,"height":0,"passthru":false,"label":"Check for Updates","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":200,"wires":[["7600f12d.cf32e","501a81c3.027e5"]]},{"id":"51433c54.55af44","type":"link in","z":"4aee81d.130dd8","name":"update","links":["c803000f.cec2e","babe2a6.c6c27d8","29352168.95ba2e","d33997e3.7b5128","1a32f672.50fafa","629556b9.c99758","e4b7a78b.af9278","b039b421.71ff38","d08d2313.3d81c","eb1b989b.411858","bac9b0cb.79a11","bb2e44d.554e4b8","130354ce.aee30b","946280a5.09db7","4c3f489f.1d5368","611f2d91.2c4414","51094d6d.4c8694","63a4fbc5.934a74"],"x":135,"y":480,"wires":[["a3a12a62.452ab8","5a50b653.49be68","7995fbed.e90774"]]},{"id":"ebf60ed3.4c254","type":"python3-function","z":"4aee81d.130dd8","name":"Compare Versions","func":"import os\n\n\nfile = '/home/pi/shared/ui/data/update.log'\nurl = 'https://raw.githubusercontent.com/OpenScanEu/OpenScan/master/update_universal.log'\ntry:\n    os.remove(file)\nexcept OSError:\n    pass\nos.system('wget -O'+file+' '+url+' >/dev/null 2>&1')\n\n\nwith open(\"/home/pi/shared/ui/data/update.log\", \"r\") as file:\n    versionserver=str(file.read())[:16]\nwith open(\"/home/pi/shared/log/currentversion.log\", \"r\") as file:\n    versionpi=str(file.read())[:16]\n\nmsg['payload']=\"you are up to date\"\n\nif versionpi!=versionserver and versionserver!=\"\":\n    file=\"/home/pi/.node-red/flows_raspberrypi_download.json\"\n    url=\"https://raw.githubusercontent.com/OpenScanEu/OpenScan/master/update_universal.json\"\n    try:\n        os.remove(file)\n    except OSError:\n        pass\n    os.system('wget -O'+file+' '+url+' >/dev/null 2>&1')\n\n    with open(\"/home/pi/shared/log/currentserverversion.log\", \"w\") as file:\n        file.write(versionserver)\n    os.rename(\"/home/pi/.node-red/flows_raspberrypi_download.json\",\"/home/pi/shared/ui/data/old_flows/\"+versionserver+\".json\")\n    msg['payload']=\"new updates available\"\n\nreturn msg","outputs":1,"x":630,"y":200,"wires":[["d08d2313.3d81c","ccefcc90.280d9","da63f320.75bcc"]]},{"id":"a068495.e7347b8","type":"python3-function","z":"4aee81d.130dd8","name":"autoupdate checker","func":"\nwith open(\"/home/pi/shared/log/autoupdatestate.log\", \"r\") as file:\n    autoupdate=file.read()\nmsg['payload']=False\nif autoupdate==\"true\":\n    msg['payload']=True\nreturn msg","outputs":1,"x":310,"y":40,"wires":[["4757554e.08088c"]]},{"id":"4757554e.08088c","type":"ui_switch","z":"4aee81d.130dd8","name":"","label":"Auto-check for updates","tooltip":"Enable the auto-update check after starting the device. (Internet connection required)","group":"ddbd496e.93a288","order":1,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":530,"y":40,"wires":[["8266379e.ed1bb8"]]},{"id":"8266379e.ed1bb8","type":"file","z":"4aee81d.130dd8","name":"","filename":"/home/pi/shared/log/autoupdatestate.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":820,"y":40,"wires":[[]]},{"id":"69253358.bf412c","type":"inject","z":"4aee81d.130dd8","name":"","repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"Started!","payloadType":"str","x":100,"y":40,"wires":[["a068495.e7347b8","302f3bb7.a86654","954bf550.aa5088"]]},{"id":"302f3bb7.a86654","type":"python3-function","z":"4aee81d.130dd8","name":"update check on?","func":"\nwith open(\"/home/pi/shared/log/autoupdatestate.log\", \"r\") as file:\n    autoupdate=file.read()\nif autoupdate==\"true\":\n    msg['payload']=\"on\"\n    return msg\n","outputs":1,"x":310,"y":80,"wires":[["501a81c3.027e5"]]},{"id":"d08d2313.3d81c","type":"link out","z":"4aee81d.130dd8","name":"","links":["51433c54.55af44"],"x":875,"y":160,"wires":[]},{"id":"7600f12d.cf32e","type":"function","z":"4aee81d.130dd8","name":"msg","func":"msg.payload =\"checking for updates\"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":240,"wires":[["eb1b989b.411858"]]},{"id":"eb1b989b.411858","type":"link out","z":"4aee81d.130dd8","name":"","links":["51433c54.55af44"],"x":415,"y":240,"wires":[]},{"id":"ba6a944f.28fbf8","type":"ui_text","z":"4aee81d.130dd8","group":"3ce32450.e0cffc","order":1,"width":0,"height":0,"name":"Your version:","label":"Your version:","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":300,"wires":[]},{"id":"147a8c8b.02d703","type":"ui_text","z":"4aee81d.130dd8","group":"3ce32450.e0cffc","order":2,"width":0,"height":0,"name":"","label":"Most recent version:","format":"{{msg.payload}}","layout":"row-spread","x":520,"y":340,"wires":[]},{"id":"78fe77ae.637248","type":"python3-function","z":"4aee81d.130dd8","name":"msg","func":"\nwith open(\"/home/pi/shared/log/currentversion.log\", \"r\") as file:\n    msg['payload']=file.read()\nreturn msg","outputs":1,"x":270,"y":300,"wires":[["ba6a944f.28fbf8"]]},{"id":"8f30cdc7.d8d0a","type":"python3-function","z":"4aee81d.130dd8","name":"msg","func":"\nwith open(\"/home/pi/shared/log/currentserverversion.log\", \"r\") as file:\n    msg['payload']=file.read()\nreturn msg","outputs":1,"x":270,"y":340,"wires":[["147a8c8b.02d703"]]},{"id":"53d30b48.e7c2b4","type":"function","z":"4aee81d.130dd8","name":"msg","func":"msg.payload =\"installing new version\"\nreturn msg\n\n","outputs":1,"noerr":0,"x":890,"y":560,"wires":[["bb2e44d.554e4b8"]]},{"id":"7e517945.e751d8","type":"exec","z":"4aee81d.130dd8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"install update","x":910,"y":460,"wires":[["c7dea90b.5b6478"],[],[]]},{"id":"bb2e44d.554e4b8","type":"link out","z":"4aee81d.130dd8","name":"","links":["51433c54.55af44"],"x":1055,"y":560,"wires":[]},{"id":"130354ce.aee30b","type":"link out","z":"4aee81d.130dd8","name":"","links":["51433c54.55af44"],"x":1055,"y":520,"wires":[]},{"id":"59489284.99141c","type":"python3-function","z":"4aee81d.130dd8","name":"msg","func":"from time import sleep\nwith open(\"/home/pi/shared/log/currentversion.log\", \"w\") as file:\n    file.write(msg['payload2'])\n\nsleep(2)\nmsg['payload']=\"rebooting...\"\nreturn msg","outputs":1,"x":890,"y":520,"wires":[["130354ce.aee30b","fdbb71b7.ca9b4"]]},{"id":"da63f320.75bcc","type":"link out","z":"4aee81d.130dd8","name":"","links":["fdb965c8.f9e728","e5e35ad0.2dbfd8","e0e065cb.b8d888","e6ce1ce5.31d35","88b5807b.a0959","8745d44c.1a61c8"],"x":875,"y":240,"wires":[]},{"id":"7aae1e89.08d37","type":"function","z":"4aee81d.130dd8","name":"t/f","func":"if (msg.payload === true){\n    msg.payload=true\n    return [msg,null]\n}\nmsg.payload=\"no internet connection\"\nreturn [null,msg]\n","outputs":2,"noerr":0,"x":450,"y":200,"wires":[["ebf60ed3.4c254"],["eb1b989b.411858","ff2b5fe1.2d803"]]},{"id":"f1bbe902.de5cd8","type":"link in","z":"4aee81d.130dd8","name":"Version","links":["ccefcc90.280d9","954bf550.aa5088","fdbb71b7.ca9b4"],"x":135,"y":300,"wires":[["78fe77ae.637248","8f30cdc7.d8d0a","f1199151.89ef6","7995fbed.e90774"]]},{"id":"ccefcc90.280d9","type":"link out","z":"4aee81d.130dd8","name":"","links":["f1bbe902.de5cd8","3a8b7430.734eec","d3eaeac4.a1c968"],"x":875,"y":200,"wires":[]},{"id":"954bf550.aa5088","type":"link out","z":"4aee81d.130dd8","name":"","links":["f1bbe902.de5cd8","3a8b7430.734eec","d3eaeac4.a1c968"],"x":175,"y":80,"wires":[]},{"id":"f1199151.89ef6","type":"python3-function","z":"4aee81d.130dd8","name":"display changelog","func":"with open(\"/home/pi/shared/ui/data/update.log\", \"r\") as file:\n    text=file.read()\nmsg['payload']=text\nreturn msg","outputs":1,"x":310,"y":380,"wires":[["e084eb09.ccf548"]]},{"id":"e084eb09.ccf548","type":"ui_template","z":"4aee81d.130dd8","group":"3ce32450.e0cffc","name":"changelog","order":3,"width":16,"height":7,"format":"<style>\n    #mylog {\n        min-height: 100px;\n        padding: 0;\n        white-space: pre;\n    }\n</style>\n\n<div id=\"mylog\" ng-bind=\"msg.payload\">\n    <!-- file contents will go here -->\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":490,"y":380,"wires":[[]]},{"id":"c8844641.814568","type":"python3-function","z":"4aee81d.130dd8","name":"init exec","func":"if msg['payload']!=\"Yes\":\n    return\npayload=msg['file']\n\nif payload==\"saved.json\":\n    msg['payload']=\"sudo \\cp /home/pi/shared/ui/data/old_flows/\"+payload+\" /home/pi/.node-red/flows_raspberrypi.json\"\nelse:\n    msg['payload']=\"sudo \\cp /home/pi/.node-red/flows_raspberrypi.json  /home/pi/shared/ui/data/old_flows/saved.json && sudo \\cp /home/pi/shared/ui/data/old_flows/\"+payload+\" /home/pi/.node-red/flows_raspberrypi.json\"\n\nmsg['payload2']=payload[:16]\nreturn msg\n\n","outputs":1,"x":740,"y":520,"wires":[["7e517945.e751d8","59489284.99141c","53d30b48.e7c2b4"]]},{"id":"fdbb71b7.ca9b4","type":"link out","z":"4aee81d.130dd8","name":"","links":["f1bbe902.de5cd8","3a8b7430.734eec","d3eaeac4.a1c968"],"x":1055,"y":480,"wires":[]},{"id":"501a81c3.027e5","type":"is online","z":"4aee81d.130dd8","name":"","url":"www.google.com","action":"0","x":300,"y":200,"wires":[["7aae1e89.08d37"]]},{"id":"5a50b653.49be68","type":"python3-function","z":"4aee81d.130dd8","name":"PopUp new Version","func":"from time import sleep\nsleep (1)\n\nif msg['payload']==\"new updates available\":\n    msg['payload']=\"-- New Updates Available --- Install & reboot now?\"\n    return msg","outputs":1,"x":290,"y":520,"wires":[["f8c24f06.ee9ec"]]},{"id":"f8c24f06.ee9ec","type":"ui_toast","z":"4aee81d.130dd8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"No","cancel":"Yes","raw":false,"topic":"","name":"","x":470,"y":520,"wires":[["fc87e670.3212f8"]]},{"id":"fc87e670.3212f8","type":"python3-function","z":"4aee81d.130dd8","name":"msg","func":"import os\n\nif msg['payload']!=\"Yes\":\n    return\nwith open(\"/home/pi/shared/log/currentserverversion.log\", \"r\") as file:\n    msg['file']=file.read()+\".json\"\n\nif os.stat(\"/home/pi/shared/ui/data/old_flows/\"+msg['file']).st_size==0:\n    return\n\nreturn msg","outputs":1,"x":610,"y":520,"wires":[["c8844641.814568"]]},{"id":"2fd3bdd7.2139e2","type":"ui_template","z":"68819360.7e7a7c","group":"3be89360.d049cc","name":"Background","order":1,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"/ui/data/logosmall.jpg\");\n  background-repeat: no-repeat;\n  background-attachment: fixed;\n  background-position: center;\n\n    }\n    #Home_Home {\n        background-color: #cccccc00 !important;\n        border-color: #cccccc00 !important;\n    }\n\n    \n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":130,"y":120,"wires":[[]]},{"id":"608f3a10.1ee3d4","type":"ui_text","z":"68819360.7e7a7c","group":"3be89360.d049cc","order":7,"width":6,"height":1,"name":"","label":"","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"col-center","x":270,"y":40,"wires":[]},{"id":"88b5807b.a0959","type":"link in","z":"68819360.7e7a7c","name":"New Update Note","links":["c986d5f5.bba4f8","edf1402c.a1828","da63f320.75bcc","ebdd3932.2c1de8"],"x":73,"y":41,"wires":[["608f3a10.1ee3d4"]]},{"id":"8284268a.5399e8","type":"inject","z":"68819360.7e7a7c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"Started!","payloadType":"str","x":120,"y":400,"wires":[["c71c9170.f39d5"]]},{"id":"340d59b9.52d586","type":"python3-function","z":"68819360.7e7a7c","name":"download files","func":"import os.path\nimport os\nfrom time import sleep\nfrom pip._internal import main as pipmain\n\nflag=False\n\nsleep(2)\n\ndef download(file,url):\n    if(os.path.exists(file)==False or os.stat(file)==0):\n        try:\n            os.system('wget -O'+file+' '+url)\n            flag=True\n        except:\n            pass\n        return\n    statinfo=os.stat(file)\n    if(statinfo.st_size==0):\n        try:\n            os.system('wget -O'+file+' '+url)\n            flag=True\n        except:\n            pass        \n        return\n\ndef install_module(name):\n    try:\n        import requests\n    except:\n        os.system('pip install ' + module)\n        flag = True\n\nfile = '/home/pi/shared/ui/data/bmc-new-btn-logo.svg'\nurl = 'https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg'\ndownload(file,url)\n\nfile = '/home/pi/.node-red/settings_openscan.js'\nurl = 'https://raw.githubusercontent.com/OpenScanEu/OpenScan/master/settings.js'\ndownload(file,url)\n\nfile = '/home/pi/shared/ui/data/logosmall.jpg'\nurl = 'https://raw.githubusercontent.com/OpenScanEu/OpenScan/master/temp/Logosmall.jpg'\ndownload(file,url)\n\nmodules=['requests']\nfor module in modules:\n    pipmain(['install', module])\n\nif flag==True:\n    os.system(\"sudo systemctl restart nodered\")\nreturn msg\n","outputs":1,"x":841,"y":400,"wires":[["145315bb.4e8f0a","74a393db.a3eacc"]]},{"id":"61578186.d7bfe","type":"python3-function","z":"68819360.7e7a7c","name":"create path","func":"import os.path\nimport os\nflag=False\n\ndef new_path(path):\n    if(os.path.exists(path)==False):\n        os.mkdir(path)\n        flag=True\n    else:\n        pass\n\nnew_path(\"/home/pi/shared/\")\nnew_path(\"/home/pi/shared/ui\")\nnew_path(\"/home/pi/shared/ui/data\")\nnew_path(\"/home/pi/shared/ui/data/old_flows\")\nnew_path(\"/home/pi/shared/ui/data/zip\")\nnew_path(\"/home/pi/shared/ui/data/temp\")\nnew_path(\"/home/pi/shared/log\")\n\n\nif flag==True:\n    os.system(\"sudo systemctl restart nodered\")\nreturn msg","outputs":1,"x":410,"y":400,"wires":[["7dcc8efb.55029"]]},{"id":"4468f691.103eb8","type":"ui_button","z":"68819360.7e7a7c","name":"","group":"3be89360.d049cc","order":2,"width":3,"height":2,"passthru":false,"label":"SCAN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":110,"y":200,"wires":[["62cd5288.2805fc"]]},{"id":"6560dd25.9e76c4","type":"ui_button","z":"68819360.7e7a7c","name":"","group":"3be89360.d049cc","order":4,"width":3,"height":2,"passthru":false,"label":"Settings","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":120,"y":280,"wires":[["62cd5288.2805fc"]]},{"id":"62cd5288.2805fc","type":"ui_ui_control","z":"68819360.7e7a7c","name":"","events":"all","x":321,"y":200,"wires":[["4e47fd3c.83c3d4"]]},{"id":"71e72293.91c6fc","type":"ui_button","z":"68819360.7e7a7c","name":"","group":"3be89360.d049cc","order":3,"width":3,"height":2,"passthru":false,"label":"Files","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":110,"y":240,"wires":[["62cd5288.2805fc"]]},{"id":"e7306ef2.3b4df","type":"ui_button","z":"68819360.7e7a7c","name":"","group":"3be89360.d049cc","order":5,"width":3,"height":2,"passthru":false,"label":"Update&Info","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"num","topic":"","x":130,"y":320,"wires":[["62cd5288.2805fc"]]},{"id":"4bfb5998.ef1028","type":"exec","z":"67f0d11b.66aa4","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":530,"y":100,"wires":[[],[],[]]},{"id":"b856e02b.b64f3","type":"exec","z":"67f0d11b.66aa4","command":"sudo shutdown -h now","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":560,"y":180,"wires":[[],[],[]]},{"id":"bc8e5552.04ba68","type":"delay","z":"67f0d11b.66aa4","name":"","pauseType":"delay","timeout":"1.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":180,"wires":[["b856e02b.b64f3"]]},{"id":"3e9d2ca4.953d44","type":"delay","z":"67f0d11b.66aa4","name":"","pauseType":"delay","timeout":"1.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":100,"wires":[["4bfb5998.ef1028"]]},{"id":"19bc6938.44e717","type":"python3-function","z":"67f0d11b.66aa4","name":"blink","func":"from time import sleep\nimport RPi.GPIO as GPIO\n\nsleeptime = 0.05\n\nwith open(\"/home/pi/shared/log/pin_ringlight1.log\", \"r\") as file:\n    ringlightpin1=int(file.read())\nwith open(\"/home/pi/shared/log/pin_ringlight2.log\", \"r\") as file:\n    ringlightpin2=int(file.read())\n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(ringlightpin1, GPIO.OUT)\nGPIO.setup(ringlightpin2, GPIO.OUT)\nGPIO.output(ringlightpin2, GPIO.LOW)\n\nwith open(\"/home/pi/shared/log/ringlightstatus1.log\", \"w\") as file:\n    file.write(\"off\")\nwith open(\"/home/pi/shared/log/ringlightstatus2.log\", \"w\") as file:\n    file.write(\"off\")\n\nfor x in range(10):\n    GPIO.output(ringlightpin1, GPIO.HIGH)\n    sleep(sleeptime)\n    GPIO.output(ringlightpin1, GPIO.LOW)\n    sleep(sleeptime)\nmsg['payload']=\"off\"\nreturn msg","outputs":1,"x":310,"y":140,"wires":[["e2c98417.753298"]]},{"id":"e2c98417.753298","type":"link out","z":"67f0d11b.66aa4","name":"","links":["673d8724.9543c8"],"x":395,"y":140,"wires":[]},{"id":"118a6113.30ceef","type":"link in","z":"67f0d11b.66aa4","name":"reboot","links":["c7dea90b.5b6478","2e855701.980d58","d39ec6b5.59f828","b049eb75.c59518","8fbf8c4f.14c49","5655f832.104fe8","f3b9579c.9b00c8"],"x":215,"y":60,"wires":[["3e9d2ca4.953d44","19bc6938.44e717"]]},{"id":"b8ef7981.8e81d8","type":"link in","z":"67f0d11b.66aa4","name":"shutdown","links":["ed11f34c.e784","9dd4f722.11ff78"],"x":215,"y":220,"wires":[["bc8e5552.04ba68","19bc6938.44e717"]]},{"id":"52440334.0fa80c","type":"file","z":"67f0d11b.66aa4","name":"","filename":"/home/pi/shared/log/ssh.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":720,"y":320,"wires":[[]]},{"id":"596b6655.6f8c18","type":"ui_switch","z":"67f0d11b.66aa4","name":"","label":"SSH Off/On","tooltip":"Start/Stop SSH Service, which allows remote access to the device","group":"bb1dd00e.a62b9","order":1,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":470,"y":320,"wires":[["52440334.0fa80c","f493cf3d.8cb4a"]]},{"id":"33383870.fb78e8","type":"exec","z":"67f0d11b.66aa4","command":"sudo /etc/init.d/ssh stop ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":990,"y":400,"wires":[[],[],[]]},{"id":"f493cf3d.8cb4a","type":"function","z":"67f0d11b.66aa4","name":"exec","func":"if (msg.payload === true){\n    return [msg,null]\n}\nif (msg.payload ===false){\n    return [null,msg]\n}","outputs":2,"noerr":0,"x":650,"y":360,"wires":[["9bc0f8b9.3b1738"],["33383870.fb78e8"]]},{"id":"9bc0f8b9.3b1738","type":"exec","z":"67f0d11b.66aa4","command":"sudo /etc/init.d/ssh start","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":990,"y":340,"wires":[[],[],[]]},{"id":"b5fd55b5.a6ae18","type":"inject","z":"67f0d11b.66aa4","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"Started!","payloadType":"str","x":100,"y":320,"wires":[["e1c7c026.bf90c","35f7bc9e.5f2d74","30eb4a0d.032de6","88a22dc7.342eb","468cbf31.112a2","dc03a256.9663c"]]},{"id":"7e0d26a0.e32c08","type":"file","z":"67f0d11b.66aa4","name":"","filename":"/home/pi/shared/log/samba.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":730,"y":460,"wires":[[]]},{"id":"1e8187ab.c4a128","type":"ui_switch","z":"67f0d11b.66aa4","name":"","label":"Samba Off/On","tooltip":"Start/Stop Samba Filesharing Server to remotely access the Pi's filesystem","group":"bb1dd00e.a62b9","order":2,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":480,"y":460,"wires":[["7e0d26a0.e32c08","686dc68e.f6e288"]]},{"id":"31c3fea3.6d1bd2","type":"exec","z":"67f0d11b.66aa4","command":"sudo /etc/init.d/smbd stop","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":990,"y":540,"wires":[[],[],[]]},{"id":"686dc68e.f6e288","type":"function","z":"67f0d11b.66aa4","name":"exec","func":"if (msg.payload === true){\n    return [msg,null]\n}\nreturn [null,msg]\n","outputs":2,"noerr":0,"x":650,"y":500,"wires":[["9afad387.0e93f"],["31c3fea3.6d1bd2"]]},{"id":"9afad387.0e93f","type":"exec","z":"67f0d11b.66aa4","command":"sudo /etc/init.d/smbd start","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":990,"y":480,"wires":[[],[],[]]},{"id":"e1c7c026.bf90c","type":"python3-function","z":"67f0d11b.66aa4","name":"check ssh","func":"\nwith open(\"/home/pi/shared/log/ssh.log\", \"r\") as file:\n    state=file.read()\nmsg['payload']=False\nif state==\"true\":\n    msg['payload']=True\nreturn msg","outputs":1,"x":300,"y":320,"wires":[["596b6655.6f8c18"]]},{"id":"35f7bc9e.5f2d74","type":"python3-function","z":"67f0d11b.66aa4","name":"check samba","func":"\nwith open(\"/home/pi/shared/log/samba.log\", \"r\") as file:\n    state=file.read()\nmsg['payload']=False\nif state==\"true\":\n    msg['payload']=True\nreturn msg","outputs":1,"x":310,"y":460,"wires":[["1e8187ab.c4a128"]]},{"id":"2ca648be.6ecc18","type":"ui_dropdown","z":"67f0d11b.66aa4","name":"Pi Camera","label":"Pi Camera","tooltip":"","place":"Select option","group":"bb1dd00e.a62b9","order":5,"width":0,"height":0,"passthru":false,"options":[{"label":"v1 (5mpx)","value":"v1","type":"str"},{"label":"v2 (8mpx)","value":"v2","type":"str"},{"label":"HQ (12.3mpx)","value":"HQ","type":"str"}],"payload":"","topic":"","x":470,"y":560,"wires":[["a4e86041.3c58f"]]},{"id":"7dcc8efb.55029","type":"python3-function","z":"68819360.7e7a7c","name":"create new files + content","func":"import os.path\nfrom time import sleep\nimport os\n\nflag=False\n\ndef new_file(filepath,content):\n    if os.path.isfile(filepath):\n        if os.stat(filepath).st_size==0:\n            with open(filepath, \"w\") as file:\n                file.write(content)\n            flag=True\n        else:\n            pass\n    else:\n        with open(filepath, \"w\") as file:\n            file.write(content)\n        flag=True\n\nnew_file(\"/home/pi/shared/log/camera_resolution_x.log\",\"3280\")\nnew_file(\"/home/pi/shared/log/camera_resolution_y.log\",\"2464\")\nnew_file(\"/home/pi/shared/log/camera_type.log\",\"v2\")\n\nnew_file(\"/home/pi/shared/log/rotor_acc.log\",\"1\")\nnew_file(\"/home/pi/shared/log/rotor_accramp.log\",\"200\")\nnew_file(\"/home/pi/shared/log/rotor_angle.log\",\"5\")\nnew_file(\"/home/pi/shared/log/rotor_delay.log\",\"0.0005\")\nnew_file(\"/home/pi/shared/log/rotor_stepsperrotation.log\",\"17067\")\nnew_file(\"/home/pi/shared/log/pin_rotor_dir.log\",\"5\")\nnew_file(\"/home/pi/shared/log/pin_rotor_step.log\",\"6\")\n\nnew_file(\"/home/pi/shared/log/turntable_acc.log\",\"1\")\nnew_file(\"/home/pi/shared/log/turntable_accramp.log\",\"200\")\nnew_file(\"/home/pi/shared/log/turntable_angle.log\",\"10\")\nnew_file(\"/home/pi/shared/log/turntable_delay.log\",\"0.0005\")\nnew_file(\"/home/pi/shared/log/turntable_stepsperrotation.log\",\"3200\")\nnew_file(\"/home/pi/shared/log/pin_turntable_dir.log\",\"9\")\nnew_file(\"/home/pi/shared/log/pin_turntable_step.log\",\"11\")\nnew_file(\"/home/pi/shared/log/pin_externalcam.log\",\"10\")\n\nnew_file(\"/home/pi/shared/log/ringlightstatus1.log\",\"10\")\nnew_file(\"/home/pi/shared/log/ringlightstatus2.log\",\"10\")\nnew_file(\"/home/pi/shared/log/pin_ringlight1.log\",\"17\")\nnew_file(\"/home/pi/shared/log/pin_ringlight2.log\",\"27\")\n\nnew_file(\"/home/pi/shared/log/ssh.log\",\"true\")\nnew_file(\"/home/pi/shared/log/samba.log\",\"true\")\nnew_file(\"/home/pi/shared/log/currentstatus_rpi.log\",\"--READY--\")\nnew_file(\"/home/pi/shared/log/currentstatus_ext.log\",\"--READY--\")\nnew_file(\"/home/pi/shared/log/delay_ext.log\",\"1200\")\n\nnew_file(\"/home/pi/shared/log/cropx.log\",\"0\")\nnew_file(\"/home/pi/shared/log/cropy.log\",\"0\")\nnew_file(\"/home/pi/shared/log/shutterspeed.log\",\"300\")\nnew_file(\"/home/pi/shared/log/stopstate.log\",\"run\")\nnew_file(\"/home/pi/shared/log/updatepreview.log\",\"start\")\n\nnew_file(\"/home/pi/shared/log/feedback_status.log\",\"\")\nnew_file(\"/home/pi/shared/log/openscan_model.log\",\"none\")\nnew_file(\"/home/pi/shared/log/autoupdatestate.log\",\"true\")\nnew_file(\"/home/pi/shared/log/currentserverversion.log\",\"1;\")\nnew_file(\"/home/pi/shared/log/currentversion.log\",\"1\")\nnew_file(\"/home/pi/shared/ui/data/update.log\",\"1\")\nnew_file(\"/home/pi/shared/log/manual_en.log\",\"1\")\nnew_file(\"/home/pi/shared/log/manual_en_new.log\",\"1\")\nnew_file(\"/home/pi/shared/log/feedback_terms.log\",\"False\")\n\nnew_file(\"/home/pi/shared/log/awb_red.log\",\"1.7\")\nnew_file(\"/home/pi/shared/log/awb_blue.log\",\"1.7\")\nnew_file(\"/home/pi/shared/log/angle_min.log\",\"-20\")\nnew_file(\"/home/pi/shared/log/angle_max.log\",\"90\")\nnew_file(\"/home/pi/shared/log/preview.log\",\"True\")\nnew_file(\"/home/pi/shared/log/startangle.log\",\"0\")\n\nnew_file(\"/home/pi/shared/log/cloudid.log\",\"\")\n\nnew_file(\"/home/pi/shared/log/cloudstatus.log\",\"\")\nnew_file(\"/home/pi/shared/log/token.log\",\"\")\nnew_file(\"/home/pi/shared/log/size_to_split.log\",\"200000000\")\n\n\n\nif flag==True:\n    os.system(\"sudo systemctl restart nodered\")\nreturn msg\n","outputs":1,"x":611,"y":400,"wires":[["340d59b9.52d586","237ab576.12040a"]]},{"id":"30eb4a0d.032de6","type":"python3-function","z":"67f0d11b.66aa4","name":"load var","func":"with open(\"/home/pi/shared/log/camera_type.log\", \"r\") as file:\n    camera=file.read()\n\nmsg['payload']=camera\nreturn msg","outputs":1,"x":300,"y":560,"wires":[["2ca648be.6ecc18"]]},{"id":"a4e86041.3c58f","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"camera=msg['payload']\n\nif camera==\"HQ\":\n    resx=4056\n    resy=3040\nif camera==\"v1\":\n    resx=2592\n    resy=1944\nif camera==\"v2\":\n    resx=3280\n    resy=2464\n    \nwith open(\"/home/pi/shared/log/camera_resolution_x.log\", \"w\") as file:\n        file.write(str(resx))\nwith open(\"/home/pi/shared/log/camera_resolution_y.log\", \"w\") as file:\n        file.write(str(resy))\n\nwith open(\"/home/pi/shared/log/camera_type.log\", \"w\") as file:\n        file.write(camera)\n","outputs":1,"x":650,"y":560,"wires":[[]]},{"id":"903d7ae1.04e6b8","type":"exec","z":"67f0d11b.66aa4","command":"sudo iwlist wlan0 scan | grep ESSID | sed 's/ESSID://g;s/\"//g;s/^ *//;s/ *$//'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"scan","x":390,"y":1160,"wires":[["3d378aa1.ee5556"],[],[]]},{"id":"3d378aa1.ee5556","type":"function","z":"67f0d11b.66aa4","name":"parseOptions","func":"var ssids = msg.payload.split('\\n').filter(s => !!s)\n\nssids = [...new Set(ssids)];\n\nmsg.options = ssids\nmsg.payload = null\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1140,"wires":[["8bcc312a.62bdd"]]},{"id":"8bcc312a.62bdd","type":"ui_dropdown","z":"67f0d11b.66aa4","name":"","label":"Wifi","tooltip":"","place":"Select a WIFI","group":"6a63d9e3.95e668","order":6,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":710,"y":1140,"wires":[["17cbe304.02596d"]]},{"id":"1b7bd51.ec9b82b","type":"ui_button","z":"67f0d11b.66aa4","name":"","group":"6a63d9e3.95e668","order":5,"width":0,"height":0,"passthru":false,"label":"Scan","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":90,"y":1200,"wires":[["389d2a21.b2b3f6"]]},{"id":"fb8dcaaf.e5f688","type":"ui_form","z":"67f0d11b.66aa4","name":"","label":"","group":"6a63d9e3.95e668","order":7,"width":6,"height":4,"options":[{"label":"SSID","value":"ssid","type":"text","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null},{"label":"Country Code (ISO/IEC)","value":"country","type":"text","required":true,"rows":null}],"formValue":{"ssid":"","password":"","country":""},"payload":"","submit":"UPDATE","cancel":"RESET","topic":"","x":90,"y":1320,"wires":[["1c6011e1.303cbe","5320ad4.6d7cb54"]]},{"id":"17cbe304.02596d","type":"function","z":"67f0d11b.66aa4","name":"","func":"\nmsg.payload = {ssid: msg.payload}\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1140,"wires":[["fb8dcaaf.e5f688"]]},{"id":"1c6011e1.303cbe","type":"function","z":"67f0d11b.66aa4","name":"getPassphrase","func":"var data = msg.payload\n\nvar command = `wpa_passphrase \"${data.ssid}\" \"${data.password}\" | sed '/#psk=\".*\"/d'`\n \nmsg.payload = command\nmsg.status = \"updating Wifi settings\"\nreturn msg","outputs":1,"noerr":0,"x":240,"y":1320,"wires":[["d8d225a7.1ad2f8","3cf3f356.3b000c"]]},{"id":"d8d225a7.1ad2f8","type":"exec","z":"67f0d11b.66aa4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":390,"y":1320,"wires":[["1597f7d6.477dc8"],[],[]]},{"id":"c08fc408.ba9478","type":"function","z":"67f0d11b.66aa4","name":"updateWpasupplicant","func":"var template = `sudo tee /etc/wpa_supplicant/wpa_supplicant.conf <<EOF\nctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev\nupdate_config=1\ncountry=${msg.country}\n\n${msg.payload}\nEOF\\n\n`\n\nmsg.payload = template\n\nreturn msg;","outputs":1,"noerr":0,"x":589,"y":1313,"wires":[["d00f3990.d59908"]]},{"id":"d00f3990.d59908","type":"exec","z":"67f0d11b.66aa4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"updateConf","x":790,"y":1320,"wires":[["ebbe2ff6.91f6"],[],[]]},{"id":"ebbe2ff6.91f6","type":"exec","z":"67f0d11b.66aa4","command":"sudo wpa_cli -i wlan0 reconfigure","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"reconfigure","x":950,"y":1320,"wires":[["8dd4616d.3d017"],[],[]]},{"id":"8dd4616d.3d017","type":"function","z":"67f0d11b.66aa4","name":"showMessage","func":"\nmsg.payload = msg.payload.trim() === 'OK' ? \"Wifi configuration updated successfully\" : \"Error while updating wifi configuration\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":1320,"wires":[["501e226d.98a19c"]]},{"id":"501e226d.98a19c","type":"ui_toast","z":"67f0d11b.66aa4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1110,"y":1360,"wires":[[]]},{"id":"b18db489.54c168","type":"switch","z":"67f0d11b.66aa4","name":"ifWifi","property":"name","propertyType":"msg","rules":[{"t":"eq","v":"Wifi","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":1160,"wires":[["903d7ae1.04e6b8","f393400.d87dcc"]]},{"id":"5320ad4.6d7cb54","type":"change","z":"67f0d11b.66aa4","name":"","rules":[{"t":"set","p":"country","pt":"global","to":"payload.country","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":1360,"wires":[[]]},{"id":"1597f7d6.477dc8","type":"change","z":"67f0d11b.66aa4","name":"","rules":[{"t":"set","p":"country","pt":"msg","to":"country","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":529,"y":1353,"wires":[["c08fc408.ba9478"]]},{"id":"f393400.d87dcc","type":"python3-function","z":"67f0d11b.66aa4","name":"check ip address","func":"import socket\nimport subprocess\n\nrouting = subprocess.check_output(\"route | grep '^default' | grep -o '[^ ]*$'\", shell=True)\nif routing==\"wlan0\\n\":\n    routing=\"Wifi\"\nelif routing==\"eth0\\n\":\n    routing=\"Ethernet\"\nelif routing==\"eth0\\nwlan0\\n\" or routing==\"wlan0\\neth0\\n\":\n    routing=\"Ethernet+Wifi\"\nelse:\n    routing=\"none\"\n\n\ntestIP = \"8.8.8.8\"\ns = socket.socket(socket.AF_INET, socket.SOCK_DGRAM)\ns.connect((testIP, 0))\nipaddr = s.getsockname()[0]\nhost = socket.gethostname()\n\n\n\nmsg['routing']=routing\nmsg['ip']=ipaddr\nmsg['hostname']=host\n\nreturn msg","outputs":1,"x":430,"y":1100,"wires":[["3c9df58c.5f38aa","bb789eed.9f73c","ebc8cbc7.fc79e8"]]},{"id":"3c9df58c.5f38aa","type":"ui_text","z":"67f0d11b.66aa4","group":"6a63d9e3.95e668","order":3,"width":0,"height":0,"name":"","label":"Hostname:","format":"{{msg.hostname}}","layout":"row-spread","x":610,"y":1100,"wires":[]},{"id":"bb789eed.9f73c","type":"ui_text","z":"67f0d11b.66aa4","group":"6a63d9e3.95e668","order":1,"width":0,"height":0,"name":"","label":"Your local IP:","format":"{{msg.ip}}","layout":"row-spread","x":610,"y":1060,"wires":[]},{"id":"6bc729ef.ed6838","type":"inject","z":"67f0d11b.66aa4","name":"","repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"Started!","payloadType":"str","x":200,"y":1100,"wires":[["903d7ae1.04e6b8","f393400.d87dcc"]]},{"id":"577ed26b.27d3ac","type":"python3-function","z":"67f0d11b.66aa4","name":"","func":"msg['payload']=\"This is a free piece of software and it is provided 'as is', without any warranty. There might be functions that need a connection to the internet: By pressing 'GET FEATURES' you agree that the shown preview image will be transfered, stored and processed via SFTP. By pressing 'UPLOAD FILES&GET FEEDBACK' you agree, that the following data will be transmitted, stored and processed via SFTP to my (Thomas Megel, OpenScan, Halle, Germany) server: three compressed images of the chosen photo-set, routine parameters, email address, IP address. I will use those information to create a detailed feedback on the image quality/scan settings and send a response to the given email address. The email address and IP will be deleted after 7 days. The images and routine parameters might be used for further experiments (e.g. machine learning to automate the process). If you have any questions you can contact me at info@openscan.eu. The connection used, is a direct, encrypted line between your device and my server - no AWS, no Google analytics, no Facebook whatsoever ... THE SOFTWARE IS PROVIDED 'AS IS' WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR ANYONE DISTRIBUTING THE SOFTWARE BE LIABLE FOR ANY DAMAGES OR OTHER LIABILITY, WHETHER IN CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE\"\nreturn msg","outputs":1,"x":480,"y":640,"wires":[["74f9bf59.355c2"]]},{"id":"74f9bf59.355c2","type":"ui_toast","z":"67f0d11b.66aa4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":670,"y":640,"wires":[[]]},{"id":"f3bc73a0.82622","type":"ui_button","z":"67f0d11b.66aa4","name":"","group":"bb1dd00e.a62b9","order":7,"width":6,"height":1,"passthru":false,"label":"Terms of Use","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":310,"y":640,"wires":[["577ed26b.27d3ac"]]},{"id":"cedbd18.437723","type":"ui_switch","z":"67f0d11b.66aa4","name":"","label":"Read&Agree:","tooltip":"","group":"bb1dd00e.a62b9","order":8,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":480,"y":600,"wires":[["cdca8cce.5565c"]]},{"id":"cdca8cce.5565c","type":"python3-function","z":"67f0d11b.66aa4","name":"Terms of Use","func":"with open(\"/home/pi/shared/log/feedback_terms.log\", \"w+\") as file:\n    file.write(str(msg['payload']))\n\nreturn msg","outputs":1,"x":670,"y":600,"wires":[[]]},{"id":"88a22dc7.342eb","type":"python3-function","z":"67f0d11b.66aa4","name":"Terms of Use","func":"with open(\"/home/pi/shared/log/feedback_terms.log\", \"r\") as file:\n    terms=file.read()\n    if terms==\"True\":\n        msg['payload']=True\n    else:\n        msg['payload']=False\nreturn msg","outputs":1,"x":310,"y":600,"wires":[["cedbd18.437723"]]},{"id":"2a0f9919.4c9a86","type":"comment","z":"67f0d11b.66aa4","name":"WIFI","info":"","x":70,"y":1020,"wires":[]},{"id":"ebc8cbc7.fc79e8","type":"ui_text","z":"67f0d11b.66aa4","group":"6a63d9e3.95e668","order":2,"width":0,"height":0,"name":"","label":"Connected by","format":"{{msg.routing}}","layout":"row-spread","x":620,"y":1020,"wires":[]},{"id":"389d2a21.b2b3f6","type":"ui_ui_control","z":"67f0d11b.66aa4","name":"onTab","events":"all","x":210,"y":1200,"wires":[["903d7ae1.04e6b8","f393400.d87dcc","a49f0248.f0fd5"]]},{"id":"3cf3f356.3b000c","type":"ui_text","z":"67f0d11b.66aa4","group":"6a63d9e3.95e668","order":8,"width":0,"height":0,"name":"","label":"","format":"{{msg.status}}","layout":"row-spread","x":660,"y":1220,"wires":[]},{"id":"a49f0248.f0fd5","type":"python3-function","z":"67f0d11b.66aa4","name":"check ip address","func":"msg['status']=\"\"\nreturn msg","outputs":1,"x":430,"y":1200,"wires":[["3cf3f356.3b000c"]]},{"id":"5447bdcd.9e1684","type":"ui_dropdown","z":"67f0d11b.66aa4","name":"","label":"Model","tooltip":"Choose which build version you are using","place":"Choose Model","group":"bb1dd00e.a62b9","order":4,"width":0,"height":0,"passthru":false,"options":[{"label":"OpenScan Mini","value":"OpenScanMini","type":"str"},{"label":"OpenScan Classic","value":"OpenScanClassic","type":"str"},{"label":"OpenScan Classic (Ext)","value":"OpenScanClassicExt","type":"str"}],"payload":"","topic":"","x":450,"y":720,"wires":[["bf4290a5.12118","fe9ce51.bd97018"]]},{"id":"468cbf31.112a2","type":"python3-function","z":"67f0d11b.66aa4","name":"load var","func":"with open(\"/home/pi/shared/log/openscan_model.log\", \"r\") as file:\n    model=file.read()\n\nmsg['payload']=model\nreturn msg","outputs":1,"x":300,"y":720,"wires":[["5447bdcd.9e1684","bf4290a5.12118"]]},{"id":"fe9ce51.bd97018","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"model=msg['payload']\n\nif model==\"OpenScanMini\":\n    with open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"w\") as file:\n        file.write(\"48000\")\n    with open(\"/home/pi/shared/log/openscan_model.log\", \"w\") as file:\n        file.write(\"OpenScanMini\")\n    with open(\"/home/pi/shared/log/rotor_delay.log\",\"w\") as file:\n        file.write(\"0.00008\")\n    with open(\"/home/pi/shared/log/turntable_delay.log\",\"w\") as file:\n        file.write(\"0.0001\")\nelif model==\"OpenScanClassic\":\n    with open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"w\") as file:\n        file.write(\"17067\")\n    with open(\"/home/pi/shared/log/openscan_model.log\", \"w\") as file:\n        file.write(\"OpenScanClassic\")\n    with open(\"/home/pi/shared/log/rotor_delay.log\",\"w\") as file:\n        file.write(\"0.0001\")\n    with open(\"/home/pi/shared/log/turntable_delay.log\",\"w\") as file:\n        file.write(\"0.0001\")\nelif model==\"OpenScanClassicExt\":\n    with open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"w\") as file:\n        file.write(\"17067\")\n    with open(\"/home/pi/shared/log/openscan_model.log\", \"w\") as file:\n        file.write(\"OpenScanClassicExt\")\n    with open(\"/home/pi/shared/log/rotor_delay.log\",\"w\") as file:\n        file.write(\"0.0001\")\n    with open(\"/home/pi/shared/log/turntable_delay.log\",\"w\") as file:\n        file.write(\"0.0001\")\n    with open(\"/home/pi/shared/log/delay_ext.log\",\"w\") as file:\n        file.write(\"1200\")\nreturn msg","outputs":1,"x":650,"y":720,"wires":[["c558b64a.ffde48"]]},{"id":"c7dea90b.5b6478","type":"link out","z":"4aee81d.130dd8","name":"","links":["118a6113.30ceef"],"x":1055,"y":440,"wires":[]},{"id":"f2eac4a6.e1c448","type":"ui_dropdown","z":"d6a01399.60299","name":"","label":"","tooltip":"","place":"Number of Photos","group":"a3116208.14508","order":13,"width":6,"height":1,"passthru":true,"options":[{"label":"30 Photos","value":30,"type":"num"},{"label":"40 Photos","value":40,"type":"num"},{"label":"50 Photos","value":50,"type":"num"},{"label":"70 Photos","value":70,"type":"num"},{"label":"100 Photos","value":100,"type":"num"},{"label":"150 Photos","value":150,"type":"num"},{"label":"200 Photos","value":200,"type":"num"},{"label":"300 Photos","value":300,"type":"num"}],"payload":"","topic":"","x":280,"y":200,"wires":[["b3bae6a6.f15d58"]]},{"id":"b3bae6a6.f15d58","type":"change","z":"d6a01399.60299","name":"","rules":[{"t":"set","p":"numberofphotos","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":200,"wires":[[]]},{"id":"ec55861d.db0c88","type":"ui_button","z":"d6a01399.60299","name":"start routine","group":"a3116208.14508","order":14,"width":1,"height":1,"passthru":false,"label":"","tooltip":"start the routine","color":"","bgcolor":"","icon":"fa-play","payload":"","payloadType":"date","topic":"enabled","x":90,"y":640,"wires":[["d098c652.525408","a145cea0.e5a6","f472b69d.2b2b38"]]},{"id":"828e5298.d2192","type":"ui_button","z":"d6a01399.60299","name":"","group":"a3116208.14508","order":7,"width":2,"height":1,"passthru":false,"label":"","tooltip":"Move turntable right","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"","x":570,"y":80,"wires":[["b12e54fb.3141b8"]]},{"id":"96c7e241.458e6","type":"ui_button","z":"d6a01399.60299","name":"","group":"a3116208.14508","order":8,"width":2,"height":1,"passthru":false,"label":"","tooltip":"Move turntable left","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"","x":570,"y":120,"wires":[["37f52dd4.bd7572"]]},{"id":"2e854876.6b6008","type":"ui_button","z":"d6a01399.60299","name":"","group":"a3116208.14508","order":4,"width":2,"height":1,"passthru":false,"label":"","tooltip":"Move rotor up","color":"","bgcolor":"","icon":"","payload":"500","payloadType":"num","topic":"","x":70,"y":80,"wires":[["555aea34.b3b5e4"]]},{"id":"753817f.1b9b3e8","type":"ui_button","z":"d6a01399.60299","name":"","group":"a3116208.14508","order":5,"width":2,"height":1,"passthru":false,"label":"","tooltip":"Move rotor down","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"","x":70,"y":120,"wires":[["9905e0c9.dddcd"]]},{"id":"8775044.3aa3ef8","type":"ui_text","z":"d6a01399.60299","group":"a3116208.14508","order":6,"width":2,"height":1,"name":"","label":"Turntable","format":"{{\"\"}}","layout":"row-center","x":580,"y":40,"wires":[]},{"id":"9e8a2d23.bf6ce","type":"ui_text","z":"d6a01399.60299","group":"a3116208.14508","order":3,"width":2,"height":1,"name":"","label":"Rotor","format":"{{\"\"}}","layout":"row-center","x":70,"y":40,"wires":[]},{"id":"6ab04bf9.304b34","type":"python3-function","z":"d6a01399.60299","name":"TT left","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nSTEP=int(load(\"pin_turntable_step\"))\nDIR=int(load(\"pin_turntable_dir\"))\nstep_count=int(load(\"turntable_stepsperrotation\"))\ndelaytt=float(load(\"turntable_delay\"))\nangle=float(load(\"turntable_angle\"))\nramp=int(load(\"turntable_accramp\"))\nacc=ramp*float(load(\"turntable_acc\"))\n\nstep_count=int(step_count*angle/360)\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\ndelay=delaytt\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    if x<=ramp and x<=step_count/2:\n        delay=delaytt+(ramp-x)*delaytt/acc\n    elif step_count-x<=ramp and x>step_count/2:\n        delay=delaytt+(ramp-step_count+x)*delaytt/acc\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n","outputs":1,"x":831,"y":80,"wires":[["e7ba40b3.31032"]]},{"id":"8ed4a4f6.4e9ba8","type":"python3-function","z":"d6a01399.60299","name":"TT right","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nSTEP=int(load(\"pin_turntable_step\"))\nDIR=int(load(\"pin_turntable_dir\"))\nstep_count=int(load(\"turntable_stepsperrotation\"))\ndelaytt=float(load(\"turntable_delay\"))\nangle=float(load(\"turntable_angle\"))\nramp=int(load(\"turntable_accramp\"))\nacc=ramp*float(load(\"turntable_acc\"))\n\nstep_count=int(step_count*angle/360)\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\ndelay=delaytt\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    if x<=ramp and x<=step_count/2:\n        delay=delaytt+(ramp-x)*delaytt/acc\n    elif step_count-x<=ramp and x>step_count/2:\n        delay=delaytt+(ramp-step_count+x)*delaytt/acc\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n","outputs":1,"x":840,"y":120,"wires":[["e7ba40b3.31032"]]},{"id":"46e00b45.c24ca4","type":"python3-function","z":"d6a01399.60299","name":"Rotor left","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nSTEP=int(load(\"pin_rotor_step\"))\nDIR=int(load(\"pin_rotor_dir\"))\nstep_count=int(load(\"rotor_stepsperrotation\"))\ndelaytt=float(load(\"rotor_delay\"))\nangle=float(load(\"rotor_angle\"))\nramp=int(load(\"rotor_accramp\"))\nacc=ramp*float(load(\"rotor_acc\"))\n\nstep_count=int(step_count*angle/360)\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    if x<=ramp and x<=step_count/2:\n        delay=delaytt+(ramp-x)*delaytt/acc\n    elif step_count-x<=ramp and x>step_count/2:\n        delay=delaytt+(ramp-step_count+x)*delaytt/acc\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n","outputs":1,"x":340,"y":80,"wires":[["a8e4056f.671c58"]]},{"id":"f8d64a61.cc2d68","type":"python3-function","z":"d6a01399.60299","name":"Rotor right","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nSTEP=int(load(\"pin_rotor_step\"))\nDIR=int(load(\"pin_rotor_dir\"))\nstep_count=int(load(\"rotor_stepsperrotation\"))\ndelaytt=float(load(\"rotor_delay\"))\nangle=float(load(\"rotor_angle\"))\nramp=int(load(\"rotor_accramp\"))\nacc=ramp*float(load(\"rotor_acc\"))\n\nstep_count=int(step_count*angle/360)\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    if x<=ramp and x<=step_count/2:\n        delay=delaytt+(ramp-x)*delaytt/acc\n    elif step_count-x<=ramp and x>step_count/2:\n        delay=delaytt+(ramp-step_count+x)*delaytt/acc\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n","outputs":1,"x":350,"y":120,"wires":[["a8e4056f.671c58"]]},{"id":"e7ba40b3.31032","type":"link out","z":"d6a01399.60299","name":"","links":["2ec25eee.175402","35a36b3b.902074","9eafa9a.929b058","8265a779.7254d8"],"x":955,"y":100,"wires":[]},{"id":"a8e4056f.671c58","type":"link out","z":"d6a01399.60299","name":"","links":["2ec25eee.175402","35a36b3b.902074","9eafa9a.929b058","8265a779.7254d8"],"x":455,"y":100,"wires":[]},{"id":"555aea34.b3b5e4","type":"delay","z":"d6a01399.60299","name":"lmt 0.2/s","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":80,"wires":[["46e00b45.c24ca4"]]},{"id":"9905e0c9.dddcd","type":"delay","z":"d6a01399.60299","name":"lmt 0.2/s","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":120,"wires":[["f8d64a61.cc2d68"]]},{"id":"b12e54fb.3141b8","type":"delay","z":"d6a01399.60299","name":"lmt 0.2/s","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":700,"y":80,"wires":[["6ab04bf9.304b34"]]},{"id":"37f52dd4.bd7572","type":"delay","z":"d6a01399.60299","name":"lmt 0.2/s","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":700,"y":120,"wires":[["8ed4a4f6.4e9ba8"]]},{"id":"72dbc485.cfa6cc","type":"ui_button","z":"d6a01399.60299","name":"stop routine","group":"a3116208.14508","order":15,"width":1,"height":1,"passthru":false,"label":"","tooltip":"stop the routine","color":"","bgcolor":"","icon":"fa-stop","payload":"numberofphotos","payloadType":"global","topic":"","x":470,"y":560,"wires":[["661f4357.da73cc","5ed56421.39b04c"]]},{"id":"1803d412.6aff6c","type":"python3-function","z":"d6a01399.60299","name":"goto Endstop","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\ndef write(parameter,value):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"w\") as file:\n        file.write(str(value))\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nif load(\"currentstatus_rpi\")==\"no camera found\" or load(\"currentstatus_rpi\")[:5]==\"Featu\":\n    return\n\n\nwrite(\"currentstatus_rpi\",\"Routine-preparing\")\n\n\n\n\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delaytt=float(file.read())\n\nwith open(\"/home/pi/shared/log/rotor_angle.log\", \"r\") as file:\n    angle=float(file.read())\nwith open(\"/home/pi/shared/log/rotor_accramp.log\", \"r\") as file:\n    ramp=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_acc.log\", \"r\") as file:\n    acc=ramp*float(file.read())   \n\nstep_count=int(step_count*angle/360)\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    if x<=ramp and x<=step_count/2:\n        delay=delaytt+(ramp-x)*delaytt/acc\n    elif step_count-x<=ramp and x>step_count/2:\n        delay=delaytt+(ramp-step_count+x)*delaytt/acc\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nwith open(\"/home/pi/shared/log/pin_rotor_step.log\", \"r\") as file:\n    STEP=int(file.read())\nwith open(\"/home/pi/shared/log/pin_rotor_dir.log\", \"r\") as file:\n    DIR=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_stepsperrotation.log\", \"r\") as file:\n    step_count=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    delaytt=float(file.read())\nwith open(\"/home/pi/shared/log/rotor_angle.log\", \"r\") as file:\n    angle=float(file.read())\nwith open(\"/home/pi/shared/log/rotor_accramp.log\", \"r\") as file:\n    ramp=int(file.read())\nwith open(\"/home/pi/shared/log/rotor_acc.log\", \"r\") as file:\n    acc=ramp*float(file.read())   \n\nstep_count=1000\nendstoppin=25\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(endstoppin, GPIO.IN)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\n\n\n\nfor x in range(50000):\n    if GPIO.input(endstoppin)!=1 or x<200:\n        GPIO.output(STEP, GPIO.HIGH)\n        if x<=ramp and x<=step_count/2:\n            delay=delaytt+(ramp-x)*delaytt/acc\n        sleep(delay)\n        GPIO.output(STEP, GPIO.LOW)\n        sleep(delay)\nGPIO.cleanup()\n\nreturn msg","outputs":1,"x":1169,"y":600,"wires":[[]]},{"id":"2b94f4d0.70e3cc","type":"python3-function","z":"d6a01399.60299","name":"Run Routine","func":"import time\nfrom time import sleep\nfrom picamera import PiCamera\nimport math\nimport RPi.GPIO as GPIO\nfrom zipfile import ZipFile\nimport os\nfrom PIL import Image\n\n\n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\n\ndef write(parameter,value):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"w\") as file:\n        file.write(str(value))\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nif load(\"currentstatus_rpi\")==\"no camera found\" or load(\"currentstatus_rpi\")[:5]==\"Featu\":\n    return\n\ndef ttrun(angle):\n    step_count=int(angle*ttspr/360)\n    GPIO.setup(dirpintt, GPIO.OUT)\n    GPIO.setup(steppintt, GPIO.OUT)\n    if (step_count>0):\n        GPIO.output(dirpintt, GPIO.HIGH)\n    if(step_count<0):\n        GPIO.output(dirpintt, GPIO.LOW)\n        step_count=-step_count\n    for x in range(step_count):\n        GPIO.output(steppintt, GPIO.HIGH)\n        if x<=ttramp and x<=step_count/2:\n            delay=delaytt+(ttramp-x)*delaytt/ttacc\n        elif step_count-x<=ttramp and x>step_count/2:\n            delay=delaytt+(ttramp-step_count+x)*delaytt/ttacc\n        sleep(delay)\n        GPIO.output(steppintt, GPIO.LOW)\n        sleep(delay)\n\ndef rotorrun(angle):\n    \n    step_count=int(angle*rotorspr/360)\n    GPIO.setup(dirpinrotor, GPIO.OUT)\n    GPIO.setup(steppinrotor, GPIO.OUT)\n    if (step_count>0):\n        GPIO.output(dirpinrotor, GPIO.HIGH)\n    if(step_count<0):\n        GPIO.output(dirpinrotor, GPIO.LOW)\n        step_count=-step_count\n    for x in range(step_count):\n        GPIO.output(steppinrotor, GPIO.HIGH)\n        if x<=rotorramp and x<=step_count/2:\n            delay=delayrotor+(rotorramp-x)*delayrotor/rotoracc\n        elif step_count-x<=rotorramp and x>step_count/2:\n            delay=delayrotor+(rotorramp-step_count+x)*delayrotor/rotoracc\n        sleep(delay)\n        GPIO.output(steppinrotor, GPIO.LOW)\n        sleep(delay)\n\ndef get_points(samples=1):\n    points = []\n    phi = math.pi * (3. - math.sqrt(5.))\n    for i in range(samples):\n        y = 1 - (i / float(samples - 1)) * 2  \n        radius = math.sqrt(1 - y * y)  \n        theta = phi * i  \n        x = math.cos(theta) * radius\n        z = math.sin(theta) * radius\n        r=math.sqrt(x*x+y*y+z*z)\n        theta_neu=math.acos(z/r)*180/math.pi\n        phi_neu=math.atan2(y,x)*180/math.pi\n        points.append((theta_neu-90,phi_neu))\n    points.sort()\n    return points\n\ndef filter_points(angle_min, angle_max,point_count):\n    point_count_final=point_count\n    point_count=point_count*90/(angle_max-angle_min)\n    actual_points=0\n    while actual_points<point_count_final:\n        points=get_points(point_count)\n        filtered=[]\n        for x,y in points:\n            if x>angle_min and x<angle_max and len(filtered)<point_count_final:\n                filtered.append((x,y))\n        actual_points=len(filtered)\n\n        if point_count-actual_points>20:\n            point_count=point_count+3\n        else:\n            point_count=point_count+1\n    return filtered\n\ndef zip(filepath):\n    with ZipFile(\"/home/pi/shared/temp.zip\", \"a\") as zip:\n        zip.write(filepath, os.path.basename(filepath))\n    os.remove(filepath)\n\nwrite(\"currentstatus_rpi\",\"Routine-preparing\")\nsleep(1.5)\n\ndirpinrotor=int(load(\"pin_rotor_dir\"))\nsteppinrotor=int(load(\"pin_rotor_step\"))\ndirpintt=int(load(\"pin_turntable_dir\"))\nsteppintt=int(load(\"pin_turntable_step\"))\nrotorspr=int(load(\"rotor_stepsperrotation\"))\nttspr=int(load(\"turntable_stepsperrotation\"))\ndelayrotor=float(load(\"rotor_delay\"))\ndelaytt=float(load(\"turntable_delay\"))\nttramp=int(load(\"turntable_accramp\"))\nttacc=ttramp*float(load(\"turntable_acc\"))\nrotorramp=int(load(\"rotor_accramp\"))\nrotoracc=rotorramp*float(load(\"rotor_acc\"))\nprojectname=load(\"projectname\")\n\nshutterspeed=100*int(load(\"shutterspeed\"))\nresx=int(load(\"camera_resolution_x\"))\nresy=int(load(\"camera_resolution_y\"))\ncurrentstatus=load(\"currentstatus_rpi\")\ncropx=float(load(\"cropx\"))\ncropy=float(load(\"cropy\"))\nawb_red=float(load(\"awb_red\"))\nawb_blue=float(load(\"awb_blue\"))\n\nangle_max=int(load(\"angle_max\"))\nangle_min=int(load(\"angle_min\"))\nstartangle=int(load(\"startangle\"))\n\n\nmodel=load(\"openscan_model\")\n\npoint_count=msg['payload']\n\nprojectcode =time.strftime(\"20%y-%m-%d_%H.%M.%S-\")+projectname+'/'\ndirname='/home/pi/shared/'+projectcode\nos.makedirs(dirname)  \n\npoints=filter_points(angle_min,angle_max,point_count)\ncamera = PiCamera(resolution=(resx,resy))\nlastpoint=(startangle,0)\n\ncounter=0\n\nfor p in points:\n    counter=counter+1\n    if load(\"currentstatus_rpi\")==\"Routine-stopping\":\n        break\n    write(\"currentstatus_rpi\",\"Routine-Photo \"+str(counter)+\" of \"+str(point_count))\n    rotorrun(lastpoint[0]-p[0])\n    ttrun(p[1]-lastpoint[1])\n    lastpoint=p\n    filepath = dirname+str(counter)+\".jpg\"\n    camera.iso = 100\n    camera.meter_mode = 'spot'\n    camera.shutter_speed = shutterspeed\n    camera.exposure_mode = 'off'\n    camera.awb_mode = 'off'\n    camera.awb_gains = (awb_red,awb_blue)\n    camera.brightness = 50\n    camera.contrast = 0\n    camera.exposure_compensation = 0 \n    zoom_x_center=cropx/200\n    zoom_y_center=cropy/200\n    zoom_x_width=1-cropx/100\n    zoom_y_height=1-cropy/100\n    x=int(resx*zoom_x_width)\n    y=int(resy*zoom_y_height)\n    camera.zoom=(zoom_x_center,zoom_y_center,zoom_x_width,zoom_y_height)\n    sleep(0.5)\n    camera.capture(filepath,quality=100,resize=(x,y))\n\n    if load(\"preview\")==\"true\":\n        img = Image.open(filepath)\n        img = img.resize( [int(0.3 * s) for s in img.size] )\n        if model==\"OpenScanMini\":\n            img  = img.transpose(Image.ROTATE_90)\n        img.save(\"/home/pi/shared/ui/data/preview.jpg\")\n        img.close()\n    zip(filepath)\n    \n\ncamera.close()\ntry:\n    os.rename('/home/pi/shared/temp.zip','/home/pi/shared/ui/data/zip/'+projectcode[:-1]+'.zip')\n    os.rmdir(dirname)\nexcept:\n    pass\nwrite(\"currentstatus_rpi\",\"Routine-done\")\nrotorrun(lastpoint[0]-startangle)\nwrite(\"currentstatus_rpi\",\"--READY--\")\nmsg['enable']=False\nreturn msg","outputs":1,"x":470,"y":640,"wires":[["47063317.6eaffc","72dbc485.cfa6cc","f3756372.5aae"]]},{"id":"fabd05fd.e60e18","type":"python3-function","z":"d6a01399.60299","name":"Take Preview Shot","func":"from time import sleep\nfrom time import time\nimport subprocess\nfrom PIL import Image\nfrom picamera import PiCamera\n\n\ndef write(parameter,value):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"w\") as file:\n        file.write(str(value))\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nmsg['payload']=\"/ui/data/preview.jpg?ts=\"+str(int(time()*10))\n\nstatus= load(\"currentstatus_rpi\")\nmodel=load(\"openscan_model\")\n\nif model!=\"OpenScanClassic\" and model!=\"OpenScanMini\":\n    return\n\nif status!=\"--READY--\":\n    if model==\"OpenScanClassic\":\n        return msg,None\n    if model==\"OpenScanMini\":\n        return None,msg\n\nif subprocess.check_output([\"vcgencmd\",\"get_camera\"])[-2:-1]==\"0\":\n    write(\"currentstatus_rpi\",\"no camera found\")\n\n\n\nshutterspeed=130*int(load(\"shutterspeed\"))\nresx=int(load(\"camera_resolution_x\"))\nresy=int(load(\"camera_resolution_y\"))\ncropx=float(load(\"cropx\"))\ncropy=float(load(\"cropy\"))\nawb_red=float(load(\"awb_red\"))\nawb_blue=float(load(\"awb_blue\"))\n\ndownscale=3\nfilepath=\"./shared/ui/data/preview.jpg\"\n\n\ntry:\n    camera = PiCamera(resolution=(resx/downscale,resy/downscale))\nexcept:\n    return msg\n\ncamera.iso = 100\ncamera.meter_mode = 'spot'\ncamera.shutter_speed = shutterspeed\ncamera.exposure_mode = 'off'\ncamera.awb_mode = 'off'\ncamera.awb_gains = (awb_red,awb_blue)\ncamera.brightness = 50\ncamera.contrast = 0\ncamera.exposure_compensation = 0 \n    \nzoom_x_center=cropx/200\nzoom_y_center=cropy/200\nzoom_x_width=1-cropx/100\nzoom_y_height=1-cropy/100\n\nx=int(resx/downscale*zoom_x_width)\ny=int(resy/downscale*zoom_y_height)\n\ncamera.zoom=(zoom_x_center,zoom_y_center,zoom_x_width,zoom_y_height)\ncamera.capture(filepath,quality=90,resize=(x,y))\ncamera.close()\n    \n\nif model==\"OpenScanClassic\":\n    return msg,None\nif model==\"OpenScanMini\":\n    img = Image.open(filepath)\n    img  = img.transpose(Image.ROTATE_90)\n    img.save(filepath)\n    img.close()\n    return None,msg","outputs":2,"x":550,"y":520,"wires":[["ee62c618.244b08"],["2c564562.4b74ca"]]},{"id":"c4a2e0fa.72b23","type":"delay","z":"d6a01399.60299","name":"","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1.6","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":280,"y":520,"wires":[["fabd05fd.e60e18"]]},{"id":"8265a779.7254d8","type":"link in","z":"d6a01399.60299","name":"Update Preview RPi","links":["4bafeaee.da8274","1519cfac.723f1","1c4b5036.a10fd","1a794560.38424b","529400f0.1e473","cdc6c714.a50768","f5ee2b34.38c468","e24779c5.096f48","bb4b43c8.b49e7","efcbec58.ac2c1","eedbeec5.3e917","fd86cde7.a001f","7d837f2b.4beee","845a52f.82102b","cde489b7.74bc38","d7a485a0.2bbff8","771a440b.43fc7c","f94f9607.4e8fd8","5df71560.5080cc","d3678a8e.ae49f8","e7ba40b3.31032","a8e4056f.671c58","eb62b7d4.0132d8","e4418285.9871","69642193.b4a81"],"x":55,"y":520,"wires":[["c4a2e0fa.72b23"]]},{"id":"26cc92dc.acb20e","type":"ui_slider","z":"d6a01399.60299","name":"","label":"Ringlight","tooltip":"","group":"a3116208.14508","order":9,"width":6,"height":1,"passthru":true,"outs":"all","topic":"","min":0,"max":"2","step":1,"x":280,"y":440,"wires":[["e60eb5f2.dbfef8"]]},{"id":"7b8b5ab2.f17ee4","type":"ui_slider","z":"d6a01399.60299","name":"shutter ","label":" Shutter","tooltip":"adjust the camera shutter speed","group":"a3116208.14508","order":10,"width":6,"height":1,"passthru":true,"outs":"end","topic":"","min":"1","max":"200","step":"1","x":410,"y":240,"wires":[["a9d6c524.8990b8"]]},{"id":"6bf17a51.1a8844","type":"ui_slider","z":"d6a01399.60299","name":"cropx","label":" Crop X","tooltip":"Crop the image horizontally ","group":"a3116208.14508","order":11,"width":6,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":"90","step":"1","x":410,"y":280,"wires":[["b623ca34.f4e488"]]},{"id":"979e4f10.31314","type":"ui_slider","z":"d6a01399.60299","name":"cropy","label":" Crop Y","tooltip":"crop the image vertically","group":"a3116208.14508","order":12,"width":6,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":"90","step":"1","x":410,"y":320,"wires":[["8deca115.73c88"]]},{"id":"b623ca34.f4e488","type":"python3-function","z":"d6a01399.60299","name":"save","func":"value=str(msg['payload'])\nwith open(\"/home/pi/shared/log/cropx.log\", \"w\") as file:\n    file.write(value)","outputs":1,"x":550,"y":280,"wires":[[]]},{"id":"8deca115.73c88","type":"python3-function","z":"d6a01399.60299","name":"save","func":"value=str(msg['payload'])\nwith open(\"/home/pi/shared/log/cropy.log\", \"w\") as file:\n    file.write(value)\n","outputs":1,"x":550,"y":320,"wires":[[]]},{"id":"a9d6c524.8990b8","type":"python3-function","z":"d6a01399.60299","name":"save","func":"value=str(msg['payload'])\nwith open(\"/home/pi/shared/log/shutterspeed.log\", \"w\") as file:\n    file.write(value)\n","outputs":1,"x":550,"y":240,"wires":[[]]},{"id":"104ac669.d1160a","type":"file in","z":"d6a01399.60299","name":"CropY","filename":"/home/pi/shared/log/cropy.log","format":"","chunk":false,"sendError":false,"encoding":"none","x":270,"y":320,"wires":[["979e4f10.31314"]]},{"id":"16692560.d48c8b","type":"file in","z":"d6a01399.60299","name":"CropX","filename":"/home/pi/shared/log/cropx.log","format":"","chunk":false,"sendError":false,"encoding":"none","x":270,"y":280,"wires":[["6bf17a51.1a8844"]]},{"id":"759846e8.01b538","type":"file in","z":"d6a01399.60299","name":"Shutter","filename":"/home/pi/shared/log/shutterspeed.log","format":"","chunk":false,"sendError":false,"encoding":"none","x":280,"y":240,"wires":[["7b8b5ab2.f17ee4"]]},{"id":"f60d784c.88f6d8","type":"inject","z":"d6a01399.60299","name":"50","repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"50","payloadType":"num","x":90,"y":200,"wires":[["759846e8.01b538","16692560.d48c8b","104ac669.d1160a","f2eac4a6.e1c448","a92fee09.5b75f","428250a9.e4c9a"]]},{"id":"e60eb5f2.dbfef8","type":"python3-function","z":"d6a01399.60299","name":"Ringlight on/off","func":"from time import sleep\nimport RPi.GPIO as GPIO\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nringlightpin1=int(load(\"pin_ringlight1\"))\nringlightpin2=int(load(\"pin_ringlight2\"))\n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(ringlightpin1, GPIO.OUT)\nGPIO.setup(ringlightpin2, GPIO.OUT)\n\nstate=msg['payload']\n\nif state == 2:\n    GPIO.output(ringlightpin1, GPIO.HIGH)\n    GPIO.output(ringlightpin2, GPIO.HIGH)\nelif state == 1:\n    GPIO.output(ringlightpin1, GPIO.HIGH)\n    GPIO.output(ringlightpin2, GPIO.LOW)\nelif state == 0:\n    GPIO.output(ringlightpin1, GPIO.LOW)\n    GPIO.output(ringlightpin2, GPIO.LOW)\n","outputs":1,"x":540,"y":440,"wires":[[]]},{"id":"fd775ab5.428b08","type":"inject","z":"d6a01399.60299","name":"","repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"0","payloadType":"num","x":90,"y":440,"wires":[["26cc92dc.acb20e"]]},{"id":"9b6182a7.2e9cf","type":"ui_text","z":"d6a01399.60299","group":"a3116208.14508","order":1,"width":0,"height":0,"name":"","label":"Current Status:","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":540,"y":480,"wires":[]},{"id":"cef21bdb.44c208","type":"python3-function","z":"d6a01399.60299","name":"load&color","func":"def load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\ntry:\n    msg['payload']=load(\"currentstatus_rpi\")\nexcept:\n    msg['payload']=\"\"\n\nif msg['payload']==\"no camera found\":\n    msg['color']=\"red\"\n    pass\nreturn msg","outputs":1,"x":290,"y":480,"wires":[["9b6182a7.2e9cf"]]},{"id":"3d294cf8.de3f04","type":"inject","z":"d6a01399.60299","name":"","repeat":"0.2","crontab":"","once":false,"onceDelay":"2.4","topic":"Repeat","payload":"0.2","payloadType":"str","x":90,"y":480,"wires":[["cef21bdb.44c208","c4a2e0fa.72b23"]]},{"id":"d098c652.525408","type":"change","z":"d6a01399.60299","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"numberofphotos","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":640,"wires":[["2b94f4d0.70e3cc"]]},{"id":"661f4357.da73cc","type":"python3-function","z":"d6a01399.60299","name":"stop","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\ndef write(parameter,value):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"w\") as file:\n        file.write(str(value))\n\nif load(\"currentstatus_rpi\")==\"no camera found\" or load(\"currentstatus_rpi\")[:5]==\"Featu\" or load(\"currentstatus_rpi\")==\"--READY--\":\n    return\n\nwrite(\"currentstatus_rpi\",\"Routine-stopping\")","outputs":1,"x":630,"y":560,"wires":[[]]},{"id":"a92fee09.5b75f","type":"python3-function","z":"d6a01399.60299","name":"blink&initialize","func":"from time import sleep\nimport RPi.GPIO as GPIO\nimport subprocess\n\nsleep(1)\n\nif subprocess.check_output([\"vcgencmd\",\"get_camera\"])[-2:-1]==\"0\":\n    with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n        file.write(\"no camera found\")\n    return\nwith open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n        file.write(\"--READY--\")\n\nsleeptime = 0.05\n\nwith open(\"/home/pi/shared/log/pin_ringlight1.log\", \"r\") as file:\n    ringlightpin1=int(file.read())\nwith open(\"/home/pi/shared/log/pin_ringlight2.log\", \"r\") as file:\n    ringlightpin2=int(file.read())\n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(ringlightpin1, GPIO.OUT)\nGPIO.setup(ringlightpin2, GPIO.OUT)\nGPIO.output(ringlightpin2, GPIO.LOW)\n\nfor x in range(10):\n    GPIO.output(ringlightpin1, GPIO.HIGH)\n    sleep(sleeptime)\n    GPIO.output(ringlightpin1, GPIO.LOW)\n    sleep(sleeptime)\n","outputs":1,"x":300,"y":360,"wires":[[]]},{"id":"428250a9.e4c9a","type":"function","z":"d6a01399.60299","name":"Reset Project Name","func":"msg.payload=\"default\"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":400,"wires":[["e2c19204.dbf3a","f529b2aa.df168"]]},{"id":"e2c19204.dbf3a","type":"ui_text_input","z":"d6a01399.60299","name":"","label":"Project Name","tooltip":"enter project name + press enter","group":"a3116208.14508","order":2,"width":6,"height":1,"passthru":true,"mode":"text","delay":"300","topic":"","x":520,"y":380,"wires":[["f529b2aa.df168"]]},{"id":"f529b2aa.df168","type":"file","z":"d6a01399.60299","name":"","filename":"/home/pi/shared/log/projectname.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":770,"y":400,"wires":[[]]},{"id":"47063317.6eaffc","type":"link out","z":"d6a01399.60299","name":"","links":["970cd91c.64af38","56bfaded.24c964","d43a7558.561ff8","bfd6a454.75ff08","9fe48cec.1f81f","8ee1b3bb.7b0b3","2f4c0f98.dee2","52d7b84f.51dd18"],"x":595,"y":640,"wires":[]},{"id":"ebdb99aa.b6bc68","type":"ui_button","z":"d6a01399.60299","name":"Show Features Mini","group":"a3116208.14508","order":16,"width":4,"height":1,"passthru":false,"label":"Show Features","tooltip":"Calculate Features on the current preview image","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":450,"y":700,"wires":[["c40709cc.d9c6b8"]]},{"id":"c40709cc.d9c6b8","type":"python3-function","z":"d6a01399.60299","name":"Preview for features","func":"import time\nimport picamera\nfrom time import sleep\nfrom PIL import Image\nfrom picamera import PiCamera\n\ndef write(parameter,value):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"w\") as file:\n        file.write(str(value))\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nif load(\"feedback_terms\")==\"False\":\n    msg['payload']=\"Please read and agree to the Terms of Use (See Settings Menu) before you can use this function\"\n    return None,msg\n\nif load(\"currentstatus_rpi\")[:5]==\"Routi\":\n    return\n\nwrite(\"currentstatus_rpi\",\"Feature-Initialize\")\nsleep(1.5)\n\nshutterspeed=100*int(load(\"shutterspeed\"))\nresx=int(load(\"camera_resolution_x\"))\nresy=int(load(\"camera_resolution_y\"))\ncropx=float(load(\"cropx\"))\ncropy=float(load(\"cropy\"))\nawb_red=float(load(\"awb_red\"))\nawb_blue=float(load(\"awb_blue\"))\n\nmodel=load(\"openscan_model\")\n\nfilepath=\"./shared/ui/data/preview.jpg\"\n\ncamera = PiCamera(resolution=(resx,resy))\ncamera.iso = 100\ncamera.meter_mode = 'spot'\ncamera.shutter_speed = shutterspeed\ncamera.exposure_mode = 'off'\ncamera.awb_mode = 'off'\ncamera.awb_gains = (awb_red,awb_blue)\ncamera.brightness = 50\ncamera.contrast = 0\ncamera.exposure_compensation = 0 \nzoom_x_center=cropx/200\nzoom_y_center=cropy/200\nzoom_x_width=1-cropx/100\nzoom_y_height=1-cropy/100\nx=int(resx*zoom_x_width)\ny=int(resy*zoom_y_height)\ncamera.zoom=(zoom_x_center,zoom_y_center,zoom_x_width,zoom_y_height)\ncamera.capture(filepath,quality=100,resize=(x,y))\ncamera.close()\nimg = Image.open(filepath)\nif model==\"OpenScanMini\":\n    img  = img.transpose(Image.ROTATE_90)\nimg.save(filepath)\nimg.close()\nreturn msg\n","outputs":2,"x":660,"y":700,"wires":[["3138623e.98929e"],["852e46e0.9d80b8"]]},{"id":"3138623e.98929e","type":"python3-function","z":"d6a01399.60299","name":"features","func":"import os\nimport os\nfrom PIL import Image\nimport uuid\nfrom time import time\nfrom time import sleep\nrepeats=5\ndelay=3\n\n\nfilepath=\"/home/pi/shared/ui/data/preview.jpg\"\n\nkey=uuid.uuid4().hex[:30].replace('0','X').replace('O','Y')\n\npw=\"MKN3iOE4u9qICzHzBmjwuWNt8UD62aP8uPxcOqsrwramqrMcoPJd7dJLz44B4VGRUOKk9W5C4viKrrINagKxvmrLDajrgg8Wkh4I\"\nuser=\"feature\"\nserver=\"openscanfeedback.dnsuser.de\"\nport=str(1312)\npw_down=\"nnEDBxDrDPFPWKZIylxbL21U9QhUrnBWIqsnYUgmLPsCd1ZiJtClrS2bxc8wJq7DSIZNOoiWnMNrLnuJadNagCKhsDCyCVRiUBpf\"\nuser_down=\"download\"\ntarget=\"/home/pi/shared/log/\"+key+\".jpg\"\ntarget_feature=\"/home/pi/shared/ui/data/feature.jpg\"\nos.system(\"sudo cp \"+filepath+\" \"+target)\n\ndef status(text):\n    with open(\"/home/pi/shared/log/currentstatus_rpi.log\", \"w\") as file:\n        file.write(text)\n    msg['payload']=text\n    pass\n\ndef onlinetest():\n    if os.system(\"nc -w 1 \"+server+\" \"+port)==0:\n        status(\"server is online\")\n        \n    else:\n        status(\"server not reachable\")\n        end()\n    pass\n\ndef upload():\n    command=\"curl -k --user \"+user+\":\"+pw+\" sftp://\"+server+\":\"+port+\"/\"+user+\"/ -T \"+target\n    if os.system(command)!=0:\n        status(\"upload failed\")\n        end()\n\n\ndef download():\n    command=\"curl -k --user \"+user_down+\":\"+pw_down+\" sftp://\"+server+\":\"+port+\"/\"+user_down+\"/\"+key+\".jpg -o \"+filepath\n    test=os.system(command)\n    return test\n\nstatus(\"Feature-Testing connection\")\ntry:\n    onlinetest()\nexcept:\n    status(\"Feature-Connection failed\")\n    return\n\nstatus(\"Feature-Uploading\")\ntry:\n    upload()\nexcept:\n    status(\"Feature-Upload failed\")\n    return\nsleep(delay/2)\nstatus(\"Feature-Waiting for file\")\nsleep(delay)\n\nfor x in range (repeats):\n    if download()!=0:\n        status(\"Feature-try: (\"+str(x+1)+\")\")\n        sleep(delay/2)\n    else:\n        sleep(1)\n        os.system(\"sudo cp \"+filepath+\" \"+target_feature)\n        os.system(\"sudo rm \"+target)\n        status(\"--READY--\")\n        timestamp =str(int(time()))\n        msg['payload']='<img src=\"/ui/data/feature.jpg?ts='+timestamp+'\" alt=\"Feature\" style=\"width: auto; height: auto;max-width: 1400px;max-height: 1800px\">'\n        return msg\n\nfor x in range (3):\n    status(\"Feature-failed (\"+str(3-x)+\"s)\")\n    sleep(1)\n\nos.system(\"sudo rm \"+target)\nstatus(\"--READY--\")\n","outputs":1,"x":840,"y":680,"wires":[["15b9ddd0.2cf282"]]},{"id":"852e46e0.9d80b8","type":"ui_toast","z":"d6a01399.60299","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":850,"y":720,"wires":[[]]},{"id":"2a510dfd.83e072","type":"ui_button","z":"d6a01399.60299","name":"reboot","group":"a3116208.14508","order":20,"width":2,"height":1,"passthru":false,"label":"","tooltip":"reboot the raspberry pi","color":"","bgcolor":"","icon":"fa-repeat","payload":"","payloadType":"date","topic":"","x":70,"y":780,"wires":[["8fbf8c4f.14c49"]]},{"id":"82bc97f4.088048","type":"ui_button","z":"d6a01399.60299","name":"shutdown","group":"a3116208.14508","order":19,"width":2,"height":1,"passthru":false,"label":"","tooltip":"shutdown the raspberry pi","color":"","bgcolor":"","icon":"fa-power-off","payload":"","payloadType":"date","topic":"","x":80,"y":820,"wires":[["9dd4f722.11ff78"]]},{"id":"8fbf8c4f.14c49","type":"link out","z":"d6a01399.60299","name":"","links":["118a6113.30ceef"],"x":195,"y":780,"wires":[]},{"id":"9dd4f722.11ff78","type":"link out","z":"d6a01399.60299","name":"","links":["b8ef7981.8e81d8"],"x":195,"y":820,"wires":[]},{"id":"a145cea0.e5a6","type":"python3-function","z":"d6a01399.60299","name":"enable","func":"\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nif load(\"currentstatus_rpi\")==\"no camera found\" or load(\"currentstatus_rpi\")[:5]==\"Featu\":\n    return\nmsg[\"enabled\"]=True\n\nreturn msg","outputs":1,"x":230,"y":560,"wires":[["72dbc485.cfa6cc"]]},{"id":"a238d4b1.ddd428","type":"inject","z":"d6a01399.60299","name":"","repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":90,"y":600,"wires":[["5ed56421.39b04c","f3756372.5aae"]]},{"id":"5ed56421.39b04c","type":"python3-function","z":"d6a01399.60299","name":"disable","func":"msg[\"enabled\"]=False\nreturn msg","outputs":1,"x":460,"y":600,"wires":[["72dbc485.cfa6cc"]]},{"id":"adb3a465.1c23d8","type":"ui_button","z":"67f0d11b.66aa4","name":"reboot","group":"bb1dd00e.a62b9","order":11,"width":3,"height":1,"passthru":false,"label":"","tooltip":"reboot the raspberry pi","color":"","bgcolor":"","icon":"fa-repeat","payload":"","payloadType":"date","topic":"","x":110,"y":120,"wires":[["3e9d2ca4.953d44","19bc6938.44e717"]]},{"id":"fe90af7b.bcdc1","type":"ui_button","z":"67f0d11b.66aa4","name":"shutdown","group":"bb1dd00e.a62b9","order":10,"width":3,"height":1,"passthru":false,"label":"","tooltip":"shutdown the raspberry pi","color":"","bgcolor":"","icon":"fa-power-off","payload":"","payloadType":"date","topic":"","x":100,"y":160,"wires":[["19bc6938.44e717","bc8e5552.04ba68"]]},{"id":"f1727c0e.b2645","type":"inject","z":"67f0d11b.66aa4","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"Started!","payloadType":"str","x":100,"y":1540,"wires":[["5a43d9a3.e9f4c8"]]},{"id":"62fd3f51.1a43b","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"with open(\"/home/pi/shared/log/angle_min.log\", \"r\") as file:\n    msg['payload']=int(file.read())\nreturn msg","outputs":1,"x":310,"y":1580,"wires":[["b9ce8ae2.d695f8","46e0217d.61291"]]},{"id":"f43abc0c.c7bdd","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"angle_min=msg['payload']\n\nwith open(\"/home/pi/shared/log/angle_max.log\", \"r\") as file:\n    angle_max=int(file.read())\n\nif angle_min<angle_max and angle_min>=-90:\n    with open(\"/home/pi/shared/log/angle_min.log\", \"w\") as file:\n        file.write(str(angle_min))\nreturn msg","outputs":1,"x":690,"y":1580,"wires":[["97809658.f62208"]]},{"id":"97809658.f62208","type":"link out","z":"67f0d11b.66aa4","name":"","links":["9b7c8168.21a41"],"x":875,"y":1820,"wires":[]},{"id":"9b7c8168.21a41","type":"link in","z":"67f0d11b.66aa4","name":"reload Parameters","links":["97809658.f62208","464a9180.fb70f","5a43d9a3.e9f4c8","5823962a.e92de8","532deb07.d350b4","879cfea4.60363","da4f0028.4bf26","6ba3e7fb.29e508","8a12a98e.0b2b58","c558b64a.ffde48"],"x":35,"y":1580,"wires":[["62fd3f51.1a43b"]]},{"id":"a483a60a.2e7938","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"with open(\"/home/pi/shared/log/angle_max.log\", \"r\") as file:\n    msg['payload']=int(file.read())\nreturn msg","outputs":1,"x":310,"y":1640,"wires":[["845a7107.84d53","78e184b9.bf931c"]]},{"id":"73204f0a.3e6c3","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"angle_max=msg['payload']\n\nwith open(\"/home/pi/shared/log/angle_min.log\", \"r\") as file:\n    angle_min=int(file.read())\n\nif angle_min<angle_max and angle_max<=90:\n    with open(\"/home/pi/shared/log/angle_max.log\", \"w\") as file:\n        file.write(str(angle_max))\nreturn msg","outputs":1,"x":690,"y":1640,"wires":[["97809658.f62208"]]},{"id":"5a43d9a3.e9f4c8","type":"link out","z":"67f0d11b.66aa4","name":"","links":["9b7c8168.21a41"],"x":215,"y":1540,"wires":[]},{"id":"2552cacb.48b4d6","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"with open(\"/home/pi/shared/log/awb_red.log\", \"r\") as file:\n    msg['payload']=float(file.read())\nreturn msg","outputs":1,"x":310,"y":1760,"wires":[["76d067dd.59dd28","7e95efdc.7620c"]]},{"id":"b2026683.c9c858","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"value=msg['payload']\n\nwith open(\"/home/pi/shared/log/awb_red.log\", \"w\") as file:\n    file.write(str(value))\nreturn msg","outputs":1,"x":690,"y":1760,"wires":[["97809658.f62208"]]},{"id":"30f5d850.88f898","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"with open(\"/home/pi/shared/log/awb_blue.log\", \"r\") as file:\n    msg['payload']=float(file.read())\nreturn msg","outputs":1,"x":310,"y":1820,"wires":[["d4c9a8e5.df3368","75bf235b.fb524c"]]},{"id":"47c26beb.da9994","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"value=msg['payload']\n\n\nwith open(\"/home/pi/shared/log/awb_blue.log\", \"w\") as file:\n    file.write(str(value))\nreturn msg","outputs":1,"x":690,"y":1820,"wires":[["97809658.f62208"]]},{"id":"845a7107.84d53","type":"ui_slider","z":"67f0d11b.66aa4","name":"","label":"Angle_max","tooltip":"Set the upper, maximum angle","group":"1e226dbf.9220f2","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"-90","max":"90","step":1,"x":490,"y":1640,"wires":[["73204f0a.3e6c3"]]},{"id":"b9ce8ae2.d695f8","type":"ui_slider","z":"67f0d11b.66aa4","name":"","label":"Angle_min","tooltip":"Set the lower starting angle","group":"1e226dbf.9220f2","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"-90","max":"90","step":1,"x":490,"y":1580,"wires":[["f43abc0c.c7bdd"]]},{"id":"76d067dd.59dd28","type":"ui_slider","z":"67f0d11b.66aa4","name":"","label":"AWB_red","tooltip":"Set the auto-white-balance red value","group":"1e226dbf.9220f2","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"0","max":"4","step":"0.1","x":480,"y":1760,"wires":[["b2026683.c9c858"]]},{"id":"d4c9a8e5.df3368","type":"ui_slider","z":"67f0d11b.66aa4","name":"","label":"AWB_blue","tooltip":"Set the auto-white-balance blue value","group":"1e226dbf.9220f2","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"0","max":"4","step":"0.1","x":490,"y":1820,"wires":[["47c26beb.da9994"]]},{"id":"97d89989.ec26c8","type":"ui_slider","z":"67f0d11b.66aa4","name":"","label":"Rotor_delay (ms)","tooltip":"Set the delay between steps (higher value --> slower movement)","group":"1e226dbf.9220f2","order":6,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"0.01","max":"0.5","step":"0.01","x":510,"y":1880,"wires":[["3aa36145.8d731e"]]},{"id":"f9441148.07a87","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"with open(\"/home/pi/shared/log/rotor_delay.log\", \"r\") as file:\n    msg['payload']=float(file.read())*1000\nreturn msg","outputs":1,"x":310,"y":1880,"wires":[["97d89989.ec26c8","a35d157c.79cb38"]]},{"id":"3aa36145.8d731e","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"value=float(msg['payload'])/1000\n\n\nwith open(\"/home/pi/shared/log/rotor_delay.log\", \"w\") as file:\n    file.write(str(value))\nreturn msg","outputs":1,"x":690,"y":1880,"wires":[["97809658.f62208"]]},{"id":"3082e2b7.2d5a2e","type":"ui_slider","z":"67f0d11b.66aa4","name":"","label":"Turntable_delay (ms)","tooltip":"Set the delay between steps (higher value --> slower movement)","group":"1e226dbf.9220f2","order":7,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"0.01","max":"1","step":"0.01","x":520,"y":1940,"wires":[["5d03f34d.7aebac"]]},{"id":"cbea9ba9.eaee38","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"with open(\"/home/pi/shared/log/turntable_delay.log\", \"r\") as file:\n    msg['payload']=float(file.read())*1000\nreturn msg","outputs":1,"x":310,"y":1940,"wires":[["3082e2b7.2d5a2e","81d97971.477ea8"]]},{"id":"5d03f34d.7aebac","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"value=float(msg['payload'])/1000\n\n\nwith open(\"/home/pi/shared/log/turntable_delay.log\", \"w\") as file:\n    file.write(str(value))\nreturn msg","outputs":1,"x":690,"y":1940,"wires":[["97809658.f62208"]]},{"id":"79d027d7.6387b8","type":"ui_button","z":"67f0d11b.66aa4","name":"","group":"1e226dbf.9220f2","order":9,"width":6,"height":1,"passthru":false,"label":"Reset all Parameters","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":340,"y":2060,"wires":[["fbc707fd.d6c6c8"]]},{"id":"fbc707fd.d6c6c8","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"def write(parameter,value):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"w\") as file:\n        file.write(str(value))\nwith open(\"/home/pi/shared/log/openscan_model.log\", \"r\") as file:\n    model=file.read()\n\nif model==\"OpenScanMini\":\n    write(\"angle_min\",\"-20\")\n    write(\"angle_max\",\"90\")\n    write(\"awb_red\",\"1.7\")\n    write(\"awb_blue\",\"1.7\")\n    write(\"rotor_delay\",\"0.00008\")\n    write(\"turntable_delay\",\"0.00002\")\n    return msg\nelif model==\"OpenScanClassic\":\n    write(\"angle_min\",\"-20\")\n    write(\"angle_max\",\"90\")\n    write(\"awb_red\",\"1.7\")\n    write(\"awb_blue\",\"1.7\")\n    write(\"rotor_delay\",\"0.0001\")\n    write(\"turntable_delay\",\"0.00002\")\n    return msg\nelif model==\"OpenScanClassicExt\":\n    write(\"angle_min\",\"-20\")\n    write(\"angle_max\",\"90\")\n    write(\"rotor_delay\",\"0.0001\")\n    write(\"turntable_delay\",\"0.00002\")\n    write(\"delay_ext\",\"1200\")\n    return msg","outputs":1,"x":690,"y":2060,"wires":[["97809658.f62208"]]},{"id":"6091cb32.1af884","type":"ui_switch","z":"67f0d11b.66aa4","name":"","label":"Preview Off/On","tooltip":"Show preview while routine is running, this slows down the overall process by 1s per photo","group":"bb1dd00e.a62b9","order":3,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":480,"y":680,"wires":[["f1f94da9.f8452"]]},{"id":"dc03a256.9663c","type":"python3-function","z":"67f0d11b.66aa4","name":"load var","func":"\nwith open(\"/home/pi/shared/log/preview.log\", \"r\") as file:\n    state=file.read()\nmsg['payload']=False\nif state==\"true\":\n    msg['payload']=True\nreturn msg","outputs":1,"x":300,"y":680,"wires":[["6091cb32.1af884"]]},{"id":"f1f94da9.f8452","type":"file","z":"67f0d11b.66aa4","name":"","filename":"/home/pi/shared/log/preview.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":730,"y":680,"wires":[[]]},{"id":"b9a7fb02.25c808","type":"ui_template","z":"4aee81d.130dd8","group":"ddbd496e.93a288","name":"Syslog","order":7,"width":0,"height":0,"format":"<md-button ng-disabled=\"msg.disable\" style=\"background-color:{{msg.backgroundcolor}};color:{{msg.color}};width:100%; height:100%;\"   target=\"_blank\" ng-href=\"/ui/data/syslog.txt\">\n <div class=\"center\" style=\"position: relative;\n    top: 30%;\">\n  Download Syslog\n</div></md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":650,"y":660,"wires":[[]]},{"id":"19c289e1.e54d16","type":"ui_switch","z":"4aee81d.130dd8","name":"","label":"Open Syslog","tooltip":"","group":"ddbd496e.93a288","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":660,"wires":[["4d9394a.735df6c"]]},{"id":"4d9394a.735df6c","type":"function","z":"4aee81d.130dd8","name":"","func":"var msg2 = { payload: \"sudo \\cp /var/log/syslog /home/pi/shared/ui/data/syslog.txt && sudo chmod a+rwx /home/pi/shared/ui/data/syslog.txt\"};\nif (msg.payload===true){\n    msg.color = \"white\"\n    msg.backgroundcolor=\"default\"\n    msg.disable=false\n    return [msg,msg2];\n}\nmsg.color = \"transparent\"\nmsg.backgroundcolor =\"transparent\"\nmsg.disable=true\nreturn [msg,null];","outputs":2,"noerr":0,"x":390,"y":660,"wires":[["bd3f9d51.4a861"],["11654c19.ec7f24"]]},{"id":"11654c19.ec7f24","type":"exec","z":"4aee81d.130dd8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"get syslog","x":520,"y":720,"wires":[[],[],["d1c636fb.679d28"]]},{"id":"d1c636fb.679d28","type":"python3-function","z":"4aee81d.130dd8","name":"msg","func":"\nwith open(\"/home/pi/shared/log/currentversion.log\", \"r\") as file:\n    msg['payload']=\">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Version in use: \"+file.read()\nreturn msg","outputs":1,"x":650,"y":720,"wires":[["172470f8.a4b5af"]]},{"id":"172470f8.a4b5af","type":"file","z":"4aee81d.130dd8","name":"","filename":"/home/pi/shared/ui/data/syslog.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":860,"y":720,"wires":[[]]},{"id":"873c1379.6273d","type":"inject","z":"4aee81d.130dd8","name":"","repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"false","payloadType":"bool","x":110,"y":660,"wires":[["19c289e1.e54d16"]]},{"id":"bd3f9d51.4a861","type":"delay","z":"4aee81d.130dd8","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":660,"wires":[["b9a7fb02.25c808"]]},{"id":"214099a2.0c28c6","type":"ui_button","z":"4aee81d.130dd8","name":"","group":"ddbd496e.93a288","order":4,"width":0,"height":0,"passthru":false,"label":"Install Update","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Install & reboot now?","payloadType":"str","topic":"","x":640,"y":440,"wires":[["f8c24f06.ee9ec"]]},{"id":"7995fbed.e90774","type":"change","z":"4aee81d.130dd8","name":"","rules":[{"t":"set","p":"update","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":440,"wires":[["7525ccbe.ddc104"]]},{"id":"7525ccbe.ddc104","type":"python3-function","z":"4aee81d.130dd8","name":"disable","func":"msg['enabled']=False\nif msg['payload']==\"new updates available\":\n    msg[\"enabled\"]=True\nreturn msg","outputs":1,"x":480,"y":440,"wires":[["214099a2.0c28c6"]]},{"id":"9f479470.8e19d8","type":"inject","z":"4aee81d.130dd8","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"Started!","payloadType":"str","x":100,"y":440,"wires":[["7995fbed.e90774"]]},{"id":"ff2b5fe1.2d803","type":"delay","z":"4aee81d.130dd8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":140,"wires":[["501a81c3.027e5"]]},{"id":"b179e673.d0e798","type":"ui_ui_control","z":"67f0d11b.66aa4","name":"","x":700,"y":760,"wires":[[]]},{"id":"bf4290a5.12118","type":"python3-function","z":"67f0d11b.66aa4","name":"switch","func":"def load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n    \n\nif msg['payload']==\"OpenScanMini\":\n    msg['payload']={\"group\":{\"hide\":[\"Scan_PreviewClassic\",\"Scan_External\",\"Scan_None\"],\"show\":[\"Scan_PreviewMini\",\"Scan_Main\"]}}\n    if load(\"currentstatus_rpi\")==\"no camera found\":\n        msg['payload']={\"group\":{\"hide\":[\"Scan_PreviewClassic\",\"Scan_External\",\"Scan_None\",\"Scan_PreviewMini\"],\"show\":[\"Scan_Main\"]}}\n\n    return msg\nelif msg['payload']==\"OpenScanClassic\":\n    msg['payload']={\"group\":{\"hide\":[\"Scan_PreviewMini\",\"Scan_External\",\"Scan_None\"],\"show\":[\"Scan_PreviewClassic\",\"Scan_Main\"]}}\n    if load(\"currentstatus_rpi\")==\"no camera found\":\n        msg['payload']={\"group\":{\"hide\":[\"Scan_PreviewMini\",\"Scan_External\",\"Scan_None\",\"Scan_PreviewClassic\"],\"show\":[\"Scan_Main\"]}}\n    return msg\nelif msg['payload']==\"OpenScanClassicExt\":\n    msg['payload']={\"group\":{\"hide\":[\"Scan_PreviewMini\",\"Scan_PreviewClassic\",\"Scan_Main\",\"Scan_None\"],\"show\":[\"Scan_External\"]}}\n    return msg\nelse:\n    msg['payload']={\"group\":{\"hide\":[\"Scan_PreviewMini\",\"Scan_PreviewClassic\",\"Scan_Main\",\"Scan_External\"],\"show\":[\"Scan_None\"]}}\n    return msg","outputs":1,"x":570,"y":760,"wires":[["b179e673.d0e798"]]},{"id":"ee62c618.244b08","type":"ui_template","z":"d6a01399.60299","group":"3d48edae.861ef2","name":"preview_classic","order":1,"width":14,"height":10,"format":"<div align=\"center\" >\n<img ng-src= {{msg.payload}} style=\"width: auto; height: auto;max-width: 660px;max-height: 503px\"</img>\n<a src=\"/data/preview.jpg\" </a>\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":780,"y":500,"wires":[[]]},{"id":"c558b64a.ffde48","type":"link out","z":"67f0d11b.66aa4","name":"","links":["9b7c8168.21a41"],"x":735,"y":720,"wires":[]},{"id":"2c564562.4b74ca","type":"ui_template","z":"d6a01399.60299","group":"5926c870.c5bfb8","name":"preview_mini","order":1,"width":10,"height":13,"format":"<div align=\"center\">\n<img ng-src= {{msg.payload}} style=\"max-width: 503px;max-height: 655px;width: auto; height: auto\"</img>\n<a src=\"/data/preview.jpg\" </a>\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":770,"y":540,"wires":[[]]},{"id":"15b9ddd0.2cf282","type":"ui_toast","z":"d6a01399.60299","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":990,"y":680,"wires":[[]]},{"id":"61b18cdf.4bc4d4","type":"ui_button","z":"4aee81d.130dd8","name":"","group":"ddbd496e.93a288","order":8,"width":0,"height":0,"passthru":false,"label":"Change to DEV Mode","tooltip":"","color":"red","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":800,"wires":[["a159cc33.dbc3c"]]},{"id":"ff30732f.6cc05","type":"ui_toast","z":"4aee81d.130dd8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"No","cancel":"Yes","raw":false,"topic":"","name":"","x":590,"y":800,"wires":[["98611e0e.28fbe"]]},{"id":"98611e0e.28fbe","type":"python3-function","z":"4aee81d.130dd8","name":"Download and Install","func":"import os\n\nif msg['payload']!=\"Yes\":\n    return\n\nfile = '/home/pi/.node-red/temp'\nurl = 'https://raw.githubusercontent.com/OpenScanEu/OpenScan/master/update.json'\ntry:\n    os.remove(file)\nexcept OSError:\n    pass\nos.system('wget -O'+file+' '+url+' >/dev/null 2>&1')\n\nsize = os.stat(file).st_size\nif size<1000:\n    msg['payload']=\"received not enough data - check internet connection and try again\"\n    os.remove(file)\n    return None,msg\n\nfile = '/home/pi/.node-red/flows_raspberrypi.json'\nurl = 'https://raw.githubusercontent.com/OpenScanEu/OpenScan/master/update.json'\nos.remove(file)\nos.system('wget -O'+file+' '+url+' >/dev/null 2>&1')\n\nif os.stat(file).st_size!=size:\n    msg['payload']=\"wrong filesize - check internet connection and try again\"\n    os.remove(file)\n    return None,msg\n\nfile= '/home/pi/.node-red/settings_openscan.js'\n\nif os.path.exists(file)==False:\n    msg['payload']=\"could not load settings file\"\n    return None,msg\nif os.stat(file).st_size==0:\n    msg['payload']=\"could not load settings file\"\n    return None,msg\n\nos.system('sudo cp /home/pi/.node-red/settings_openscan.js /home/pi/.node-red/settings.js')\nmsg['payload']=\"switching to developer mode (restarting now)\"\nreturn msg","outputs":2,"x":780,"y":800,"wires":[["880bc0bd.2cfd6"],["b5f5d4ee.5b0f18"]]},{"id":"20860090.8e364","type":"function","z":"4aee81d.130dd8","name":"t/f","func":"if (msg.payload === true){\n    msg.payload=\"Are you sure you want to enter the (partially buggy) developer mode?\"\n    return [msg,null]\n}\nmsg.payload=\"no internet connection\"\nreturn [null,msg]\n","outputs":2,"noerr":0,"x":450,"y":800,"wires":[["ff30732f.6cc05"],["63a4fbc5.934a74"]]},{"id":"a159cc33.dbc3c","type":"is online","z":"4aee81d.130dd8","name":"","url":"www.google.com","action":"0","x":320,"y":800,"wires":[["20860090.8e364"]]},{"id":"63a4fbc5.934a74","type":"link out","z":"4aee81d.130dd8","name":"","links":["51433c54.55af44"],"x":535,"y":840,"wires":[]},{"id":"b5f5d4ee.5b0f18","type":"ui_toast","z":"4aee81d.130dd8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"Error handling","x":980,"y":840,"wires":[[]]},{"id":"880bc0bd.2cfd6","type":"ui_toast","z":"4aee81d.130dd8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":970,"y":800,"wires":[["f3b9579c.9b00c8"]]},{"id":"f3b9579c.9b00c8","type":"link out","z":"4aee81d.130dd8","name":"","links":["118a6113.30ceef"],"x":1075,"y":800,"wires":[]},{"id":"f3756372.5aae","type":"python3-function","z":"d6a01399.60299","name":"enable","func":"msg[\"enabled\"]=True\n\nreturn msg","outputs":1,"x":290,"y":680,"wires":[["ebdb99aa.b6bc68"]]},{"id":"f472b69d.2b2b38","type":"python3-function","z":"d6a01399.60299","name":"disable","func":"msg[\"enabled\"]=False\nreturn msg","outputs":1,"x":280,"y":720,"wires":[["ebdb99aa.b6bc68"]]},{"id":"145315bb.4e8f0a","type":"python3-function","z":"68819360.7e7a7c","name":"exe","func":"import os\nos.system(\"sudo rfkill unblock wifi\")","outputs":1,"x":991,"y":400,"wires":[[]]},{"id":"b7d19a5.4553c68","type":"ui_button","z":"3ec97011.20579","name":"","group":"316e6e17.634362","order":6,"width":2,"height":1,"passthru":false,"label":"","tooltip":"Move turntable right","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"","x":590,"y":100,"wires":[["732b042b.9f015c"]]},{"id":"531d54f0.f2e2bc","type":"ui_button","z":"3ec97011.20579","name":"","group":"316e6e17.634362","order":7,"width":2,"height":1,"passthru":false,"label":"","tooltip":"Move turntable left","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"","x":590,"y":140,"wires":[["70dfc692.c46ce8"]]},{"id":"8dadbfac.0e0ff","type":"ui_button","z":"3ec97011.20579","name":"","group":"316e6e17.634362","order":3,"width":2,"height":1,"passthru":false,"label":"","tooltip":"Move rotor up","color":"","bgcolor":"","icon":"","payload":"500","payloadType":"num","topic":"","x":90,"y":100,"wires":[["2c4c5943.a72d56"]]},{"id":"43bba53a.d2868c","type":"ui_button","z":"3ec97011.20579","name":"","group":"316e6e17.634362","order":4,"width":2,"height":1,"passthru":false,"label":"","tooltip":"Move rotor down","color":"","bgcolor":"","icon":"","payload":"200","payloadType":"num","topic":"","x":90,"y":140,"wires":[["4aee7820.415628"]]},{"id":"f3ef947b.ffe448","type":"ui_text","z":"3ec97011.20579","group":"316e6e17.634362","order":5,"width":2,"height":1,"name":"","label":"Turntable","format":"{{\"\"}}","layout":"row-center","x":600,"y":60,"wires":[]},{"id":"cc8386f9.e35bc8","type":"ui_text","z":"3ec97011.20579","group":"316e6e17.634362","order":2,"width":2,"height":1,"name":"","label":"Rotor","format":"{{\"\"}}","layout":"row-center","x":90,"y":60,"wires":[]},{"id":"1393ba5a.ebdaf6","type":"python3-function","z":"3ec97011.20579","name":"TT left","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nif load(\"currentstatus_rpi\")[:5]==\"Routi\":\n    return\n\nSTEP=int(load(\"pin_turntable_step\"))\nDIR=int(load(\"pin_turntable_dir\"))\nstep_count=int(load(\"turntable_stepsperrotation\"))\ndelaytt=float(load(\"turntable_delay\"))\nangle=float(load(\"turntable_angle\"))\nramp=int(load(\"turntable_accramp\"))\nacc=ramp*float(load(\"turntable_acc\"))\n\nstep_count=int(step_count*angle/360)\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\ndelay=delaytt\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    if x<=ramp and x<=step_count/2:\n        delay=delaytt+(ramp-x)*delaytt/acc\n    elif step_count-x<=ramp and x>step_count/2:\n        delay=delaytt+(ramp-step_count+x)*delaytt/acc\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n","outputs":1,"x":851,"y":100,"wires":[["e4418285.9871"]]},{"id":"77877b1.c8d0b84","type":"python3-function","z":"3ec97011.20579","name":"TT right","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nSTEP=int(load(\"pin_turntable_step\"))\nDIR=int(load(\"pin_turntable_dir\"))\nstep_count=int(load(\"turntable_stepsperrotation\"))\ndelaytt=float(load(\"turntable_delay\"))\nangle=float(load(\"turntable_angle\"))\nramp=int(load(\"turntable_accramp\"))\nacc=ramp*float(load(\"turntable_acc\"))\n\nstep_count=int(step_count*angle/360)\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\ndelay=delaytt\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    if x<=ramp and x<=step_count/2:\n        delay=delaytt+(ramp-x)*delaytt/acc\n    elif step_count-x<=ramp and x>step_count/2:\n        delay=delaytt+(ramp-step_count+x)*delaytt/acc\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n","outputs":1,"x":860,"y":140,"wires":[["e4418285.9871"]]},{"id":"e2557ded.9b1f6","type":"python3-function","z":"3ec97011.20579","name":"Rotor left","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nSTEP=int(load(\"pin_rotor_step\"))\nDIR=int(load(\"pin_rotor_dir\"))\nstep_count=int(load(\"rotor_stepsperrotation\"))\ndelaytt=float(load(\"rotor_delay\"))\nangle=float(load(\"rotor_angle\"))\nramp=int(load(\"rotor_accramp\"))\nacc=ramp*float(load(\"rotor_acc\"))\n\nstep_count=int(step_count*angle/360)\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 0)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    if x<=ramp and x<=step_count/2:\n        delay=delaytt+(ramp-x)*delaytt/acc\n    elif step_count-x<=ramp and x>step_count/2:\n        delay=delaytt+(ramp-step_count+x)*delaytt/acc\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n","outputs":1,"x":360,"y":100,"wires":[["69642193.b4a81"]]},{"id":"44aaf543.ca706c","type":"python3-function","z":"3ec97011.20579","name":"Rotor right","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\nSTEP=int(load(\"pin_rotor_step\"))\nDIR=int(load(\"pin_rotor_dir\"))\nstep_count=int(load(\"rotor_stepsperrotation\"))\ndelaytt=float(load(\"rotor_delay\"))\nangle=float(load(\"rotor_angle\"))\nramp=int(load(\"rotor_accramp\"))\nacc=ramp*float(load(\"rotor_acc\"))\n\nstep_count=int(step_count*angle/360)\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DIR, GPIO.OUT)\nGPIO.setup(STEP, GPIO.OUT)\nGPIO.output(DIR, 1)\n\nfor x in range(step_count):\n    GPIO.output(STEP, GPIO.HIGH)\n    if x<=ramp and x<=step_count/2:\n        delay=delaytt+(ramp-x)*delaytt/acc\n    elif step_count-x<=ramp and x>step_count/2:\n        delay=delaytt+(ramp-step_count+x)*delaytt/acc\n    sleep(delay)\n    GPIO.output(STEP, GPIO.LOW)\n    sleep(delay)\nGPIO.cleanup()\n\nreturn msg\n","outputs":1,"x":370,"y":140,"wires":[["69642193.b4a81"]]},{"id":"e4418285.9871","type":"link out","z":"3ec97011.20579","name":"","links":["2ec25eee.175402","35a36b3b.902074","9eafa9a.929b058","8265a779.7254d8"],"x":955,"y":120,"wires":[]},{"id":"69642193.b4a81","type":"link out","z":"3ec97011.20579","name":"","links":["2ec25eee.175402","35a36b3b.902074","9eafa9a.929b058","8265a779.7254d8"],"x":475,"y":120,"wires":[]},{"id":"2c4c5943.a72d56","type":"delay","z":"3ec97011.20579","name":"lmt 0.2/s","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":220,"y":100,"wires":[["e2557ded.9b1f6"]]},{"id":"4aee7820.415628","type":"delay","z":"3ec97011.20579","name":"lmt 0.2/s","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":220,"y":140,"wires":[["44aaf543.ca706c"]]},{"id":"732b042b.9f015c","type":"delay","z":"3ec97011.20579","name":"lmt 0.2/s","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":720,"y":100,"wires":[["1393ba5a.ebdaf6"]]},{"id":"70dfc692.c46ce8","type":"delay","z":"3ec97011.20579","name":"lmt 0.2/s","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":720,"y":140,"wires":[["77877b1.c8d0b84"]]},{"id":"907663ae.c7894","type":"python3-function","z":"3ec97011.20579","name":"Run Routine","func":"import time\nfrom time import sleep\nimport math\nimport RPi.GPIO as GPIO\nimport os\n\nGPIO.setwarnings(False)\nGPIO.setmode(GPIO.BCM)\n\ndef write(parameter,value):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"w\") as file:\n        file.write(str(value))\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\ndef ttrun(angle):\n    step_count=int(angle*ttspr/360)\n    GPIO.setup(dirpintt, GPIO.OUT)\n    GPIO.setup(steppintt, GPIO.OUT)\n    if (step_count>0):\n        GPIO.output(dirpintt, GPIO.HIGH)\n    if(step_count<0):\n        GPIO.output(dirpintt, GPIO.LOW)\n        step_count=-step_count\n    for x in range(step_count):\n        GPIO.output(steppintt, GPIO.HIGH)\n        if x<=ttramp and x<=step_count/2:\n            delay=delaytt+(ttramp-x)*delaytt/ttacc\n        elif step_count-x<=ttramp and x>step_count/2:\n            delay=delaytt+(ttramp-step_count+x)*delaytt/ttacc\n        sleep(delay)\n        GPIO.output(steppintt, GPIO.LOW)\n        sleep(delay)\n\ndef rotorrun(angle):\n    \n    step_count=int(angle*rotorspr/360)\n    GPIO.setup(dirpinrotor, GPIO.OUT)\n    GPIO.setup(steppinrotor, GPIO.OUT)\n    if (step_count>0):\n        GPIO.output(dirpinrotor, GPIO.HIGH)\n    if(step_count<0):\n        GPIO.output(dirpinrotor, GPIO.LOW)\n        step_count=-step_count\n    for x in range(step_count):\n        GPIO.output(steppinrotor, GPIO.HIGH)\n        if x<=rotorramp and x<=step_count/2:\n            delay=delayrotor+(rotorramp-x)*delayrotor/rotoracc\n        elif step_count-x<=rotorramp and x>step_count/2:\n            delay=delayrotor+(rotorramp-step_count+x)*delayrotor/rotoracc\n        sleep(delay)\n        GPIO.output(steppinrotor, GPIO.LOW)\n        sleep(delay)\n\ndef get_points(samples=1):\n    points = []\n    phi = math.pi * (3. - math.sqrt(5.))\n    for i in range(samples):\n        y = 1 - (i / float(samples - 1)) * 2  \n        radius = math.sqrt(1 - y * y)  \n        theta = phi * i  \n        x = math.cos(theta) * radius\n        z = math.sin(theta) * radius\n        r=math.sqrt(x*x+y*y+z*z)\n        theta_neu=math.acos(z/r)*180/math.pi\n        phi_neu=math.atan2(y,x)*180/math.pi\n        points.append((theta_neu-90,phi_neu))\n    points.sort()\n    return points\n\ndef filter_points(angle_min, angle_max,point_count):\n    point_count_final=point_count\n    point_count=point_count*90/(angle_max-angle_min)\n    actual_points=0\n    while actual_points<point_count_final:\n        points=get_points(point_count)\n        filtered=[]\n        for x,y in points:\n            if x>angle_min and x<angle_max and len(filtered)<point_count_final:\n                filtered.append((x,y))\n        actual_points=len(filtered)\n\n        if point_count-actual_points>20:\n            point_count=point_count+3\n        else:\n            point_count=point_count+1\n    return filtered\n\ndef takephoto_ext():\n    GPIO.setup(pin_externalcam, GPIO.OUT)\n    GPIO.output(pin_externalcam, GPIO.HIGH)\n    sleep(0.1)\n    GPIO.output(pin_externalcam, GPIO.LOW)\n    sleep(delay_ext)\n\ndirpinrotor=int(load(\"pin_rotor_dir\"))\nsteppinrotor=int(load(\"pin_rotor_step\"))\ndirpintt=int(load(\"pin_turntable_dir\"))\nsteppintt=int(load(\"pin_turntable_step\"))\nrotorspr=int(load(\"rotor_stepsperrotation\"))\nttspr=int(load(\"turntable_stepsperrotation\"))\ndelayrotor=float(load(\"rotor_delay\"))\ndelaytt=float(load(\"turntable_delay\"))\nttramp=int(load(\"turntable_accramp\"))\nttacc=ttramp*float(load(\"turntable_acc\"))\nrotorramp=int(load(\"rotor_accramp\"))\nrotoracc=rotorramp*float(load(\"rotor_acc\"))\ndelay_ext=float(load(\"delay_ext\"))/1000\npin_externalcam=int(load(\"pin_externalcam\"))\n   \n\nangle_max=int(load(\"angle_max\"))\nangle_min=int(load(\"angle_min\"))\n\nmodel=load(\"openscan_model\")\n\npoint_count=msg['payload']\n\npoints=filter_points(angle_min,angle_max,point_count)\n\nlastpoint=(0,0)\n\ncounter=0\n\nfor p in points:\n    counter=counter+1\n    takephoto_ext()\n    if load(\"currentstatus_ext\")==\"Routine-stopping\":\n        break\n    write(\"currentstatus_ext\",\"Routine-Photo \"+str(counter)+\" of \"+str(point_count))\n    rotorrun(lastpoint[0]-p[0])\n    ttrun(p[1]-lastpoint[1])\n    lastpoint=p\n\nwrite(\"currentstatus_ext\",\"Routine-done\")\nrotorrun(lastpoint[0]-0)\nwrite(\"currentstatus_ext\",\"--READY--\")\nmsg['enable']=False\nreturn msg","outputs":1,"x":470,"y":460,"wires":[["50e1a482.0df14c"]]},{"id":"d347e3b9.f55bb","type":"ui_button","z":"3ec97011.20579","name":"start routine","group":"316e6e17.634362","order":9,"width":3,"height":1,"passthru":false,"label":"","tooltip":"start the routine","color":"","bgcolor":"","icon":"fa-play","payload":"","payloadType":"date","topic":"enabled","x":110,"y":460,"wires":[["3a160993.b4aca6","67089e56.da9dc"]]},{"id":"d939dd34.37bf3","type":"inject","z":"3ec97011.20579","name":"","repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":130,"y":360,"wires":[["2a58cc41.2396b4"]]},{"id":"2a58cc41.2396b4","type":"python3-function","z":"3ec97011.20579","name":"disable","func":"msg[\"enabled\"]=False\nreturn msg","outputs":1,"x":480,"y":360,"wires":[["50e1a482.0df14c"]]},{"id":"3a160993.b4aca6","type":"python3-function","z":"3ec97011.20579","name":"enable","func":"msg[\"enabled\"]=True\n\nreturn msg","outputs":1,"x":310,"y":420,"wires":[["50e1a482.0df14c"]]},{"id":"50e1a482.0df14c","type":"ui_button","z":"3ec97011.20579","name":"stop routine","group":"316e6e17.634362","order":10,"width":3,"height":1,"passthru":false,"label":"","tooltip":"stop the routine","color":"","bgcolor":"","icon":"fa-stop","payload":"numberofphotos","payloadType":"global","topic":"","x":490,"y":420,"wires":[["870f3bdc.6a3808","2a58cc41.2396b4"]]},{"id":"870f3bdc.6a3808","type":"python3-function","z":"3ec97011.20579","name":"stop","func":"from time import sleep\nimport RPi.GPIO as GPIO\nGPIO.setwarnings(False)\n\ndef load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\ndef write(parameter,value):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"w\") as file:\n        file.write(str(value))\n\nif load(\"currentstatus_ext\")==\"--READY--\":\n    return\n\nwrite(\"currentstatus_ext\",\"Routine-stopping\")","outputs":1,"x":650,"y":420,"wires":[[]]},{"id":"f2e8d48b.b71fd8","type":"inject","z":"3ec97011.20579","name":"","repeat":"0.2","crontab":"","once":true,"onceDelay":"2.4","topic":"Repeat","payload":"0.2","payloadType":"str","x":110,"y":540,"wires":[["eba8ba07.edb1b8"]]},{"id":"eba8ba07.edb1b8","type":"python3-function","z":"3ec97011.20579","name":"load&color","func":"def load(parameter):\n    with open(\"/home/pi/shared/log/\"+parameter+\".log\", \"r\") as file:\n        parameter=file.read()\n    return parameter\n\ntry:\n    msg['payload']=load(\"currentstatus_ext\")\nexcept:\n    msg['payload']=\"\"\n\nreturn msg","outputs":1,"x":290,"y":540,"wires":[["d5695998.7d0db8"]]},{"id":"d5695998.7d0db8","type":"ui_text","z":"3ec97011.20579","group":"316e6e17.634362","order":1,"width":0,"height":0,"name":"","label":"Current Status:","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":480,"y":540,"wires":[]},{"id":"67089e56.da9dc","type":"change","z":"3ec97011.20579","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"numberofphotos_ext","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":460,"wires":[["907663ae.c7894"]]},{"id":"73b9c3b3.8c582c","type":"inject","z":"3ec97011.20579","name":"50","repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"50","payloadType":"num","x":90,"y":600,"wires":[["38399c59.d95e54"]]},{"id":"38399c59.d95e54","type":"ui_dropdown","z":"3ec97011.20579","name":"","label":"","tooltip":"","place":"Number of Photos","group":"316e6e17.634362","order":8,"width":6,"height":1,"passthru":true,"options":[{"label":"30 Photos","value":30,"type":"num"},{"label":"40 Photos","value":"40","type":"str"},{"label":"50 Photos","value":50,"type":"num"},{"label":"70 Photos","value":"70","type":"str"},{"label":"100 Photos","value":100,"type":"num"},{"label":"150 Photos","value":150,"type":"num"},{"label":"200 Photos","value":200,"type":"num"},{"label":"300 Photos","value":300,"type":"num"}],"payload":"","topic":"","x":280,"y":600,"wires":[["9ad143a3.07a1c"]]},{"id":"9ad143a3.07a1c","type":"change","z":"3ec97011.20579","name":"","rules":[{"t":"set","p":"numberofphotos_ext","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":600,"wires":[[]]},{"id":"50c16b58.b98f74","type":"ui_slider","z":"67f0d11b.66aa4","name":"Delay","label":"Delay_External (ms)","tooltip":"Crop the image horizontally ","group":"1e226dbf.9220f2","order":8,"width":6,"height":1,"passthru":true,"outs":"end","topic":"","min":"100","max":"2500","step":"50","x":470,"y":2000,"wires":[["7e8d51b6.fdbc5"]]},{"id":"7e8d51b6.fdbc5","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"value=str(msg['payload'])\nwith open(\"/home/pi/shared/log/delay_ext.log\", \"w\") as file:\n    file.write(value)","outputs":1,"x":690,"y":2000,"wires":[["97809658.f62208"]]},{"id":"3c20b869.5d05c8","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"with open(\"/home/pi/shared/log/delay_ext.log\", \"r\") as file:\n    msg['payload']=int(file.read())\nreturn msg","outputs":1,"x":310,"y":2000,"wires":[["50c16b58.b98f74"]]},{"id":"37ec7bf0.1f0fd4","type":"ui_template","z":"d6a01399.60299","group":"9b4feca5.bc36","name":"","order":1,"width":0,"height":0,"format":"<div>\n    <h3>Welcome :)</h3><br/>\n    Please go to <b>Settings</b> and select your model in the <b>General Tab</b>:<br/>\n    - OpenScan Mini (with Pi Camera)<br/>\n    - OpenScan Classic (with Pi camera)<br/>\n    - OpenScan Classic (Ext): with external camera triggered via the front pins<br/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":249,"y":940,"wires":[[]]},{"id":"46e0217d.61291","type":"delay","z":"67f0d11b.66aa4","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":1640,"wires":[["a483a60a.2e7938"]]},{"id":"35fdd539.49d26a","type":"delay","z":"67f0d11b.66aa4","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":1760,"wires":[["2552cacb.48b4d6"]]},{"id":"7e95efdc.7620c","type":"delay","z":"67f0d11b.66aa4","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":1820,"wires":[["30f5d850.88f898"]]},{"id":"75bf235b.fb524c","type":"delay","z":"67f0d11b.66aa4","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":1880,"wires":[["f9441148.07a87"]]},{"id":"a35d157c.79cb38","type":"delay","z":"67f0d11b.66aa4","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":1940,"wires":[["cbea9ba9.eaee38"]]},{"id":"81d97971.477ea8","type":"delay","z":"67f0d11b.66aa4","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":2000,"wires":[["3c20b869.5d05c8"]]},{"id":"c6dc13ab.7f95b","type":"link in","z":"67f0d11b.66aa4","name":"load model","links":["4e47fd3c.83c3d4"],"x":175,"y":720,"wires":[["468cbf31.112a2"]]},{"id":"4e47fd3c.83c3d4","type":"link out","z":"68819360.7e7a7c","name":"","links":["c6dc13ab.7f95b"],"x":456,"y":200,"wires":[]},{"id":"e24eacdf.fa24f","type":"ui_slider","z":"67f0d11b.66aa4","name":"","label":"Startangle","tooltip":"Set the starting position of the rotor","group":"1e226dbf.9220f2","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"-90","max":"90","step":"1","x":480,"y":1700,"wires":[["9b4b3f8c.cb123"]]},{"id":"bf36937f.ccdd3","type":"python3-function","z":"67f0d11b.66aa4","name":"load","func":"with open(\"/home/pi/shared/log/startangle.log\", \"r\") as file:\n    msg['payload']=int(file.read())\nreturn msg","outputs":1,"x":310,"y":1700,"wires":[["e24eacdf.fa24f","35fdd539.49d26a"]]},{"id":"9b4b3f8c.cb123","type":"python3-function","z":"67f0d11b.66aa4","name":"save","func":"value=msg['payload']\n\n\nwith open(\"/home/pi/shared/log/startangle.log\", \"w\") as file:\n    file.write(str(value))\nreturn msg","outputs":1,"x":690,"y":1700,"wires":[["97809658.f62208"]]},{"id":"78e184b9.bf931c","type":"delay","z":"67f0d11b.66aa4","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":1700,"wires":[["bf36937f.ccdd3"]]},{"id":"c71c9170.f39d5","type":"python3-function","z":"68819360.7e7a7c","name":"GPU","func":"import os\n\nif os.popen('vcgencmd get_mem gpu').read()[0:8]!=\"gpu=256M\":\n    os.system(\"sudo sed -i -e 's/gpu_mem=128/gpu_mem=256/g' /boot/config.txt\")\n    os.system(\"reboot -h\")\nreturn msg","outputs":1,"x":250,"y":400,"wires":[["61578186.d7bfe"]]},{"id":"713c0051.d2052","type":"inject","z":"68819360.7e7a7c","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"Started!","payloadType":"str","x":420,"y":320,"wires":[[]]},{"id":"ea54fcc2.cfcc2","type":"python3-function","z":"532cea09.a25754","name":"get dirs","func":"from glob import glob\nimport os\nfrom zipfile import ZipFile\n\n\ndef set_stats(stat):\n    try:\n        with open(directory+set[:-4]+\"/\"+stat,\"r\") as file:\n            stat=file.read()\n    except:\n        stat=\"\"\n    return stat\n\ntable=[]\ndirectory=\"/home/pi/shared/ui/data/zip/\"\n\nfor d in glob(directory+\"*.zip\"):\n    set=os.path.basename(d)\n\n    with ZipFile(d, 'r') as f:\n        photos = len(f.namelist())\n\n    size = float(int(float(os.path.getsize(d))/100000))/10\n    size_full= os.path.getsize(d)\n    status=set_stats(\"status\")\n    expiration=set_stats(\"expiration\")\n    download=set_stats(\"download\")\n\n    if len(download)!=0:\n        table.append({\n            \"Set\":set,\n            \"Photos\":photos,\n            \"Size\":str(size)+\"MB\",\n            \"Date\":set[:10],\n            \"Time\":set[11:16],\n            \"Name\":(set[20:-4]),\n            \"Status\":status,\n            \"Download\":\"<a href=\"+download+\">RESULT</a>\",\n            \"Size_full\":size_full,\n            \"Zip\":\"<a href=/ui/data/zip/\"+set+\">ZIP</a>\",\n\n            })\n    else:\n        table.append({\n            \"Set\":set,\n            \"Photos\":photos,\n            \"Size\":str(size)+\"MB\",\n            \"Date\":set[:10],\n            \"Time\":set[11:16],\n            \"Name\":(set[20:-4]),\n            \"Status\":status,\n            \"Size_full\":size_full,\n            \"Zip\":\"<a href=/ui/data/zip/\"+set+\">ZIP</a>\",\n\n            })\n\n\nmsg['payload']=table\nmsg['topic']=\"\"\nreturn msg","outputs":1,"x":140,"y":220,"wires":[["b9a3a0f9.bcbea"]]},{"id":"2f4c0f98.dee2","type":"link in","z":"532cea09.a25754","name":"files","links":["31787cb7.9ba1b4","47063317.6eaffc","84cf9870.619df8","8c0865c6.c219b8","8e437831.caf498","ca666433.f92b08","fc09407e.7278","a4f09e25.02569"],"x":35,"y":220,"wires":[["ea54fcc2.cfcc2"]]},{"id":"b9a3a0f9.bcbea","type":"ui_table","z":"532cea09.a25754","group":"b5fdd57b.15eda8","name":"","order":1,"width":15,"height":12,"columns":[{"field":"Date","title":"Date","width":"90","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Time","title":"Time","width":"70","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Name","title":"Name","width":"210","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Photos","title":"Photos","width":"80","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Size","title":"Size","width":"80","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Zip","title":"Local","width":"80","align":"center","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"Status","title":"Status","width":"140","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":270,"y":220,"wires":[["50710948.71c308","4082b136.dae18","834046a4.647938"]]},{"id":"952ce286.4ffd4","type":"ui_text","z":"532cea09.a25754","group":"db43d646.2074c8","order":1,"width":6,"height":1,"name":"Status","label":"Status","format":"{{msg.text}}","layout":"row-spread","x":390,"y":140,"wires":[]},{"id":"d4383424.7807c8","type":"python3-function","z":"532cea09.a25754","name":"prepare","func":"import requests\nimport os\n\nmsg = msg['payload']\n\nbasedir = '/home/pi/shared/ui/data/'\n\nwith open('/home/pi/shared/log/size_to_split.log', 'r') as file:\n    size_to_split = int(file.read())\nuser = 'openscan'\npw = 'free'\nserver = 'http://openscanfeedback.dnsuser.de:1334/'\ntokenpath = '/home/pi/shared/log/token.log'\n\ndef status(msg):\n    with open('/home/pi/shared/log/cloudstatus.log', 'w+') as file:\n        file.write(msg)\n\ndef OpenScanCloud(cmd, msg):\n    r = requests.get(server + cmd, auth=(user, pw), params=msg)\n    if r.status_code == 200:\n        return r.json()\n    else:\n        return {}\n\ndef upload(filelist, ulinks):\n    i = 0\n    for file in filelist:\n        link = ulinks[i]\n        status('uploading ' + str(i+1) + '/' + str(len(filelist)))\n        cmd = 'curl -# -X POST ' + link + ' --header Content-Type:application/octet-stream --data-binary @\"' + file + '\" 2>&1 | tee /home/pi/shared/ui/data/uploadprogress'\n        #if os.system(cmd)!=0:'\n        i = i+1\n        os.system(cmd)\n\n########\nif not os.path.isfile(tokenpath):\n    msg['flag'] = True\n    status('please enter token first')\n    return msg\nwith open(tokenpath, 'r') as file:\n    token = file.read().strip('\\n')\n\n########\nmsg1 = OpenScanCloud('getTokenInfo', {'token':token})\n\nif len(msg1) <= 1:\n    msg['flag'] = True\n    status('invalid token')\n    return msg1\n    \n########\nif msg['Photos'] > msg1['limit_photos'] or msg['Size_full'] > msg1['limit_filesize']:\n    msg['flag'] = True\n    status('limit(s) exceeded')\n    return msg\n\n########\ntemp =  OpenScanCloud('getProjectInfo', {'token':token, 'project':msg['Set']})\nif temp != {}:\n    status('exists with status: '+ temp['status'])\n    with open(basedir + 'zip/' + msg['Set'][:-4] + '/status', 'w') as file:\n        file.write(temp['status'])\n    return msg\nmsg2={}\nmsg2['token'] = token\nmsg2['parts'] = 1\nmsg['partslist']=[]\n\n#######\nif msg['Size_full'] > size_to_split:\n    for file in os.listdir(basedir + 'temp/'):\n        os.remove(basedir + 'temp/' + file)\n    status('zipping files, please wait ...')\n    #cmd = 'zip ' + basedir + 'zip/' + msg['Set'] + ' --out '+basedir+'temp/'+msg['Set']+ ' -s ' + str(size_to_split/1000000)+'m'\n    cmd = 'split -b ' + str(size_to_split) + ' ' + basedir + 'zip/' + msg['Set'] + ' ' +basedir+'temp/'+msg['Set']\n    os.system(cmd)\n    status('zip done')\n    list = os.listdir(basedir + 'temp/')\n    for l in list:\n        msg['partslist'].append(basedir + 'temp/' + l)\n        msg['partslist'].sort()\n    msg2['parts']=len(msg['partslist'])\nelse:\n    msg['partslist'] = [basedir + 'zip/' +msg['Set']]\n\n#######\nmsg2['photos'] = msg['Photos']\nmsg2['filesize'] = msg['Size_full']\nmsg2['project'] = msg['Set']\n\nmsg1 = OpenScanCloud('createProject', msg2)\n\nif not os.path.isdir(basedir+ 'zip/' + msg['Set'][:-4]):\n    os.mkdir(basedir+ 'zip/' + msg['Set'][:-4])\n    with open(basedir+ 'zip/' + msg['Set'][:-4]+'/status', 'w+') as file:\n        file.write('prepared')\n\nstatus('uploading')\nupload(msg['partslist'], msg1['ulink'])\nstatus('uploaded')\nmsg3 = OpenScanCloud('startProject', msg2)\nstatus('project started')\n\nreturn msg,msg1,msg2, msg3","outputs":4,"x":601,"y":380,"wires":[["9a132ab1.b21658","a40cbc1b.1a9aa"],[],[],[]]},{"id":"86e2a44b.335988","type":"inject","z":"532cea09.a25754","name":"Started","repeat":"0.1","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"str","x":100,"y":140,"wires":[["8e6e7577.f92658"]]},{"id":"8e6e7577.f92658","type":"python3-function","z":"532cea09.a25754","name":"msg","func":"with open('/home/pi/shared/log/cloudstatus.log', 'r') as file:\n    text = file.read()\n    \ntry: \n    if text[0:9] == 'uploading':\n        with open(\"/home/pi/shared/ui/data/uploadprogress\",'r') as file:\n            progress=file.read()[-6:]\n            if progress[-1] == '%':\n                text = text + ' (' + progress + ')'\n    msg['text'] = text\n    return msg\nexcept:\n    pass","outputs":1,"x":250,"y":140,"wires":[["952ce286.4ffd4"]]},{"id":"9bdd12b5.e099","type":"ui_button","z":"532cea09.a25754","name":"Refresh","group":"db43d646.2074c8","order":5,"width":6,"height":1,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"updating status ...","x":80,"y":480,"wires":[["9de4ca9e.c03d88"]]},{"id":"9de4ca9e.c03d88","type":"python3-function","z":"532cea09.a25754","name":"refresh","func":"import requests\nimport os\n\nuser = 'openscan'\npw = 'free'\n\nserver = 'http://openscanfeedback.dnsuser.de:1334/'\nbasepath=\"/home/pi/shared/ui/data/zip/\"\n\nwith open('/home/pi/shared/log/token.log', 'r') as file:\n    token = file.read().strip('\\n')\n\n\ndef OpenScanCloud(cmd, msg):\n    r = requests.get(server + cmd, auth=(user, pw), params=msg)\n    if r.status_code == 200:\n        return r.json()\n    else:\n        return {}\n\nmsg={}\nprojects = []\nfor i in os.listdir(basepath):\n    if os.path.isdir(basepath+ '/'+i):\n        if os.path.isfile(basepath+'/'+i+'/status'):\n            with open(basepath+'/'+i+'/status', 'r') as file:\n                status = file.read().strip('\\n')\n                if status in ['expired', 'processing done', 'processing failed']:\n                    continue\n        projects.append(i)\n\nfor p in projects:\n    answer = OpenScanCloud('getProjectInfo',{'token':token, 'project':p+'.zip'})\n    if answer == {}:\n        os.system('sudo rm -r ' + basepath + '/' + p)\n    else:\n        with open(basepath + '/' + p + '/status', 'w+') as file:\n            file.write(answer['status'])\n        with open(basepath + '/' + p + '/download', 'w+') as file:\n            file.write(answer['dlink'])\n\nmsg1 = OpenScanCloud('getTokenInfo', {'token':token})\n\nmsg['list'] = projects\ntry:\n    msg1['limit_filesize']=float(msg1['limit_filesize'])/1000000000\n    msg1['credit']=float((msg1['credit'])/1000000)/1000\n    return msg,msg1\nexcept:\n    return msg\n","outputs":2,"x":210,"y":480,"wires":[["84cf9870.619df8"],["fa9287d.2e4b078","ae83845d.58a6a8","80adb53.3844e48"]]},{"id":"84cf9870.619df8","type":"link out","z":"532cea09.a25754","name":"","links":["2f4c0f98.dee2","c20357dd.374108","e9aab326.a6896","edd22cc7.befe1","19b81967.49db87","8ee1b3bb.7b0b3"],"x":295,"y":460,"wires":[]},{"id":"c0b148bb.b0ce88","type":"ui_button","z":"532cea09.a25754","name":"Upload","group":"db43d646.2074c8","order":3,"width":3,"height":1,"passthru":false,"label":"Upload","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":280,"y":360,"wires":[["bfc01f26.c32cf","f6bd1a04.470838"]]},{"id":"50710948.71c308","type":"change","z":"532cea09.a25754","name":"set","rules":[{"t":"set","p":"set","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":180,"wires":[[]]},{"id":"834046a4.647938","type":"ui_text","z":"532cea09.a25754","group":"db43d646.2074c8","order":2,"width":6,"height":1,"name":"Set","label":"Set","format":"{{msg.payload.Set}}","layout":"row-spread","x":410,"y":260,"wires":[]},{"id":"9a132ab1.b21658","type":"change","z":"532cea09.a25754","name":"flag.true","rules":[{"t":"set","p":"flag","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":400,"wires":[["8689e938.dd9e38"]]},{"id":"3c67e97b.9d19a6","type":"function","z":"532cea09.a25754","name":"enable","func":"if (global.get('flag') === false){\n    msg.enabled = false\n    msg.color=\"white\"\n}\nelse{\n    msg.enabled = true\n    msg.color=\"red\"\n    \n}\nreturn msg","outputs":1,"noerr":0,"x":130,"y":300,"wires":[["c0b148bb.b0ce88","b9285703.ffc048"]]},{"id":"f2ab8075.4544f","type":"comment","z":"532cea09.a25754","name":"TODO","info":"update download links","x":130,"y":720,"wires":[]},{"id":"bfc01f26.c32cf","type":"change","z":"532cea09.a25754","name":"flag.false","rules":[{"t":"set","p":"flag","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":400,"wires":[["f20f2dbc.0f123"]]},{"id":"b33d604c.5f1a6","type":"link in","z":"532cea09.a25754","name":"","links":["4082b136.dae18","f20f2dbc.0f123","8689e938.dd9e38","d2f21710.8fbd08"],"x":35,"y":300,"wires":[["3c67e97b.9d19a6"]]},{"id":"f6bd1a04.470838","type":"change","z":"532cea09.a25754","name":"set","rules":[{"t":"set","p":"payload","pt":"msg","to":"set","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":360,"wires":[["d4383424.7807c8"]]},{"id":"4082b136.dae18","type":"link out","z":"532cea09.a25754","name":"","links":["b33d604c.5f1a6"],"x":375,"y":220,"wires":[]},{"id":"f20f2dbc.0f123","type":"link out","z":"532cea09.a25754","name":"","links":["b33d604c.5f1a6"],"x":515,"y":400,"wires":[]},{"id":"8689e938.dd9e38","type":"link out","z":"532cea09.a25754","name":"","links":["b33d604c.5f1a6"],"x":855,"y":400,"wires":[]},{"id":"d2f21710.8fbd08","type":"link out","z":"532cea09.a25754","name":"","links":["b33d604c.5f1a6","1f94d0f5.7da73f"],"x":335,"y":40,"wires":[]},{"id":"b9285703.ffc048","type":"ui_button","z":"532cea09.a25754","name":"Delete","group":"db43d646.2074c8","order":4,"width":3,"height":1,"passthru":false,"label":"Delete","tooltip":"","color":"{{color}}","bgcolor":"{{background}}","icon":"","payload":"set.Set","payloadType":"global","topic":"","x":270,"y":300,"wires":[["f1cdd84e.d78648"]]},{"id":"f1cdd84e.d78648","type":"python3-function","z":"532cea09.a25754","name":"del","func":"msg['Set']=msg['payload']\nmsg['payload']=\"Are you sure to delete and ALL associated files: \"+msg['payload']+\"?\"\nreturn msg","outputs":1,"x":410,"y":300,"wires":[["15de0ebb.616d61"]]},{"id":"15de0ebb.616d61","type":"ui_toast","z":"532cea09.a25754","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"No","cancel":"Yes","topic":"","name":"","x":550,"y":300,"wires":[["a7d89487.ee8858"]]},{"id":"a7d89487.ee8858","type":"python3-function","z":"532cea09.a25754","name":"del","func":"import os\nimport shutil\n\ndirectory=\"/home/pi/shared/ui/data/zip/\"\n\nif msg['payload']==\"No\":\n    return\n\ntry:\n    os.remove(directory+msg['Set'])\n    shutil.rmtree(directory+msg['Set'][:-4])\nexcept:\n    pass\nreturn msg","outputs":1,"x":690,"y":300,"wires":[["a4f09e25.02569"]]},{"id":"a4f09e25.02569","type":"link out","z":"532cea09.a25754","name":"","links":["2f4c0f98.dee2","c20357dd.374108","e9aab326.a6896","edd22cc7.befe1","19b81967.49db87","8ee1b3bb.7b0b3"],"x":795,"y":300,"wires":[]},{"id":"ae83845d.58a6a8","type":"ui_text","z":"532cea09.a25754","group":"88570d39.c5b25","order":3,"width":0,"height":0,"name":"","label":"Max. Number of Photos:","format":"{{msg.limit_photos}}","layout":"row-spread","x":390,"y":500,"wires":[]},{"id":"fa9287d.2e4b078","type":"ui_text","z":"532cea09.a25754","group":"88570d39.c5b25","order":4,"width":0,"height":0,"name":"","label":"Max. Filesize (GB):","format":"{{msg.limit_filesize}}","layout":"row-spread","x":370,"y":540,"wires":[]},{"id":"80adb53.3844e48","type":"ui_text","z":"532cea09.a25754","group":"88570d39.c5b25","order":2,"width":0,"height":0,"name":"","label":"Credit (GB):","format":"{{msg.credit}}","layout":"row-spread","x":350,"y":580,"wires":[]},{"id":"de8cf887.5d3488","type":"python3-function","z":"532cea09.a25754","name":"save","func":"if msg['payload']!=\"Yes\":\n    return None,msg\n\nwith open(\"/home/pi/shared/log/token.log\",\"w+\") as file:\n    file.write(str(msg['token']))\nmsg['payload'] = 'Token Saved'\nreturn msg, msg","outputs":2,"x":730,"y":620,"wires":[["7f91bfd6.00e12"],["86d5d435.aaa058"]]},{"id":"7f91bfd6.00e12","type":"ui_toast","z":"532cea09.a25754","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":870,"y":600,"wires":[[]]},{"id":"1d1a0978.f12367","type":"ui_text_input","z":"532cea09.a25754","name":"","label":"Token","tooltip":"","group":"88570d39.c5b25","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":330,"y":640,"wires":[["7c55acb.95f4e54"]]},{"id":"7c55acb.95f4e54","type":"python3-function","z":"532cea09.a25754","name":"Save?","func":"msg['token'] = msg['payload']\n\nif len(msg['payload'])>=14:\n    \n    msg[\"payload\"]='Save Token ' + msg['payload']\n    return msg\nelse:\n    return None,msg","outputs":2,"x":450,"y":640,"wires":[["255773b8.d57dbc"],["e9dade29.1e9f9"]]},{"id":"8e81c129.2ebe2","type":"python3-function","z":"532cea09.a25754","name":"text","func":"with open('/home/pi/shared/log/token.log','r') as file:\n    id=file.read()[0:8]\nmsg['payload']=id+\"...\"\nif len(id)==0:\n    msg['payload']=\"enter token\"\nreturn msg","outputs":1,"x":210,"y":640,"wires":[["1d1a0978.f12367"]]},{"id":"1f94d0f5.7da73f","type":"link in","z":"532cea09.a25754","name":"","links":["d2f21710.8fbd08","e9dade29.1e9f9","86d5d435.aaa058"],"x":80,"y":640,"wires":[["8e81c129.2ebe2"]]},{"id":"8e437831.caf498","type":"link out","z":"532cea09.a25754","name":"","links":["2f4c0f98.dee2","c20357dd.374108","e9aab326.a6896","edd22cc7.befe1","19b81967.49db87","8ee1b3bb.7b0b3"],"x":195,"y":80,"wires":[]},{"id":"fb3e8df1.449ae","type":"change","z":"532cea09.a25754","name":"flag.true","rules":[{"t":"set","p":"flag","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":40,"wires":[["d2f21710.8fbd08"]]},{"id":"d42a47c7.c0df68","type":"inject","z":"532cea09.a25754","name":"Started","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"str","x":100,"y":40,"wires":[["8e437831.caf498","fb3e8df1.449ae"]]},{"id":"255773b8.d57dbc","type":"ui_toast","z":"532cea09.a25754","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"No","cancel":"Yes","raw":false,"topic":"","name":"","x":590,"y":620,"wires":[["de8cf887.5d3488"]]},{"id":"e9dade29.1e9f9","type":"link out","z":"532cea09.a25754","name":"","links":["1f94d0f5.7da73f"],"x":535,"y":660,"wires":[]},{"id":"86d5d435.aaa058","type":"link out","z":"532cea09.a25754","name":"","links":["1f94d0f5.7da73f"],"x":815,"y":640,"wires":[]},{"id":"a40cbc1b.1a9aa","type":"debug","z":"532cea09.a25754","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":340,"wires":[]},{"id":"9501257c.cb0368","type":"python3-function","z":"532cea09.a25754","name":"download&install","func":"import os\nimport time\n\nif msg['payload']==\"OK\":\n    os.system('cp /home/pi/.node-red/flows_raspberrypi.json /home/pi/.node-red/backup_'+str(time.time())+'.json')\n    os.system('sudo wget -O /home/pi/.node-red/flows_raspberrypi.json https://raw.githubusercontent.com/OpenScanEu/OpenScan/master/temp/2020-06-02_OSC.json')\n    os.system('node-red-restart')","outputs":1,"x":470,"y":800,"wires":[[]]},{"id":"3daaa8e8.1c7ad8","type":"ui_toast","z":"532cea09.a25754","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"Cancel","cancel":"OK","raw":true,"topic":"","name":"","x":290,"y":800,"wires":[["9501257c.cb0368"]]},{"id":"b78f2c3e.925cc","type":"ui_button","z":"532cea09.a25754","name":"Install latest version","group":"88570d39.c5b25","order":5,"width":0,"height":0,"passthru":false,"label":"Install latest beta version?","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Install latest version","payloadType":"str","topic":"","x":110,"y":800,"wires":[["3daaa8e8.1c7ad8"]]},{"id":"237ab576.12040a","type":"debug","z":"68819360.7e7a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":480,"wires":[]},{"id":"74a393db.a3eacc","type":"debug","z":"68819360.7e7a7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":480,"wires":[]}]
