MultiRig/master.json
[{"id":"f725c8b9.547c18","type":"tab","label":"Main","disabled":false,"info":""},{"id":"e9cd1a81.ed6908","type":"tab","label":"Settings","disabled":false,"info":""},{"id":"d8558c87.8fcc6","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"197e075c.c61309","type":"ui_group","z":"","name":"Start","tab":"d8558c87.8fcc6","order":1,"disp":true,"width":4,"collapse":false},{"id":"3a6a0dd1.aa9d32","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"62ef0f28.6445c","type":"ui_group","z":"","name":"Camera A","tab":"d8558c87.8fcc6","order":2,"disp":false,"width":11,"collapse":false},{"id":"a581c566.b14898","type":"ui_group","z":"","name":"Camera B","tab":"d8558c87.8fcc6","order":3,"disp":false,"width":11,"collapse":false},{"id":"b3018e63.aa507","type":"ui_spacer","name":"spacer","group":"","order":8,"width":8,"height":1},{"id":"2fd50195.24e7ce","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"2a6a336e.537bbc","type":"ui_spacer","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"e87c51db.9e479","type":"ui_spacer","name":"spacer","group":"","order":5,"width":6,"height":1},{"id":"66c4fb4a.3f2c94","type":"ui_spacer","name":"spacer","group":"","order":6,"width":1,"height":1},{"id":"b1ba9e7e.532cb","type":"ui_spacer","name":"spacer","group":"","order":8,"width":1,"height":1},{"id":"48367f3f.48acb","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"43383576.26198c","type":"ui_spacer","name":"spacer","group":"","order":11,"width":1,"height":1},{"id":"8da9e70d.c1a7b8","type":"ui_spacer","name":"spacer","group":"","order":11,"width":8,"height":1},{"id":"6e8ec3dc.fbc57c","type":"ui_group","z":"","name":"Settings","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"8390eb1c.0f8f18","type":"ui_spacer","name":"spacer","group":"","order":11,"width":8,"height":1},{"id":"7fc4e326.35b5ac","type":"ui_group","z":"","name":"RPi Control","tab":"705f1d42.3bdf54","order":1,"disp":true,"width":"6","collapse":false},{"id":"8c013c96.59c8b","type":"ui_group","z":"","name":"Camera Settings","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"fb54293f.6d9c78","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"77573800.8cd538","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"c9f4568c.240ef8","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"e8f816ac.cd5668","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"eceb823b.37113","type":"ui_spacer","name":"spacer","group":"8c013c96.59c8b","order":5,"width":6,"height":1},{"id":"51fe5749.dd7cb8","type":"ui_group","z":"","name":"Advanced Pin & Motor Settings","tab":"","order":2,"disp":true,"width":"7","collapse":true},{"id":"4184b9f9.e0df68","type":"ui_group","z":"","name":"Advanced Camera Parameters","tab":"","order":3,"disp":true,"width":7,"collapse":true},{"id":"ae2d197d.01d2a8","type":"ui_group","z":"","name":"Node Red Update","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"62aba71a.a23518","type":"ui_spacer","name":"spacer","group":"ae2d197d.01d2a8","order":3,"width":6,"height":1},{"id":"aca0bc1d.bb563","type":"ui_spacer","name":"spacer","group":"6e8ec3dc.fbc57c","order":3,"width":6,"height":1},{"id":"562efa3c.74ff74","type":"ui_spacer","name":"spacer","group":"6e8ec3dc.fbc57c","order":6,"width":6,"height":1},{"id":"456b1580.84f0fc","type":"ui_spacer","name":"spacer","group":"6e8ec3dc.fbc57c","order":8,"width":6,"height":1},{"id":"51f68086.14d66","type":"ui_spacer","name":"spacer","group":"51fe5749.dd7cb8","order":2,"width":7,"height":1},{"id":"f387efce.4158e","type":"ui_spacer","name":"spacer","group":"51fe5749.dd7cb8","order":11,"width":7,"height":1},{"id":"92e80661.9f8848","type":"ui_spacer","name":"spacer","group":"4184b9f9.e0df68","order":2,"width":7,"height":1},{"id":"1da37848.7aebc8","type":"ui_group","z":"","name":"User Manual","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"2b5adfa4.be667","type":"ui_spacer","name":"spacer","group":"7fc4e326.35b5ac","order":7,"width":6,"height":1},{"id":"4ce9e4f4.d3c6dc","type":"ui_spacer","name":"spacer","group":"7fc4e326.35b5ac","order":10,"width":6,"height":1},{"id":"acadeb96.911828","type":"ui_spacer","name":"spacer","group":"7fc4e326.35b5ac","order":17,"width":6,"height":1},{"id":"3b1da3b7.789c0c","type":"ui_spacer","name":"spacer","group":"1da37848.7aebc8","order":3,"width":6,"height":1},{"id":"b95f194a.6cca28","type":"ui_tab","z":"","name":"Settings","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"dbd508fd.e96e48","type":"ui_group","z":"","name":"Group 1","tab":"b95f194a.6cca28","order":1,"disp":false,"width":"6","collapse":false},{"id":"36aa605b.73007","type":"ui_spacer","name":"spacer","group":"62ef0f28.6445c","order":2,"width":7,"height":1},{"id":"bea74c8e.a0409","type":"ui_spacer","name":"spacer","group":"a581c566.b14898","order":2,"width":7,"height":1},{"id":"ce3ad88c.a12608","type":"ui_tab","name":"Tab 3","icon":"dashboard","order":3},{"id":"ea722b35.f49c68","type":"ui_group","name":"Group 1","tab":"ce3ad88c.a12608","order":1,"disp":true,"width":6},{"id":"b10e025b.24c9","type":"ui_button","z":"f725c8b9.547c18","name":"","group":"197e075c.c61309","order":2,"width":0,"height":0,"passthru":false,"label":"Initialize Cameras","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":109,"y":220,"wires":[["9ec1a636.6ab878"]]},{"id":"dc821a98.35f368","type":"inject","z":"f725c8b9.547c18","name":"repeat 0.1","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["713e7be6.bf7864"]]},{"id":"9ec1a636.6ab878","type":"python3-function","z":"f725c8b9.547c18","name":"scan and write clients","func":"import os\nimport subprocess\nimport requests\n\ndir='/home/pi/openscan/clients/'\n\nnumberofscans=3\n\nfilelist = [ f for f in os.listdir(dir)]\nfor f in filelist:\n    os.remove(os.path.join(dir, f))\n\ndef test_slave_online(url):\n    try:\n        with requests.get(url, timeout=2) as response:\n            try:\n                response.raise_for_status()\n                return True\n            except requests.exceptions.HTTPError:\n                return False\n    except requests.exceptions.ConnectionError:\n        return False\n    return True\n    \nfor x in range (0,numberofscans):\n    for ping in range (2,255):\n        percentage=ping*100/(255*numberofscans)+x*100/numberofscans\n        with open(\"/home/pi/openscan/status.log\", \"w\") as file:\n            file.write(\"scanning: \"+str(percentage)+\"%\")\n        address = \"192.168.4.\" + str(ping)\n        res = subprocess.call(['fping', '-c1', '-t30', '-q', address])\n        if res == 0:\n            f = open(dir+str(ping),\"w+\")\n            f.write(str(ping))\n            f.close()\n\nfor x in [f for f in os.listdir(dir)]:\n    percentage=int(x)*100/255\n    with open(\"/home/pi/openscan/status.log\", \"w\") as file:\n        file.write(\"connecting: \"+str(percentage)+\"%\")\n    address=\"http://192.168.4.\"+x+\":1880/status.log\"\n    if test_slave_online(address)==False:\n        os.remove(dir+x)\n        #f = open(dir+str(x),\"w+\")\n        #f.write(str(x))\n        #f.close()\n\n\nmsg['options'] = [ f for f in os.listdir(dir)]\ncount=len([ f for f in os.listdir(dir)])\nwith open(\"/home/pi/openscan/status.log\", \"w\") as file:\n    file.write(\"found and connected \"+str(count)+\" clients\")\nreturn msg","outputs":1,"x":320,"y":220,"wires":[["371320c3.afaf9","ab5a10f1.d71f2"]]},{"id":"130f334b.c71f4d","type":"ui_text","z":"f725c8b9.547c18","group":"197e075c.c61309","order":1,"width":0,"height":0,"name":"","label":" ","format":"{{msg.payload}}","layout":"col-center","x":530,"y":160,"wires":[]},{"id":"713e7be6.bf7864","type":"file in","z":"f725c8b9.547c18","name":"","filename":"/home/pi/openscan/status.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":340,"y":160,"wires":[["130f334b.c71f4d"]]},{"id":"b8cf034.da448","type":"inject","z":"f725c8b9.547c18","name":"started","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":40,"wires":[["c77f9167.6f67b"]]},{"id":"c77f9167.6f67b","type":"python3-function","z":"f725c8b9.547c18","name":"initial variables","func":"with open(\"/home/pi/openscan/status.log\", \"w\") as file:\n    file.write(\"waiting for initial scan or reload\")\nreturn msg","outputs":1,"x":280,"y":40,"wires":[[]]},{"id":"824bdfcb.394e3","type":"inject","z":"f725c8b9.547c18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":100,"wires":[["a00473cf.3a864"]]},{"id":"a00473cf.3a864","type":"python3-function","z":"f725c8b9.547c18","name":"set command time","func":"command=msg['payload']\nwith open(\"/home/pi/shared/commandtime.log\", \"w\") as file:\n    file.write(str(command))\n","outputs":1,"x":290,"y":100,"wires":[[]]},{"id":"1cc407df.6a1a38","type":"python3-function","z":"f725c8b9.547c18","name":"reload clients","func":"import os\n# hier nochmal anpingen und ggfs. löschen :)\ndir='/home/pi/openscan/clients/'\nmsg['options'] = [ f for f in os.listdir(dir)]\nreturn msg\n","outputs":1,"x":350,"y":260,"wires":[["371320c3.afaf9","ab5a10f1.d71f2"]]},{"id":"dd97e1e9.3f55","type":"ui_button","z":"f725c8b9.547c18","name":"","group":"197e075c.c61309","order":3,"width":0,"height":0,"passthru":false,"label":"Reload Cameras","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":260,"wires":[["1cc407df.6a1a38"]]},{"id":"45f62187.09a98","type":"ui_button","z":"f725c8b9.547c18","name":"","group":"197e075c.c61309","order":4,"width":0,"height":0,"passthru":false,"label":"take and download photos","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":360,"wires":[["ca8362d.f2a3fa"]]},{"id":"ca8362d.f2a3fa","type":"python3-function","z":"f725c8b9.547c18","name":"send command","func":"import time\nimport os\nimport requests\nimport shutil\n\ndef status(message):\n    with open(\"/home/pi/openscan/status.log\", \"w\") as file:\n        file.write(message)\n\ncurrent_milli_time = lambda: int(round(time.time() * 1000))\ntriggertime=int(current_milli_time())\nstatus(\"taking photos in 5s\")\n\nwith open(\"/home/pi/shared/command.log\", \"w\") as file:\n    file.write(str(triggertime+5000)+';take photo;3')\n    \nwith open(\"/home/pi/shared/commandtime.log\", \"w\") as file:\n    file.write(str(triggertime))\ntime.sleep(1)\nfor x in range(5):\n    status(\"taking photos in \"+str(5-x-1)+\"s\")\n    time.sleep(1)\n\nstatus(\"initialize download\")\ntime.sleep(3)\n\n# ----- download images -----\ndir='/home/pi/openscan/clients/'\nclientlist=[ f for f in os.listdir(dir)]\ncount=1\nfor id in [ f for f in os.listdir(dir)]:\n    status(\"downloding \"+str(count)+\" of \"+str(len(clientlist)))\n    url = 'http://192.168.4.'+id+':1880/photos/photo.jpg'\n    image = requests.get(url, stream=False, timeout=4)\n    with open(\"/home/pi/shared/photos/\"+id+\".jpg\", 'wb') as f:\n        f.write(image.content)\n    count=count+1\nstatus(\"zipping\")\nshutil.make_archive('/home/pi/shared/photos', 'zip','/home/pi/shared/photos/')\nstatus(\"all images downloaded\")\nreturn msg","outputs":1,"x":380,"y":360,"wires":[[]]},{"id":"164e05a0.19a4da","type":"python3-function","z":"f725c8b9.547c18","name":"scan and write addresses","func":"# this will take 20s\n\nimport requests\nimport os\n\ndef test_slave_online(url):\n    try:\n        with requests.get(url, timeout=0.2) as response:\n            try:\n                response.raise_for_status()\n                return True\n            except requests.exceptions.HTTPError:\n                return False\n    except requests.exceptions.ConnectionError:\n        return False\n    return True\n\ndir='/home/pi/openscan/clients/'\n\nfilelist = [ f for f in os.listdir(dir)]\nfor f in filelist:\n    os.remove(os.path.join(dir, f))\ncount=0\n\nfor x in range(2, 255):\n#for x in [63,152]:\n    percentage=x*100/255\n    with open(\"/home/pi/openscan/status.log\", \"w\") as file:\n        file.write(\"scanning and connecting: \"+str(percentage)+\"%\")\n    address=\"http://192.168.4.\"+str(x)+\":1880/status.log\"\n    if test_slave_online(address)==True:\n        f = open(dir+str(x),\"w+\")\n        f.write(str(x))\n        f.close()\n        count=count+1\n\nmsg['options'] = [ f for f in os.listdir(dir)]\nwith open(\"/home/pi/openscan/status.log\", \"w\") as file:\n    file.write(\"found and connected \"+str(count)+\" clients\")\nreturn msg\n","outputs":1,"x":790,"y":60,"wires":[[]]},{"id":"1cfcb5c9.58d8ba","type":"comment","z":"f725c8b9.547c18","name":"---- TO DO ----","info":"reload cameras (test + statusupdate)","x":540,"y":60,"wires":[]},{"id":"371320c3.afaf9","type":"ui_dropdown","z":"f725c8b9.547c18","name":"Clients:","label":"Camera:","tooltip":"","place":" ","group":"62ef0f28.6445c","order":1,"width":4,"height":1,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":520,"y":220,"wires":[["b6f1bee.c9f734"]]},{"id":"ab5a10f1.d71f2","type":"ui_dropdown","z":"f725c8b9.547c18","name":"Clients:","label":"Camera:","tooltip":"","place":" ","group":"a581c566.b14898","order":1,"width":4,"height":1,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":520,"y":260,"wires":[["c3449dda.64add"]]},{"id":"3e3f9495.452d2c","type":"ui_template","z":"f725c8b9.547c18","group":"62ef0f28.6445c","name":"Display Slave UI","order":3,"width":0,"height":0,"format":"<iframe id=\"myFrame\" width=\"570\" height=\"650\" frameBorder=\"1\" src = \"\"></iframe>\n<script>\n(function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        var x = document.getElementById('myFrame');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":821,"y":220,"wires":[[]]},{"id":"b6f1bee.c9f734","type":"python3-function","z":"f725c8b9.547c18","name":"msg","func":"if len(msg['payload'])>4:\n    msg['payload']=\"http://192.168.4.1:1880/empty.log\"\n    return msg\nmsg['payload']=\"http://192.168.4.\"+msg['payload']+\":1880/ui\"\nreturn msg","outputs":1,"x":670,"y":220,"wires":[["3e3f9495.452d2c"]]},{"id":"c3449dda.64add","type":"python3-function","z":"f725c8b9.547c18","name":"msg","func":"if len(msg['payload'])>4:\n    msg['payload']=\"http://192.168.4.1:1880/empty.log\"\n    return msg\nmsg['payload']=\"http://192.168.4.\"+msg['payload']+\":1880/ui\"\nreturn msg","outputs":1,"x":670,"y":260,"wires":[["266875e5.a4cd5a"]]},{"id":"266875e5.a4cd5a","type":"ui_template","z":"f725c8b9.547c18","group":"a581c566.b14898","name":"Display Slave UI","order":3,"width":0,"height":0,"format":"<iframe id=\"myFrame2\" width=\"570\" height=\"650\" frameBorder=\"2\" src = \"\"></iframe>\n<script>\n(function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        var x = document.getElementById('myFrame2');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":820,"y":260,"wires":[[]]},{"id":"14523066.d0e4b","type":"ui_button","z":"e9cd1a81.ed6908","name":"","group":"dbd508fd.e96e48","order":6,"width":0,"height":0,"passthru":false,"label":"shutdown all","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":40,"wires":[["d1af4001.d367b"]]},{"id":"d1af4001.d367b","type":"python3-function","z":"e9cd1a81.ed6908","name":"send command","func":"import time\nimport os\nimport requests\n\ndef status(message):\n    with open(\"/home/pi/openscan/status.log\", \"w\") as file:\n        file.write(message)\n\ncurrent_milli_time = lambda: int(round(time.time() * 1000))\ntriggertime=int(current_milli_time())\nstatus(\"shutting down in 5s\")\n\nwith open(\"/home/pi/shared/command.log\", \"w\") as file:\n    file.write(str(triggertime+5000)+';shutdown;3')\n    \nwith open(\"/home/pi/shared/commandtime.log\", \"w\") as file:\n    file.write(str(triggertime))\ntime.sleep(1)\nfor x in range(5):\n    status(\"shutting down in \"+str(5-x-1)+\"s\")\n    time.sleep(1)\nos.system(\"sudo shutdown -h now\")","outputs":1,"x":320,"y":40,"wires":[[]]},{"id":"a1b4e85a.455748","type":"ui_button","z":"e9cd1a81.ed6908","name":"","group":"dbd508fd.e96e48","order":4,"width":0,"height":0,"passthru":false,"label":"Update Camera Drivers","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":140,"wires":[["4d3d615a.a0665"]]},{"id":"4d3d615a.a0665","type":"python3-function","z":"e9cd1a81.ed6908","name":"send command","func":"import time\nimport os\nimport requests\n\ndef status(message):\n    with open(\"/home/pi/openscan/status.log\", \"w\") as file:\n        file.write(message)\n\ncurrent_milli_time = lambda: int(round(time.time() * 1000))\ntriggertime=int(current_milli_time())\n\nupdate = requests.get('http://192.168.4.1:1880/updateslave.json', timeout=2)\nwith open(\"/home/pi/shared/command.log\", \"w\") as file:\n    file.write(str(triggertime)+';update;'+str(len(update.content)))\nwith open(\"/home/pi/shared/commandtime.log\", \"w\") as file:\n    file.write(str(triggertime))\n\ntime.sleep(1)\nstatus(\"update send, rebooting all cameras now\")\n\n\ntime.sleep(3)\n","outputs":1,"x":400,"y":140,"wires":[[]]},{"id":"ff8e0e00.5d335","type":"ui_button","z":"f725c8b9.547c18","name":"","group":"197e075c.c61309","order":5,"width":0,"height":0,"passthru":false,"label":"preview all","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":420,"wires":[["a5ca021a.70cc4"]]},{"id":"a5ca021a.70cc4","type":"python3-function","z":"f725c8b9.547c18","name":"send command","func":"import time\nimport os\nimport requests\n\ndef status(message):\n    with open(\"/home/pi/openscan/status.log\", \"w\") as file:\n        file.write(message)\n\ncurrent_milli_time = lambda: int(round(time.time() * 1000))\ntriggertime=int(current_milli_time())\nstatus(\"taking previews\")\n\nwith open(\"/home/pi/shared/command.log\", \"w\") as file:\n    file.write(str(triggertime+5000)+';preview')\n    \nwith open(\"/home/pi/shared/commandtime.log\", \"w\") as file:\n    file.write(str(triggertime))\n\nstatus(\"preview triggered\")\nreturn msg","outputs":1,"x":380,"y":420,"wires":[[]]},{"id":"32a43a2e.a712d6","type":"inject","z":"f725c8b9.547c18","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.005","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":540,"wires":[["d0aa513d.786ae"]]},{"id":"d0aa513d.786ae","type":"ui_text","z":"f725c8b9.547c18","group":"ea722b35.f49c68","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":540,"wires":[]},{"id":"7b3f4c4a.1441a4","type":"python3-function","z":"f725c8b9.547c18","name":"send command","func":"\nimport shutil\n\n\nshutil.make_archive('/home/pi/shared/photos', 'zip','/home/pi/shared/photos/')\n\nreturn msg","outputs":1,"x":400,"y":620,"wires":[[]]},{"id":"afda01ac.8938b","type":"inject","z":"f725c8b9.547c18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":620,"wires":[["7b3f4c4a.1441a4"]]},{"id":"9aa492b.6939d7","type":"inject","z":"e9cd1a81.ed6908","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":220,"wires":[["62774446.69760c"]]},{"id":"62774446.69760c","type":"python3-function","z":"e9cd1a81.ed6908","name":"download master update","func":"import os\nimport urllib2\n\ndef internet_on():\n    try:\n        urllib2.urlopen('http://216.58.192.142', timeout=1)\n        pass\n    except urllib2.URLError as err: \n        msg['payload']=\"No internet connection\"\n        return msg\n\ndef download(target,source):\n    os.system(\"wget -O \"+target+\" \"+source)\n\ninternet_on()\ndownload(\"/home/pi/shared/master.json\",\"https://raw.githubusercontent.com/OpenScanEu/OpenScan/master/MultiRig/master.json\")\ndownload(\"/home/pi/shared/slave.json\",\"https://raw.githubusercontent.com/OpenScanEu/OpenScan/master/MultiRig/slave.json\")\n\nmsg['payload']=\"Download successful!\"\nreturn msg","outputs":1,"x":290,"y":220,"wires":[["2ce1d208.68449e"]]},{"id":"2ce1d208.68449e","type":"ui_toast","z":"e9cd1a81.ed6908","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":490,"y":220,"wires":[[]]},{"id":"3c8f44c9.35856c","type":"python3-function","z":"e9cd1a81.ed6908","name":"install master","func":"import os\n\npath=\"/home/pi/shared/master.json\"\n\ndef test_file(filepath):\n    if os.path.exists(filepath)==False:\n        return \"file does not exist\"\n    if os.stat(filepath).st_size==0 or os.stat(filepath).st_size==1:\n        return \"file empty\"\n    return \"ok\"\n\ntest=test_file(path)\nif test!=\"ok\":\n    msg['payload']=test\n    return [msg,[]]\n\nos.system(\"sudo \\cp \"+path+\" /home/pi/.node-red/flows_raspberrypi.json\")\nmsg['payload']=\"Installation successful ... Rebooting\"\n\nreturn [msg,msg]","outputs":2,"x":250,"y":300,"wires":[["c8a01b70.772b08"],["50f0938c.53e67c"]]},{"id":"d321e27e.0168b","type":"inject","z":"e9cd1a81.ed6908","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":300,"wires":[["3c8f44c9.35856c"]]},{"id":"c8a01b70.772b08","type":"ui_toast","z":"e9cd1a81.ed6908","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":410,"y":280,"wires":[[]]},{"id":"4f176bf5.200c04","type":"python3-function","z":"f725c8b9.547c18","name":"Multiple Outputs!!!!","func":"\nmsg2={\"payload\": \"juhuhuhu\"}\nreturn [msg,msg2]","outputs":2,"x":390,"y":700,"wires":[["eda5b0bc.626cf"],["53feedec.7fadd4"]]},{"id":"53feedec.7fadd4","type":"debug","z":"f725c8b9.547c18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":740,"wires":[]},{"id":"e0730df9.5497f","type":"inject","z":"f725c8b9.547c18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":700,"wires":[["4f176bf5.200c04"]]},{"id":"eda5b0bc.626cf","type":"debug","z":"f725c8b9.547c18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":700,"wires":[]},{"id":"50f0938c.53e67c","type":"python3-function","z":"e9cd1a81.ed6908","name":"reboot","func":"os.system(\"sudo reboot -h\")","outputs":1,"x":390,"y":320,"wires":[[]]}]
