MultiRig/slave.json

[{"id":"5cac55a1.933c6c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8ad67c52.71fa9","type":"tab","label":"Settings","disabled":false,"info":""},{"id":"4023d80d.2281f8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1b76e4e3.2cd27b","type":"ui_group","z":"","name":"Camera A","tab":"","order":2,"disp":false,"width":11,"collapse":false},{"id":"d4942b1f.ade088","type":"ui_group","z":"","name":"Camera B","tab":"","order":3,"disp":false,"width":11,"collapse":false},{"id":"20d6fddf.47d4c2","type":"ui_spacer","name":"spacer","group":"","order":8,"width":8,"height":1},{"id":"91d526cb.9d3f18","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"f997d491.2f1668","type":"ui_spacer","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"22c3b095.e029f","type":"ui_spacer","name":"spacer","group":"","order":5,"width":6,"height":1},{"id":"2a68b7e3.4f13c8","type":"ui_spacer","name":"spacer","group":"","order":6,"width":1,"height":1},{"id":"a4cbd759.1cdd08","type":"ui_spacer","name":"spacer","group":"","order":8,"width":1,"height":1},{"id":"4338879b.f40828","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"4af8cd5a.cce414","type":"ui_spacer","name":"spacer","group":"","order":11,"width":1,"height":1},{"id":"9eeb5bd3.746588","type":"ui_spacer","name":"spacer","group":"","order":11,"width":8,"height":1},{"id":"c4afc956.c61588","type":"ui_group","z":"","name":"Settings","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"b65029d8.72dc68","type":"ui_spacer","name":"spacer","group":"","order":11,"width":8,"height":1},{"id":"eb2d5f33.b9e07","type":"ui_group","z":"","name":"RPi Control","tab":"705f1d42.3bdf54","order":1,"disp":true,"width":"6","collapse":false},{"id":"3407f8d3.c13978","type":"ui_group","z":"","name":"Camera Settings","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"611e8f7d.076f7","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"ad5a25f0.d99768","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"8da2d684.3e9128","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"32e15025.0084c","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"ea1c58aa.d4e6e8","type":"ui_spacer","name":"spacer","group":"3407f8d3.c13978","order":5,"width":6,"height":1},{"id":"3412efda.ab033","type":"ui_group","z":"","name":"Advanced Pin & Motor Settings","tab":"","order":2,"disp":true,"width":"7","collapse":true},{"id":"67bc5173.fd55c","type":"ui_group","z":"","name":"Advanced Camera Parameters","tab":"","order":3,"disp":true,"width":7,"collapse":true},{"id":"79c60655.575c58","type":"ui_group","z":"","name":"Node Red Update","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"f924c1ce.c40ed","type":"ui_spacer","name":"spacer","group":"79c60655.575c58","order":3,"width":6,"height":1},{"id":"a72ee24f.f19c5","type":"ui_spacer","name":"spacer","group":"c4afc956.c61588","order":3,"width":6,"height":1},{"id":"b95007ce.fac6b8","type":"ui_spacer","name":"spacer","group":"c4afc956.c61588","order":6,"width":6,"height":1},{"id":"57f0e093.c4232","type":"ui_spacer","name":"spacer","group":"c4afc956.c61588","order":8,"width":6,"height":1},{"id":"583f4b6d.e77794","type":"ui_spacer","name":"spacer","group":"3412efda.ab033","order":2,"width":7,"height":1},{"id":"fab697ea.f7c128","type":"ui_spacer","name":"spacer","group":"3412efda.ab033","order":11,"width":7,"height":1},{"id":"de3340f9.9766c","type":"ui_spacer","name":"spacer","group":"67bc5173.fd55c","order":2,"width":7,"height":1},{"id":"35ba0223.49d47e","type":"ui_group","z":"","name":"User Manual","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"3f1079a9.f38cf6","type":"ui_spacer","name":"spacer","group":"eb2d5f33.b9e07","order":7,"width":6,"height":1},{"id":"31830c77.216234","type":"ui_spacer","name":"spacer","group":"eb2d5f33.b9e07","order":10,"width":6,"height":1},{"id":"dd80c9a6.49f5a8","type":"ui_spacer","name":"spacer","group":"eb2d5f33.b9e07","order":17,"width":6,"height":1},{"id":"91309afa.d52198","type":"ui_spacer","name":"spacer","group":"35ba0223.49d47e","order":3,"width":6,"height":1},{"id":"d5d47978.2e33e8","type":"ui_spacer","name":"spacer","group":"1b76e4e3.2cd27b","order":2,"width":7,"height":1},{"id":"88e11a3.cad5be8","type":"ui_spacer","name":"spacer","group":"d4942b1f.ade088","order":2,"width":7,"height":1},{"id":"c14c6a2e.ab0518","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5772de3a.7a689","type":"ui_tab","z":"","name":"Preview","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e50ae6e6.832908","type":"ui_group","z":"","name":"Group 1","tab":"5772de3a.7a689","order":1,"disp":false,"width":10,"collapse":false},{"id":"48323ff5.4c8a1","type":"ui_group","z":"","name":"Group 1","tab":"98733616.7bd138","order":1,"disp":false,"width":"6","collapse":false},{"id":"e047289b.1f06d8","type":"ui_spacer","name":"spacer","group":"","order":8,"width":8,"height":1},{"id":"98cd4461.d740c8","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"65ad7e3a.e8afc","type":"ui_spacer","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"fea97e07.93cc6","type":"ui_spacer","name":"spacer","group":"","order":5,"width":6,"height":1},{"id":"9adc5604.155aa8","type":"ui_spacer","name":"spacer","group":"","order":6,"width":1,"height":1},{"id":"b04bb7a8.cd0fa8","type":"ui_spacer","name":"spacer","group":"","order":8,"width":1,"height":1},{"id":"ab7cc704.2aeac8","type":"ui_spacer","name":"spacer","group":"","order":9,"width":1,"height":1},{"id":"80f43d38.058c1","type":"ui_spacer","name":"spacer","group":"","order":11,"width":1,"height":1},{"id":"e2e26f92.f21e1","type":"ui_spacer","name":"spacer","group":"","order":11,"width":8,"height":1},{"id":"1a8744c9.abbccb","type":"ui_group","z":"","name":"Setup","tab":"","order":1,"disp":true,"width":8,"collapse":false},{"id":"c8efaeba.599f2","type":"ui_group","z":"","name":"Settings","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"a2528ee0.d1c89","type":"ui_spacer","name":"spacer","group":"","order":11,"width":8,"height":1},{"id":"e73c451b.1b6418","type":"ui_group","z":"","name":"RPi Control","tab":"d56d864e.ce7848","order":1,"disp":true,"width":"6","collapse":false},{"id":"c64a2106.8346c","type":"ui_spacer","name":"spacer","group":"1a8744c9.abbccb","order":8,"width":8,"height":1},{"id":"a4fa0d0b.73f92","type":"ui_group","z":"","name":"Camera Settings","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"77a5322a.b2b96c","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"b30882c0.fca02","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"37e99de7.50b542","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"bb3231f.99495d","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"d980064.77a95f8","type":"ui_spacer","name":"spacer","group":"a4fa0d0b.73f92","order":5,"width":6,"height":1},{"id":"37e8e464.4f9f2c","type":"ui_group","z":"","name":"Advanced Pin & Motor Settings","tab":"","order":2,"disp":true,"width":"7","collapse":true},{"id":"8250c65.a3c5938","type":"ui_group","z":"","name":"Advanced Camera Parameters","tab":"","order":3,"disp":true,"width":7,"collapse":true},{"id":"df0ddfc1.a1426","type":"ui_group","z":"","name":"Node Red Update","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"474b9f21.7f02a","type":"ui_spacer","name":"spacer","group":"df0ddfc1.a1426","order":3,"width":6,"height":1},{"id":"f3c704d7.0e48f8","type":"ui_spacer","name":"spacer","group":"c8efaeba.599f2","order":3,"width":6,"height":1},{"id":"48c6d60.fccd628","type":"ui_spacer","name":"spacer","group":"c8efaeba.599f2","order":6,"width":6,"height":1},{"id":"2956bfbd.12049","type":"ui_spacer","name":"spacer","group":"c8efaeba.599f2","order":8,"width":6,"height":1},{"id":"b4a9c4e.1566438","type":"ui_spacer","name":"spacer","group":"37e8e464.4f9f2c","order":2,"width":7,"height":1},{"id":"ceffebd9.f8b258","type":"ui_spacer","name":"spacer","group":"37e8e464.4f9f2c","order":11,"width":7,"height":1},{"id":"d595f620.6c30b8","type":"ui_spacer","name":"spacer","group":"8250c65.a3c5938","order":2,"width":7,"height":1},{"id":"443f0abf.65f674","type":"ui_spacer","name":"spacer","group":"e73c451b.1b6418","order":7,"width":6,"height":1},{"id":"8db5fa38.b0e6c8","type":"ui_spacer","name":"spacer","group":"e73c451b.1b6418","order":10,"width":6,"height":1},{"id":"1ecca7af.6d9ae8","type":"ui_spacer","name":"spacer","group":"e73c451b.1b6418","order":15,"width":6,"height":1},{"id":"98733616.7bd138","type":"ui_tab","z":"","name":"Settings","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"500995ae.1c853c","type":"ui_spacer","name":"spacer","group":"e50ae6e6.832908","order":7,"width":3,"height":1},{"id":"b34334f6.c0a388","type":"ui_spacer","name":"spacer","group":"e50ae6e6.832908","order":8,"width":10,"height":1},{"id":"95b276ee.5b99f8","type":"ui_spacer","name":"spacer","group":"48323ff5.4c8a1","order":5,"width":1,"height":1},{"id":"8e419b51.d35288","type":"ui_spacer","name":"spacer","group":"48323ff5.4c8a1","order":8,"width":2,"height":1},{"id":"57b4e699.365908","type":"ui_spacer","name":"spacer","group":"48323ff5.4c8a1","order":10,"width":1,"height":1},{"id":"86d248be.c7e0e8","type":"inject","z":"5cac55a1.933c6c","name":"start","topic":"","payload":"http://192.168.4.1:1880/commandtime.log","payloadType":"str","repeat":"2","crontab":"","once":false,"onceDelay":"3","x":90,"y":100,"wires":[["313a7dc1.883c62"]]},{"id":"313a7dc1.883c62","type":"python3-function","z":"5cac55a1.933c6c","name":"command time + command download","func":"import requests\nfrom requests import get \n\ntry:\n    r = requests.get(msg['payload'], timeout=1)\nexcept requests.exceptions.RequestException as e:  \n    #sys.exit(1)\n    return\n\nnewcommandtime=r.text\n\nwith open(\"/home/pi/shared/log/commandtime.log\", \"rw+\") as file:\n    lastcommandtime=file.read()\n\nif int(lastcommandtime)==int(newcommandtime):\n    return\n\ndef download(url, file_name):\n    with open(file_name, \"wb\") as file:\n        response = get(url, timeout=1)\n        file.write(response.content)\n\ndownload('http://192.168.4.1:1880/command.log', '/home/pi/shared/log/command.log')\n\nwith open(\"/home/pi/shared/log/commandtime.log\", \"w\") as file:\n    file.write(newcommandtime)\n\nmsg['payload']=newcommandtime\n\nreturn msg","outputs":1,"x":330,"y":100,"wires":[["c0fb8afd.651928","8f52a271.e6474"]]},{"id":"8f52a271.e6474","type":"ui_text","z":"5cac55a1.933c6c","group":"e50ae6e6.832908","order":10,"width":10,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":810,"y":20,"wires":[]},{"id":"c0fb8afd.651928","type":"python3-function","z":"5cac55a1.933c6c","name":"process command","func":"import time\nimport os\nimport requests\nimport shutil\nimport picamera\n\ndef takephoto(numberofphotos):\n    with picamera.PiCamera() as camera:\n        camera.resolution = (3280 , 2464 )\n        camera.capture('/home/pi/shared/photos/photo.jpg')\n    msg['payload']=\"photo taken\"\n\ndef preview():\n    msg['payload']=\"preview\"\n    return msg\n\ndef update(filelength):\n    newupdatetime= requests.get('http://192.168.4.1:1880/updateslaveversion.log', timeout=3)\n    with open('/home/pi/.node-red/updateversionnew.log', 'wb') as f:\n        f.write(newupdatetime.content)\n    with open('/home/pi/.node-red/updateversioncurrent.log', 'r') as f:\n        currentupdatetime=f.read()\n\n    \n    if newupdatetime.content==currentupdatetime:\n       msg['payload']=\"system already up to date\" \n       return    \n    \n    update = requests.get('http://192.168.4.1:1880/updateslave.json', timeout=3)\n    if int(filelength)!=len(update.content):\n        msg['payload']=\"error downloading update\"\n        return\n    \n    shutil.copy('/home/pi/.node-red/flows_raspberrypi.json', '/home/pi/.node-red/flows_raspberrypi_saved.json')\n    with open('/home/pi/.node-red/flows_raspberrypi.json', 'wb') as f:\n        f.write(update.content)\n    with open('/home/pi/.node-red/updateversioncurrent.log', 'wb') as f:\n        f.write(newupdatetime.content)\n    time.sleep(1)\n    reboot()\n\n\ndef deleteimages():\n    msg['payload']=\"delete images\"\n\ndef reboot():\n    os.system('sudo shutdown -r now')\n\ndef shutdown():\n    os.system(\"sudo shutdown -h now\")\n\nlength=len(open(\"/home/pi/shared/log/command.log\").readlines())\ncurrent_milli_time = lambda: int(round(time.time() * 1000))\n\n\nfor x in range(length):\n    with open(\"/home/pi/shared/log/command.log\", \"rw+\") as file:\n        commandraw=file.readlines()[x]\n        command=commandraw.split(';')\n        msg['payload']=command\n        while current_milli_time()<int(command[0]):\n            1\n        if command[1]==\"take photo\":\n            takephoto(int(command[0]))\n        elif command[1]==\"preview\":\n            preview()\n        elif command[1]==\"update\":\n            update(command[2])\n        elif command[1]==\"delete images\":\n            deleteimages()\n        elif command[1]==\"reboot\":\n            reboot()\n        elif command[1]==\"shutdown\":\n            shutdown()\nreturn msg","outputs":1,"x":610,"y":100,"wires":[["8f52a271.e6474","a2d7e7c0.dc5e18","fdd2085a.f79d58"]]},{"id":"1f17a2a2.5e43ed","type":"inject","z":"5cac55a1.933c6c","name":"start","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":true,"onceDelay":"0.5","x":90,"y":40,"wires":[["5dffff04.c9715"]]},{"id":"5dffff04.c9715","type":"ui_text","z":"5cac55a1.933c6c","group":"e50ae6e6.832908","order":9,"width":0,"height":0,"name":"","label":"Time:","format":"{{msg.payload}}","layout":"row-spread","x":310,"y":280,"wires":[]},{"id":"a2d7e7c0.dc5e18","type":"debug","z":"5cac55a1.933c6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":100,"wires":[]},{"id":"f37fa618.bc0318","type":"ui_button","z":"8ad67c52.71fa9","name":"","group":"48323ff5.4c8a1","order":1,"width":0,"height":0,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":80,"wires":[["9c4d4b9c.2df808"]]},{"id":"9c4d4b9c.2df808","type":"python3-function","z":"8ad67c52.71fa9","name":"","func":"import os\n\nos.system(\"sudo reboot -h now\")\n","outputs":1,"x":330,"y":80,"wires":[[]]},{"id":"8eb2dfc3.71591","type":"ui_text_input","z":"8ad67c52.71fa9","name":"","label":"","tooltip":"standard value: 3280","group":"48323ff5.4c8a1","order":6,"width":2,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","x":620,"y":260,"wires":[["9e0bfa88.134a78"]]},{"id":"5361e083.e9992","type":"file in","z":"8ad67c52.71fa9","name":"","filename":"/home/pi/shared/log/picamera_resolution_x.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":340,"y":260,"wires":[["8eb2dfc3.71591"]]},{"id":"9e0bfa88.134a78","type":"file","z":"8ad67c52.71fa9","name":"","filename":"/home/pi/shared/log/picamera_resolution_x.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":880,"y":260,"wires":[[]]},{"id":"b69e30f8.31fa9","type":"ui_text_input","z":"8ad67c52.71fa9","name":"","label":"","tooltip":"standard value: 2464","group":"48323ff5.4c8a1","order":7,"width":2,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","x":620,"y":340,"wires":[["3ffe29d6.3193e6"]]},{"id":"63d8ba97.36f044","type":"file in","z":"8ad67c52.71fa9","name":"","filename":"/home/pi/shared/log/picamera_resolution_y.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":340,"y":340,"wires":[["b69e30f8.31fa9"]]},{"id":"3ffe29d6.3193e6","type":"file","z":"8ad67c52.71fa9","name":"","filename":"/home/pi/shared/log/picamera_resolution_y.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":880,"y":340,"wires":[[]]},{"id":"409c423a.35627c","type":"ui_text","z":"8ad67c52.71fa9","group":"48323ff5.4c8a1","order":9,"width":5,"height":1,"name":"","label":"RPi Cam Resolution y","format":"{{msg.payload}}","layout":"row-spread","x":260,"y":300,"wires":[]},{"id":"ef87f921.dbd2d8","type":"ui_text","z":"8ad67c52.71fa9","group":"48323ff5.4c8a1","order":4,"width":5,"height":1,"name":"","label":"RPi Cam Resolution x","format":"{{msg.payload}}","layout":"row-spread","x":260,"y":220,"wires":[]},{"id":"ba0caa2a.748058","type":"ui_button","z":"8ad67c52.71fa9","name":"","group":"48323ff5.4c8a1","order":3,"width":6,"height":1,"passthru":false,"label":"Reset all Cam Parameters","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":280.5381622314453,"y":173.0343837738037,"wires":[["e827ff7b.70e53"]]},{"id":"e827ff7b.70e53","type":"python3-function","z":"8ad67c52.71fa9","name":"set initial variables","func":"with open(\"/home/pi/shared/log/picamera_activation.log\", \"w\") as file:\n    file.write(\"true\")\nwith open(\"/home/pi/shared/log/picamera_resolution_x.log\", \"w\") as file:\n    file.write(\"3280\")\nwith open(\"/home/pi/shared/log/picamera_resolution_y.log\", \"w\") as file:\n    file.write(\"2464\")    \n    \nreturn msg","outputs":1,"x":539.5381393432617,"y":173.0345401763916,"wires":[[]]},{"id":"4d749c3f.724be4","type":"delay","z":"5cac55a1.933c6c","name":"","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":359.99991607666016,"y":440.00029373168945,"wires":[["10b5bb6c.bc5f65"]]},{"id":"10b5bb6c.bc5f65","type":"python3-function","z":"5cac55a1.933c6c","name":"Take Preview Shot","func":"import time\nimport picamera\nfrom time import sleep\n\nwith open(\"/home/pi/shared/log/picamera_zoom.log\", \"r\") as file:\n    zoomfactor=file.read()\nzoomx=0.5-0.5/float(zoomfactor)    \nzoomy=zoomx\nzoomw=1/float(zoomfactor)\nzoomh=zoomw\nzoom=(zoomx, zoomy, zoomw, zoomh)\n\n\nwith open(\"/home/pi/shared/log/picamera_resolution_x.log\", \"r\") as file:\n    resx=int(file.read())\nwith open(\"/home/pi/shared/log/picamera_resolution_y.log\", \"r\") as file:\n    resy=int(file.read())\n\nwith picamera.PiCamera() as camera:\n    with open(\"/home/pi/shared/log/picamera_contrast.log\", \"r\") as file:\n        cameracontrast=int(file.read())\n    with open(\"/home/pi/shared/log/picamera_brightness.log\", \"r\") as file:\n        camerabrightness=int(file.read())\n    camera.iso = 100\n    camera.brightness = camerabrightness\n    camera.contrast = cameracontrast\n    camera.resolution=(resx, resy)\n    #camera.exposure_compensation = 0 \n    sleep(1)\n    camera.awb_mode = 'auto'\n    #camera.exposure_mode = 'off'\n    camera.zoom=zoom\n    camera.capture(\"./shared/log/preview.jpg\",quality=100 ,resize=(525,400))\n    pass\nreturn msg","outputs":1,"x":610.0000801086426,"y":439.9999837875366,"wires":[["62b4f87f.892e98"]]},{"id":"62b4f87f.892e98","type":"function","z":"5cac55a1.933c6c","name":"timestamp pic file","func":"var d = new Date();\nvar n = d.getTime();\nmsg.payload = \"/log/preview.jpg?ts=\" + n;\nreturn msg;","outputs":1,"noerr":0,"x":837.5057487487793,"y":439.10800075531006,"wires":[["f8421d14.8e8c1"]]},{"id":"f8421d14.8e8c1","type":"ui_template","z":"5cac55a1.933c6c","group":"e50ae6e6.832908","name":"preview","order":1,"width":10,"height":8,"format":"<div style=\"height:100%\" >\n<img ng-src= {{msg.payload}} </img>\n<a src=\"/log/preview.jpg\" </a>\n</div>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1029.3211059570312,"y":438.8238124847412,"wires":[[]]},{"id":"d25df691.845f78","type":"function","z":"5cac55a1.933c6c","name":"check preview mod","func":"if (msg.payload!=global.get(\"updatepreview\")){\n    return msg\n}\n","outputs":1,"noerr":0,"x":650,"y":380,"wires":[["62b4f87f.892e98","70a1f175.1e47f"]]},{"id":"18bb1666.31169a","type":"file in","z":"5cac55a1.933c6c","name":"","filename":"/home/pi/shared/log/updatepreview.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":390,"y":380,"wires":[["d25df691.845f78"]]},{"id":"70a1f175.1e47f","type":"change","z":"5cac55a1.933c6c","name":"","rules":[{"t":"set","p":"updatepreview","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":380,"wires":[[]]},{"id":"f8cff121.b1745","type":"inject","z":"5cac55a1.933c6c","name":"","topic":"Repeater","payload":"0.5","payloadType":"str","repeat":"0.5","crontab":"","once":true,"onceDelay":"1","x":120,"y":380,"wires":[["18bb1666.31169a"]]},{"id":"58a93ba2.3656b4","type":"link in","z":"5cac55a1.933c6c","name":"Update Preview","links":["31d8912f.272b4e","6a935848.afa4d8","1ff265b8.a969fa","7c3dc728.5faa18","443b220.ef9a7e","751aaf42.05708","b5c7d0c1.dd736","4e91cd1d.4b13e4","e99f482d.e65938","15d3ddee.c3f582","95ea4807.0665c8","4458afbc.f2dca","298a2e98.e2ed42","a914a6e4.047c58","4578f747.e775e8","c2340b84.e187a8","eb618fb4.d6f6f","ef4aa57f.5ee8e8","5b42ed9c.dee0f4","b47a9cd6.5e95"],"x":175,"y":440,"wires":[["4d749c3f.724be4"]]},{"id":"ee0c95d.fdc7268","type":"file in","z":"5cac55a1.933c6c","name":"","filename":"/home/pi/shared/log/picamera_brightness.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":410,"y":820,"wires":[["f7d7f15e.e7c4a"]]},{"id":"5658da00.cbaed4","type":"ui_text","z":"5cac55a1.933c6c","group":"e50ae6e6.832908","order":2,"width":3,"height":1,"name":"","label":"Brightness:","format":"{{msg.payload}}","layout":"row-spread","x":1190,"y":820,"wires":[]},{"id":"f7d7f15e.e7c4a","type":"ui_slider","z":"5cac55a1.933c6c","name":"","label":" ","tooltip":"","group":"e50ae6e6.832908","order":3,"width":4,"height":1,"passthru":true,"outs":"all","topic":"","min":"0","max":"100","step":1,"x":650,"y":820,"wires":[["3848e134.56ec3e"]]},{"id":"3848e134.56ec3e","type":"file","z":"5cac55a1.933c6c","name":"","filename":"/home/pi/shared/log/picamera_brightness.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":910,"y":820,"wires":[["5658da00.cbaed4","ef4aa57f.5ee8e8"]]},{"id":"fb52d469.9ff4a8","type":"file in","z":"5cac55a1.933c6c","name":"","filename":"/home/pi/shared/log/picamera_contrast.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":410,"y":860,"wires":[["9c7f4bb6.fb4908"]]},{"id":"650c8d4c.c8a6b4","type":"ui_text","z":"5cac55a1.933c6c","group":"e50ae6e6.832908","order":5,"width":3,"height":1,"name":"","label":"Contrast:","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":860,"wires":[]},{"id":"9c7f4bb6.fb4908","type":"ui_slider","z":"5cac55a1.933c6c","name":"","label":" ","tooltip":"","group":"e50ae6e6.832908","order":6,"width":4,"height":1,"passthru":true,"outs":"all","topic":"","min":"-100","max":"100","step":"5","x":650,"y":860,"wires":[["b09e1565.ae7a68"]]},{"id":"b09e1565.ae7a68","type":"file","z":"5cac55a1.933c6c","name":"","filename":"/home/pi/shared/log/picamera_contrast.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":910,"y":860,"wires":[["650c8d4c.c8a6b4","ef4aa57f.5ee8e8"]]},{"id":"e0738199.451ea","type":"inject","z":"5cac55a1.933c6c","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":100,"y":820,"wires":[["ee0c95d.fdc7268","fb52d469.9ff4a8","b080f77f.c32778","61275184.140f6"]]},{"id":"ef4aa57f.5ee8e8","type":"link out","z":"5cac55a1.933c6c","name":"","links":["a0148885.7d2048","cbe4bd92.d30af","58a93ba2.3656b4","8766c512.f732f8"],"x":1135,"y":980,"wires":[]},{"id":"b080f77f.c32778","type":"python3-function","z":"5cac55a1.933c6c","name":"set initial variables","func":"with open(\"/home/pi/shared/log/updatepreview.log\", \"w\") as file:\n    file.write(\"start\")\n","outputs":1,"x":331,"y":940,"wires":[[]]},{"id":"11121c9e.9fb083","type":"file","z":"5cac55a1.933c6c","name":"","filename":"/home/pi/shared/log/picamera_zoom.log","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":900,"y":900,"wires":[[]]},{"id":"b18f8620.88ea88","type":"ui_dropdown","z":"5cac55a1.933c6c","name":"","label":"Zoom:","tooltip":"","place":"Select option","group":"e50ae6e6.832908","order":4,"width":3,"height":1,"passthru":true,"options":[{"label":"1x","value":"1","type":"str"},{"label":"1.2x","value":"1.2","type":"str"},{"label":"1.5x","value":"1.5","type":"str"},{"label":"2x","value":"2","type":"str"},{"label":"4x","value":"4","type":"str"}],"payload":"","topic":"","x":650,"y":900,"wires":[["11121c9e.9fb083","ef4aa57f.5ee8e8","b3a64457.c00568"]]},{"id":"61275184.140f6","type":"file in","z":"5cac55a1.933c6c","name":"","filename":"/home/pi/shared/log/picamera_zoom.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":400,"y":900,"wires":[["b18f8620.88ea88"]]},{"id":"fdd2085a.f79d58","type":"python3-function","z":"5cac55a1.933c6c","name":"process command","func":"if msg['payload']==\"preview\":\n    return msg","outputs":1,"x":830,"y":160,"wires":[["6bfe621d.8c4bcc"]]},{"id":"2c6ddd62.052812","type":"ui_button","z":"8ad67c52.71fa9","name":"","group":"48323ff5.4c8a1","order":2,"width":0,"height":0,"passthru":false,"label":"Shutdown","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":40,"wires":[["b47200cb.e7084"]]},{"id":"b47200cb.e7084","type":"python3-function","z":"8ad67c52.71fa9","name":"","func":"import os\n\nos.system(\"sudo shutdown -h now\")\n","outputs":1,"x":330,"y":40,"wires":[[]]},{"id":"b3a64457.c00568","type":"debug","z":"5cac55a1.933c6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":940,"y":1000,"wires":[]},{"id":"d62431a4.0ac9c","type":"link in","z":"5cac55a1.933c6c","name":"insta","links":["6bfe621d.8c4bcc"],"x":455,"y":480,"wires":[["10b5bb6c.bc5f65"]]},{"id":"6bfe621d.8c4bcc","type":"link out","z":"5cac55a1.933c6c","name":"","links":["d62431a4.0ac9c"],"x":995,"y":160,"wires":[]}]
